<div class="animated fadeIn" ng-app>
  <div class="row">
    <!--/.col-->
    <h1>Projects Overview</h1>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Projects
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Project ID</th>
              <th>Project Name</th>
              <th>Description</th>
              <th>Date created</th>
              <th>Days running</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of projects">
              <td>***REMOVED******REMOVED*** project.Id ***REMOVED******REMOVED***</td>
              <td>***REMOVED******REMOVED*** project.Name ***REMOVED******REMOVED***</td>
              <td>***REMOVED******REMOVED*** project.Description ***REMOVED******REMOVED***</td>
              <td>***REMOVED******REMOVED*** project.DateCreated ***REMOVED******REMOVED***</td>
              <td>***REMOVED******REMOVED*** project.DaysRunning ***REMOVED******REMOVED***</td>
              <td>
                <button type="button" class="btn btn-secondary" data-toggle="modal"
                        (click)="showMembersOfTheProject(project.Id, project.Name); usersModal.show(); "
                        *ngIf="(project.UserIsPi == true) || (project.UserIsAdmin == true)">
                  <i class="fa fa-users"></i>&nbsp;Show Members
                </button>
                <button
                  (click)="resetAddUserModal(); showAddUserToProjectModal(project.Id, project.Name); addUserModal.show();"
                  *ngIf="(project.UserIsPi == true) || (project.UserIsAdmin == true)"
                  type="button"
                  class="btn btn-secondary"><i class="fa fa-plus"></i>&nbsp; Add Member
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>


<div bsModal #usersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Members of the Project ***REMOVED******REMOVED*** usersModalProjectID ***REMOVED******REMOVED***
          (***REMOVED******REMOVED*** usersModalProjectName ***REMOVED******REMOVED***)</h4>
        <button type="button" class="close" (click)="usersModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>User ID</th>
            <th>Member ID</th>
            <th>Full Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of usersModalProjectMembers">
            <td>***REMOVED******REMOVED*** member.Id ***REMOVED******REMOVED***</td>
            <td>***REMOVED******REMOVED*** member.MemberId ***REMOVED******REMOVED***</td>
            <td>***REMOVED******REMOVED*** member.Username ***REMOVED******REMOVED***</td>
            <td>
              <button (click)="usersModal.hide();
                                                removeMemberModal.show();
                                                updateUserProjects();" class="btn btn-secondary" type="button">
                <i class="fa fa-trash"></i>&nbsp; Remove member
              </button>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="usersModal.hide()">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #addUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h4 class="modal-title">Add member to the project ***REMOVED******REMOVED*** addUserModalProjectID ***REMOVED******REMOVED***
          (***REMOVED******REMOVED*** addUserModalProjectName ***REMOVED******REMOVED***)</h4>
      </div>
      <div class="modal-body">
        <div style=" margin-bottom: 25px;">
          <p style=" margin-bottom: 15px;">If you want to add a user to your project you need to do the following</p>
          <ol>

            <li style=" margin-bottom: 10px;">If the user is not a member of the de.NBI vo send one of the following
              links to the user you would like to add:
            </li>
            <ul>
              <li>If the user does have an elixir account, please send him the following link:
                <pre>***REMOVED******REMOVED***voRegistrationLink***REMOVED******REMOVED***</pre>
              </li>
              <li>If the user does not have an elixir account, please send him the following link:
                <pre>
              https://perun.elixir-czech.cz/registrar/?vo=elixir&targetnew=***REMOVED******REMOVED***voRegistrationLink***REMOVED******REMOVED***
            </pre>
              </li>
            </ul>

            <li style=" margin-bottom: 10px;">If the user is a member of the de.NBI vo you can search for him by his exact name:</li>

            <ul style="list-style-type:none;">
              <li><input placeholder="firstName" #firstName> <input placeholder="lastName" #lastName>
                <button type="button" class="btn btn-primary"
                        (click)="filterMembers(firstName.value,lastName.value,addUserModalProjectID )"><i
                  class="fa fa-search"></i> Search
                </button>
              </li>
            </ul>
          </ol>
        </div>


        <table *ngIf="filteredMembers!==null" class="table table-bordered table-striped table-sm">
          <thead>
          <th>Add</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Email</th>
          <th>MemberID</th>
          </thead>
          <tbody *ngFor="  let member of filteredMembers">
          <td>
            <button
              (click)="addMember(addUserModalProjectID,member['member_id'],member['firstName'],member['lastName']);filteredMembers=null;addUserModalProjectID = -1; addUserModal.hide();notificationModal.show();"
              class="btn btn-primary"><i class="fa fa-plus"></i> Add Member
            </button>
          </td>
          <td>***REMOVED******REMOVED***member['firstName']***REMOVED******REMOVED***</td>
          <td>***REMOVED******REMOVED***member['lastName']***REMOVED******REMOVED***</td>
          <td>***REMOVED******REMOVED***member['mail']***REMOVED******REMOVED***</td>
          <td>***REMOVED******REMOVED***member['member_id']***REMOVED******REMOVED***</td>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <!--  <button type="button" (click)="addUserModal.hide();
                                          notificationModal.show();
                                          addMember(addUserModalProjectID, addMemberID.value)" class="btn btn-success"><i class="fa fa-dot-circle-o"></i>
              Add User
          </button> -->
        <button type="button" (click)="addUserModalProjectID = -1;filteredMembers=null; addUserModal.hide();"
                type="reset"
                class="btn  btn-danger"><i class="fa fa-ban"></i> Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #removeMemberModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        In order to remove a user of your project please send the following information to cloud@denbi.de:
        <ul>
          <li>Projekt name</li>
          <li>Projekt description</li>
          <li>You user id</li>
          <li>The user id of the project member you would like to remove</li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="removeMemberModal.hide();" type="reset"
                class="btn  btn-secondary"> Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #notificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">***REMOVED******REMOVED*** notificationModalTitle ***REMOVED******REMOVED***</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-***REMOVED******REMOVED*** notificationModalType ***REMOVED******REMOVED***" role="alert">
          ***REMOVED******REMOVED*** notificationModalMessage ***REMOVED******REMOVED***
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="notificationModalIsClosable == true" type="button"
                (click)="resetNotificaitonModal(); notificationModal.hide();" type="reset"
                class="btn  btn-secondary"> Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
