  <ng-container [ngSwitch]="cluster?.status">
    <div *ngSwitchCase="'Running'" [id]="'running_badge_' + cluster?.cluster_id"
         class="dot-colorless bg-success pulseAnim" style="width: 15px; height: 15px;">
    </div>
    <div *ngSwitchCase="'Creating'" [id]="'creating_badge_' + cluster?.cluster_id"
         class="dot-colorless bg-warning" style="width: 15px; height: 15px">

    </div>
    <div *ngSwitchCase="'Configuring'" [id]="'configuring_badge_' + cluster?.cluster_id"
         class="dot-colorless bg-info" style="width: 15px; height: 15px">

    </div>
    <div *ngSwitchCase="'Deleted'" [id]="'deleted_badge_' + cluster?.cluster_id"
         class="dot-colorless bg-danger" style="width: 15px; height: 15px">
    </div>
    <div *ngSwitchDefault
         [id]="'default_badge_' + cluster?.cluster_id"
         class="dot-colorless bg-info" style="width: 15px; height: 15px">
    </div>
    <span style="margin-left:15px;" class="text-muted font-weight-bold">Status: {{cluster?.status}}</span>
    <i *ngIf="cluster?.status== 'Configuring' || cluster?.status == 'Creating' || cluster?.status== 'Deleting'"
       class="fa fa-spinner fa-spin"></i>
  </ng-container>
