<app-title-headbar [page_title]="TITLE" [navigationPoints]="NAVIGATION_POINTS"></app-title-headbar>
<app-header
  [asideMenuToggler]="false"
  [sidebarToggler]="false"
  [mobileAsideMenuToggler]="false"
  [navbarBrandFull]="{src: brand_logo, style: 'max-width:100%;',alt: 'de.NBI Cloud'}"
  [navbarBrandMinimized]="{src: brand_logo_minimized, style: 'max-width:90%;',alt: 'de.NBI Cloud'}"
  [navbarBrandRouterLink]="'/'"
  [mobileSidebarToggler]="false"
>

  <ul class="nav navbar-nav ml-md-auto">


  </ul>

</app-header>

<div class="app-body">
  <app-sidebar class="sidebar">
    <nav class="sidebar-nav" [perfectScrollbar]>
      <ul class="nav">
        <li class="nav-title">
          Profile
        </li>
        <li class="nav-item">
          <a *ngIf="navbar_minimized" class="nav-link" data-toggle="tooltip" data-placement="right"
             title="Profile"
             routerLinkActive="active" [routerLink]="['/userinfo']"><i
            class="nav-icon fas fa-user"></i>Profile</a>
          <a *ngIf="!navbar_minimized" class="nav-link"
             routerLinkActive="active" [routerLink]="['/userinfo']"><i
            class="nav-icon fas fa-user"></i>
            Profile </a>
        </li>
        <li class="nav-item">
          <a *ngIf="navbar_minimized" data-toggle="tooltip" data-placement="right" title="Help"
             class="nav-link" routerLinkActive="active" [routerLink]="['/help']"><i
            class="nav-icon fas fa-comments"></i>
            Help</a>
          <a *ngIf="!navbar_minimized" class="nav-link" routerLinkActive="active" [routerLink]="['/help']"><i
            class="nav-icon fas fa-comments"></i>
            Help</a>
        </li>
        <li class="nav-item">
          <a *ngIf="navbar_minimized" data-toggle="tooltip" data-placement="right" title="Wiki"
             class="nav-link" href="https://cloud.denbi.de/wiki/" target="_blank"><i
            class="nav-icon fas fa-info-circle"></i>
            Wiki</a>
          <a *ngIf="!navbar_minimized" class="nav-link" href="https://cloud.denbi.de/wiki/" target="_blank"><i
            class="nav-icon fas fa-info-circle"></i>
            Wiki</a>
        </li>
        <li class="nav-item">
          <a *ngIf="navbar_minimized" data-toggle="tooltip" data-placement="right" title="FAQ"
             class="nav-link" href="https://cloud.denbi.de/wiki/FAQ/" target="_blank"><i
            class="nav-icon fas fa-question-circle"></i>
            FAQ</a>
          <a *ngIf="!navbar_minimized" class="nav-link" href="https://cloud.denbi.de/wiki/FAQ/" target="_blank"><i
            class="nav-icon fas fa-question-circle"></i>
            FAQ</a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Project management
        </li>
        <li class="nav-item">

          <a class="nav-link" *ngIf="is_vo_admin && !navbar_minimized" [routerLinkActiveOptions]="{exact:true}"
             routerLinkActive="active" [routerLink]="['/applications']"><i
            class="nav-icon fas fa-archive"></i> Applications</a>
          <a class="nav-link" *ngIf="is_vo_admin && navbar_minimized" [routerLinkActiveOptions]="{exact:true}"
             routerLinkActive="active" [routerLink]="['/applications']" data-toggle="tooltip" data-placement="right"
             title="Applications"><i
            class="nav-icon fas fa-archive"></i> Applications</a>
        </li>
        <li class="nav-item">
          <a *ngIf="!navbar_minimized" class="nav-link" routerLinkActive="active"
             [routerLink]="['/applications/type-overview']">
            <i class="nav-icon fas fa-plus-circle">
            </i>
            New Project
          </a>
          <a *ngIf="navbar_minimized" class="nav-link" routerLinkActive="active"
             [routerLink]="['/applications/type-overview']"
             data-toggle="tooltip" data-placement="right" title="New Project">
            <i class="nav-icon fas fa-plus-circle">
            </i>
            New Project
          </a>

        </li>

        <li class="nav-item" *ngFor="let application of project_enumeration">

          <a *ngIf="!navbar_minimized" class="nav-link" routerLinkActive="active" [id]="application?.project_name"
             [routerLink]="['/project-management/' + application.application_id]">
            <div class="row" style="margin:0px;">
              <span *ngIf="application.is_open_stack"
                    style="float:left; font-size: 20px; margin-right: 10px;"
                    class="project-openstack_plain_white_redbg"
                    data-toggle="tooltip"
                    title="This is an OpenStack project">
              <span class="path1"></span>
              <span class="path2"></span>
            </span>
              <span *ngIf="!application?.is_open_stack"
                    style="float: left; font-size: 20px; margin-right: 10px"
                    class="project-simpleVM_Logo_bluebg"
                    data-toggle="tooltip"
                    title="This is a Simple VM project">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </span>
              <span style="display: inline-block;width: 65%;overflow: hidden;text-overflow: ellipsis;">
              {{application.project_name}}
            </span>
            </div>

            <div class="row justify-content-center" id="status_row_{{application.application_id}}" style="margin: 2px;">
              <span class="badge badge-success status-badge" data-toggle="tooltip"
                    data-placement="right" title="This project was initially approved within the last 2 weeks."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(19)">
              <i class="fas fa-plus-circle"></i>
            </span>
              <span class="badge badge-warning status-badge" data-toggle="tooltip"
                    data-placement="right" title="The project lifetime expires soon."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(18)">
              <i class="fas fa-exclamation-circle"></i>
            </span>
              <span class="badge badge-danger status-badge" data-toggle="tooltip"
                    data-placement="right" title="The lifetime of this project is expired."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(20)">
              <i class="fas fa-ban"></i>
            </span>
              <span class="badge badge-danger status-badge" data-toggle="tooltip"
                    data-placement="right" title="The termination of the project was requested."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(10)">
              <i class="fas fa-trash"></i>
            </span>
              <span class="badge badge-secondary status-badge" data-toggle="tooltip" data-placement="right"
                    title="An extension request was submitted for this project."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(16)
                   || this.project_badges_states[application?.application_id]?.includes(12)">
              <i class="fas fa-edit"></i>
            </span>
              <span class="badge badge-secondary status-badge" data-toggle="tooltip" data-placement="right"
                    title="A modification request was submitted for this project."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(4)
                    || this.project_badges_states[application?.application_id]?.includes(13)">

              <i class="fas fa-edit"></i>
            </span>
              <span class="badge badge-secondary status-badge" data-toggle="tooltip" data-placement="right"
                    title="The project application was submitted but not approved yet."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(1)">
              <i class="fas fa-edit"></i>
            </span>
              <span class="badge badge-secondary status-badge" data-toggle="tooltip" data-placement="right"
                    title="A request for additional credits was submitted for this project."
                    *ngIf="this.project_badges_states[application?.application_id]?.includes(14)
                    || this.project_badges_states[application?.application_id]?.includes(11)">
              <i class="fas fa-coins"></i>
            </span>

            </div>

          </a>

          <a *ngIf="navbar_minimized && !application.is_open_stack" class="nav-link" routerLinkActive="active"
             style="text-align: center;"
             [routerLink]="['/project-management/' + application.application_id]" data-toggle="tooltip"
             data-placement="right" [title]="application.project_name">
            <span class="project-simpleVM_Logo_bluebg"
                  style="color: #FFF; position:relative; left:8px; font-size: 20px">
              <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
            </span>
          </a>

          <a *ngIf="navbar_minimized && application.is_open_stack" class="nav-link" routerLinkActive="active"
             style="text-align: center;"
             [routerLink]="['/project-management/' + application.application_id]" data-toggle="tooltip"
             data-placement="right" [title]="application.project_name">
            <span class="project-openstack_plain_white_redbg"
                  style="color: #FFF; position:relative; left:8px; font-size: 20px">
               <span class="path1"></span>
              <span class="path2"></span>
            </span>
          </a>


        </li>

        <li class="nav-title" *ngIf="vm_project_member ">
          Virtual Machines
        </li>
        <li class="nav-item" *ngIf="vm_project_member ">
          <a *ngIf="navbar_minimized" class="nav-link" routerLinkActive="active" data-toggle="tooltip"
             data-placement="right" title="New Instance"
             [routerLink]="['/virtualmachines/newVM']">
            <i class="nav-icon fas fa-desktop"></i> New Instance</a>
          <a *ngIf="!navbar_minimized" class="nav-link" routerLinkActive="active"
             [routerLink]="['/virtualmachines/newVM']">
            <i class="nav-icon fas fa-desktop"></i> New Instance</a>
        </li>
          <li class="nav-item" *ngIf="(is_vo_admin || cluster_allowed) &&  vm_project_member">
          <a *ngIf="navbar_minimized" class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="New Instance"
             [routerLink]="['/virtualmachines/newVM']">
            <i class="nav-icon fas fa-network-wired" ></i> New Cluster</a>
          <a *ngIf="!navbar_minimized " class="nav-link" routerLinkActive="active" [routerLink]="['/virtualmachines/newCluster']">
            <i class="nav-icon fas fa-network-wired" ></i> New Cluster</a>
        </li>

        <!-- for full sidebar VM Overviews-->
        <li *ngIf="!navbar_minimized && vm_project_member"
            class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" onmouseover="" style="cursor: pointer;"
             appNavDropdownToggle><i
            class="nav-icon fas fa-ellipsis-h" onmouseover="" style="cursor: pointer;"></i> Overviews</a>
          <ul class="nav-dropdown-items" *ngIf="vm_project_member">
            <li class="nav-item">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/vmOverview']"><i
                class="nav-icon fas fa-list"></i> Instances</a>
            </li>
             <li class="nav-item" *ngIf="is_vo_admin || ( vm_project_member && cluster_allowed)">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/clusterOverview']"><i
                class="nav-icon fas fa-network-wired"></i> Clusters</a>
            </li>
            <li class="nav-item" *ngIf="vm_project_member || is_vo_admin || is_facility_manager">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/volumeOverview']"><i
                class="nav-icon fas fa-hdd"></i> Volumes</a>
            </li>
            <li class="nav-item" *ngIf="vm_project_member || is_vo_admin || is_facility_manager">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/snapshotOverview']"><i
                class="nav-icon fas fa-camera"></i>Snapshots</a>
            </li>

          </ul>

        </li>

        <!-- for minimized sidebar  >> -->

        <li class="nav-item" *ngIf="navbar_minimized && (vm_project_member || is_vo_admin)">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="Instances"
             [routerLink]="['/virtualmachines/vmOverview']"><i
            class="nav-icon fas fa-list"></i> Instances</a>
        </li>
         <li class="nav-item" *ngIf="cluster_allowed && navbar_minimized ">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="Clusters"
             [routerLink]="['/virtualmachines/clusterOverview']"><i
            class="nav-icon fas fa-list"></i> Clusters</a>
        </li>
        <li class="nav-item" *ngIf="navbar_minimized &&(vm_project_member || is_vo_admin || is_facility_manager)">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/virtualmachines/volumeOverview']" data-toggle="tooltip" data-placement="right"
             title="Volumes"><i
            class="nav-icon fas fa-hdd"></i> Volumes</a>
        </li>
        <li class="nav-item" *ngIf="navbar_minimized &&(vm_project_member || is_vo_admin || is_facility_manager)">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/virtualmachines/snapshotOverview']" data-toggle="tooltip" data-placement="right"
             title="Snapshots"><i
            class="nav-icon fas fa-camera"></i>Snapshots</a>
        </li>


        <!-- end of minimized sidebar overview part -->


        <li *ngIf="is_facility_manager || is_vo_admin" class="nav-title">
          Facilities
        </li>


        <li *ngIf="(is_facility_manager || is_vo_admin) && !navbar_minimized" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/facilityProjects']"><i
            class="nav-icon fas fa-boxes"></i> Projects</a>
        </li>

        <li *ngIf="(is_facility_manager || is_vo_admin) && navbar_minimized" class="nav-item">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right"
             title="Facilities: Projects"
             [routerLink]="['/facility-manager/facilityProjects']"><i
            class="nav-icon fas fa-boxes"></i> Projects</a>
        </li>


        <li *ngIf="!navbar_minimized && (is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/facilityApplications']"><i
            class="nav-icon fas fa-archive"></i> Applications</a>
        </li>

        <li *ngIf="navbar_minimized &&(is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right"
             title="Facilities: Applications"
             [routerLink]="['/facility-manager/facilityApplications']"><i
            class="nav-icon fas fa-archive"></i> Applications</a>
        </li>


        <li *ngIf="!navbar_minimized &&(is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/facilityResources']"><i
            class="nav-icon fas fa-server"></i> Resources</a>
        </li>

        <li *ngIf="navbar_minimized &&(is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right"
             title="Facilites: Resources"
             [routerLink]="['/facility-manager/facilityResources']"><i
            class="nav-icon fas fa-server"></i> Resources</a>
        </li>


        <li *ngIf="!navbar_minimized  && (is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/imageTags']"><i
            class="nav-icon fas fa-tags"></i> Image Tags</a>
        </li>

        <li *ngIf="navbar_minimized  && (is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="Image Tags"
             [routerLink]="['/facility-manager/imageTags']"><i
            class="nav-icon fas fa-tags"></i> Image Tags</a>
        </li>

        <li *ngIf="!navbar_minimized  && (is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/news-manager']"><i
            class="nav-icon fas fa-newspaper"></i> News Management</a>
        </li>

        <li *ngIf="navbar_minimized  && (is_facility_manager || is_vo_admin)" class="nav-item">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right" title="News Management"
             [routerLink]="['/facility-manager/news-manager']"><i
            class="nav-icon fas fa-newspaper"></i> News Management</a>
        </li>


        <li class="nav-title" *ngIf="is_vo_admin">
          Vo Manager
        </li>

        <li class="nav-item" *ngIf="navbar_minimized && is_vo_admin">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/vo-manager/clientsOverview'] " data-toggle="tooltip" data-placement="right"
             title="Clients"><i
            class="nav-icon fas fa-plug"></i> Clients</a>
        </li>
        <li class="nav-item" *ngIf="is_vo_admin && !navbar_minimized">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/vo-manager/clientsOverview']"><i
            class="nav-icon fas fa-plug"></i> Clients</a>
        </li>

        <li class="nav-item" *ngIf="is_vo_admin && !navbar_minimized">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/vo-manager/overview']"><i
            class="nav-icon fas fa-cloud"></i> Overview</a>
        </li>

        <li class="nav-item" *ngIf="is_vo_admin && navbar_minimized">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right"
             title="VO Manager: Overview"
             [routerLink]="['/vo-manager/overview']"><i
            class="nav-icon fas fa-cloud"></i> Overview</a>
        </li>


        <li class="nav-item" *ngIf="is_vo_admin && !navbar_minimized">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/vo-manager/resources']"><i
            class="nav-icon fas fa-server"></i> Resources</a>
        </li>

        <li class="nav-item" *ngIf="is_vo_admin && navbar_minimized">
          <a class="nav-link" routerLinkActive="active" data-toggle="tooltip" data-placement="right"
             title="VO Manager: Resources"
             [routerLink]="['/vo-manager/resources']"><i
            class="nav-icon fas fa-server"></i> Resources</a>
        </li>


      </ul>
    </nav>
    <app-sidebar-minimizer (click)="setSidebarStatus()"></app-sidebar-minimizer>

    <app-footer *ngIf="!navbar_minimized">

      <a href="https://www.denbi.de">de.NBI&nbsp;</a> &copy; {{ year }}

    </app-footer>

    <app-footer *ngIf="navbar_minimized">

      <a href="https://www.denbi.de" data-toogle="tooltip" data-placement="right" [title]="'&copy; de.NBI ' + year "
         style="font-size: 18px !important;">&copy;</a>

    </app-footer>


  </app-sidebar>
  <!-- Main content -->

  <main class="main" style="overflow-y: auto; height: calc(100vh - 100px);">

    <!-- Breadcrumb-->

    <!-- <cui-breadcrumb>

     </cui-breadcrumb> -->

    <div class="container-fluid" style="overflow-y: auto; height: 100%;">
      <router-outlet (activate)="componentAdded($event)"></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

