<app-header
  [asideMenuToggler]="false"
  [sidebarToggler]="false"
  [mobileAsideMenuToggler]="false"
  [navbarBrand]="***REMOVED***src: 'static/webapp/assets/img/denbi_cloud_logo.svg', style: 'padding: 0.5rem 1rem',alt: 'test'***REMOVED***"
  [navbarBrandRouterLink]="'/'"

>
  <ul class="nav navbar-nav ml-md-auto">
    <li><strong class="text-muted" style="cursor: pointer;padding-right: 2pc" routerLinkActive="active"
                [routerLink]="['/userinfo']"
    >***REMOVED******REMOVED***login_name***REMOVED******REMOVED***</strong></li>

  </ul>
</app-header>
<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav" [perfectScrollbar]>
      <ul class="nav">
        <li class="nav-title">
          Profile
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/userinfo']"><i
            class="nav-icon icon-user"></i>
            User Information </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/help']"><i
            class="nav-icon icon-info"></i>
            Help</a>
        </li>
        <li class="divider"></li>
        <li class="nav-title">
          Project management
        </li>
        <li class="nav-item">

          <a class="nav-link" *ngIf="is_vo_admin" [routerLinkActiveOptions]="***REMOVED***exact:true***REMOVED***"
             routerLinkActive="active" [routerLink]="['/applications']"><i
            class="nav-icon icon-drawer"></i> Applications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/applications/type-overview']">
            <i class="nav-icon icon-plus">
            </i>
            New Project
          </a>

        </li>
        <li class="nav-item" *ngFor="let project of projects">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/project-management/' + project.Id]">
            <span *ngIf="project.OpenStackProject"
                  style="float:left;background-color: #ED1944; padding: 1px 1px 2px 1px;margin: 0 0.5rem 0 0; border-color: #ED1944"
                  class="badge">
              <i class="icon-openstack"
                 style="color: #FFF;width: 1.09375rem;display: inline-block; font-size: 0.875rem;"></i>
            </span>
            <span *ngIf="!project.OpenStackProject"
                  style="float:left;background-color: #00ADEF; padding: 1px;margin: 0 0.5rem 0 0; border-color: #00ADEF"
                  class="badge"
            >
              <i class="icon-simplevm"
                 style="color: #FFF;display: inline-block;;width: 1.09375rem; font-size: 0.875rem; "></i>
            </span>
            ***REMOVED******REMOVED***project.Name***REMOVED******REMOVED***
          </a>
        </li>
        <!--
        <li class="nav-item nav-dropdown " appNavDropdown>
            <a class="nav-link nav-dropdown-toggle" onmouseover="" style="cursor: pointer;"
               appNavDropdownToggle><i
                    class="nav-icon icon-pencil"></i> New Application</a>
            <ul class="nav-dropdown-items">
                <li class="nav-item">
                    <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                       [routerLink]="['/applications/newCloudApplication']">
                        <i class="nav-icon icon-question" onmouseover="" style="cursor: pointer;"
                           data-toggle="tooltip" data-placement="auto"
                           title="By choosing this project type you will have your own OpenStack project. This allows you to use any framework available in the cloud computing context."></i>
                        Cloud Project </a></li>
                <li class="nav-item">
                    <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                       [routerLink]="['/applications/newSimpleVmApplication']"><i
                            class="nav-icon icon-question" onmouseover="" style="cursor: pointer;"
                            data-toggle="tooltip" data-placement="auto"
                            title="You will be able to start virtual machines through the portal with minimal effort and access them via ssh. This project type does not demand knowlegde in cloud computing."></i>
                        Simple VM Project </a></li>

            </ul>

        </li>
        -->
        <li class="nav-title">
          Virtual Machines
        </li>
        <li class="nav-item" *ngIf="vm_project_member ">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/virtualmachines/newVM']"><i

            class="nav-icon icon-screen-desktop"></i> New Instance</a>
        </li>
        <li
          class="nav-item nav-dropdown" appNavDropdown>
          <a class="nav-link nav-dropdown-toggle" onmouseover="" style="cursor: pointer;"
             appNavDropdownToggle><i
            class="nav-icon icon-list" onmouseover="" style="cursor: pointer;"></i> Overviews</a>
          <ul class="nav-dropdown-items">
            <li class="nav-item">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/vmOverview']"><i
                class="nav-icon icon-list"></i> Instances</a>
            </li>
            <li class="nav-item" *ngIf="is_vo_admin">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/clientOverview']"><i
                class="nav-icon icon-list"></i> Clients</a>
            </li>
            <li class="nav-item" *ngIf="vm_project_member || is_vo_admin || is_facility_manager">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/volumeOverview']"><i
                class="nav-icon icon-list"></i> Volumes</a>
            </li>
            <li class="nav-item" *ngIf="vm_project_member || is_vo_admin || is_facility_manager">
              <a style="padding-left: 25px" class="nav-link" routerLinkActive="active"
                 [routerLink]="['/virtualmachines/snapshotOverview']"><i
                class="nav-icon icon-list"></i>Snapshots</a>
            </li>

          </ul>

        </li>


        <li *ngIf="is_facility_manager || get_is_vo_admin()" class="nav-title">
          Facilities
        </li>

        <li *ngIf="is_facility_manager || get_is_vo_admin()" class="nav-item">

          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/facilityProjects']"><i
            class="nav-icon icon-list"></i> Projects</a>
        </li>

        <li *ngIf="is_facility_manager || get_is_vo_admin()" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/facilityApplications']"><i
            class="nav-icon icon-list"></i> Applications</a>
        </li>

        <li *ngIf="is_facility_manager || get_is_vo_admin()" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/facilityResources']"><i
            class="nav-icon icon-list"></i> Resources</a>
        </li>
        <li *ngIf="is_facility_manager || get_is_vo_admin()" class="nav-item">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/facility-manager/imageTags']"><i
            class="nav-icon icon-tag"></i> Image Tags</a>
        </li>


        <li class="nav-title" *ngIf="get_is_vo_admin()">
          Vo Manager
        </li>
        <li class="nav-item" *ngIf="get_is_vo_admin()">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/vo-manager/overview']"><i
            class="nav-icon icon-list"></i> Overview</a>
        </li>
        <li class="nav-item" *ngIf="get_is_vo_admin()">
          <a class="nav-link" routerLinkActive="active"
             [routerLink]="['/vo-manager/resources']"><i
            class="nav-icon icon-list"></i> Resources</a>
        </li>

      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb-->
    <!--
      <ol class="breadcrumb">
        <app-breadcrumbs></app-breadcrumbs>
      </ol>
      -->

    <cui-breadcrumb>

    </cui-breadcrumb>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<app-footer>
  <a href="https://cloud.denbi.de">de.NBI</a> &copy; ***REMOVED******REMOVED*** year ***REMOVED******REMOVED***
</app-footer>
