<div class="allert alert-info" *ngIf="!client_avaiable"><strong>Info</strong> No Client avaiable.</div>
<div class="allert alert-info" *ngIf="!validatePublicKey()"><strong>Info</strong>You need to set a valid SSH Key before
    you
    can start a machine. Please set a SSH Key on the User Information tab.
</div>
<div class="animated fadeIn" *ngIf="client_avaiable && validatePublicKey()">

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong>New VirtualMachine</strong>
                    – Form
                </div>

                <div class="card-body">
                    <form id="application_form" #f="ngForm" class="form-horizontal">
                        <div class="alert alert-warning">
                            <strong>Warning!</strong> Be careful with sensitive data. The machine can be started
                            anywhere!
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Name</strong></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" placeholder="Instancename" #servername>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Flavor</strong></label>
                            <div class="col-md-6">


                                <select class="form-control col-md-6" name="selectedFlavor"
                                        [(ngModel)]="selectedFlavor">
                                    <option value="undefined" disabled selected hidden> Please Select</option>
                                    <option *ngFor="  let flavor of flavors" [ngValue]="flavor"> ***REMOVED******REMOVED***flavor.name***REMOVED******REMOVED***
                                    </option>

                                </select>

                            </div>
                            <button *ngIf="selectedFlavor" (click)="collapsed2=!collapsed2; toggleInformationButton2()"
                                    class="btn btn-primary">
                                ***REMOVED******REMOVED***informationButton2***REMOVED******REMOVED***
                            </button>
                        </div>

                        <div class="col-md-9">
                            <flavor-detail [collapse2]="collapsed2" [flavor]="selectedFlavor"></flavor-detail>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Image</strong></label>
                            <div class="col-md-6">

                                <select class="form-control" name="selectedImage" [(ngModel)]="selectedImage">
                                    <option value="undefined" disabled selected hidden> Please Select</option>

                                    <option *ngFor="let image of images" [ngValue]="image"> ***REMOVED******REMOVED***image.name***REMOVED******REMOVED***</option>

                                </select>


                            </div>
                            <button *ngIf="selectedImage" (click)="collapsed1=!collapsed1; toggleInformationButton()"
                                    class="btn btn-primary">
                                ***REMOVED******REMOVED***informationButton***REMOVED******REMOVED***
                            </button>
                        </div>
                        <div class="col-md-9">
                            <image-detail [collapse1]="collapsed1" [image]="selectedImage"></image-detail>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label"><strong>Project</strong></label>
                            <div class="col-md-6">

                                <select class="form-control" name="selectedProject" [(ngModel)]="selectedProject"
                                        (ngModelChange)="getSelectedProjectDiskspace();getSelectedProjectVms();">
                                    <option value="undefined" disabled selected hidden> Please Select</option>
                                    <option *ngFor="let project of projects" [ngValue]="project"> ***REMOVED******REMOVED***project[0]***REMOVED******REMOVED***
                                    </option>

                                </select>


                            </div>

                        </div>
                        <div class="form-group row" *ngIf="selectedProjectVmsMax || selectedProjectVmsMax == 0">
                            <label class="col-md-3 form-control-label"><strong>Vms in use</strong></label>
                            <div class="col-md-6">
                                <h3>***REMOVED******REMOVED***selectedProjectVmsUsed***REMOVED******REMOVED*** / ***REMOVED******REMOVED***selectedProjectVmsMax***REMOVED******REMOVED*** Vms</h3>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">Storage</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input type="text" placeholder="e.g 8 " #diskspace><span class="input-group-addon"> GB
                                    </span>
                                    <div class="col-md-6"
                                         *ngIf="selectedProjectDiskspaceMax || selectedProjectDiskspaceMax == 0">
                                        <h3>***REMOVED******REMOVED***selectedProjectDiskspaceUsed***REMOVED******REMOVED*** / ***REMOVED******REMOVED***selectedProjectDiskspaceMax***REMOVED******REMOVED*** GB</h3>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <!-- <div class="form-group row">
                           <label class="col-md-3 form-control-label"><strong>Key</strong></label>
                           <div class="col-md-9">
                             <div class="input-group">
                               <input type="text" placeholder="Key" #serverkey>


                             </div>

                           </div>
                         </div>-->


                        <!-- <div class="form-group row" >
                           <label class="col-md-3 form-control-label" ><strong>Metadata</strong></label>
                         </div>
                            <div class="form-group col">
                                <div class="table-striped">
                                <table class="table">
                                    <thead >
                                       <tr>
                                           <th>Key</th>
                                           <th>Value</th>
                                           <th>Add/Remove</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let metadata of metadatalist">
                                        <td style="word-wrap: break-word;min-width: 110px; max-width: 110px; white-space: normal">***REMOVED******REMOVED***metadata.key***REMOVED******REMOVED***</td>
                                       <td style="word-wrap: break-word;min-width: 110px; max-width: 110px; white-space: normal">***REMOVED******REMOVED***metadata.value***REMOVED******REMOVED***</td>
                                        <td style="word-wrap: break-word;min-width: 110px; max-width: 110px; white-space: normal"><button (click)="deleteMetadataItem(metadata)"><strong>-</strong></button></td>
                                    </tr>
                                    </tbody>
                                </table>


                                      <input   type="text" placeholder="Key"  #key>
                                      <input   type="text" placehhttps://openstack.cebitec.uni-bielefeld.de:5000
                                      <button (click)="addMetadataItem(key.value,value.value)"><strong>+</strong></button>


                               </div>


                                 </div>-->
                        <button type="button" class="btn btn-primary offset-md-8" data-toggle="modal"
                                (click)="startVM(selectedFlavor.name,selectedImage.name,servername.value,selectedProject[0],selectedProject[1],diskspace.value);resetData();infoModal.show();">
                            Start VM
                        </button>
                        <br><br><br>

                    </form>


                </div>

                <!--/.col-->

            </div>
        </div>
        <div class="col-md-6">
            <!--    <div>
                  <flavor-detail [flavor]="selectedFlavor"></flavor-detail>
                </div>-->


        </div>

    </div>

</div>


<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Status</h4>
                <button type="button" class="close" (click)="infoModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" *ngIf="data=='' || data['Waiting']">
                <p>We are setting up a machine for you. This can take up to 5 minutes.</p>
                <div class="text-center">
                    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
            </div>
            <div class="modal-body" *ngIf="data['Started']">
                Server started use the following command to connect <br><br>
                <pre><code>***REMOVED******REMOVED***data['Started']***REMOVED******REMOVED***</code></pre>
                <br>
                Be aware that you may need to wait a few minutes till you can connect to the machine.

            </div>
            <div class="modal-body" *ngIf="data['Error']">
                An Error occured<br><br>
                <pre><code>***REMOVED******REMOVED***data['Error']***REMOVED******REMOVED***</code></pre>
            </div>

            <div class="modal-body" *ngIf="data=='INVALID'">
                Parameters missing
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="infoModal.hide();resetData2()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


