<div *ngIf="isLoaded && userinfo?.PublicKey == 'None'">
  <div>
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Public Key
      </div>

      <div class="card-body">

        <div style="padding:5px" class="alert alert-info"><strong>Info: </strong>
          You need to set a valid SSH Key before you can start a machine. Please set a
          valid key below or on
          your <a
            href="#/userinfo">personal data page</a>.
        </div>
        <div style="width: 100%" class="table-responsive">
          <table class="table table-striped">

            <tr app-public-key [userinfo]="userinfo"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf=" !isLoaded || (singleProject && !projectDataLoaded )" class="loader"></div>
<div *ngIf=" isLoaded && userinfo?.PublicKey != 'None' && projects.length == 0">
  <div class="alert alert-warning" role="alert">
    You are not a member of any Simple VM project.
  </div>
</div>
<div
  *ngIf=" isLoaded && userinfo?.PublicKey != 'None' && projects.length > 0 && (!singleProject || singleProject && projectDataLoaded )"
  class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card" style=" ">
        <div class="card-header">
          <strong>New Virtual Machine</strong> <span *ngIf="singleProject"
                                                     id="singleProjectNameSpan"> - <strong>{{this.selectedProject[0]}}</strong></span>
        </div>

        <div class="card-body">


          <form id="application_form" #f="ngForm"
                class="form-horizontal">
            <div class="form-group row col-md-12" *ngIf="!singleProject">
              <label class="col-md-2 form-control-label"><strong>Project*</strong></label>
              <span *ngIf="client_avaiable && !projectDataLoaded" class="spinner-border text-info"></span>


              <div class="col-md-8">
                <select required class="form-control" name="projectSelect" *ngIf="!singleProject"
                        [(ngModel)]="selectedProject" id="projectSelect"
                        (ngModelChange)="getSelectedProjectClient(); resetChecks();"
                >
                  <option value="undefined" disabled selected hidden> Please
                    Select
                  </option>
                  <option *ngFor="let project of projects" [ngValue]="project"
                          id="id_option_{{project[0]}}">
                    {{project[0]}}
                  </option>

                </select>
                <label *ngIf="singleProject"><strong>{{selectedProject[0]}}</strong></label>


              </div>

            </div>
            <div *ngIf="client_avaiable && projectDataLoaded">
              <app-resource-overview [ressourceUsage]="selectedProjectRessources"
              >

              </app-resource-overview>

              <div class="alert alert-primary" role="alert"
                   *ngIf="selectedProject && selectedProjectRessources?.used_vms >= selectedProjectRessources?.number_vms && client_avaiable && client_checked">
                The limit for virtual machines has been reached for this project.
                Your principal investigator can request more
                resources if necessary.

              </div>
              <div class="alert alert-primary" role="alert"
                   *ngIf="client_avaiable && client_checked && selectedProject && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms && flavors_loaded && flavors.length == 0 && !selectedFlavor">
                There are too few cores and not enough ram available for this project to start a new machine.
                Your principal investigator can request more
                resources if necessary.
              </div>
              <div *ngIf="selectedProject && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms &&flavors.length > 0" class="form-group row col-md-12">
                <label class="col-md-2 form-control-label"><strong>Name*</strong></label>
                <div class="col-md-10">
                  <div class="input-group">
                    <input required id="id_instance_name" name="instance_name"
                           class="form-control"
                           type="text" placeholder="Instance name" [(ngModel)]="vm_name"
                           pattern="[a-zA-Z0-9]+"
                           [ngClass]="{'is-invalid':f.controls.instance_name?.invalid && (f.controls.instance_name?.dirty || f.controls.instance_name?.touched),
                             'is-valid':f.controls.instance_name?.valid}">
                    <div class="input-group-append">
                      <button class="btn btn-outline-primary" (click)="generateRandomName();">Generate</button>
                    </div>
                  </div>
                  <div class="alert alert-danger"
                       style="margin-top: 5px; margin-bottom: 5px"
                       *ngIf="f.controls.instance_name?.errors && (f.controls.instance_name?.dirty || f.controls.instance_name?.touched)">
                    Allowed characters are upper and lower case letters (a-z A-Z) and arabic numbers (0-9).
                  </div>

                </div>
              </div>

              <div *ngIf="selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms && (flavors?.length > 0 || selectedFlavor)">


                <div *ngIf="selectedProject" class="form-group row col-md-12">
                  <label class="col-md-2 form-control-label"><strong>Flavor*</strong></label>
                  <div class="col-md-10">


                    <app-flavor-detail [selectedFlavor]="selectedFlavor"
                                       [flavors]="flavors"
                                       (selectedFlavorChange)="setSelectedFlavor($event)"
                                       id="id_flavor_detail"></app-flavor-detail>

                  </div>


                </div>
                <div class="row col-md-12" *ngIf="selectedFlavor?.ephemeral_disk > 0">
                  <div class="col-md-2"></div>
                  <div class="col-md-10 alert alert-info">
                    <strong>Information for ephemeral flavors:</strong>
                    Ephemeral storage is not best suited for persistent data. Read more
                    <a href="https://cloud.denbi.de/wiki/simple_vm/new_instance/#information-for-ephemeral-flavors"
                    target="_blank">here</a>.
                  </div>
                </div>



                <div *ngIf="selectedProject" class="form-group row col-md-12">
                  <label class="col-md-2 form-control-label"><strong>Image*</strong></label>
                  <div class="col-md-10">

                    <div class="alert alert-info" *ngIf="(images?.length === 0) || !images">
                      There are no images available for selection at the moment.
                      Please contact the support of the facility where your project is running.
                    </div>
                    <app-image-detail *ngIf="images?.length > 0" [selectedImage]="selectedImage"
                                      [images]="images"
                                      (selectedImageChange)="setSelectedImage($event)"
                                      id="id_image_detail"></app-image-detail>
                  </div>
                </div>
              </div>

                <div id="volumeDiv" style="margin-bottom: 25px;"
                     *ngIf="selectedProject
                   && selectedProject[1] != FREEMIUM_ID
                   && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms
                   && (flavors.length != 0 || selectedFlavor)">
                  <div class="from-group row col-md-12">
                    <label class="col-md-2"><strong>Volumes</strong></label>
                    <div class="col-md-10"></div>
                  </div>
                  <div class="row col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                      <div class="rTableRow"
                           [hidden]="!(volumesToMount?.length > 0 || volumesToAttach?.length >0 || !showAttachVol)">
                        <div class="rTableHeadNoBorder col-md-3"><strong>Name</strong></div>
                        <div class="rTableHeadNoBorder col-md-4"><strong>Mountpath</strong></div>
                        <div class="rTableHeadNoBorder col-md-2"><strong>Storage</strong></div>
                        <div class="rTableHeadNoBorder col-md-1"></div>
                      </div>
                      <ng-container *ngFor="let vol of volumesToMount">
                        <div class="rTableRow">
                          <div class="rTableCellNoBorder">
                            {{vol.volume_name}}

                          </div>
                          <div class="rTableCellNoBorder">
                            /mnt/{{vol.volume_path}}
                          </div>
                          <div class="rTableCellNoBorder">{{vol.volume_storage}}


                          </div>
                          <div class="rTableCellNoBorder">
                            <button class="btn btn-danger"
                                    (click)="removeVolFromList(volumesToMount.indexOf(vol));">Remove
                              <span class="fa fa-trash"></span>
                            </button>


                          </div>
                        </div>

                      </ng-container>
                      <ng-container *ngFor="let vol of volumesToAttach">
                        <div class="rTableRow">
                          <div class="rTableCellNoBorder">
                            {{vol.volume_name}}

                          </div>
                          <div class="rTableCellNoBorder">
                            /mnt/{{vol.volume_path}}
                          </div>
                          <div class="rTableCellNoBorder">{{vol.volume_storage}}


                          </div>
                          <div class="rTableCellNoBorder">
                            <button class="btn btn-danger"
                                    (click)="removeAttachVolume(vol);">Remove
                              <span class="fa fa-trash"></span>
                            </button>


                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngFor="let vol of detached_project_volumes">
                        <div class="rTableRow" *ngIf="!showAttachVol">
                          <div class="rTableCellNoBorder">
                            {{vol.volume_name}}

                          </div>
                          <div class="rTableCellNoBorder">
                            <div class="input-group">

                              <div class="input-group-prepend">
                                <span class="input-group-text">/mnt/</span>
                              </div>
                              <input type="text" placeholder="volume."
                                     id="volume_attach_mount_path" class="form-control" name="volume_mount_path"
                                     [(ngModel)]="vol.volume_path"
                                     [ngClass]="{'is-invalid': !this.checkIfMountPathIsUsable(vol.volume_path),
                             'is-valid':this.checkIfMountPathIsUsable(vol.volume_path)}">

                            </div>
                          </div>
                          <div class="rTableCellNoBorder">{{vol.volume_storage}}


                          </div>
                          <div class="rTableCellNoBorder">
                            <button class="btn btn-success" (click)="addAttachVolume(vol)"
                                    [disabled]="!this.checkIfMountPathIsUsable(vol.volume_path)"
                            >Add
                              <span class="fa fa-plus"></span>
                            </button>


                          </div>
                           <div class="alert alert-warning">
                          In a few cases the automatic mounting might not work, then the volume must be <a
                          href="{{WIKI_VOLUME_OVERVIEW}}"> mounted</a> manually!
                        </div>

                        </div>
                      </ng-container>
                    </div>
                  </div>


                  <div class=" form-group row col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                      <button class="btn btn-light" (click)="toggleShowAddVol();"
                              *ngIf=" !((selectedProjectVolumesUsed + volumesToMount?.length)
                    >= selectedProjectVolumesMax) &&showAddVol && showAttachVol && (selectedProjectDiskspaceUsed + getStorageInList() < selectedProjectDiskspaceMax)"
                              id="openAddVolumeFormButton">
                        New Volume <span class="fa fa-plus-circle"></span>
                      </button>
                      <button class="btn btn-light" style="margin-left: 5px" (click)="toggleShowAttachVol();"
                              *ngIf="showAttachVol && detached_project_volumes?.length > 0 && showAddVol"
                              id="openAttachVolumeFormButton">
                        Attach existing Volume <span class="fa fa-plus-circle"></span>
                      </button>
                      <div id="addVolumeDiv" *ngIf="!showAddVol">
                        <div class="form-group row">
                          <div class="col-md-2"><strong>Name</strong></div>
                          <div class="col-md-10" style="width:100%">
                            <input type="text" placeholder="Enter a name here..."
                                   id="volume_name" class="form-control" name="volume_name"
                                   [(ngModel)]="volumeName"

                                   [ngClass]="{'is-invalid':!this.checkInputVolumeString(volumeName),
                             'is-valid':this.checkInputVolumeString(volumeName)}" style="width: 100%;">
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-md-2"><strong>Mountpath</strong></div>
                          <div class=" input-group col-md-10">

                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3">/mnt/</span>
                            </div>
                            <input type="text" placeholder="path"
                                   id="volume_mount_path" class="form-control" name="volume_mount_path"
                                   [(ngModel)]="volumeMountPath"
                                   [ngClass]="{'is-invalid':!this.checkInputVolumeString(volumeMountPath)  ||  !this.checkIfMountPathIsUsable(volumeMountPath),
                             'is-valid':this.checkInputVolumeString(volumeMountPath) && this.checkIfMountPathIsUsable(volumeMountPath)}">


                          </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-2"><strong>Storage</strong></div>
                        <div class="input-group col-md-10" style="width:100%">
                          <input min="0" step="1" [(ngModel)]="volumeStorage"
                                 style="height: auto"
                                 id="volume_space" name="vm_volume_storage"
                                 class="form-control"
                                 type="number" [max]="selectedProjectDiskspaceMax - selectedProjectDiskspaceUsed"
                                 placeholder="e.g 8"
                                 appMinAmount="0"
                                 appMaxAmount="{{selectedProjectDiskspaceMax - selectedProjectDiskspaceUsed}}"
                                 appInteger
                                 [ngClass]="{
                                'is-invalid': !this.checkStorageNumber() && (f.controls.vm_volume_storage?.dirty || f.controls.vm_volume_storage?.touched),
                                'is-valid': this.checkStorageNumber() && (f.controls.vm_volume_storage?.dirty || f.controls.vm_volume_storage?.touched)
                                }">
                          <div class="input-group-append" style="height: auto"><span
                            class="input-group-text"> GB (max {{selectedProjectDiskspaceMax - selectedProjectDiskspaceUsed}}
                            )
                                    </span></div>
                        </div>
                      </div>
                        <div class="alert alert-warning">
                          In a few cases the automatic mounting might not work, then the volume must be <a
                          href="{{WIKI_VOLUME_OVERVIEW}}"> mounted</a> manually!
                        </div>

                      </div>


                    </div>


                    <div class=" form-group col-md-12 row" *ngIf="!showAddVol || !showAttachVol">
                      <div class="col-md-2"></div>
                      <div class="btn-toolbar col-md-10" role="group">
                        <button class="btn btn-danger col-md-4"
                                (click)="showAddVol=true;showAttachVol=true; volumeName=''; volumeStorage=0;"
                                type="button">Discard <span class="fa fa-times"></span></button>

                        <button *ngIf="!showAddVol" class="btn btn-success col-md-4"
                                (click)="toggleShowAddVol(); this.addVolumeToList();"
                                [disabled]="!checkVolumeValidity()" id="addVolumeConfirmationButton"
                                type="button">Add Volume <span class="fa fa-check"></span></button>
                      </div>

                    </div>


                  </div>
                  <div class=" form-group col-md-12 row"
                       *ngIf="(((this.selectedProjectVolumesUsed + this.volumesToMount?.length)
                    >= this.selectedProjectVolumesMax) || ((this.selectedProjectDiskspaceUsed + getStorageInList()) >= this.selectedProjectDiskspaceMax))">
                    <div class="col-md-2"></div>
                    <div class="form-group col-md-10 row">
                      <div class="alert alert-info " *ngIf="(this.selectedProjectVolumesUsed + this.volumesToMount?.length)
                    >= this.selectedProjectVolumesMax"> You can't create a new volume, because you have reached
                        the maximum number of volumes available
                        for this project.
                      </div>
                      <div class="alert alert-info "
                           *ngIf="(this.selectedProjectDiskspaceUsed + getStorageInList() >= this.selectedProjectDiskspaceMax)">
                        You can't create a new volume, because you have reached the maximum amount of storage (in GB)
                        available for this project.
                      </div>
                    </div>
                  </div>

                </div>


              <accordion class="col-md-12">

                <accordion-group #autoGroup
                                 *ngIf="selectedProject && projectDataLoaded && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms && (flavors.length != 0 || selectedFlavor)">
                  <div accordion-heading style="width: 100%; cursor: pointer">
                    <strong>Tools </strong> powered by <img src="{{conda_img_path}}" alt="Conda® "
                                                            style="height: 12px; width: auto"><span
                    class="badge badge-primary" style="margin-left:5px;">BETA</span>
                    <i class="pull-right float-right" style="font-size: 25px" [ngClass]="{
                            'icon-arrow-up': autoGroup.isOpen, 'icon-arrow-down': !autoGroup.isOpen}"></i>
                  </div>

                  <div class="alert alert-primary role alert"
                       style="max-width: 100%; margin: 20px 25px;">
                    <p>Please be aware that all Bioconda tools and packages are provided by third parties. de.NBI Cloud
                      is
                      not responsible for the functionality of the packages provided. In case of problems during
                      installation or use, please contact the developers of the respective packages.</p>
                  </div>

                  <div class="col">
                    <app-bioconda #bioconda (hasTools)="hasChosenTools($event)"></app-bioconda>
                  </div>
                </accordion-group>

                <accordion-group #resEnvGroup *ngIf="has_forc &&( selectedProject && projectDataLoaded &&
                selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms && (flavors?.length > 0 || selectedFlavor))"
                                 [isOpen]="resenvSelected">
                  <div accordion-heading style="width: 100%; cursor: pointer">
                    <strong>Browser-based Research Environments</strong>
                    (e.g. RStudio, Apache Guacamole, Theia IDE)
                    <span class="badge badge-primary">BETA</span>
                    <i class="pull-right float-right" style="font-size: 25px" [ngClass]="{
                            'icon-arrow-up': resEnvGroup.isOpen, 'icon-arrow-down': !resEnvGroup.isOpen}"></i>
                  </div>
                  <app-res-env #resEnv
                               [clientid]="client_id"
                               [forc_url]="forc_url"
                               [selectedImageTags]="selectedImage?.tags"
                               [blockedImageTagsResenv]="blockedImageTagsResenv"
                               [onlyNamespace]="resenvSelected"></app-res-env>
                </accordion-group>

                <accordion-group #optionalGroup id="optional_accordion"
                                 *ngIf="selectedProject && selectedProject[1] != FREEMIUM_ID && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms
                                  && (flavors.length != 0 || selectedFlavor)">

                  <div accordion-heading style="width: 100%; cursor: pointer">
                    <strong>Optional parameters</strong>
                    <i class="pull-right float-right" style="font-size: 25px" [ngClass]="{
                            'icon-arrow-up': optionalGroup.isOpen, 'icon-arrow-down': !optionalGroup.isOpen}"></i>
                  </div>



                  <div
                    *ngIf="selectedProject && selectedProject[1] != FREEMIUM_ID && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms"
                    class="form-group row">

                    <label class="col-md-2 form-control-label">Working on the road</label>
                    <div class="col-md-4"><label><strong style="padding-right: 10px; bottom: 15px;position: relative;">
                      <a href="https://cloud.denbi.de/wiki/Tutorials/Mosh/" target="_blank">Open UDP ports</a>
                      <i
                        data-balloon="This selection is necessary for using MOSH.
                        UDP is better suited for unstable/switching connections, e.g. during train travel."
                        data-balloon-pos="down" data-balloon-length="large"><i
                        class="icon-question menu_links"
                        style="cursor: pointer; margin-left: 2px;"></i></i></strong></label>

                      <label
                        class="switch switch-label switch-pill switch-success">
                        <input type="checkbox" class="switch-input"
                               name="udp_allowed" [disabled]="!mosh_mode_available"
                               [(ngModel)]="udp_allowed">
                        <div class="switch-slider" data-checked="✓" data-unchecked="✕"></div>
                        <!--<span class="switch-handle"></span>-->
                      </label>
                    </div>
                    <div class="alert alert-info col-md-6" *ngIf="!mosh_mode_available">To use MOSH with UDP ports, please select an Image which supports MOSH.
                      Learn more about MOSH <a href="https://mosh.org" target="_blank">here</a>.</div>
                  </div>
                  <div
                    *ngIf="selectedProject && selectedProject[1] != FREEMIUM_ID && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms && udp_allowed && mosh_mode_available"
                    class="form-group row">

                    <label class="col-md-2 form-control-label">Install MOSH</label>
                    <div class="col-6"><label><strong style="padding-right: 10px; bottom: 15px;position: relative;">
                      <i
                        data-balloon="This selection will install MOSH on your virtual machine."
                        data-balloon-pos="down" data-balloon-length="large"><i
                        class="icon-question menu_links"
                        style="cursor: pointer;"></i></i></strong></label>

                      <label
                        class="switch switch-label switch-pill switch-success">
                        <input type="checkbox" class="switch-input"
                               name="install_mosh"
                               [(ngModel)]="install_mosh">
                        <div class="switch-slider" data-checked="✓" data-unchecked="✕"></div>
                        <!--<span class="switch-handle"></span>-->
                      </label>
                    </div>
                  </div>
                </accordion-group>
              </accordion>
            </div>
          </form>

        </div>

        <div *ngIf="hasTools || install_mosh || resEnvOkayNeeded" class="row alert" style="margin: 15px"
             [ngClass]="{
                                'alert-danger': !gaveOkay,
                                'alert-success': gaveOkay
                                }">
          <div class="form-check col">
            <input class="form-check-input"
                   name="ansible_need_okay"
                   type="checkbox"
                   id="ansible_need_okay"
                   [(ngModel)]="gaveOkay"
                   #respCheck
                   required
            >
            <label class="form-check-label" for="ansible_need_okay">
              I hereby confirm that I read and acknowledge the following:<br>
              To set up your virtual machine with your chosen options, we generate a new rsa-keypair which we use
              to log into your virtual machine.<br>
              <strong>At the end of the installation process we will remove the temporary key from your machine and
                copy your public key onto it, regardless of whether the installation of your selections will succeed
                or fail.</strong><br><br>
              <div *ngIf="hasTools"><strong>Conda specifics:</strong><br>
                We install Miniconda3, create a conda environment called 'denbi' and install your chosen
                tools.<br>
                For you convenience we initialize the .bashrc and set an alias, so that you are able to load the
                environment simply by typing 'denbi'.<br></div>
            </label>
          </div>
        </div>


        <div
          *ngIf="
          ( !vm_name
            || (!gaveOkay && (hasTools || install_mosh || resEnvOkayNeeded))
            || (!resEnvValid && resEnvComponent)
            || !selectedImage
            || (!selectedFlavor && flavors.length != 0 )
            || (volumeStorage != 0 && !volumeName)
            || (!resEnvValid && resEnvComponent))
          && flavors.length > 0
          && projectDataLoaded
          && flavors_loaded
          && (selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms)"
          class="alert alert-danger" role="alert" style="; margin: 15px;">
          <p>The following is missing before starting a VM:</p>
          <p *ngIf="!vm_name">- A name for your instance
          </p>
          <p *ngIf="!selectedFlavor">- The flavor type of your VM
          </p>
          <p *ngIf="!selectedImage">- The image you want to run on your VM
          </p>
          <p *ngIf="!gaveOkay && (hasTools || install_mosh || resEnvOkayNeeded)">- Give your okay to the automated install process
          </p>
          <p *ngIf="resEnvNeedsName">- An url name for your Research-Environment
          </p>
          <p *ngIf="resEnvNeedsTemplate">- A Research-Environment template
          </p>

        </div>
        <div class="form-group row"
             *ngIf="projectDataLoaded && selectedProjectRessources?.used_vms < selectedProjectRessources?.number_vms && (flavors?.length > 0  || selectedFlavor)">

          <button style=" margin-left: auto;margin-top: 25px;
    margin-right: auto;
    width: 8em" id="startVMButton"

                  type="button"

                  [disabled]="!vm_name ||
                  started_machine ||
                  !selectedFlavor ||
                  !selectedImage||
                  (!gaveOkay && (hasTools || install_mosh || resEnvOkayNeeded)) ||
                  (!resEnvValid && resEnvComponent)"
                  class="btn btn-primary  .btn-lg offset-md-8"
                  data-toggle="modal"
                  (click)="startVM(selectedFlavor.name,f.controls.instance_name.value,selectedProject[0],selectedProject[1]);resetData();redirectModal.show()">
            Start VM
          </button>
        </div>


        <div class="alert alert-danger"
             *ngIf="isLoaded && !client_avaiable && selectedProject && client_checked">The
          corresponding client is currently offline.
          If you have any questions please contact <a href="mailto:cloud@denbi.de">cloud@denbi.de.</a>
        </div>


      </div>

      <!--/.col-->

    </div>
  </div>
  <div class="col-md-6">

  </div>

</div>


<div bsModal #infoModal="bs-modal" class="modal fade " tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true"
     id="info_modal">
  <div class="modal-dialog modal-info" role="document"
       [ngClass]="newVm?.status =='ACTIVE' ? 'modal-lg':''">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="newVm?.status != 'ACTIVE'">Status</h4>
        <h4 class="modal-title" *ngIf="newVm?.status == 'ACTIVE'">How to Connect</h4>

        <button type="button" class="close" style="cursor: pointer"
                (click)="infoModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"
           *ngIf="(newVm?.status == 'BUILD' || newVm?.status == 'PORT_CLOSED' || newVm ==null) && !create_error?.error ">
        <p *ngIf="playbook_run == 0">We are setting up a machine for you. This can take up to 5 minutes.</p>
        <p *ngIf="playbook_run == 1">We are setting up a machine for you.
          This can take some time, depending on your chosen tools.
          At maximum it can take up to {{getTimeoutMinutes()}} minutes.</p>

        <div class="progress">
          <div class="progress-bar progress-bar-striped {{progress_bar_animated}} bg-info"
               role="progressbar" style="width: 33%;"
               aria-valuemin="0"
               aria-valuemax="100" [style.width.%]="progress_bar_width"><font
            color="black">{{progress_bar_status}}</font>
          </div>
        </div>
        <p>If you close this modal you can find instructions how to connect to the virtual
          machine on the
          instance overview site</p>
      </div>
      <div class="modal-body" *ngIf="newVm?.status == 'ACTIVE' || newVm?.status == 'DELETED'">
        <app-how-to-connect id="how_to_connect_id" [selectedVirtualMachine]="newVm"
                            [playbook_run]="playbook_run"></app-how-to-connect>
      </div>
      <div class="modal-body" *ngIf="create_error?.error">
        An Error occurred.<br><br>
        <pre><code>{{create_error.error}}</code></pre>
      </div>
      <div class="modal-footer">
        <button *ngIf="newVm?.status == 'ACTIVE'"
                id="goToOverviewButton"
                routerLinkActive="active"
                [routerLink]="['/virtualmachines/vmOverview']"
                type="button" class="btn btn-info nav-link"
                (click)="infoModal.hide();resetData()">Instance Overview
        </button>
        <button type="button" class="btn btn-secondary"
                (click)="infoModal.hide();resetData()"
                id="close_info_modal">Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #redirectModal="bs-modal" class="modal fade " tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true"
     id="redirect_modal">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Redirecting</h4>
      </div>
      <div class="modal-body">
        <p>Redirecting to Instance Overview...</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped {{progress_bar_animated}} bg-info"
               role="progressbar" style="width: 0%;"
               aria-valuemin="0"
               aria-valuemax="100" [style.width.%]="progress_bar_width">
          </div>
        </div>
        <span [hidden]="true" *ngIf="newVm?.name" id="new_vm_name">{{newVm?.name}}</span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
