<div *ngIf="!carousel_activated || flavors.length <=flavors_per_row-1" class="row">
  <div *ngIf="selectedFlavor" class="col-3 flavor-image-card" style="cursor: pointer;">
    <div class="card border-success" style="width: 18rem;margin-right: 5px">
      <div class="card-header bg-success ">
        <strong>Selected: ***REMOVED******REMOVED***selectedFlavor.name***REMOVED******REMOVED***</strong></div>
      <div class="card-body">
        <div class="scroll-flavor">
          <div class="col">***REMOVED******REMOVED***convertMbToGb(selectedFlavor?.ram)***REMOVED******REMOVED*** GB Ram
        </div>
          <div *ngIf="selectedFlavor?.gpu <= 0" class="col"
          >***REMOVED******REMOVED***selectedFlavor?.vcpus***REMOVED******REMOVED*** CPUs
          </div>
          <div *ngIf="selectedFlavor?.gpu > 0" class="col"
          >***REMOVED******REMOVED***selectedFlavor?.vcpus***REMOVED******REMOVED*** CPUs | ***REMOVED******REMOVED***selectedFlavor?.gpu***REMOVED******REMOVED*** GPUs
          </div>
          <div class="col"
          >***REMOVED******REMOVED***selectedFlavor?.rootdisk***REMOVED******REMOVED*** GB Disk
          </div></div>
      </div>
    </div>
  </div>

  <div *ngIf="selectedFlavor" style="border-left:1px solid #555555;height:200px">
  </div>
  <div *ngFor="  let flavor of flavors" style="cursor: pointer;" class="col-3 flavor-image-card">
    <div (click)="changeResponsiveOwl();setSelectedFlavor(flavor);" class="card" style="width: 18rem;margin-right: 5px"
    >
      <div
        class="card-header bg-info-flavor ">
        <strong>***REMOVED******REMOVED***flavor.name***REMOVED******REMOVED***</strong></div>
      <div class="card-body">
        <div class="scroll-flavor">
          <div class="col"
          >***REMOVED******REMOVED***convertMbToGb(flavor.ram)***REMOVED******REMOVED*** GB Ram
          </div>
          <div *ngIf="flavor.gpu <= 0" class="col"
          >***REMOVED******REMOVED***flavor.vcpus***REMOVED******REMOVED*** CPUs
          </div>
          <div *ngIf="flavor.gpu > 0" class="col"
          >***REMOVED******REMOVED***flavor.vcpus***REMOVED******REMOVED*** CPUs | ***REMOVED******REMOVED***flavor.gpu***REMOVED******REMOVED*** GPUs
          </div>
          <div class="col"
          >***REMOVED******REMOVED***flavor.rootdisk***REMOVED******REMOVED*** GB Disk
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<div *ngIf="carousel_activated && flavors.length >=flavors_per_row" class="row">
  <div [hidden]="!selectedFlavor" class="col-3 flavor-image-card" style="cursor: pointer;">
    <div class="card border-success" style="width: 18rem;margin-right: 5px"
    >
      <div
        class="card-header bg-success">
        <strong>Selected: ***REMOVED******REMOVED***selectedFlavor?.name***REMOVED******REMOVED***</strong></div>
      <div class="card-body">
        <div class="scroll-flavor">
          <div class="col"
          >***REMOVED******REMOVED***convertMbToGb(selectedFlavor?.ram)***REMOVED******REMOVED*** GB Ram
          </div>
          <div *ngIf="selectedFlavor?.gpu <= 0" class="col"
          >***REMOVED******REMOVED***selectedFlavor?.vcpus***REMOVED******REMOVED*** CPUs
          </div>
          <div *ngIf="selectedFlavor?.gpu > 0" class="col"
          >***REMOVED******REMOVED***selectedFlavor?.vcpus***REMOVED******REMOVED*** CPUs | ***REMOVED******REMOVED***selectedFlavor?.gpu***REMOVED******REMOVED*** GPUs
          </div>
          <div class="col"
          >***REMOVED******REMOVED***selectedFlavor?.rootdisk***REMOVED******REMOVED*** GB Disk
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!selectedFlavor" class="col-12 flavor-image-card">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let flavor of flavors">
        <ng-template carouselSlide>
          <div (click)="setSelectedFlavor(flavor);" class="card" style="width: 18rem;margin-right: 5px;cursor: pointer;"
          >
            <div
              class="card-header bg-info-flavor">
              <strong>***REMOVED******REMOVED***flavor.name***REMOVED******REMOVED***</strong></div>
            <div class="card-body">
              <div class="scroll-flavor">
                <div class="col"
                >***REMOVED******REMOVED***convertMbToGb(flavor.ram)***REMOVED******REMOVED*** GB Ram
                </div>
                <div *ngIf="flavor.gpu <= 0" class="col"
                >***REMOVED******REMOVED***flavor.vcpus***REMOVED******REMOVED*** CPUs
                </div>
                <div *ngIf="flavor.gpu > 0" class="col"
                >***REMOVED******REMOVED***flavor.vcpus***REMOVED******REMOVED*** CPUs | ***REMOVED******REMOVED***flavor.gpu***REMOVED******REMOVED*** GPUs
                </div>
                <div class="col"
                >***REMOVED******REMOVED***flavor.rootdisk***REMOVED******REMOVED*** GB Disk
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
  <div *ngIf="selectedFlavor" class="col-9 flavor-image-card">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let flavor of flavors">
        <ng-template carouselSlide>
          <div (click)="setSelectedFlavor(flavor);" class="card" style="width: 18rem;margin-right: 5px;cursor: pointer;"
          >
            <div
              class="card-header bg-info-flavor">
              <strong>***REMOVED******REMOVED***flavor.name***REMOVED******REMOVED***</strong></div>
            <div class="card-body">
             <div class="scroll-flavor">
               <div class="col"
               >***REMOVED******REMOVED***convertMbToGb(flavor.ram)***REMOVED******REMOVED*** GB Ram
               </div>
               <div *ngIf="flavor.gpu <= 0" class="col"
               >***REMOVED******REMOVED***flavor.vcpus***REMOVED******REMOVED*** CPUs
               </div>
               <div *ngIf="flavor.gpu > 0" class="col"
               >***REMOVED******REMOVED***flavor.vcpus***REMOVED******REMOVED*** CPUs | ***REMOVED******REMOVED***flavor.gpu***REMOVED******REMOVED*** GPUs
               </div>
               <div class="col"
               >***REMOVED******REMOVED***flavor.rootdisk***REMOVED******REMOVED*** GB Disk
               </div>
             </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</div>


<div class="row ">
  <div class="ml-auto mr-3"
       *ngIf="carousel_activated && (!selectedFlavor &&flavors.length > flavors_per_row || selectedFlavor &&flavors.length > flavors_per_row-1)  "
       (click)="carousel_activated=false;" style="cursor: pointer;"><strong class="text-info">Show
    all
    flavors</strong></div>
  <div class="ml-auto mr-3"
       *ngIf="!carousel_activated && (!selectedFlavor &&flavors.length > flavors_per_row || selectedFlavor &&flavors.length > flavors_per_row-1)"
       (click)="carousel_activated=true;" style="cursor: pointer;"><strong class="text-info">Hide
    flavors</strong></div>
</div>

