<table class="table table-striped table-responsive">
    <tr *ngIf="collapse2">
        <td class="field-label col-md-6 active">
            RAM
        </td>
        <td class="col-md-6">
            {{flavor.ram}}MB
        </td>
    </tr>
    <tr *ngIf="collapse2">
        <td class="field-label col-md-6 active">
            Root_Disk
        </td>
        <td class="col-md-6">
            {{flavor.rootdisk}}
        </td>
    </tr>
    <tr *ngIf="collapse2">
        <td class="field-label col-md-6 active">
            Vcpus
        </td>
        <td class="col-md-6">
            {{flavor.vcpus}}
        </td>
    </tr>

</table>
