<table class="table table-striped table-responsive">
  <tr *ngIf="collapse1">
    <td class="field-label col-md-6 active">
      Description
    </td>
    <td class="col-md-6">
      {{image.description}}
    </td>
  </tr>
  <tr *ngIf="collapse1">
     <td class="field-label col-md-6 active">
    Min_Disk
    </td>
    <td class="col-md-6">
      {{image.min_disk}} GB
    </td>
  </tr>
  <tr *ngIf="collapse1">
     <td class="field-label col-md-6 active">
     Min_Ram
    </td>
    <td class="col-md-6">
      {{image.min_ram}} MB
    </td>
  </tr>

</table>
