<div *ngIf="!carousel_activated" class="row">
  <div *ngIf="selectedImage" class="col-3" style="cursor: pointer;">
    <div class="card border-success" style="width: 18rem;margin-right: 5px"
    >
      <div
        class="card-header bg-success ">
        <strong>Selected: {{selectedImage?.name}}</strong></div>
      <div class="card-body ">
        <div class="col">
          {{selectedImage?.description}}


        </div>
      </div>
    </div>
  </div>
  <div *ngFor="  let image of images" style="cursor: pointer;" class="col-3">
    <div (click)="setSelectedImage(image);" class="card " style="width: 18rem;margin-right: 5px"
    >
      <div
        class="card-header bg-warning ">
        <strong>{{image.name}}</strong></div>
      <div class="card-body ">
        <div class="col">
          {{image.description}}

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="carousel_activated" class="row">
  <div *ngIf="selectedImage" class="col-3" style="cursor: pointer;">
    <div class="card border-success" style="width: 18rem;margin-right: 5px"
    >
      <div
        class="card-header bg-success ">
        <strong>Selected: {{selectedImage?.name}}</strong></div>
      <div class="card-body ">
        <div class="col">
          {{selectedImage?.description}}


        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="{'col-9':selectedImage,'col-12':!selectedImage}">
    <owl-carousel-o *ngIf="carousel_activated" [options]="customOptions">
      <ng-container *ngFor="let image of images">
        <ng-template carouselSlide>
          <div (click)="setSelectedImage(image);" class="card" style="width: 18rem;margin-right: 5px; cursor: pointer;"
          >
            <div
              class="card-header bg-warning">
              <strong>{{image.name}}</strong></div>
            <div class="card-body ">
              <div class="col">
                {{image.description}}


              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</div>


<div class="row ">
  <div class="ml-auto mr-3" style="cursor: pointer;"
       *ngIf="carousel_activated && images.length > images_per_row"
       (click)="carousel_activated=false;"><strong class="text-info">Show
    all
    images</strong></div>
  <div class="ml-auto mr-3" style="cursor: pointer;"
       *ngIf="!carousel_activated && images.length > images_per_row"
       (click)="changeResponsiveOwl();carousel_activated=true;"><strong class="text-info">Hide
    images</strong></div>
</div>

