<div class="card">


	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs" style="overflow: hidden" role="tablist">
			<li class="nav-item " style="  cursor: pointer">
				<a class="nav-link" (click)="setSelectedImageType(imageTypes.IMAGE)"
					 [ngClass]="{'active': selected_image_type === imageTypes.IMAGE }"
				>Images</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="setSelectedImageType(imageTypes.SNAPSHOT)"
					 [ngClass]="{'active': selected_image_type === imageTypes.SNAPSHOT }"
				>Snapshots</a>
			</li>


		</ul>
	</div>
	<div class="card-body">


		<div class="alert alert-primary" *ngIf="(images?.length === 0) || !images">
			There are no images available for selection at the moment.
			Please contact the support of the facility where your project is running.
		</div>

		<div *ngIf="!carousel_activated || images.length <=images_per_row-1" class="row">
			<div *ngFor="  let image of image_selection" style="cursor: pointer;">
				<app-image-slide [image]="image" [selectedImage]="selectedImage"
												 (selectedImageChange)=" selectedImageChange.emit(image);"
				></app-image-slide>
			</div>
		</div>


		<div *ngIf="carousel_activated && images.length >=images_per_row" class="row"
		>
			<div [hidden]="!selectedImage" class="col-md-12" style="cursor: pointer; padding-top: 10px"
					 [ngClass]="{'col-xl-3':window_size >= carousel_window_min_xl_9,
       'col-xl-6':window_size >= carousel_window_min_xl6 && window_size<carousel_window_min_xl_8,
       'col-xl-4':window_size <carousel_window_min_xl_9 && window_size>=carousel_window_min_xl_8}">
				<div class="card border-success flavor-image-card"
				>
					<div
						class="card-header bg-success text-truncate" data-toggle="tooltip" data-placement="top"
						title="{{selectedImage?.name}}">
						<i
							*ngIf="selectedImage?.is_snapshot"
							class="fa fa-camera" aria-hidden="true"></i>
						<strong>{{selectedImage?.name}}</strong></div>
					<div class="card-body">
						<div class="scroll-image">
							<div *ngIf="!selectedImage?.logo_url || !image_visible" class="col scroll-image"
									 (mouseleave)="setImageVisible()">
								{{selectedImage?.description}}
							</div>
							<div *ngIf=" selectedImage?.logo_url && image_visible" (mouseenter)="setImageVisible()"><img
								src="{{selectedImage?.logo_url}}"
								[ngStyle]="{'width':img_width,'height':img_height}"
								alt="{{selectedImage?.description}}">

							</div>
						</div>
					</div>
				</div>
			</div>

			<div *ngIf="!selectedImage" class="col-md-12"
					 style=" padding-top: 10px">
				<owl-carousel-o *ngIf="carousel_activated" [options]="customOptions">
					<ng-container *ngFor="let image of image_selection">
						<ng-template carouselSlide>
							<app-image-slide [selectedImage]="selectedImage" [image]="image"
															 (selectedImageChange)="selectedImageChange.emit(image);"></app-image-slide>

						</ng-template>
					</ng-container>

				</owl-carousel-o>
			</div>
			<div *ngIf="selectedImage" class="col-md-12 "
					 [ngClass]="{'col-xl-9':window_size >= carousel_window_min_xl_9,
       'col-xl-6':window_size >= carousel_window_min_xl6 && window_size<carousel_window_min_xl_8,
       'col-xl-8':window_size <carousel_window_min_xl_9 && window_size>=carousel_window_min_xl_8}"
					 style=" padding-top: 10px">
				<owl-carousel-o *ngIf="carousel_activated" [options]="customOptions">
					<ng-container *ngFor="let image of image_selection">
						<ng-template carouselSlide>
							<app-image-slide [selectedImage]="selectedImage" [image]="image"
															 (selectedImageChange)="    selectedImageChange.emit(image);"
							></app-image-slide>
						</ng-template>
					</ng-container>

				</owl-carousel-o>
			</div>
		</div>


	</div>
</div>
