<div
	class="not-allowed-cursor"
	[ngClass]="{ 'not-allowed-cursor': selectedFlavor?.rootdisk < image?.min_disk && image?.min_disk > 0 }"
>
	<div
		*ngIf="image !== selectedImage"
		(click)="selectedImageChange.emit(image)"
		class="card flavor-image-card inactive-image-card"
		id="id_image_owl_{{ image?.name }}"
		[attr.data-test-id]="'image_' + image?.name.replace(regexp_data_test_id, '_')"
		[ngClass]="{ 'inactive-image-card': selectedFlavor?.rootdisk < image?.min_disk && image?.min_disk > 0 }"
	>
		<div
			[ngClass]="{ 'bg-info-image': !image?.is_snapshot, 'bg-warning': image?.is_snapshot }"
			class="card-header text-truncate"
			data-toggle="tooltip"
			data-placement="top"
			title="{{ image?.name }}"
		>
			<i *ngIf="image?.is_snapshot" class="fa fa-camera" aria-hidden="true"></i> <strong>{{ image.name }}</strong>
		</div>
		<div class="card-body" style="color: #58595b" tabindex="-1">
			<div tabindex="-1">
				<div
					*ngIf="!image?.logo_url || !image_visible"
					class="col"
					tabindex="-1"
					[style]="{ width: img_width, height: img_height }"
					style="overflow-y: scroll"
					(mouseleave)="setImageVisible()"
				>
					{{ image?.description }}
				</div>
				<div *ngIf="image?.logo_url && image_visible" (mouseenter)="setImageVisible()" tabindex="-1">
					<img
						src="{{ image?.logo_url }}"
						tabindex="-1"
						[style]="{ width: img_width, height: img_height }"
						style="object-fit: scale-down"
						alt="{{ image?.description }}"
					/>
				</div>
			</div>
		</div>
		<div class="card-footer text-muted" *ngIf="image?.min_disk > 0">
			Requirements:
			<div class="scroll-flavor">
				<div class="row" *ngIf="image?.min_disk > 0">
					<div class="col-2">
						<i class="image-card-icons">
							<img src="{{ STORAGE_ICON_PATH }}" alt="" />
						</i>
					</div>
					<div class="col-10">
						{{ image?.min_disk }}
						GB min root Disk
						<i *ngIf="selectedFlavor?.rootdisk < image?.min_disk" class="fas fa-times" style="color: red !important"></i
						>&nbsp;
						<i
							*ngIf="selectedFlavor?.rootdisk >= image?.min_disk"
							class="fa fa-check"
							style="color: green !important"
						></i
						>&nbsp;
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="image === selectedImage" class="card border-success flavor-image-card">
	<div
		class="card-header bg-success text-truncate"
		data-toggle="tooltip"
		data-placement="top"
		title="{{ selectedImage?.name }}"
	>
		<i *ngIf="selectedImage?.is_snapshot" class="fa fa-camera" aria-hidden="true"></i>
		<strong>{{ selectedImage?.name }}</strong>
	</div>
	<div class="card-body" style="color: #58595b" tabindex="-1">
		<div class="scroll-image" tabindex="-1">
			<div
				*ngIf="!selectedImage?.logo_url || !image_visible"
				class="col"
				tabindex="-1"
				[style]="{ width: img_width, height: img_height }"
				style="overflow-y: scroll"
				(mouseleave)="setImageVisible()"
			>
				{{ selectedImage?.description }}
			</div>
			<div *ngIf="selectedImage?.logo_url && image_visible" (mouseenter)="setImageVisible()" tabindex="-1">
				<img
					src="{{ selectedImage?.logo_url }}"
					[style]="{ width: img_width, height: img_height }"
					style="object-fit: scale-down"
					alt="Logo"
				/>
			</div>
		</div>
	</div>
	<div class="card-footer text-muted" *ngIf="image?.min_disk > 0">
		Requirements:
		<div class="scroll-flavor">
			<div class="row" *ngIf="image?.min_disk > 0">
				<div class="col-2">
					<i class="image-card-icons">
						<img src="{{ STORAGE_ICON_PATH }}" alt="" />
					</i>
				</div>
				<div class="col-8">
					{{ image?.min_disk }}
					GB min root Disk
					<i *ngIf="selectedFlavor?.rootdisk < image?.min_disk" class="fas fa-times" style="color: red !important"></i
					>&nbsp;
					<i *ngIf="selectedFlavor?.rootdisk >= image?.min_disk" class="fa fa-check" style="color: green !important"></i
					>&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>
