<div class="card" *ngIf="is_vo_admin">
  <div class="card-header">
    <strong>Clients</strong>
    –Overview
  </div>
  <div>
    <div>
      <table class="table table-striped ">
        <thead>
        <tr>
          <th>Facility</th>
          <th>Host</th>
          <th>Port</th>
          <th>Status</th>

        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let client of clients">
          <td>***REMOVED******REMOVED***client.location***REMOVED******REMOVED***</td>
          <td>***REMOVED******REMOVED***client.host***REMOVED******REMOVED***</td>
          <td>***REMOVED******REMOVED***client.port***REMOVED******REMOVED***</td>
          <td>***REMOVED******REMOVED***client.status***REMOVED******REMOVED***</td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="deleteClient(client.host,client.port,client.location);">
              Delete
              Client
            </button>
          </td>

        </tr>

        <tr>
          <td>
                <select class="form-control col-md-6" name="selectedComputeCenter" [(ngModel)]="selectedComputeCenter">
                  <option value="undefined" disabled selected hidden> Please Select</option>
                  <option *ngFor="  let computecenter of computeCenters" [ngValue]="computecenter"> ***REMOVED******REMOVED***computecenter***REMOVED******REMOVED***</option>

                </select></td>
          <td><input type="text" placeholder="Host" #hos></td>
          <td><input type="text" placeholder="Port" #port></td>
          <td>***REMOVED******REMOVED***checkStatus***REMOVED******REMOVED***</td>

          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="checkClient(hos.value,port.value)">Check Status</button>
          </td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="postClient(hos.value,port.value,selectedComputeCenter);">Add Client
            </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="getClientsChecked();">Check all Clients</button>
          </td>

        </tr>
        </tbody>

      </table>

    </div>


  </div>
</div>
