<div *ngIf="isLoaded==false" class="loader"></div>

<div class="card" *ngIf="is_vo_admin && isLoaded">
  <div class="card-header">
    <strong>Clients</strong>
    –Overview
  </div>
  <div>
    <div>
      <div class="table-responsive">
      <table class="table table-striped table-responsive ">
        <thead>
        <tr>
          <th>Facility</th>
          <th>Host</th>
          <th>Port</th>
          <th>Status</th>
          <th>Actions</th>

        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.location}}</td>
          <td>{{client.host}}</td>
          <td>{{client.port}}</td>
          <td>{{client.status}}</td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="deleteClient(client.id);">
              Delete
              Client
            </button>
          </td>

        </tr>

        <tr>
          <td>
                <select class="form-control col-md-6" name="selectedComputeCenter" [(ngModel)]="selectedComputeCenter">
                  <option value="undefined" disabled selected hidden> Please Select</option>
                  <option *ngFor="  let computecenter of computeCenters" [ngValue]="computecenter"> {{computecenter.Name}}</option>

                </select></td>
          <td><input type="text" placeholder="Host" #hos></td>
          <td><input type="text" placeholder="Port" #port></td>
          <td>{{checkStatus}}</td>

          <td>
            <button type="button" style="padding-right: 5px;margin-right: 5px" class="btn btn-primary navbar-inverse" (click)="checkClient(hos.value,port.value)">Check Status</button>
             <button type="button" class="btn btn-primary navbar-inverse" (click)="postClient(hos.value,port.value,selectedComputeCenter.Name);">Add Client
            </button>
          </td>


          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="getClientsChecked();">Check all Clients</button>
          </td>

        </tr>
        </tbody>

      </table>
      </div>

    </div>


  </div>
</div>
