<div *ngIf="!isLoaded " class="loader"></div>

<div class="animated fadeIn" *ngIf="isLoaded">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div>{{virtualMachine?.name}}</div>
          <div class="row">
            <div class="col-2" style="margin: auto;" [ngSwitch]="virtualMachine?.status">
              <div *ngSwitchCase="'ACTIVE'" [id]="'active_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-success pulseAnim" style="width: 10px; height: 10px">
              </div>
              <div *ngSwitchCase="'SHUTOFF'" [id]="'shutoff_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
              </div>
              <div *ngSwitchCase="'DELETED'" [id]="'deleted_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-danger" style="width: 10px; height: 10px">
              </div>
              <div *ngSwitchCase="'BUILD'" [id]="'build_badge_' + virtualMachine.name"
                   class="dot-colorless bg-dark">
              </div>
              <div *ngSwitchCase="'PREPARE_PLAYBOOK_BUILD'" [id]="'ppb_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark">
              </div>
              <div *ngSwitchCase="'BUILD_PLAYBOOK'" [id]="'build_playbook_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark" >
              </div>
              <div *ngSwitchCase="'RESTARTING'" [id]="'restarting_badge_' + virtualMachine.name"
                   class="dot-colorless bg-dark">
              </div>
              <div *ngSwitchCase="'POWERING OFF'" [id]="'powering_off_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark">
              </div>
              <div *ngSwitchDefault
                   [id]="'default_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark" style="width: 10px; height: 10px">
              </div>  {{virtualMachine?.status}}
            </div>
            <div class="col-2 font-weight-bold font-xs text-muted">action</div>
            <div class="col-2 font-weight-bold font-xs text-muted">action</div>
            <div class="col-2 font-weight-bold font-xs text-muted">action</div>
            <div class="col-2 font-weight-bold font-xs text-muted">action2</div>
            <div class="col-2 font-weight-bold font-xs text-muted">a3</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
