<div *ngIf="!isLoaded " class="loader"></div>

<div class="animated fadeIn" *ngIf="isLoaded">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header"><span class="font-weight-bold text-muted">{{virtualMachine?.name}}</span></div>
        <div class="card-body">
          <div class="row">
            <div class="col-4" style="margin:auto">
            <div [ngSwitch]="virtualMachine?.status">
              <div *ngSwitchCase="'ACTIVE'" [id]="'active_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-success pulseAnim" style="width: 15px; height: 15px;">
              </div>
              <div *ngSwitchCase="'SHUTOFF'" [id]="'shutoff_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-warning" style="width: 15px; height: 15px">
              </div>
              <div *ngSwitchCase="'DELETED'" [id]="'deleted_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-danger" style="width: 15px; height: 15px">
              </div>
              <div *ngSwitchCase="'BUILD'" [id]="'build_badge_' + virtualMachine.name"
                   class="dot-colorless bg-dark" style="width: 15px; height: 15px">
              </div>
              <div *ngSwitchCase="'PREPARE_PLAYBOOK_BUILD'" [id]="'ppb_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark" style="width: 15px; height: 15px">
              </div>
              <div *ngSwitchCase="'BUILD_PLAYBOOK'" [id]="'build_playbook_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark" style="width: 15px; height: 15px" >
              </div>
              <div *ngSwitchCase="'RESTARTING'" [id]="'restarting_badge_' + virtualMachine.name"
                   class="dot-colorless bg-dark" style="width: 15px; height: 15px">
              </div>
              <div *ngSwitchCase="'POWERING OFF'" [id]="'powering_off_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark" style="width: 15px; height: 15px">
              </div>
                <div *ngSwitchDefault
                   [id]="'default_badge_' + virtualMachine?.name"
                   class="dot-colorless bg-dark" style="width: 15px; height: 15px">
                </div><span style="margin-left:15px;"class="text-muted font-weight-bold">Status: {{virtualMachine?.status}}</span>
              </div>
            </div>
            <div class="col-2" *ngIf="!virtualMachine?.stopped_at">
              <div class="callout callout-success" >
                <small class="text-muted">Created at (y-m-d)</small><br>
                <strong class="text-muted">{{startDate | date: 'yyyy.MM.dd HH:mm'}}</strong>
              </div>
            </div>
            <div class="col-2" *ngIf="virtualMachine?.stopped_at">
              <div class="callout callout-warning">
                <small class="text-muted">Stopped at (y-m-d)</small><br>
                <strong class="text-muted">{{stopDate | date: 'yyyy.MM.dd HH:mm'}}</strong>
              </div>
            </div>
            <div class="col-2">
              <div class="callout">
                <small class="text-muted">Part of</small><br>
                <a href="/#/project-management/{{virtualMachine?.application_id}}">
                  <strong class="text-muted">{{virtualMachine?.project}}</strong></a>
              </div>
            </div>
            <div class="col-4">
              <div class="callout">
                <small class="text-muted">Openstack-ID</small><br>
                <strong class="text-muted">{{virtualMachine?.openstackid}}</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="callout">
                <small class="text-muted">Created by</small><br>
                <strong class="text-muted">{{virtualMachine?.username}}</strong>
              </div>
            </div>
            <div class="col-8">
              <div class="callout">
                <small class="text-muted">Elixir-ID of {{virtualMachine?.username}}</small><br>
                <strong class="text-muted">{{virtualMachine?.elixir_id}}</strong>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body" *ngIf="virtualMachine?.status === 'ACTIVE'">
          <div class="card-title">
            <strong>Connect Information</strong>
          </div>
          <div class="form-group" style="cursor:pointer;">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">SSH</div></div>
              <input type="text" class="form-control" readonly style="cursor:pointer;"
                     placeholder="{{virtualMachine?.ssh_command}}" (click)="this.copySSHCommand()">
            <div class="input-group-append" (click)="this.copySSHCommand()">
              <div class="input-group-text">
                Copy command
              </div>
            </div>

          </div>
          </div>

          <div class="form-group" *ngIf="virtualMachine?.udp_command" style="cursor:pointer;">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">SSH</div></div>
              <input type="button" class="form-control" readonly style="cursor:pointer;"
                     placeholder="{{virtualMachine?.udp_command}}" (click)="this.copyUDPCommand()">
            <div class="input-group-append">
              <div class="input-group-text">
                Copy command
              </div>
            </div>
          </div>
          </div>
        </div>
        <hr>
        <div class="card-body">
          <div class="card-title"><strong>Actions</strong></div>
          <div class="row">
            <div class="col-2">
              <button type="button" class="btn btn-secondary" style="width:100%;">
                <strong>(Re-)Check Status</strong></button>
            </div>
            <div class="col-2" *ngIf="virtualMachine?.status === virtualMachineStates.staticACTIVE">
              <button type="button" class="btn btn-warning" style="width:100%;">
                <strong>Stop VM</strong>
              </button>
            </div>
            <div class="col-2" *ngIf="virtualMachine?.status === virtualMachineStates.staticACTIVE ||
            virtualMachine?.status === virtualMachineStates.staticSHUTOFF">
              <button type="button" class="btn btn-secondary" style="width:100%;">
                <strong>Reboot VM</strong>
              </button>
            </div>
            <div class="col-2" *ngIf="virtualMachine?.status === virtualMachineStates.staticACTIVE ||
            virtualMachine?.status === virtualMachineStates.staticSHUTOFF">
              <button type="button" class="btn btn-secondary" style="width:100%;">
                <strong>Create Snapshot</strong>
              </button>
            </div>
            <div class="col-2" *ngIf="virtualMachine?.status === virtualMachineStates.staticACTIVE ||
            virtualMachine?.status === virtualMachineStates.staticSHUTOFF">
              <button type="button" class="btn btn-danger" style="width:100%;">
                <strong>Delete VM</strong>
              </button>
            </div>
            <div class="col-2" *ngIf="virtualMachine?.status === virtualMachineStates.staticACTIVE">
              <button type="button" class="btn btn-success" style="width:100%;">
                <strong>Restart VM</strong>
              </button>
            </div>
          </div>
        </div>

      </div>

      <div class="card">
        <div class="card-header"><span class="font-weight-bold text-muted">Flavor Information</span></div>
        <div class="card-body">
          <div class="row">
            <div class="col-4">
              <div class="callout">
                <small class="text-muted">Name</small><br>
                <strong class="text-muted">{{virtualMachine?.flavor?.name}}</strong>
              </div>
            </div>
            <div class="col-2">
              <div class="callout">
                <small class="text-muted">Number of VCPUs</small><br>
                <strong class="text-muted">{{virtualMachine?.flavor?.vcpus}}</strong>
              </div>
            </div>
            <div class="col-2">
              <div class="callout">
                <small class="text-muted">RAM</small><br>
                <strong class="text-muted">{{virtualMachine?.flavor?.ram}} GB</strong>
              </div>
            </div>
            <div class="col-2">
              <div class="callout">
                <small class="text-muted">Rootdisk</small><br>
                <strong class="text-muted">{{virtualMachine?.flavor?.rootdisk}} GB</strong>
              </div>
            </div>
            <div class="col-2">
              <div class="callout">
                <small class="text-muted">Ephemeral disk</small><br>
                <strong class="text-muted">{{virtualMachine?.flavor?.epheremal_disk}} GB</strong>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4" *ngIf="virtualMachine?.flavor?.type?.long_name != 'Standard Flavours'">
              <div class="callout">
                <small class="text-muted">Flavor type</small><br>
                <strong class="text-muted">{{virtualMachine?.flavor?.type?.long_name}}</strong>
              </div>
            </div>
            <div class="col-2" *ngIf="virtualMachine?.flavor?.type.shortcut === 'GPU' && virtualMachine?.flavor?.gpu > 0">
              <div class="callout">
                <small class="text-muted">GPU cores</small><br>
                <strong class="text-muted">{{virtualMachine?.flavor?.gpu}}</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6" *ngIf="virtualMachine?.flavor?.comment">
              <div class="callout">
                <small class="text-muted">Comment</small><br>
                <strong><small class="text-muted">{{virtualMachine?.flavor?.comment}}</small></strong>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card">
        <div class="card-header"><span class="font-weight-bold text-muted">Image Information</span></div>
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <div class="callout">
                <small class="text-muted">Name (will be replaced by logo)</small><br>
                <strong class="text-muted">{{virtualMachine?.image}}</strong>
              </div>
            </div>
            <div class="col-4">
              <div class="callout">
                <small class="text-muted">Name</small><br>
                <strong class="text-muted">{{virtualMachine?.image}}</strong>
              </div>
            </div>
            <div class="col-2" *ngIf="image?.is_snapshot">
              <div class="callout callout-warning">
                <small class="text-muted"></small>Image-Type<br>
                <strong class="text-muted">Snapshot</strong>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12" *ngIf="image?.description">
            <div class="callout">
              <small class="text-muted">Description</small><br>
              <small class="text-muted font-weight-bold">{{image?.description}}</small>
            </div>
          </div>
          </div>
        </div>
      </div>

      <div class="card" *ngIf="false">  <!--need additional field to check if vm was started with packages-->
        <div class="card-header"><span class="font-weight-bold text-muted">Conda Information</span></div>
        <div class="card-body">
          <!-- show packages etc here -->
        </div>
      </div>


    </div>
  </div>
</div>
