.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dot-colorless {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
