<div class="card">
    <div class="card-header">
        <strong>Volumes</strong>
        –Overview
    </div>
    <div>
        <div>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                    <tr>
                        <th>Project</th>
                        <th>Virtual Machine</th>
                        <th>Openstack Id</th>
                        <th>Size</th>
                        <th>Actions</th>
                        <!-- th>Client</th-->

                    </tr>

                    </thead>
                    <tbody>
                    <tr *ngFor="let volume of volumes">
                        <td>{{volume.volume_project}}</td>
                        <td *ngIf="volume.volume_virtualmachine">{{volume.volume_virtualmachine.name}}</td>
                        <td *ngIf="!volume.volume_virtualmachine"></td>
                        <td>{{volume.volume_openstackid}}</td>
                        <td>{{volume.volume_size }} GB</td>
                        <td>
                            <div class="btn-group {{collapse_status[volume.volume_openstackid]}}">
                                <button class="btn btn-secondary" type="button">Attach Volume</button>
                                <button class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                                        data-toggle="dropdown"
                                        type="button" aria-haspopup="true" aria-expanded="false"
                                        (click)="getCollapseStatus(volume.volume_openstackid)"></button>
                                <ul class="dropdown-menu " role="menu">
                                    <li role="menuitem">
                                        <a class="dropdown-item">Detach Volume</a>
                                    </li>

                                    <li role="menuitem">
                                        <a class="dropdown-item" (click)="deleteVolume(volume.volume_openstackid);">Delete
                                            Volume</a>
                                    </li>
                                </ul>
                            </div>


                        </td>

                        <!-- td>{{volume.volume_client.host}} : {{volume.volume_client.port}}</td-->

                    </tr>

                    </tbody>

                </table>
            </div>


        </div>
    </div>
</div>
