.breadcrumb-menu ***REMOVED***
  position: absolute;
  top: 0;
  right: $breadcrumb-padding-x;

  &::before ***REMOVED***
    display: none;
  ***REMOVED***

  .btn ***REMOVED***
    padding-top: $breadcrumb-padding-y;
    padding-bottom: $breadcrumb-padding-y;
  ***REMOVED***

  .btn.btn-secondary ***REMOVED***
    color: $text-muted;
    border: 0;

    &:hover, &.active ***REMOVED***
      color: $body-color;
      background: transparent;
    ***REMOVED***
  ***REMOVED***

  .open ***REMOVED***
    .btn.btn-secondary ***REMOVED***
      color: $body-color;
      background: transparent;
    ***REMOVED***
  ***REMOVED***

  .dropdown-menu ***REMOVED***
    min-width: 180px;
    line-height: $line-height-base;
  ***REMOVED***
***REMOVED***
