// IE10&11 Flexbox fix
@media all and (-ms-high-contrast:none) ***REMOVED***
  html ***REMOVED***
    display: flex;
    flex-direction: column;
  ***REMOVED***
***REMOVED***

// app-dashboard and app-root are Angular2 selectors. You can add here your own selectors if you need.
.app,
app-dashboard,
app-root ***REMOVED***
  display: flex;
  flex-direction: column;
  min-height: 100vh;
***REMOVED***

.app-header ***REMOVED***
  flex: 0 0 $navbar-height;
***REMOVED***

.app-footer ***REMOVED***
  flex: 0 0 $footer-height;
***REMOVED***

.app-body ***REMOVED***
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;

  .main ***REMOVED***
    flex: 1;
    min-width: 0;
  ***REMOVED***

  .sidebar ***REMOVED***
    // $sidebar-width is the width of the columns
    flex: 0 0 $sidebar-width;
    // put the nav on the left
    order: -1;
  ***REMOVED***

  .aside-menu ***REMOVED***
    // $aside-menu-width is the width of the columns
    flex: 0 0 $aside-menu-width;
  ***REMOVED***
***REMOVED***

//
// header
//
.header-fixed ***REMOVED***
  .app-header ***REMOVED***
    position: fixed;
    z-index: $zindex-sticky;
    width: 100%;
  ***REMOVED***
  .app-body ***REMOVED***
    margin-top: $navbar-height;
  ***REMOVED***
***REMOVED***

//
// Sidebar
//
.sidebar-hidden ***REMOVED***

  .sidebar ***REMOVED***
    margin-left: - $sidebar-width;
  ***REMOVED***
***REMOVED***

.sidebar-fixed ***REMOVED***

  .sidebar ***REMOVED***
    position: fixed;
    width: $sidebar-width;
    height: 100%;

    .sidebar-nav ***REMOVED***
      height: calc(100vh - #***REMOVED***$navbar-height***REMOVED***);
    ***REMOVED***
  ***REMOVED***

  .main, .app-footer ***REMOVED***
    margin-left: $sidebar-width;
  ***REMOVED***

  &.sidebar-hidden ***REMOVED***

    .main, .app-footer ***REMOVED***
      margin-left: 0;
    ***REMOVED***
  ***REMOVED***
***REMOVED***

.sidebar-off-canvas ***REMOVED***
  .sidebar ***REMOVED***
    position: fixed;
    z-index: $zindex-sticky - 1;
    height: 100%;


    .sidebar-nav ***REMOVED***
      height: calc(100vh - #***REMOVED***$navbar-height***REMOVED***);
    ***REMOVED***
  ***REMOVED***
***REMOVED***

@include media-breakpoint-up(lg) ***REMOVED***
  .sidebar-compact ***REMOVED***
    .sidebar ***REMOVED***
      flex: 0 0 $sidebar-compact-width;
    ***REMOVED***

    &.sidebar-hidden ***REMOVED***

      .sidebar ***REMOVED***
        margin-left: - $sidebar-compact-width;
      ***REMOVED***
    ***REMOVED***

    &.sidebar-fixed ***REMOVED***

      .main, .app-footer ***REMOVED***
        margin-left: $sidebar-compact-width;
      ***REMOVED***

      .sidebar ***REMOVED***
        width: $sidebar-compact-width;
      ***REMOVED***

      &.sidebar-hidden ***REMOVED***

        .main, .app-footer ***REMOVED***
          margin-left: 0;
        ***REMOVED***
      ***REMOVED***
    ***REMOVED***
  ***REMOVED***

  .sidebar-minimized ***REMOVED***
    .sidebar ***REMOVED***
      flex: 0 0 $sidebar-minimized-width;
    ***REMOVED***

    &.sidebar-hidden ***REMOVED***

      .sidebar ***REMOVED***
        margin-left: - $sidebar-minimized-width;
      ***REMOVED***
    ***REMOVED***

    &.sidebar-fixed ***REMOVED***

      .main, .app-footer ***REMOVED***
        margin-left: $sidebar-minimized-width;
      ***REMOVED***

      .sidebar ***REMOVED***
        width: $sidebar-minimized-width;
      ***REMOVED***

      &.sidebar-hidden ***REMOVED***

        .main, .app-footer ***REMOVED***
          margin-left: 0;
        ***REMOVED***
      ***REMOVED***
    ***REMOVED***
  ***REMOVED***
***REMOVED***

//
// Aside Menu
//
.aside-menu-hidden ***REMOVED***

  .aside-menu ***REMOVED***
    margin-right: - $aside-menu-width;
  ***REMOVED***
***REMOVED***

.aside-menu-fixed ***REMOVED***

  .aside-menu ***REMOVED***
    position: fixed;
    right: 0;
    height: 100%;

    .tab-content ***REMOVED***
      height: calc(100vh - #***REMOVED***$aside-menu-nav-padding-y * 2 + $font-size-base***REMOVED*** - #***REMOVED***$navbar-height***REMOVED***);
    ***REMOVED***
  ***REMOVED***

  .main, .app-footer ***REMOVED***
    margin-right: $aside-menu-width;
  ***REMOVED***

  &.aside-menu-hidden ***REMOVED***

    .main, .app-footer ***REMOVED***
      margin-right: 0;
    ***REMOVED***
  ***REMOVED***
***REMOVED***

.aside-menu-off-canvas ***REMOVED***
  .aside-menu ***REMOVED***
    position: fixed;
    right: 0;
    z-index: $zindex-sticky - 1;
    height: 100%;

    .tab-content ***REMOVED***
      height: calc(100vh - #***REMOVED***$aside-menu-nav-padding-y * 2 + $font-size-base***REMOVED*** - #***REMOVED***$navbar-height***REMOVED***);
    ***REMOVED***
  ***REMOVED***
***REMOVED***

//
// Footer
//
.footer-fixed ***REMOVED***

  .app-footer ***REMOVED***
    position: fixed;
    bottom: 0;
    z-index: $zindex-sticky;
    width: 100%;
  ***REMOVED***

  .app-body ***REMOVED***
    margin-bottom: $footer-height;
  ***REMOVED***
***REMOVED***

//
// Animations
//
.app-header,
.app-footer,
.sidebar,
.main,
.aside-menu ***REMOVED***
  transition: margin-left $layout-transition-speed, margin-right $layout-transition-speed, width $layout-transition-speed, flex $layout-transition-speed;
***REMOVED***

//
// Mobile layout
//

@include media-breakpoint-down(md) ***REMOVED***

  .app-header ***REMOVED***
    position: fixed !important;
    z-index: $zindex-sticky;
    width: 100%;

    .navbar-toggler ***REMOVED***
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: inherit;
    ***REMOVED***

    .navbar-toggler ***REMOVED***
      @if (lightness( $navbar-brand-bg ) > 40) ***REMOVED***
        color: $navbar-color;
      ***REMOVED*** @else ***REMOVED***
        color: #fff;
      ***REMOVED***
    ***REMOVED***

    .navbar-brand ***REMOVED***
      width: 100% !important;
      margin: 0 auto !important;
    ***REMOVED***

    .navbar-nav ***REMOVED***
      position: absolute;
      top: 0;
      right: 15px;
      height: inherit;
    ***REMOVED***
  ***REMOVED***

  .app-body ***REMOVED***
    margin-top: $navbar-height;
  ***REMOVED***

  .sidebar ***REMOVED***
    position: fixed;
    width: $mobile-sidebar-width;
    height: 100%;
    margin-left: - $mobile-sidebar-width;

    .sidebar-nav,
    .nav ***REMOVED***
      width: $mobile-sidebar-width !important;
    ***REMOVED***
  ***REMOVED***

  .main, .app-footer ***REMOVED***
    margin-left: 0 !important;
  ***REMOVED***

  .aside-menu ***REMOVED***
    margin-right: - $aside-menu-width;
  ***REMOVED***

  .sidebar-mobile-show ***REMOVED***

    .sidebar ***REMOVED***
      width: $mobile-sidebar-width;
      margin-left: 0;

      .sidebar-nav ***REMOVED***
        height: calc(100vh - #***REMOVED***$navbar-height***REMOVED***);
      ***REMOVED***
    ***REMOVED***

    .main ***REMOVED***
      margin-right: - $mobile-sidebar-width !important;
      margin-left: $mobile-sidebar-width !important;
    ***REMOVED***
  ***REMOVED***
***REMOVED***
