.table-outline ***REMOVED***
  border: 1px solid $table-border-color;

  td ***REMOVED***
    vertical-align: middle;
  ***REMOVED***
***REMOVED***

.table-align-middle ***REMOVED***

  td ***REMOVED***
    vertical-align: middle;
  ***REMOVED***
***REMOVED***

.table-clear ***REMOVED***
  td ***REMOVED***
    border: 0;
  ***REMOVED***
***REMOVED***
