.pagination-datatables, .pagination ***REMOVED***
  li ***REMOVED***
    @extend .page-item;

    a ***REMOVED***
      @extend .page-link;
    ***REMOVED***
  ***REMOVED***
***REMOVED***

.label-pill ***REMOVED***
  border-radius: 1rem !important;
***REMOVED***

// temp fix for Vue-Strap

// Open state for the dropdown
.open ***REMOVED***
  // Show the menu
  > .dropdown-menu ***REMOVED***
    display: block;
  ***REMOVED***

  // Remove the outline when :focus is triggered
  > a ***REMOVED***
    outline: 0;
  ***REMOVED***
***REMOVED***

// navbar dropdown fix
.navbar .dropdown-toggle ***REMOVED***
  @extend .nav-link;

  .img-avatar ***REMOVED***
    height: $navbar-height - 20px;
    margin: 0 10px;
  ***REMOVED***
***REMOVED***
