.card {
	border-style: none;
	box-shadow: rgb(153, 153, 153) 10px 10px 20px -10px;
	max-height: 18rem;
	min-height: 18rem;
	transition: 1s ease-in-out;
	max-width: 500px;
}

.card:hover {
	box-shadow: rgb(87, 87, 87) 10px 10px 20px -10px;
}

.card .card-img-overlay {
	visibility: hidden;
}

.card:hover .card-img-overlay {
	visibility: visible;
}

.card:hover .card-img {
	visibility: hidden;
}

.card .card-img {
	visibility: visible;
}

.card-title i {
	margin: 5px;
	font-size: 10pt;
}

.custom-thumbtack {
	position:absolute;
	z-index: 3;
	left: 95%;
	transform: rotate(45deg);
}
