<div *ngIf="isLoaded==false" class="loader"></div>

<div *ngIf="isLoaded" class="animated fadeIn" ng-app style="width: 100%">
    <div class="row">
        <!--/.col-->
        <h1 *ngIf="selectedFacility">Vo Resources Overview


        </h1>
        <div class="card" style="width: 100%">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Resources

            </div>
            <div id="contentToConvert" class="card-block" style="width: 100%">


                <table class="table table-responsive table-striped table-bordered table"
                       style="width: 100%">
                    <thead>
                    <th></th>

                    <th *ngFor="let r of voResources">{{r.resource_name}}</th>
                    <th>{{totalResource.resource_name}}</th>
                    </thead>
                    <tbody>

                    <tr>
                        <th>&nbsp;Ram [GB]</th>
                        <td *ngFor="let r of voResources">{{r.totalRam}}</td>

                        <td>&nbsp;{{totalResource.totalRam}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Cores</th>
                        <td *ngFor="let r of voResources">{{r.totalCores}}</td>

                        <td>&nbsp;{{totalResource.totalCores}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Vms</th>
                        <td *ngFor="let r of voResources">{{r.totalVms}}</td>

                        <td>&nbsp;{{totalResource.totalVms}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Volumes</th>
                        <td *ngFor="let r of voResources">{{r.totalVolumeCounter}}</td>

                        <td>&nbsp;{{totalResource.totalVolumeCounter}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Volumes Storage [GB]</th>
                        <td *ngFor="let r of voResources">{{r.totalVolumeLimit}}</td>

                        <td>&nbsp;{{totalResource.totalVolumeLimit}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Object Storage [GB]</th>
                        <td *ngFor="let r of voResources">{{r.totalObjectStorage}}</td>

                        <td>&nbsp;{{totalResource.totalObjectStorage}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;FPGA</th>
                        <td *ngFor="let r of voResources">{{r.totalFPGA}}</td>

                        <td>&nbsp;{{totalResource.totalFPGA}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;GPU</th>
                        <td *ngFor="let r of voResources">{{r.totalGPU}}</td>

                        <td>&nbsp;{{totalResource.totalGPU}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <button (click)="captureScreen()">Download PDF</button>
            <!-- DivTable.com -->
        </div>
        <!--/.col-->
    </div>
</div>
