<div *ngIf="isLoaded==false" class="loader"></div>

<div *ngIf="isLoaded" class="animated fadeIn" ng-app>
    <div>
        <div class="card" style="width:100%;;">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Resources

            </div>
            <div id="resourcesTable" class="card-body" style="width: 100%">


                <div class="table-responsive">
                    <table class="table table-hover table-bordered"
                           style="width: 100%">
                        <thead>
                        <tr>
                            <th>{{today | date:'dd-MM-yyyy'}}</th>

                            <th *ngFor="let r of voResources">{{r.resource_name}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <th>Ram [GB]</th>
                            <td *ngFor="let r of voResources">{{r.totalRam}}</td>
                        </tr>
                        <tr>
                            <th>Cores</th>
                            <td *ngFor="let r of voResources">{{r.totalCores}}</td>

                        </tr>
                        <tr>
                            <th>Vms</th>
                            <td *ngFor="let r of voResources">{{r.totalVms}}</td>
                        </tr>
                        <tr>
                            <th>Volumes</th>
                            <td *ngFor="let r of voResources">{{r.totalVolumeCounter}}</td>

                        </tr>
                        <tr>
                            <th>Volumes Storage [GB]</th>
                            <td *ngFor="let r of voResources">{{r.totalVolumeLimit}}</td>

                        </tr>
                        <tr>
                            <th>Object Storage [GB]</th>
                            <td *ngFor="let r of voResources">{{r.totalObjectStorage}}</td>

                        </tr>
                        <tr>
                            <th>GPU</th>
                            <td *ngFor="let r of voResources">{{r.totalGPU}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div>
                <button (click)="tableToPDF()">Download PDF</button>
                <button (click)="tableToCSV()">Download CSV</button>
            </div>
            <!-- DivTable.com -->
        </div>
        <!--/.col-->
    </div>
</div>
