<div *ngIf="isLoaded === false" class="loader"></div>

<div *ngIf="isLoaded" class="animated fadeIn" ng-app>
    <div>
        <div class="card" style="width:100%;;">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Resources

            </div>
            <div #resourcesTable id="resourcesTable" class="card-body" style="width: 100%">


                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover"
                           style="width: 100%">
                        <thead>
                        <tr>
                            <th>{{today | date:'dd-MM-yyyy'}}</th>

                            <th *ngFor="let r of voResources">{{r.resource_name}}</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                          <th>Ram [GB]</th>
                          <td *ngFor="let r of voResources">
                  <span
                    *ngIf="!(r.totalRamGeneralPurpose || r.totalRamMidClass || r.totalRamHighMemory)">{{r.totalRam}}</span>
                            <table *ngIf="r.totalRamGeneralPurpose || r.totalRamMidClass || r.totalRamHighMemory">
                              <tr>
                                <th class="table-primary">Total</th>
                                <th class="table-primary">{{r.totalRam}}</th>

                              </tr>
                              <tr>
                                <td>General Purpose<br></td>
                                <td>{{r.totalRamGeneralPurpose}}</td>

                              </tr>
                              <tr>
                                <td>Mid Class<br></td>
                                <td>{{r.totalRamMidClass}}</td>

                              </tr>
                              <tr>
                                <td>High Memory<br></td>
                                <td>{{r.totalRamHighMemory}}</td>

                              </tr>
                            </table>


                          </td>
                        </tr>
                        <tr>
                          <th>Cores</th>
                          <td *ngFor="let r of voResources">
                  <span
                    *ngIf="!(r.totalCoresGeneralPurpose || r.totalCoresMidClass || r.totalCoresHighMemory)">{{r.totalCores}}</span>
                            <table *ngIf="r.totalCoresGeneralPurpose || r.totalCoresMidClass || r.totalCoresHighMemory">
                              <tr>
                                <th class="table-primary">Total</th>
                                <th class="table-primary">{{r.totalCores}}</th>

                              </tr>
                              <tr>
                                <td>General Purpose<br></td>
                                <td>{{r.totalCoresGeneralPurpose}}</td>

                              </tr>
                              <tr>
                                <td>Mid Class<br></td>
                                <td>{{r.totalCoresMidClass}}</td>

                              </tr>
                              <tr>
                                <td>High Memory<br></td>
                                <td>{{r.totalCoresHighMemory}}</td>

                              </tr>
                            </table>


                          </td>

                        </tr>
                        <tr>
                            <th>Vms</th>
                            <td *ngFor="let r of voResources">{{r.totalVms}}</td>
                        </tr>
                        <tr>
                            <th>Volumes</th>
                            <td *ngFor="let r of voResources">{{r.totalVolumeCounter}}</td>

                        </tr>
                        <tr>
                            <th>Volumes Storage [GB]</th>
                            <td *ngFor="let r of voResources">{{r.totalVolumeLimit}}</td>

                        </tr>
                        <tr>
                            <th>Object Storage [GB]</th>
                            <td *ngFor="let r of voResources">{{r.totalObjectStorage}}</td>

                        </tr>
                        <tr>
                            <th>GPU</th>
                            <td *ngFor="let r of voResources">{{r.totalGPU}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div>
               <!-- <button (click)="tableToPDF()">Download PDF</button> -->
                <button (click)="tableToCSV()">Download CSV</button>
            </div>
            <!-- DivTable.com -->
        </div>
        <!--/.col-->
    </div>
</div>
