<div class="card">
	<div class="card-header">Timeframes</div>
	<div class="card-body">
		<h5 class="card-title">Workshop Timeframes</h5>
		<div *ngIf="!workshopTimeFramesLoaded">
			<span class="spinner-border-sm"></span>
		</div>
		<div *ngIf="workshopTimeFramesLoaded">
			<div class="alert alert-info">Note that only future and already running timeframes are displayed here.</div>
			<table class="table" *ngIf="workshopTimeFrames.length > 0 && !errorWorkshopTimeFrames">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Start time</th>
						<th scope="col">End time</th>
						<th scope="col">Project</th>
						<th scope="col">Workshop</th>
						<th scope="col">Description</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let wstimeframe of this.workshopTimeFrames; let i = index">
						<th scope="row">{{ i + 1 }}</th>
						<td>{{ wstimeframe.start_time | date : 'dd/MM/yy HH:mm' : 'de' }}</td>
						<td>{{ wstimeframe.end_time | date : 'dd/MM/yy HH:mm' : 'de' }}</td>
						<td>{{ wstimeframe.project.project_application_shortname }}</td>
						<td>{{ wstimeframe.workshop?.longname }}</td>
						<td>{{ wstimeframe.description }}</td>
					</tr>
				</tbody>
			</table>

			<div class="alert alert-danger" *ngIf="errorWorkshopTimeFrames">
				An error occurred loading the entered workshop timeframes!
			</div>
		</div>
	</div>
	<div class="card-body">
		<h5 class="card-title">Maintenance Timeframes</h5>
		<div *ngIf="!maintenanceTimeFramesLoaded">
			<span class="spinner-border-sm"></span>
		</div>
		<div>
			<table class="table" *ngIf="maintenanceTimeFrames.length > 0 && !errorMaintenanceTimeFrames">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Start time</th>
						<th scope="col">End time</th>
						<th scope="col">Name</th>
						<th scope="col">Message</th>
						<th scope="col">Significant</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let mtf of this.maintenanceTimeFrames; let i = index">
						<th scope="row">{{ i + 1 }}</th>
						<td>{{ mtf.start_time | date : 'dd/MM/yy HH:mm' : 'de' }}</td>
						<td>{{ mtf.end_time | date : 'dd/MM/yy HH:mm' : 'de' }}</td>
						<td>{{ mtf.name }}</td>
						<td>{{ mtf.message.length > 25 ? (mtf.message | slice : 0 : 25) + '...' : mtf.message }}</td>
						<td>
							<span class="badge badge-danger" *ngIf="mtf.significant"
								><i class="fa-solid fa-circle-exclamation"></i> Yes</span
							>
							<span class="badge badge-info" *ngIf="!mtf.significant"><i class="fa-solid fa-square-minus"></i> No</span>
						</td>
						<td>
							<div class="btn-group">
								<button class="btn btn-info" role="button" (click)="switchSignificance(mtf)">
									{{ mtf.significant ? 'Remove' : 'Set' }} Significance
								</button>
								<button class="btn btn-danger" role="button" (click)="deleteTimeFrame(mtf)">Delete</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="alert alert-danger" *ngIf="errorMaintenanceTimeFrames">
			An error occurred loading the entered maintenance timeframes!
		</div>
	</div>
	<div class="card-body">
		<h5 class="card-title">Add new maintenance timeframe</h5>
		<div class="alert alert-info">
			<strong>Please consider</strong>: The time entered is <strong>depending on the timezone of your browser.</strong>.
		</div>
		<form id="new_timeframe_form" [formGroup]="addTimeFrameForm" class="form-horizontal">
			<!--
			<label class="col-md-4 form-control-label" for="id_project_application_lifetime"
								><strong
									>Desired lifetime<i class="fa fa-asterisk" aria-hidden="true"></i>
									<i data-balloon="Lifetime in months of your project" data-balloon-pos="right">
										<i class="icon-question" style="cursor: pointer"></i></i></strong
							></label>
							<div class="col-md-8">
								<div class="input-group">
									<input
										class="form-control"
										data-test-id="project_application_lifetime_input"
										id="id_project_application_lifetime"
										name="project_application_lifetime"
										placeholder="e.g 3"
										[(ngModel)]="application.project_application_lifetime"
										max="{{ max_lifetime }}"
										min="1"
										required
										step="1"
										type="number"
										appMinAmount="1"
										appMaxAmount="{{ max_lifetime }}"
										appInteger
										pattern="^([1-9]|1[012])$"
										[ngClass]="{
											'is-invalid':
												form.controls.project_application_lifetime?.invalid &&
												(form.controls.project_application_lifetime?.dirty ||
													form.controls.project_application_lifetime?.touched),
											'is-valid':
												form.controls.project_application_lifetime?.valid &&
												(form.controls.project_application_lifetime?.dirty ||
													form.controls.project_application_lifetime?.touched)
										}"
									/> -->

			<div class="form-group row">
				<label class="col-md-4 form-control-label" for="date_change"
					><strong
						>Timeframe<i class="fa fa-asterisk" aria-hidden="true"></i>
						<i data-balloon="Start and end of the maintenance" data-balloon-pos="right">
							<i class="icon-question" style="cursor: pointer"></i></i></strong
				></label>
				<div class="mb-3 mx-auto col-md-auto">
					<app-datepicker id="date_change" (dayChange)="dayChanged($event)"></app-datepicker>
				</div>

				<div class="mb-3 mx-auto col-md-auto">
					<label class="form-label">Start Time</label>
					<app-timepicker (timeChange)="startTimeChanged($event)"></app-timepicker>
				</div>

				<div class="mb-3 mx-auto col-md-auto">
					<label class="form-label">End Time</label>
					<app-timepicker (timeChange)="endTimeChanged($event)"></app-timepicker>
				</div>
				<span class="help-block">Please enter the start and end of the maintenance</span>
			</div>

			<div class="form-group row">
				<label class="col-md-4 form-control-label" for="name_input_field">
					<strong>Name</strong>
				</label>
				<div class="col-md-8">
					<div class="input-group">
						<input
							type="text"
							required
							class="form-control"
							formControlName="name_input_field"
							id="name_input_field"
							aria-describedby="descriptionHelp"
							[(ngModel)]="newMaintenanceTimeFrame.name"
							[ngClass]="{
								'is-invalid':
									(f['name_input_field'].dirty || f['name_input_field'].touched) && f['name_input_field'].invalid,
								'is-valid': f['name_input_field'].valid
							}"
						/>
					</div>
					<span class="help-block"> Please enter an expressive title for the maintenance. </span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-4 form-control-label" for="message_input_field">
					<strong>Message</strong>
				</label>
				<div class="col-md-8">
					<textarea
						rows="8"
						type="text"
						class="form-control input-lg"
						id="message_input_field"
						data-test-id="message_input_field"
						placeholder="Please enter a description which provides information on the future maintenance."
						name="public_key"
						[(ngModel)]="newMaintenanceTimeFrame.message"
						[ngModelOptions]="{ standalone: true }"
					></textarea>
					<span class="help-block">
						Please enter the a message which provides all relevant information on the future maintenance.
					</span>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-md-4 form-control-label" for="significance_input">
					<strong> Significant maintenance </strong>
				</label>
				<div class="col-md-8">
					<input
						class="form-check-input"
						id="significance_input"
						type="checkbox"
						[(ngModel)]="newMaintenanceTimeFrame.significant"
						[ngModelOptions]="{ standalone: true }"
					/>
					<label>Significant</label>
					<br />
					<span class="help-block text-danger">
						Please mark this checkbox, when the this maintenance is to be particularly emphasized because there is
						action required by the user or it is otherwise particularly important.
					</span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-md-4">
					<button
						class="btn btn-outline-primary"
						(click)="checkData(); this.confirmModal.show()"
						[disabled]="!(this.newMaintenanceTimeFrame | isValidTimeFrame)"
					>
						Add new timeframe
					</button>
				</div>
				<div
					class="col-md-auto"
					*ngIf="
						!(this.newMaintenanceTimeFrame | isValidTimeFrame) ||
						this.addTimeFrameForm.controls['name_input_field'].invalid
					"
				>
					<div class="alert alert-info">
						Please select a timeframe, where the start time is before the end time and in the future!
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div
	bsModal
	#confirmModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-hidden="true"
	id="confirmModal"
>
	<div class="modal-dialog modal-info modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Confirm new timeframe</h4>
			</div>
			<div class="modal-body">
				<div *ngIf="!this.timeSpotsChecked">
					<span class="spinner-border-sm"></span>
				</div>
				<div *ngIf="this.timeSpotsChecked">
					<div class="alert alert-success" *ngIf="!this.timeSpotCritical">
						There are no entered timeframes which collide with this maintenance timeframe.
					</div>
					<div class="alert alert-warning" *ngIf="this.timeSpotCritical">
						Please check the listed timeframes below. These may collide with the maintenance timeframe you want to
						enter.
					</div>
					<div>
						<strong>Your timeframe</strong>
						<ul class="list-group">
							<li class="list-group-item text-center">
								<strong
									>{{ newMaintenanceTimeFrame.start_time | date : 'dd/MM/yy HH:mm' : '+0100' }} -
									{{ newMaintenanceTimeFrame.end_time | date : 'dd/MM/yy HH:mm' : '+0100' }}</strong
								>
							</li>
						</ul>
					</div>
					<table class="table" *ngIf="timeSpotCritical">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Workshop</th>
								<th scope="col">Timeframe</th>
								<th scope="col">Description</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let critTimeFrame of this.criticalTimeSpots; let i = index">
								<th scope="row">{{ i + 1 }}</th>
								<td>{{ critTimeFrame.workshop.longname }}</td>
								<td>
									{{ critTimeFrame.start_time | date : 'dd/MM/yy HH:mm' : '+0100' }} -
									{{ critTimeFrame.end_time | date : 'dd/MM/yy HH:mm' : '+0100' }}
								</td>
								<td>{{ critTimeFrame.description }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<div class="row">
					<div class="col">
						<button class="btn btn-success" (click)="confirmModal.hide(); this.createNewTimeFrame()">Confirm</button>
					</div>
					<div class="col">
						<button class="btn btn-info" (click)="confirmModal.hide()">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
