        <div *ngIf="!project?.OpenStackProject" role="alert">
          <table class="table table-striped table-bordered">

            <tbody>
            <tr>
              <th colspan="3">Virtual Machines</th>

            </tr>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
            <tr *ngFor="let vm of selectedProjectVms">
              <td>{{vm?.openstackid}}</td>
              <td>{{vm?.name}}</td>

            </tr>
            </tbody>
          </table>
          <table class="table table-striped table-bordered">
            <tbody>


            <tr>
              <th colspan="3">Volumes</th>

            </tr>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
            <tr *ngFor="let volume of selectedProjectVolumes">
              <td>{{volume?.volume_openstackid}}</td>
              <td>{{volume?.volume_name}}</td>

            </tr>

            </tbody>
          </table>
          <table class="table table-striped table-bordered">
            <tbody>


            <tr>
              <th colspan="3">Snapshots</th>

            </tr>
            <tr>
              <th>Id</th>
              <th>Name</th>
            </tr>
            <tr *ngFor="let snapshot of selectedProjectSnapshots">
              <td>{{snapshot?.snapshot_openstackid}}</td>
              <td>{{snapshot?.snapshot_name}}</td>

            </tr>

            </tbody>
          </table>
        </div>
