
<div class="card" id="{{vsFactor?.id + '_card'}}" *ngFor="let vsFactor of volumeStorageFactors"
     style="margin:5px;" [ngClass]="this.volumeUpdateList[vsFactor.id] ? 'border-warning' : 'border-primary'">
  <div class="card-body">
    <div class="row">
      <div class="col-2" style="margin:5px;">
        <div class="text-muted"><small>Actions</small></div>
        <div class="btn-group-vertical" role="group">
          <button (click)="deleteVolumeStorageFactor(vsFactor.id)" class="btn btn-danger"
                  *ngIf="!this.volumeUpdateList[vsFactor.id]">Remove
          </button>
          <button class="btn btn-warning" (click)="changeVolumeStorageToUpdate(vsFactor);"
                  *ngIf="!this.volumeUpdateList[vsFactor.id]">Update</button>
          <button (click)="updateVolumeStorageFactor(vsFactor); changeVolumeStorageToUpdate(vsFactor);"
                  class="btn btn-success" *ngIf="this.volumeUpdateList[vsFactor.id]">Save
          </button>
          <button class="btn btn-info" *ngIf="this.volumeUpdateList[vsFactor.id]"
                  (click)="reloadVolumeStorageFactor(vsFactor); changeVolumeStorageToUpdate(vsFactor);">Cancel
          </button>
        </div>
      </div>
      <div class="col-4" style="margin:5px;">
        <div class="text-muted"><small>Storage</small></div>
        <div class="form-group row">
          <label for="{{vsFactor?.id + '_storage'}}">Amount</label>
          <div class="input-group mb-3">
            <input class="form-control" type="number" min="1" [disabled]="!this.volumeUpdateList[vsFactor.id]"
                   [(ngModel)]="vsFactor.storage" id="{{vsFactor?.id + '_storage'}}">
            <div class="input-group-append">
              <span class="input-group-text">TB</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3" style="margin:5px;">
        <div class="text-muted"><small>Description</small></div>
        <div class="form-group row">
          <div class="input-group mb-3">
            <textarea class="form-control" type="textfield" [disabled]="!this.volumeUpdateList[vsFactor.id]"
                      [(ngModel)]="vsFactor.description" id="{{vsFactor?.id + '_description'}}"></textarea>
          </div>
        </div>
      </div>
      <div class="col-1" style="margin:5px;">
        <div class="text-muted"><small>Visibility</small></div>
        <div class="form-group row">
          <label for="{{vsFactor?.id + '_visibility'}}">Public</label>
          <div class="input-group mb-3">
            <input class="form-control"  type="checkbox" [(ngModel)]="vsFactor.public"
                   [disabled]="!this.volumeUpdateList[vsFactor.id]" id="{{vsFactor?.id + '_visibility'}}">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card border-success" id="new_volume_card" style="margin:5px;">
  <div class="card-body">
    <div class="row">
      <div class="col-2" style="margin:5px;">
        <div class="text-muted"><small>Actions</small></div>
        <div class="btn-group-vertical" role="group">
          <button style="cursor: pointer;" class="btn btn-success"
                  [disabled]="!newFactor.storage" (click)="addVolumeStorageFactor();">Save</button>
        </div>
      </div>
      <div class="col-4" style="margin:5px;">
        <div class="text-muted"><small>Storage</small></div>
        <div class="form-group row">
          <label for="new_volume_storage">Amount</label>
          <div class="input-group mb-3">
            <input class="form-control" type="number" min="1" [(ngModel)]="newFactor.storage" id="new_volume_storage">
            <div class="input-group-append">
              <span class="input-group-text">TB</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3" style="margin:5px;">
        <div class="text-muted"><small>Description</small></div>
        <div class="form-group row">
          <div class="input-group mb-3">
            <textarea class="form-control" type="textfield"
                      [(ngModel)]="newFactor.description" id="new_volume_description"></textarea>
          </div>
        </div>
      </div>
      <div class="col-1" style="margin:5px;">
        <div class="text-muted"><small>Visibility</small></div>
        <div class="form-group row">
          <label for="new_volume_visibility">Public</label>
          <div class="input-group mb-3">
            <input [(ngModel)]="newFactor.public" type="checkbox" id="new_volume_visibility">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





