<div class="animated fadeIn" ng-app>
    <div class="row">
        <!--/.col-->
        <h1>Hello, {{ userinfo.FirstName }} {{ userinfo.LastName }}</h1>
    </div>
    <div class="row">
        <h3>This is your personal data page.</h3>
    </div>
    <div class="row">
        <div>
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Personal Information
                </div>
                <div class="card-block">
                    <table class="table table-striped">
                        <tr>
                            <td>Full name</td>
                            <td>{{ userinfo.FirstName }} {{ userinfo.LastName }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>User ID</td>
                            <td>{{ userinfo.Id }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Member ID</td>
                            <td>{{ userinfo.MemberId }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Elixir Login</td>
                            <td>{{ userinfo.UserLogin }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Elixir ID</td>
                            <td>{{userinfo.ElxirId}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Public Key</td>
                            <td *ngIf="userinfo.PublicKey == 'None'">No public key is set</td>
                            <td *ngIf="userinfo.PublicKey != 'None'"
                                style="word-wrap: break-word;min-width: 110px; max-width: 110px; white-space: normal">
                                <button *ngIf="userinfo.PublicKey" (click)="toggleKey()"
                                        class="btn btn-primary">
                                    {{key}}
                                </button>
                                <div *ngIf="key_visible"><br>{{userinfo.PublicKey}}</div>
                            </td>
                            <td>

                                <alert type="info">

                                    <strong>Tutorial:</strong><a target="_blank"
                                                                 href="https://cloud.denbi.de/wiki/quickstart/#generate-ssh-keys">
                                    How
                                    to generate a ssh keypair?</a>
                                </alert>

                                <button class="btn btn-primary" type="button" (click)="pubKeyModal.show()">Set pubkey
                                </button>


                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div bsModal #pubKeyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Set public key</h4>
            </div>
            <div class="modal-body">
                <alert type="info" *ngIf="public_key?.length ==0 || public_key == None">
                    <strong>Info: </strong> Enter a valid public key!

                </alert>


                <alert type="success" *ngIf="validatePublicKey()">
                    <strong>Info: </strong> This is a valid public Key!
                </alert>
                <alert type="danger" *ngIf="!validatePublicKey() && public_key?.length >0">
                    <strong>Warning</strong> This is not a valid public key!
                </alert>
                <textarea type="text" class="form-control input-lg"
                          placeholder="Enter a new valid public key." name="public_key" [(ngModel)]="public_key"
                          #publickey></textarea>

                <br>



                    <alert *ngIf="validatePublicKey()" type="danger">
                        <strong>Warning!</strong> If the key is changed,all your running machines may become
                        unreachable!
                    </alert>
            </div>

 
            <div class="modal-footer">



                <button [disabled]="!validatePublicKey()"
                        class="btn btn-success col-md4" type="button"
                        (click)="importKey(publickey.value, userinfo.ElxirId);show_key();pubKeyModal.hide();">Set
                </button>
                <button class="btn  btn-primary col-md-4" type="reset" (click)="pubKeyModal.hide();">Cancel
                </button>

            </div>
        </div><!-- /.modal-content -->L
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
