<div *ngIf="isLoaded === false" class="loader"></div>
<div *ngIf="isLoaded" class="animated fadeIn">
	<app-news> </app-news>
	<div class="card" style="">
		<div class="card-header"><i class="fa fa-align-justify"></i> Profile Information</div>
		<div class="card-body container-fluid">
			<div class="table-responsive">
				<table class="table table-hover">
					<tbody>
						<tr style="border-top-style: none">
							<td class="col-3" style="border-top-style: none">
								<strong>LifeScience Login</strong>
								<div class="alert alert-primary" style="margin-top: 5px; margin-bottom: 0px">
									<strong>
										Read more about linking accounts
										<a target="_blank" rel="noopener noreferrer" class="alert-link" href="{{ WIKI_LINK_ACCOUNTS }}"
											>here.</a
										>
									</strong>
								</div>
							</td>
							<td class="col-6" style="border-top-style: none">{{ userInfo?.UserLogin }}</td>
							<td class="col-3" style="border-top-style: none">
								<div class="btn-group-vertical">
									<a
										class="btn btn-primary"
										href="{{ LIFESCIENCE_LINKING_ACCOUNTS }}"
										target="_blank"
										style="color: #fff"
										rel="noopener noreferrer"
										>Link accounts</a
									>
									<button class="btn btn-primary" type="button" (click)="this.getUserSummary(); leaveVoModal.show()">
										Leave Virtual Organisation
									</button>
								</div>
							</td>
						</tr>
						<tr>
							<td class="col-3">
								<div class="row" style="margin-bottom: 5px">
									<strong class="col">Elixir ID</strong>
								</div>
								<div class="row"></div>
							</td>
							<td class="col-8">{{ userInfo?.ElixirId }}</td>
							<td class="col-1"></td>
						</tr>
						<tr>
							<td class="col-3">
								<div class="row" style="margin-bottom: 5px">
									<strong class="col">Preferred Email</strong>
								</div>
							</td>
							<td class="col-6">
								{{ userInfo?.Email }}

								<div style="color: red" *ngFor="let pendingEmail of userInfo?.PendingEmails">
									You have pending change request. Please check inbox of: {{ pendingEmail }} for validation email.
								</div>
							</td>
							<td class="col-3">
								<button class="btn btn-primary" (click)="emailChangeModal.show()" type="button">Change</button>
							</td>
						</tr>

						<tr app-public-key [userinfo]="userInfo"></tr>

						<tr>
							<td class="col-3">
								<div class="row" style="margin-bottom: 5px">
									<strong class="col">Newsletter</strong>
								</div>
								<div class="row">
									<div class="col">
										<label class="switch switch-label switch-outline-primary-alt">
											<input
												type="checkbox"
												class="switch-input"
												[(ngModel)]="newsletterSubscribed"
												(change)="setNewsletterSubscription()"
											/>
											<span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
											<!--<span class="switch-handle"></span>-->
										</label>
									</div>
								</div>
							</td>
							<td class="col-8">
								Subscribe to our newsletter and get the latest news of upcoming events and current developments in
								de.NBI Cloud Portal.
								<p>
									<strong>{{ dsgvo_text }}</strong>
								</p>
							</td>
							<td class="col-1"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div
	bsModal
	#leaveVoModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Leave de.NBI Virtual Organisation</h4>
				<button type="button" class="close" style="cursor: pointer" (click)="leaveVoModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning">
					Please be aware that by leaving the de.NBI VO, access to all projects and machines listed here will no longer be possible. You will also need to re-register for the VO in order to submit a new project application.
					<br>
					<strong>Note</strong>: Your LifeScienceAI account will not be deleted by leaving the virtual organisation. If you wish to delete this account, please contact the corresponding support.
				</div>

				<div *ngIf="!summaryLoaded" class="row">
					<div class="spinner-grow col-md-auto mx-auto" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
				</div>
				<div *ngIf="summaryLoaded"><h5>Projects</h5>
				<table class="table">
					<thead>
					<tr>
						<th scope="col">Name</th>
						<th>Type</th>
						<th>Your role</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let prj of userProjects">
						<th scope="row">{{prj.project_application_shortname}}</th>
						<td>
							<span *ngIf="prj.project_application_openstack_project" class="badge bg-warning">OpenStack</span>
							<span *ngIf="!prj.project_application_openstack_project" class="badge bg-info-blue">SimpleVM</span>
						</td>
						<td>
							<span *ngIf="!prj.user_is_admin && !prj.user_is_pi" class="badge bg-info">Member</span>
							<span *ngIf="prj.user_is_admin"	class="badge bg-success">Admin</span>
							<span *ngIf="prj.user_is_pi" class="badge badge-danger">PI</span>
						</td>
					</tr>
					</tbody>
				</table>

				<h5>Virtual machines</h5>
					<div class="alert alert-warning" *ngIf="userIsOpenStackUser">
						<strong>Note</strong>: As you are a member of an OpenStack project the following machine summary might be incomplete.
						Please check the corresponding dashboard of your facility to see which machines are in use by you.
					</div>

					<table class="table">
					<thead>
					<tr>
						<th scope="col">Name</th>
						<th>Flavor</th>
						<th>Image</th>
						<th>Project</th>
					</tr>
					</thead>
					<tbody>
					<tr *ngFor="let vm of userVirtualMachines">
						<th scope="row">{{vm.name}}</th>
						<td>{{vm.flavor.name}}</td>
						<td>{{vm.image}}</td>
						<td>{{vm.project}}</td>
					</tr>
					</tbody>
				</table>
			</div>
				<!-- pipes -->
				<div class="alert alert-danger" *ngIf="userIsLoneAdmin  || userIsProjectPi">
					<p *ngIf="userIsProjectPi">As you are a PI <span *ngIf="userIsLoneAdmin">and lone admin</span> of at least one cloud project, you can not use this process to leave the de.NBI VO.
					Please contact our support <a href="mailto:{{CLOUD_PORTAL_SUPPORT_MAIL}}">via mail</a> to perform the necessary steps.</p>
					<p *ngIf="userIsLoneAdmin && !userIsProjectPi">As you are lone administrator of at least one cloud project, you are not able to leave the virtual organization using this process.
						Make sure that you select other persons responsible for the administration of the corresponding projects!</p>

				</div>
			</div>
			<div class="modal-footer">
					<button type="button" class="btn btn-primary"
									(click)="this.leaveVoModal.hide(); this.confirmLeaveModal.show();"
									[disabled]="!summaryLoaded || (userIsLoneAdmin || userIsProjectPi)"
					>Leave VO</button>

					<button type="button" class="btn btn-secondary" (click)="leaveVoModal.hide()">Close</button>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#confirmLeaveModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Please confirm</h4>
				<button type="button" class="close" style="cursor: pointer" (click)="confirmLeaveModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning">
					<strong>Are you sure? Please confirm that you are leaving the VO!</strong>
				</div>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success"
								(click)="this.leaveVirtualOrganisation(); this.confirmLeaveModal.hide();"
								[disabled]="!summaryLoaded || (userIsLoneAdmin || userIsProjectPi)"
				>Confirm Leave</button>

				<button type="button" class="btn btn-danger" (click)="confirmLeaveModal.hide()">Abort</button>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#emailChangeModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Request preferred email change</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="emailChangeModal.hide()"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" id="email_form" #f="ngForm">
					<div class="form-group row">
						<label class="col-md-12 control-label"><strong>New Email:</strong></label>
						<div class="col-md-12">
							<input
								required
								id="emailChange"
								name="emailChang"
								placeholder=""
								class="form-control"
								type="text"
								[(ngModel)]="emailChange"
								#emailChang="ngModel"
								pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}"
								[ngClass]="{
									'is-invalid': emailChang.invalid && (emailChang.dirty || emailChang.touched),
									'is-valid': emailChang.valid && (emailChang.dirty || emailChang.touched)
								}"
							/>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					[disabled]="f.invalid"
					class="btn btn-primary"
					(click)="emailChangeModal.hide(); requestChangePreferredMailUser(emailChange)"
				>
					Request Change
				</button>
				<button type="button" class="btn btn-secondary" (click)="emailChangeModal.hide()">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
