<div class="animated fadeIn">
	<div class="card">
		<div class="card-header">
			<div class="row">
				<div *ngIf="is_vo_admin || is_facility_manager" class="col-6">
					<button
						style="margin-right: 5px; margin-left: 5px; margin-top: 5px; margin-bottom: 5px"
						[ngClass]="tab === 'own' ? 'btn-primary' : 'btn-outline-primary'"
						class="btn"
						(click)="toggleTab('own'); applyFilter()"
					>
						Own Clusters
					</button>

					<button
						*ngIf="is_vo_admin"
						style="margin-right: 5px; margin-left: 5px; margin-top: 5px; margin-bottom: 5px"
						[ngClass]="tab === 'all' ? 'btn-primary' : 'btn-outline-primary'"
						class="btn"
						(click)="toggleTab('all'); applyFilter()"
					>
						All Clusters
					</button>
					<button
						style="margin-right: 5px; margin-left: 5px; margin-top: 5px; margin-bottom: 5px"
						[ngClass]="tab === 'facility' ? 'btn-primary' : 'btn-outline-primary'"
						class="btn"
						(click)="toggleTab('facility'); applyFilter()"
					>
						Clusters of your facilities
					</button>
				</div>
				<div *ngIf="tab === 'facility'" class="col-4">
					<select [(ngModel)]="selectedFacility" class="form-control form-select" name="selectedFacility">
						<option *ngFor="let facility of managerFacilities" [ngValue]="facility">
							{{ facility['Facility'] }}
						</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row justify-content-end" style="margin-bottom: 5px !important; padding-right: 15px; padding-left: 15px">
			<div class="col container-fluid" style="margin: 10px 0 0 0" *ngIf="cluster_page.num_pages > 1">
				<pagination
					[totalItems]="cluster_page.total_items"
					[itemsPerPage]="cluster_page.items_per_page"
					(pageChanged)="pageChanged($event)"
					[(ngModel)]="currentPage"
					[boundaryLinks]="true"
					[maxSize]="5"
					[rotate]="false"
					#pagination
				>
				</pagination>
			</div>
			<div class="input-group col-3">
				<input
					id="cluster_per_site"
					class="form-control"
					style="margin: 10px 0 0 0"
					name="cluster_per_site"
					placeholder="e.g 3"
					type="number"
					min="1"
					max="25"
					step="1"
					appMinAmount="1"
					appMaxAmount="25"
					appInteger
					pattern="^([1-9]|1[012])$"
					[(ngModel)]="cluster_per_site"
					(ngModelChange)="clusterPerPageChange.next($event)"
				/>
				<div class="input-group-append mb-3" style="margin: 10px 0 0 0">
					<span class="input-group-text"> Clusters per page </span>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div *ngIf="isSearching" id="search_spinner" style="margin: 10px; padding: 10px">
				<div class="spinner-border text-primary" style="display: block; margin: auto"></div>
			</div>
			<div class="row">
				<div class="col input-group">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input
								type="checkbox"
								checked
								style="margin: 2px"
								(change)="changeFilterStatus(ClusterStates.staticRUNNING)"
							/>
							<span class="badge badge-success">{{ ClusterStates.staticRUNNING }}</span>
						</div>
						<div class="input-group-text">
							<input
								type="checkbox"
								checked
								style="margin: 2px"
								(change)="changeFilterStatus(ClusterStates.staticCONFIGURING)"
							/>
							<span class="badge badge-info">{{ ClusterStates.staticCONFIGURING }}</span>
						</div>
						<div class="input-group-text">
							<input
								type="checkbox"
								checked
								style="margin: 2px"
								(change)="changeFilterStatus(VirtualMachineStates.staticSHUTOFF)"
							/>
							<span class="badge badge-warning">{{ VirtualMachineStates.staticSHUTOFF }}</span>
						</div>
						<div class="input-group-text">
							<input
								type="checkbox"
								checked
								style="margin: 2px"
								(change)="changeFilterStatus(ClusterStates.staticCREATING)"
							/>
							<span class="badge badge-warning">{{ ClusterStates.staticCREATING }}</span>
						</div>
						<div class="input-group-text">
							<input
								type="checkbox"
								style="margin: 2px"
								data-test-id="deleteFilterCheckbox"
								(change)="changeFilterStatus(ClusterStates.staticDELETED)"
							/>
							<span class="badge badge-danger">{{ VirtualMachineStates.staticDELETED }}</span>
						</div>
						<div class="input-group-text">
							<input
								type="checkbox"
								style="margin: 2px"
								data-test-id="deleteFilterCheckbox"
								(change)="changeFilterStatus(ClusterStates.staticError)"
							/>

							<span class="badge badge-dark">{{ ClusterStates.staticError }}</span>
						</div>
					</div>
					<div class="input-group-text col-5">
						<input
							type="text"
							checked
							style="margin: 2px; width: 100%"
							placeholder="user,project,elixir_id,openstackid,name"
							[(ngModel)]="filter"
						/>
					</div>
					<div class="input-group-append">
						<button class="btn btn-outline-primary" (click)="applyFilter()" data-test-id="applyVMFilterButton">
							Filter
						</button>
					</div>
				</div>
			</div>

			<div class="alert alert-info" *ngIf="cluster_page?.cluster_list?.length < 1 && !isSearching">
				<span>There are no clusters available!</span>
			</div>
			<div class="row" id="cluster_overview_table" *ngIf="cluster_page?.cluster_list?.length > 0">
				<div class="col-md-12">
					<div class="card instance-card" style="margin-bottom: 15px">
						<div class="card-header">
							<div class="row">
								<div class="col-6"><strong>Cluster ID</strong></div>
								<div class="col-3" style="text-align: center"><strong>Project</strong></div>
								<div class="col-3" style="text-align: center"><strong>Created (by/at)</strong></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-danger" *ngIf="this.cluster_page.cluster_status_error">
				An error occurred while checking the cluster statuses. It is possible that the facility where one of your
				clusters is running is not accessible. Please check our
				<a href="{{ STATUS_LINK }}" target="_blank" rel="noopener noreferrer">status overview</a> for this.
			</div>
			<div class="row" *ngFor="let cluster of cluster_page?.cluster_list; trackBy: trackByCluster">
				<div class="col-md-12">
					<app-cluster-card
						[id]="'instanceCard_' + cluster?.cluster_id"
						[cluster]="cluster"
						[user_elixir_id]="user_elixir_id"
						[is_cluster_admin]="false"
						[is_vo_admin]="is_vo_admin"
					>
					</app-cluster-card>
				</div>
			</div>
		</div>
	</div>
</div>
