<div class="alert alert-primary">
  If you want to give other members of your project access to the new machine, add the user here. Their public key will
  then also be added to the new machine.
  <p><strong>The members must already have set their public key for this function!</strong></p>

  <div class="alert alert-warning">
    <strong>These users will be able log in on the machine with the same user as you and will therefore have the same rights/permissions on the machine as you!
     They will not be able to alter the machine on the 'Instance Overview' or the 'Detail Page'.</strong>
  </div>
  <div class="alert alert-warning">
    <strong>These users will <b>not</b> be able to access the browser-based research environment.</strong>
  </div>
</div>
<div class="row">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Full Name</th>
          <th>Public Key Set</th>
          <th>Action</th>


        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let member of project_members">
          <td>{{ member.userName }}</td>
          <td><i *ngIf="member.publicKeySet" style="color: green" class="fa fa-check"></i>&nbsp;
            <i *ngIf="!member.publicKeySet" style="color: red" class="fa fa-times"></i>&nbsp;

          </td>
          <td>
            <button *ngIf="members_to_add.indexOf(member) === -1"

                    type="button"
                    [disabled]="!member.publicKeySet"

                    class="btn btn-primary"
                    data-toggle="modal" (click)="addMember(member)"
            >
              Add User
            </button>
            <button *ngIf="members_to_add.indexOf(member) !== -1"

                    type="button"
                    [disabled]="!member.publicKeySet"

                    class="btn btn-danger"
                    data-toggle="modal" (click)="removeMember(member)"
            >
              Remove User
            </button>
          </td>

        </tr>


        </tbody>
      </table>
    </div>
  </div>
</div>
