          <div style="margin: auto;" [ngSwitch]="volume?.volume_status">

            <ng-container *ngSwitchCase="VolumeStates.staticAVAILABLE">
              <div id="available_{{volume?.volume_name}}"
                   class="dot-colorless bg-success pulseAnim" style="width: 10px; height: 10px">
              </div>
              <strong> {{VolumeStates.staticAVAILABLE| lowercase}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="VolumeStates.staticDETACHING">
              <div [id]="'detaching_' + volume?.volume_name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
                </div>
                <strong> {{VolumeStates.staticDETACHING| lowercase}}</strong>
              </ng-container>
              <ng-container *ngSwitchCase="VolumeStates.staticATTACHING">
                <div [id]="'attaching_' + volume?.volume_name"
                     class="dot-colorless bg-warning" style="width: 10px; height: 10px">
                </div>
                <strong> {{VolumeStates.staticATTACHING| lowercase}}</strong>
              </ng-container>
              <ng-container *ngSwitchCase="VolumeStates.staticDELETING">
                <div [id]="'deleting_' + volume?.volume_name"
                     class="dot-colorless bg-warning" style="width: 10px; height: 10px">
                </div>
                <strong> {{VolumeStates.staticDELETING| lowercase}}</strong>
              </ng-container>

            <ng-container *ngSwitchCase="VolumeStates.staticCREATING">
              <div [id]="'creating_' + volume?.volume_name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
              </div>
              <strong> {{VolumeStates.staticCREATING| lowercase}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="VolumeStates.staticRESERVED_PLANNED">
              <div [id]="'reserved_planned_' + volume?.volume_name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
              </div>
              <strong> {{VolumeStates.staticRESERVED| lowercase}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="VolumeStates.staticRESERVED_ATTACHED">
              <div [id]="'creating_' + volume?.volume_name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
              </div>
              <strong> {{VolumeStates.staticRESERVED| lowercase}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="VolumeStates.staticRESERVED">
              <div [id]="'reserved_' + volume?.volume_name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
              </div>
              <strong> {{VolumeStates.staticRESERVED| lowercase}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="VolumeStates.staticEXTENDING">
              <div [id]="'extending_' + volume?.volume_name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
              </div>
              <strong> {{VolumeStates.staticEXTENDING| lowercase}}</strong>
            </ng-container>
            <ng-container *ngSwitchCase="VolumeStates.staticIN_USE">
              <div [id]="'in_use_badge_' + volume?.volume_name" class="dot-colorless bg-info"
                   style="width: 10px; height: 10px">
              </div>
                <strong> {{VolumeStates.staticIN_USE| lowercase}}</strong>
              </ng-container>
              <ng-container *ngSwitchCase="VolumeStates.staticDELETED">
                <div [id]="'deleted_badge_' + volume?.volume_name" class="dot-colorless bg-danger"
                     style="width: 10px; height: 10px">
                </div>
                <strong> {{VolumeStates.staticDELETED| lowercase}}</strong>
              </ng-container>
              <ng-container *ngSwitchCase="VolumeStates.staticNOT_FOUND">
                <span [id]="'not_found_badge_' + volume?.volume_name"
                      class="dot-colorless bg-danger" style="width: 10px; height: 10px">
                </span>
                <strong> {{VolumeStates.staticNOT_FOUND| lowercase}}</strong><br>
                <p class="alert alert-danger" role="alert"> Please contact <a href="mailto:{{CLOUD_PORTAL_SUPPORT_MAIL}}">{{CLOUD_PORTAL_SUPPORT_MAIL}}</a>.</p>

              </ng-container>
            <ng-container *ngSwitchCase="VolumeStates.staticERROR">
                <span [id]="'not_found_badge_' + volume?.volume_name"
                      class="dot-colorless bg-danger" style="width: 10px; height: 10px">
                </span>
              <strong> {{VolumeStates.staticERROR| lowercase}}</strong><br>
              <p class="alert alert-danger" role="alert"> Please contact <a
                href="mailto:{{CLOUD_PORTAL_SUPPORT_MAIL}}">{{CLOUD_PORTAL_SUPPORT_MAIL}}</a>.</p>

            </ng-container>
            <i *ngIf="VolumeStates.staticNOT_IN_PROCESS_STATE.indexOf(volume?.volume_status) === -1"
               class="fa fa-spinner fa-spin"></i>
            <br>
            <ng-container *ngIf="volume?.error_msg !== '' && volume?.error_msg !== undefined && volume?.error_msg !== null">
              <div [id]="'error_' + volume?.volume_name"
                   class="dot-colorless bg-warning" style="width: 10px; height: 10px">
              </div>
              <strong>Error: {{volume?.error_msg}}</strong>
            </ng-container>
          </div>
