<div class="table-responsive" style="width: 100%">
  <pagination
    [totalItems]="tools_filtered?.length" [itemsPerPage]="toolsPerPage"
    (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"
    [boundaryLinks]="true" [maxSize]="max_pages" [rotate]="false">
  </pagination>
  <table class="table table-striped">
    <thead>
    <th>Name</th>
    <th>Version</th>
    <th>Build</th>
    </thead>
    <tbody>
    <td>
      <input type="text" placeholder="Filter"
      name="filterToolName"
      [(ngModel)]="filterToolName"
      (ngModelChange)="applyFilter()">
    </td>
    <td>
      <input type="text" placeholder="Filter"
             name="filterVersionName"
             [(ngModel)]="filterToolVersion"
             (ngModelChange)="applyFilter()">
    </td>
    <td>
      <input type="text" placeholder="Filter"
             name="filterToolBuild"
             [(ngModel)]="filterToolBuild"
             (ngModelChange)="applyFilter()">
    </td>
    <tr *ngFor="let tool of tools_returned">
      <td>{{tool.name}}</td>
      <td>{{tool.version}}</td>
      <td>{{tool.build}}</td>
    </tr>
    </tbody>
  </table>
</div>
