<div class="row">
  <div class="col-8">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th style="width: 10%">Add/Remove</th>
          <th>Name</th>
          <th>Version</th>
          <th>Build</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td align="center">
            <div *ngIf="isSearching" class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </td>
          <td>
            <input type="text" placeholder="Filter"
                   name="filterToolNameRef" (ngModelChange)='changedNameFilter($event)'
                   [ngModel]="filterToolName" (keydown.enter)="$event.preventDefault();">
          </td>
          <td>
            <input type="text" placeholder="Filter"
                   name="filterVersionName"
                   [ngModel]="filterToolVersion"
                   (ngModelChange)="changedVersionFilter($event)" (keydown.enter)="$event.preventDefault();">
          </td>
          <td>
            <input type="text" placeholder="Filter"
                   name="filterToolBuild"
                   [ngModel]="filterToolBuild"
                   (ngModelChange)="changedBuildFilter($event)" (keydown.enter)="$event.preventDefault();">
          </td>
        </tr>
        <tr *ngFor="let tool of all_tools">
          <td class="text-center" style="width: 10%">
            <button (keydown.enter)="$event.preventDefault();" class="btn btn-lg" (click)="add_or_remove(tool)">
              <i *ngIf="!is_added(tool)" class="icon-plus" style="color: green"></i>
              <i *ngIf="is_added(tool)" class="icon-minus" style="color: red"></i>
            </button>
          </td>
          <td>{{tool.name}}</td>
          <td>{{tool.version}}</td>
          <td>{{tool.build}}</td>
        </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-center">
        <pagination [totalItems]="total_pages" [itemsPerPage]="toolsPerPage"

                    (pageChanged)="pageChanged($event)" [(ngModel)]="currentPage"
                    [boundaryLinks]="true" [maxSize]="max_pages" [rotate]="false" #pagination>
        </pagination>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="table-responsive">
      <table class="table table-striped" #chosenTable>
        <thead>
        <tr>
          <th style="width: 25%">Remove</th>
          <th>Chosen Package</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tool of chosen_tools">
          <td class="text-center" style="width: 25%">
            <button class="btn btn-lg" (click)="add_or_remove(tool)">
              <i class="icon-minus" style="color: red"></i>
            </button>
          </td>
          <td>Name: {{tool.name}}<br>
            Version: {{tool.version}}<br>
            Build: {{tool.build}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
