<form>
  <div class="row">
    <label>
      Namespace:
      <input type="text" class="form-control col" [formControl]="user_key_url"
             [ngClass]="{
           'is-invalid':user_key_url?.invalid && (user_key_url?.dirty || user_key_url?.touched),
           'is-valid':user_key_url?.valid && (user_key_url?.dirty || user_key_url?.touched)}">
    </label>
    <div *ngIf="user_key_url.invalid && (user_key_url?.dirty || user_key_url?.touched)">
      <div class="alert alert-warning" *ngIf="user_key_url.errors.pattern">Allowed characters are upper and lower case
        letters (a-z A-Z).
      </div>
    </div>
  </div>
<div class="row">
    <label>
      Choose a Research Environment:
      <select class="form-control col" name="selected_name"
              [(ngModel)]="selected_template">
        <option value="undefined" selected>Please Select</option>
        <option *ngFor="let template of templates | keyvalue" [ngValue]="template.key"> {{template.key}}
        </option>
      </select>
    </label>
</div>
  <div class="row">

    <div *ngIf="selected_template != 'undefined'">
      <label>
        Choose a version:
        <select class="form-control col" name="selected_version"
                [(ngModel)]="selected_version">
          <option value="undefined" hidden disabled selected>Please Select</option>
          <option *ngFor="let version of templates[selected_template]" [ngValue]="version"> {{version}}
          </option>
        </select>
      </label>
    </div>
  </div>

  <button (click)="addNothing()">Was anderes</button>
</form>
