<div *ngIf="isLoaded==false" class="loader"></div>

<div *ngIf="isLoaded" class="animated fadeIn" ng-app style="width: 100%">
    <div class="row">
        <!--/.col-->
        <h1 *ngIf="selectedFacility">Projects Overview: {{selectedFacility['Facility']}}


        </h1>
        <div class="card" style="width: 100%">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Resources

            </div>
            <div><select [(ngModel)]="selectedFacility"
                         (ngModelChange)="isLoaded=false;onChangeSelectedFacility($event);"
                         class="form-control" name="selectedFacility">
                <option *ngFor="  let facility of managerFacilities" [ngValue]="facility">
                    {{facility['Facility']}}
                </option>

            </select></div>

            <div id="contentToConvert" class="card-block" style="width: 100%">


                <table class="table table-responsive table-striped table-bordered table"
                       style="width: 100%">
                    <thead>
                    <th colspan="5"><h1>Facility: {{selectedFacility['Facility']}}</h1></th>
                    </thead>
                    <thead>
                    <th></th>
                    <th>{{openstackApprovedResources.resource_name}}</th>
                    <th>{{openstackWFCResources.resource_name}}</th>
                    <th>{{simpleVmRessource.resource_name}}</th>
                    <th>{{totalResource.resource_name}}</th>
                    </thead>
                    <tbody>

                    <tr>
                        <th>&nbsp;Ram [GB]</th>
                        <td>&nbsp;{{openstackApprovedResources.totalRam}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalRam}}</td>
                        <td>&nbsp;{{simpleVmRessource.totalRam}}</td>
                        <td>&nbsp;{{totalResource.totalRam}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Cores</th>
                        <td>&nbsp;{{openstackApprovedResources.totalCores}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalCores}}</td>
                        <td>&nbsp;{{simpleVmRessource.totalCores}}</td>
                        <td>&nbsp;{{totalResource.totalCores}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Vms</th>
                        <td>&nbsp;{{openstackApprovedResources.totalVms}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalVms}}</td>
                        <td>&nbsp;{{simpleVmRessource.totalVms}}</td>
                        <td>&nbsp;{{totalResource.totalVms}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Volumes</th>
                        <td>&nbsp;{{openstackApprovedResources.totalVolumeCounter}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalVolumeCounter}}</td>
                        <td>&nbsp;{{simpleVmRessource.totalVolumeCounter}}</td>
                        <td>&nbsp;{{totalResource.totalVolumeCounter}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Volumes Storage [GB]</th>
                        <td>&nbsp;{{openstackApprovedResources.totalVolumeLimit}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalVolumeLimit}}</td>
                        <td>&nbsp;{{simpleVmRessource.totalVolumeLimit}}</td>
                        <td>&nbsp;{{totalResource.totalVolumeLimit}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;Object Storage [GB]</th>
                        <td>&nbsp;{{openstackApprovedResources.totalObjectStorage}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalObjectStorage}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;{{totalResource.totalObjectStorage}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;FPGA</th>
                        <td>&nbsp;{{openstackApprovedResources.totalFPGA}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalFPGA}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;{{totalResource.totalFPGA}}</td>
                    </tr>
                    <tr>
                        <th>&nbsp;GPU</th>
                        <td>&nbsp;{{openstackApprovedResources.totalGPU}}</td>
                        <td>&nbsp;{{openstackWFCResources.totalGPU}}</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;{{totalResource.totalGPU}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <button (click)="captureScreen()">Download PDF</button>
            <!-- DivTable.com -->
        </div>
        <!--/.col-->
    </div>
</div>
