// scss-lint:disable all
@charset "UTF-8";

.animated ***REMOVED***
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
***REMOVED***

.animated.infinite ***REMOVED***
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
***REMOVED***

.animated.hinge ***REMOVED***
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
***REMOVED***

@-webkit-keyframes fadeIn ***REMOVED***
  from ***REMOVED***
    opacity: 0;
  ***REMOVED***

  to ***REMOVED***
    opacity: 1;
  ***REMOVED***
***REMOVED***

@keyframes fadeIn ***REMOVED***
  from ***REMOVED***
    opacity: 0;
  ***REMOVED***

  to ***REMOVED***
    opacity: 1;
  ***REMOVED***
***REMOVED***

.fadeIn ***REMOVED***
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
***REMOVED***
