.app-header.navbar ***REMOVED***
  position: relative;
  flex-direction: row;
  height: $navbar-height;
  margin: 0;
  padding: 0;
  background-color: $navbar-bg;
  @include borders($navbar-border);

  .navbar-brand ***REMOVED***
    display: inline-block;
    width: $navbar-brand-width;
    height: $navbar-height;
    padding: $navbar-padding-y $navbar-padding-x;
    margin-right: 0;
    background-color: $navbar-brand-bg;
    background-image: $navbar-brand-logo;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $navbar-brand-logo-size;
    @include borders($navbar-brand-border);
  ***REMOVED***

  .navbar-nav ***REMOVED***
    flex-direction: row;
    align-items: center;
  ***REMOVED***

  .nav-item ***REMOVED***
    position: relative;
    min-width: 50px;
    margin: 0 !important;
    text-align: center;

    button ***REMOVED***
      margin: 0 auto;
    ***REMOVED***

    .nav-link ***REMOVED***
      padding-top: 0;
      padding-bottom: 0;
      border: 0;
      background: 0;

      .badge ***REMOVED***
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -16px;
        margin-left: 0;
      ***REMOVED***

      > .img-avatar ***REMOVED***
        height: $navbar-height - 20px;
        margin: 0 10px;
      ***REMOVED***
    ***REMOVED***
  ***REMOVED***

  .dropdown-menu ***REMOVED***
    padding-bottom: 0;
    line-height: $line-height-base;
  ***REMOVED***

  .dropdown-item ***REMOVED***
    min-width: 180px;
  ***REMOVED***
***REMOVED***

.navbar-brand ***REMOVED***
  color: $navbar-active-color;

  @include hover-focus ***REMOVED***
    color: $navbar-active-color;
  ***REMOVED***
***REMOVED***

.navbar-nav ***REMOVED***
  .nav-link ***REMOVED***
    color: $navbar-color;

    @include hover-focus ***REMOVED***
      color: $navbar-hover-color;
    ***REMOVED***
  ***REMOVED***

  .open > .nav-link,
  .active > .nav-link,
  .nav-link.open,
  .nav-link.active ***REMOVED***
    @include plain-hover-focus ***REMOVED***
      color: $navbar-active-color;
    ***REMOVED***
  ***REMOVED***
***REMOVED***

.navbar-divider ***REMOVED***
  background-color: rgba(0,0,0,.075);
***REMOVED***
