.progress-xs ***REMOVED***
  height: 4px;
***REMOVED***

.progress-sm ***REMOVED***
  height: 8px;
***REMOVED***

// White progress bar
.progress-white ***REMOVED***
  background-color: rgba(255,255,255,.2) !important;
  .progress-bar ***REMOVED***
    background-color: #fff;
  ***REMOVED***
***REMOVED***
