body ***REMOVED***
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
***REMOVED***

.font-xs ***REMOVED***
  font-size: .75rem !important;
***REMOVED***

.font-sm ***REMOVED***
  font-size: .85rem !important;
***REMOVED***

.font-lg ***REMOVED***
  font-size: 1rem !important;
***REMOVED***

.font-xl ***REMOVED***
  font-size: 1.25rem !important;
***REMOVED***

.font-2xl ***REMOVED***
  font-size: 1.5rem !important;
***REMOVED***

.font-3xl ***REMOVED***
  font-size: 1.75rem !important;
***REMOVED***

.font-4xl ***REMOVED***
  font-size: 2rem !important;
***REMOVED***

.font-5xl ***REMOVED***
  font-size: 2.5rem !important;
***REMOVED***
