<header class="c-header c-header-left" id="denbiBrand" [ngClass]="{'c-header-left-minimized':navbar_minimized}">

    <a class="navbar-brand" href="#/">
        <img *ngIf="!navbar_minimized" style="max-width: 100%" src="{{brand_logo}}">
        <img *ngIf="navbar_minimized" style="max-width: 100%" [ngClass]="{'.navbar-brand-minimized':navbar_minimized}"
             src="{{brand_logo_minimized}}">

    </a>
</header>
<header class="c-header c-header-right c-header-light " id="denbiHeadbar"
        [ngClass]="{'c-header-minimízed':navbar_minimized}">

    <h1 id="title_headline" style="margin:auto; position:relative; top:25%;">{{page_title}}</h1>
    <button class="btn btn-outline-danger" style="margin: 5px;"
            (click)="logout()"><i class="fas fa-door-open"></i> Logout
    </button>
</header>


