<!DOCTYPE html>
<html lang="en">
<nav class="w3-bar-block" class="navbar navbar-light w3-bar-block" id="denbiHeadbar">

    <h1 id="title_headline">{{page_title}}</h1>
      <ul class="nav nav-pills">
        <li class="nav-item" *ngFor="let navPoint of navigationPoints">
          <a class="nav-link" href="#{{navPoint?.href}}">{{navPoint?.name}}</a>
        </li>
      </ul>
  <button style="float:right;
  margin-right: 10px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);"  class="btn btn-secondary" (click)="logout()"><i class="fas fa-door-open"></i> Logout
  </button>
</nav>
</html>
