
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Adjust application for {{ application?.project_application_shortname }}</h4>
                <button
                        type="button"
                        class="btn-close"
                        style="cursor: pointer"
                        (click)="hide()"
                        aria-label="Close"
                ></button>
            </div>
            <div class="modal-body" *ngIf="application">
                <form id="resource_adjustment_form" #resourceAdjustmentForm="ngForm" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label"><strong>Project Type</strong></label>
                        <div class="col-md-8">
                            <label id="adjusted_project_type_switch" class="switch switch-label">
                                <input
                                        type="checkbox"
                                        class="switch-input"
                                        [ngModelOptions]="{ standalone: true }"
                                        [(ngModel)]="adjustedApplication.project_application_openstack_project"
                                />
                                <span
                                        class="switch-slider"
                                        data-checked="OS"
                                        data-unchecked="SV"
                                        [ngStyle]="{
										'background-color': adjustedApplication.project_application_openstack_project
											? '#FF0000'
											: '#00adef'
									}"
                                ></span>
                            </label>
                            <p>Is this project an openstack project (OS) or a simple vm project (SV) ?</p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="initially_requested_lifetime_counter"
                        ><strong
                        >Lifetime
                            <i
                                    data-balloon="Number of volumes allowed to create. The sum of the volumes size equals the value provided in the storage limit field."
                                    data-balloon-pos="down"
                                    data-balloon-length="large"
                            ><i class="icon-question" style="cursor: pointer"></i></i></strong
                        ></label>
                        <div class="col">
                            <div class="input-group">
                                <input
                                        required
                                        class="form-control"
                                        name="initially_requested_lifetime_counter"
                                        id="initially_requested_lifetime_counter"
                                        placeholder="NA"
                                        value="{{ application?.project_application_lifetime }}"
                                        type="number"
                                        disabled
                                />
                            </div>
                            <span class="help-block">Amount of requested lifetime months</span>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <input
                                        required
                                        class="form-control"
                                        id="granted_lifetime_counter"
                                        name="granted_lifetime_counter"
                                        placeholder="e.g. 20"
                                        type="number"
                                        min="0"
                                        max="24"
                                        step="1"
                                        [(ngModel)]="adjustedApplication.project_application_lifetime"
                                        appMinAmount="0"
                                        appInteger
                                        [ngClass]="{
										'is-invalid': resourceAdjustmentForm.controls.granted_lifetime_counter?.invalid,
										'is-valid': resourceAdjustmentForm.controls.granted_lifetime_counter?.valid
									}"
                                />
                            </div>
                            <span class="help-block">Lifetime you want to grant</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <h6 class="col-md-8 form-control-label">
                            Resources*
                            <i data-balloon="Select the number of Virtual Machines you want to grant."
                               data-balloon-pos="down">
                                <i class="icon-question"></i
                                ></i>
                        </h6>
                    </div>

                    <accordion>
                        <ng-container *ngFor="let t of typeList; first as isFirst">
                            <accordion-group
                                    *ngIf="
									application?.project_application_openstack_project ||
									checkIfTypeGotSimpleVMFlavorOrIsCustom(t)
								"
                                    [isOpen]="isFirst"
                                    #groupval
                            >
                                <div accordion-heading style="width: 100%; cursor: pointer">
                                    {{ t.long_name }}
                                    <i
                                            class="pull-right float-end"
                                            style="font-size: 25px"
                                            [ngClass]="{
											'icon-arrow-up': groupval.isOpen,
											'icon-arrow-down': !groupval.isOpen
										}"
                                    ></i>
                                </div>
                                <div *ngFor="let fl of flavorList" class="form-group row">
                                    <div
                                            *ngIf="
											fl.type.shortcut === t.shortcut &&
											(fl.simple_vm ||
												application?.project_application_openstack_project ||
												fl.type.shortcut === FlavorTypeShortcuts.CUSTOM_FLAVOR)
										"
                                            class="form-group row"
                                    >
                                        <label class="col-md-4 form-control-label"
                                        ><strong>{{ fl.name }}</strong
                                        ><br/>
                                            Number of cores: <span id="{{ fl.name }}_cores">{{ fl.vcpus }}</span
                                            ><br/>
                                            RAM: <span id="{{ fl.name }}_ram">{{ fl.ram_gib }}</span> GB</label
                                        >
                                        <div class="col">
                                            <div class="input-group">
                                                <input
                                                        class="form-control"
                                                        name="{{ fl.name }}_requested"
                                                        id="{{ fl.name }}_requested"
                                                        type="text"
                                                        value="{{ application | flavorCounter: fl }}"
                                                        placeholder="0"
                                                        disabled
                                                />
                                                <div class="input-group-append"><span
                                                        class="input-group-text"> VMs</span></div>
                                            </div>
                                            <span class="help-block">Initially requested of this type </span>
                                        </div>
                                        <div class="col">
                                            <div class="input-group">
                                                <input
                                                        class="form-control"
                                                        (change)="calculateRamCores()"
                                                        id="{{ fl.name }}_granted"
                                                        name="{{ fl.name }}_granted"
                                                        type="number"
                                                        min="0"
                                                        step="1"
                                                        placeholder="e.g 1"
                                                        (ngModelChange)="onChangeFlavor(fl, $event)"
                                                        [ngModel]="adjustedApplication | flavorCounter: fl"
                                                        #name="ngModel"
                                                        appMinAmount="0"
                                                        appIntegerOrNull
                                                        [ngClass]="{
														'is-invalid': name?.invalid,
														'is-valid': name?.valid
													}"
                                                />
                                                <div class="input-group-append"><span
                                                        class="input-group-text"> VMs</span></div>
                                            </div>
                                            <span class="help-block">Number of VMs you want to actually grant.</span>
                                        </div>
                                    </div>
                                </div>
                            </accordion-group>
                        </ng-container>
                    </accordion>
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="requested_volume_counter"
                        ><strong
                        >Number of storage volumes*
                            <i
                                    data-balloon="Number of volumes allowed to create. The sum of the volumes size equals the value provided in the storage limit field."
                                    data-balloon-pos="down"
                                    data-balloon-length="large"
                            ><i class="icon-question" style="cursor: pointer"></i></i></strong
                        ></label>
                        <div class="col">
                            <div class="input-group">
                                <input
                                        required
                                        class="form-control"
                                        name="requested_volume_counter"
                                        id="requested_volume_counter"
                                        placeholder="NA"
                                        value="{{ application?.project_application_volume_counter }}"
                                        type="text"
                                        disabled
                                />
                            </div>
                            <span class="help-block">Requested number of storage volumes</span>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <input
                                        required
                                        class="form-control"
                                        id="granted_volume_counter"
                                        name="granted_volume_counter"
                                        placeholder="e.g. 20"
                                        type="number"
                                        min="0"
                                        step="1"
                                        [(ngModel)]="adjustedApplication.project_application_volume_counter"
                                        appMinAmount="0"
                                        appInteger
                                        [ngClass]="{
										'is-invalid': resourceAdjustmentForm.controls.granted_volume_counter?.invalid,
										'is-valid': resourceAdjustmentForm.controls.grated_volume_counter?.valid
									}"
                                />
                            </div>
                            <span class="help-block">Number of storage volumes you want to grant</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="requested_volume_limit"
                        ><strong
                        >Storage Limit*
                            <i
                                    data-balloon="Storage limit is the sum of extra storage provided by volumes."
                                    data-balloon-pos="down"
                                    data-balloon-length="medium"
                            ><i class="icon-question" style="cursor: pointer"></i></i></strong
                        ></label>
                        <div class="col">
                            <div class="input-group">
                                <input
                                        class="form-control"
                                        name="requested_volume_limit"
                                        id="requested_volume_limit"
                                        value="{{ application?.project_application_volume_limit }}"
                                        placeholder="NA"
                                        type="text"
                                        disabled
                                />
                                <div class="input-group-append"><span class="input-group-text"> GB </span></div>
                            </div>
                            <span class="help-block">Requested extra storage</span>
                        </div>
                        <div class="col">
                            <div class="input-group">
                                <input
                                        class="form-control"
                                        id="granted_volume_limit"
                                        name="granted_volume_limit"
                                        placeholder="e.g. 20"
                                        type="number"
                                        min="1"
                                        step="1"
                                        [(ngModel)]="adjustedApplication.project_application_volume_limit"
                                        appMinAmount="1"
                                        appInteger
                                        [ngClass]="{
										'is-invalid': resourceAdjustmentForm.controls.granted_volume_limit?.invalid,
										'is-valid': resourceAdjustmentForm.controls.granted_volume_limit?.valid
									}"
                                        [disabled]="resourceAdjustmentForm.controls.granted_volume_counter?.value === 0"
                                />
                                <div class="input-group-append"><span class="input-group-text"> GB </span></div>
                            </div>
                            <span class="help-block">Amount of extra storage you want to grant</span>
                        </div>
                    </div>

                    <div *ngIf="application?.project_application_openstack_project" class="form-group row">
                        <label class="col-md-4 form-control-label" for="requested_object_storage"
                        ><strong>Object Storage* </strong
                        ><i
                                data-balloon="Object storage is a method of storing data that does not use a directory tree internally. Object storage combines files with metadata and places it in a flat structure."
                                data-balloon-pos="down"
                                data-balloon-length="large"
                        ><i class="icon-question" style="cursor: pointer"></i></i
                        ></label>

                        <div class="col">
                            <div class="input-group">
                                <input
                                        class="form-control"
                                        name="requested_object_storage"
                                        id="requested_object_storage"
                                        placeholder="NA"
                                        value="{{ application?.project_application_object_storage }}"
                                        type="text"
                                        disabled
                                />
                                <div class="input-group-append"><span class="input-group-text"> GB </span></div>
                            </div>
                            <span class="help-block">Requested Object storage</span>
                        </div>

                        <div *ngIf="adjustedApplication?.project_application_openstack_project" class="col">
                            <div class="input-group">
                                <input
                                        class="form-control"
                                        id="granted_object_storage"
                                        name="granted_object_storage"
                                        placeholder="e.g. 8"
                                        [(ngModel)]="adjustedApplication.project_application_object_storage"
                                        type="number"
                                        min="0"
                                        step="1"
                                        appInteger
                                        appMinAmount="0"
                                        required
                                        [ngClass]="{
										'is-invalid': resourceAdjustmentForm.controls.granted_object_storage?.invalid,
										'is-valid': resourceAdjustmentForm.controls.granted_object_storage?.valid
									}"
                                />
                                <div class="input-group-append"><span class="input-group-text"> GB </span></div>
                            </div>
                            <span class="help-block">How much Object Storage do you need in the future?</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="requested_volume_limit"
                        ><strong
                        >Comment
                            <i
                                    data-balloon="Additional comment to the project owner"
                                    data-balloon-pos="down"
                                    data-balloon-length="medium"
                            ><i class="icon-question" style="cursor: pointer"></i></i></strong
                        ></label>
                        <div class="col">
                            <div class="input-group">
								<textarea
                                        class="form-control"
                                        id="manager_comment"
                                        name="manager_comment"
                                        [(ngModel)]="adjustedApplication.project_application_manager_comment"
                                        type="text"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <h6 class="col-md-8 form-control-label">Project Data</h6>
                    </div>
                    <!-- -->
                    <div class="form-group row">
                        <label class="col-md-4 form-control-label" for="id_project_application_person_related_data"
                        ><strong>Person Related Data*</strong></label
                        >
                        <div class="col-md-8">
                            <div class="form-check">
                                <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="id_project_application_person_related_data"
                                        name="project_application_person_related_data"
                                        data-test-id="project_application_person_related_data_switch"
                                        #personalData
                                        [(ngModel)]="adjustedApplication.project_application_person_related_data"
                                        (click)="togglePersonalDataType(personalData.checked, 'person_related')"
                                />
                                <span class="help-block" *ngIf="!personalData.checked">
									My project processes data of human subjects</span
                                >
                                <span class="help-block" *ngIf="personalData.checked">
									My project processes data of human subjects containing:</span
                                >
                            </div>
                            <div class="form-check" *ngIf="personalData.checked">
                                <div class="form-check">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="id_project_application_no_personal_data"
                                            name="project_application_no_personal_data"
                                            #noPersonalData
                                            data-test-id="project_application_no_personal_data_switch"
                                            (click)="togglePersonalDataType(noPersonalData.checked, 'no_personal_data')"
                                            [(ngModel)]="adjustedApplication.project_application_no_personal_data"
                                    />
                                    <span class="help-block">a) no personal data or sufficiently anonymized data only</span>
                                </div>
                                <div class="form-check">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="id_project_application_nonsensitive_data"
                                            name="project_application_nonsensitive_data"
                                            #nonsensitiveData
                                            data-test-id="project_application_nonsensitive_data_switch"
                                            (click)="togglePersonalDataType(nonsensitiveData.checked, 'nonsensitive')"
                                            [(ngModel)]="adjustedApplication.project_application_nonsensitive_data"
                                    />
                                    <span class="help-block"
                                    >b) personal data [Article 4 (1) GDPR] (e.g. name, e-mail, other online identifiers,
										geolocation)</span
                                    >
                                </div>
                                <div class="form-check">
                                    <input
                                            class="form-check-input"
                                            type="checkbox"
                                            id="id_project_application_sensitive_data"
                                            name="project_application_sensitive_data"
                                            #sensitiveData
                                            data-test-id="project_application_sensitive_switch"
                                            (click)="togglePersonalDataType(sensitiveData.checked, 'sensitive')"
                                            [(ngModel)]="adjustedApplication.project_application_sensitive_data"
                                    />
                                    <span class="help-block"
                                    >c) sensitive personal data [Articles 4 (13,14,15), 9 GDPR and Recital 51] (e.g. racial or ethnic
										origin, political opinions, religious or philosophical beliefs, genetic data, biometric data, health
										data and other special categories of personal data)</span
                                    >
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <div *ngIf="resourceAdjustmentForm.invalid" class="alert alert-warning" role="alert">
                    <p>
                        Some required fields are incorrect or not filled in yet. Please check if all required (*) fields
                        are filled
                        in correctly.
                    </p>
                    <p *ngIf="resourceAdjustmentForm.controls.granted_volume_counter?.invalid">
                        - Number of storage volumes missing
                    </p>
                    <p *ngIf="resourceAdjustmentForm.controls.granted_volume_limit?.invalid">- Storage Limit missing</p>
                    <p *ngIf="resourceAdjustmentForm.controls.granted_object_storage?.invalid">- Object Storage
                        missing</p>
                    <p *ngIf="!atLeastOneVM">- Please select at least one Flavor</p>
                </div>

                <div class="modal-footer">
                    <div class="label">
                        The application values will be adjusted. The adjusted values still need to be approved
                        separately.
                    </div>
                    <div>New initial credits: {{ application?.project_application_initial_credits }}</div>
                    <button
                            type="button"
                            class="btn btn-primary"
                            form="resource_adjustment_form"
                            id="submitAdjustmentButton"
                            (click)="hide(); adjustApplication()"
                            [disabled]="resourceAdjustmentForm.invalid || !atLeastOneVM"
                    >
                        <i class="far fa-dot-circle"></i>
                        Adjust
                    </button>
                    <button type="button" class="btn btn-danger" (click)="hide()">Discard</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

