<tr>
    <td>
        <app-application-badges
                [application]="application"></app-application-badges>
    </td>
    <td>{{ application?.project_application_name }}</td>
    <td>{{ application?.project_application_shortname }}</td>
    <td>{{ application?.project_application_date_submitted }}</td>
    <td style="word-wrap: break-word; min-width: 110px; max-width: 130px; white-space: normal">
        @if (application?.project_application_user?.username) {
            {{ application?.project_application_user?.username }}
        } @else {
            <span class="spinner-border text-info"></span>

        }

    </td>
    <td>{{ application?.project_application_institute }}</td>

    <td>
        <select
                [ngClass]="
														selectedComputeCenter !== undefined ? 'is-valid' : 'is-invalid'
													"
                *ngIf="
														(application | hasstatusinlist: Application_States.SUBMITTED) ||
														(application | hasstatusinlist: Application_States.CONFIRMATION_DECLINED) ||
														((application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) &&
															!application?.project_application_compute_center?.FacilityId)
													"
                [(ngModel)]="selectedComputeCenter"
                class="form-select"
                [id]="'id_compute_center_option_' + application?.project_application_name"
                [attr.data-test-id]="'id_compute_center_option_' + application?.project_application_name"
                #computeCenterSelection
        >
            <option [ngValue]="undefined" selected>no center selected</option>
            <ng-container *ngFor="let computeCenter of computeCenters">
                <option
                        *ngIf="computeCenter.hasClient || application?.project_application_openstack_project"
                        label="{{ computeCenter.Name }}"
                        [ngValue]="computeCenter"
                        [id]="computeCenter.Name"
                >
                    {{ computeCenter.Name }}
                </option>
            </ng-container>
        </select>
        <span *ngIf="application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION">{{
                application?.project_application_compute_center?.Name
            }}</span>
    </td>

    <td>
        <div class="btn-group">
            @if ((application | hasstatusinlist: Application_States.CONFIRMATION_DECLINED) ||
            ((application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) &&
                !application?.project_application_compute_center?.FacilityId)) {
                <button

                        style="margin: 2px"
                        (click)="
						assignGroupToFacility();
														"
                        [disabled]="!selectedComputeCenter"
                        type="button"
                        class="btn btn-info"
                        tooltip="Assign to facility"
                >
                    <i class="fa fa-check"></i>&nbsp;
                    <span class="d-none">Assign</span>
                </button>
            }
            <button
                    *ngIf="
															(application | hasstatusinlist: Application_States.SUBMITTED) &&
															!(application | hasstatusinlist: Application_States.APPROVED)
														"
                    style="margin: 2px"
                    (click)="showConfirmationModal( ConfirmationActions.DELETE_APPLICATION)"
                    type="button"
                    class="btn btn-danger"
                    title="Delete Application"
            >
                <i class="fa fa-trash"></i>&nbsp;
                <span class="d-none">Assign</span>
            </button>
            @if (application?.processing_vo_initials && is_vo_admin) {

                <button
                        style="margin: 2px"
                        (click)="unsetProcessingVoManager(application)"
                        type="button"
                        class="btn btn-danger"
                        title="Unassign Processing VO"
                >
                    <i class="fa fa-user-slash"></i>&nbsp; <span
                        class="d-none">Unassign Proccessing VO</span>
                </button>
            }
            @if (!application?.processing_vo_initials && is_vo_admin) {
                <button
                        style="margin: 2px"
                        (click)="setCurrentUserProcessingVoManager(application)"
                        type="button"
                        class="btn btn-secondary"
                >
                    <i class="fa fa-user-pen"></i>&nbsp;
                    <span class="d-none">Assign Proccessing VO</span>
                </button>
            }
            <button
                    *ngIf="
															(application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) &&
															application?.project_application_compute_center?.FacilityId
														"
                    style="margin: 2px"
                    (click)="removeApplicationFromFacilityConfirmation()"
                    type="button"
                    class="btn btn-secondary"
                    title="Assign yourself as Processing VO"
            >
                <i class="fa fa-check"></i>&nbsp;
                <span class="d-none">Reassign</span>
            </button>
            <button
                    *ngIf="
															(application | hasstatusinlist: Application_States.SUBMITTED) &&
															application?.project_application_openstack_project
														"
                    style="margin: 2px"
                    [id]="'approve_' + application?.project_application_shortname"
                    [attr.data-test-id]="'approve_' + application?.project_application_shortname"
                    (click)="showConfirmationModal( ConfirmationActions.APPROVE_APPLICATION)"
                    [disabled]="!selectedComputeCenter"
                    type="button"
                    class="btn btn-success"
            >
                <i class="fa fa-check"></i>&nbsp;
                <span class="d-none">Approve & Create </span>
            </button>

            <button
                    *ngIf="
															(application | hasstatusinlist: Application_States.SUBMITTED) &&
															!application?.project_application_openstack_project
														"
                    style="margin: 2px"
                    [id]="'approve_' + application?.project_application_shortname"
                    [attr.data-test-id]="'approve_' + application?.project_application_shortname"
                    (click)="
															showClientsLimitsModal();
														"
                    [disabled]="!selectedComputeCenter"
                    type="button"
                    class="btn btn-success"
                    tooltip="Approve Application!!!"
            >
                <i class="fa fa-check"></i>&nbsp;
                <span class="d-none">Approve & Create </span>
            </button>

            <button
                    *ngIf="application | hasstatusinlist: Application_States.SUBMITTED"
                    type="button"
                    class="btn btn-danger"
                    id="btn_decline_{{ application.project_application_shortname }}"
                    [attr.data-test-id]="'btn_decline_' + application.project_application_shortname"
                    style="margin: 2px"
                    (click)="showConfirmationModal( ConfirmationActions.DECLINE_APPLICATION)"
            >
                <i class="fas fa-times"></i>&nbsp;
                <span class="d-none">Decline</span>
            </button>
            @if (application.project_application_pi_approved &&
            (application | hasstatusinlist: Application_States.SUBMITTED)) {
                <button


                        type="button"
                        id="btn_reset_pi_{{ application.project_application_shortname }}"
                        class="btn btn-warning"
                        tooltip="Unset PI"
                        style="margin: 2px"
                        (click)="showConfirmationModal(ConfirmationActions.RESET_PI)"
                >

                    <i class="fa fa-user-times"></i>&nbsp;
                    <span class="d-none"> Unset PI</span>
                </button>
            }
            <button
                    type="button"
                    id="btn_adjust_{{ application.project_application_shortname }}"
                    class="btn btn-primary"
                    style="margin: 2px"
            >
                <!-- (click)="adjustModal.show()"-->

                <i class="fa fa-pen"></i>&nbsp;
                <span class="d-none"> Adjust</span>
            </button>
            <button
                    (click)="switchCollaps()			"
                    type="button"
                    class="btn btn-secondary"
                    style="margin: 2px"
            >
                <i class="fa fa-info-circle"></i>&nbsp;
                <span
                        class="d-none"
                        [hidden]="!isCollapsed"
                >Show</span
                >
                <span
                        class="d-none"
                        [hidden]="isCollapsed"
                >Hide</span
                >
                <span class="d-none"> Information</span>
            </button>
        </div>
    </td>
</tr>
<td colspan="12">
    @if (!isCollapsed) {

        <app-application-detail
                [default_tab]="tabState"
                [class.collapse_no_margin]="isCollapsed
                                            "
                [class.collapse]="isCollapsed
                                            "
                [application]="application"
        ></app-application-detail>
    }
</td>


