<div *ngIf="isLoaded==false" class="loader"></div>

<div *ngIf="isLoaded" class="col-lg-12">
    <div><h4 *ngIf="selectedFacility">

        Applications Overview:
        ***REMOVED******REMOVED***selectedFacility['Facility']***REMOVED******REMOVED***</h4></div>
    <div style="margin-bottom: 10px"><select [(ngModel)]="selectedFacility"
                                             (ngModelChange)="onChangeSelectedFacility($event)"
                                             class="form-control " name="selectedFacility">
        <option *ngFor="  let facility of managerFacilities"
                [ngValue]="facility">
            ***REMOVED******REMOVED***facility['Facility']***REMOVED******REMOVED***
        </option>

    </select></div>
    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>
            Applications


        </div>
        <div class="card-body">

            <div class="alert alert-success"
                 *ngIf="all_applications_wfc.length == 0" role="alert">
                <strong>No new Applications!</strong> There are no new project
                applications for review.
            </div>
        </div>

        <div *ngIf="all_applications_wfc.length != 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Short Name</th>
                        <th>Date submitted</th>
                        <th>User</th>
                        <th>Institute</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let application of all_applications_wfc">
                        <ng-container>
                            <tr>
                                <td>***REMOVED******REMOVED*** application.Name ***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED***application.Shortname***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED*** application.DateSubmitted ***REMOVED******REMOVED***</td>
                                <td style="word-wrap: break-word;min-width: 110px; max-width: 130px; white-space: normal">
                                    ***REMOVED******REMOVED*** application.User ***REMOVED******REMOVED***
                                </td>
                                <td>***REMOVED******REMOVED***application.Institute***REMOVED******REMOVED***</td>

                                <td>
                                    <button type="button"
                                            (click)="resetNotificationModal();notificationModal.show();approveApplication(application.Id)"
                                            class="btn btn-secondary"><i
                                            class="fa fa-check"></i>&nbsp;
                                        Approve
                                    </button>
                                    <button
                                            (click)='resetNotificationModal();notificationModal.show();declineApplication(application.Id)'
                                            type="button"
                                            class="btn btn-secondary"><i
                                            class="fa fa-close"></i>&nbsp;
                                        Decline
                                    </button>

                                    <button (click)="switchCollapseStatus('application_review-' + application.Id);  getMemberDetailsByElixirIdIfCollapsed(application.User,'application_review-' + application.Id);"
                                            type="button"
                                            class="btn btn-secondary">
                                        <i class="fa fa-info-circle"></i>&nbsp;
                                        <span [hidden]="!getCollapseStatus('application_review-' + application.Id)">Show</span><span
                                            [hidden]="getCollapseStatus('application_review-' + application.Id)">Hide</span>
                                        Information
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td [class.collapse_no_margin]="getCollapseStatus('application_review-' + application.Id)"
                                    colspan="6">
                                    <div id="application_review-***REMOVED******REMOVED*** application.id ***REMOVED******REMOVED***"
                                         [class.collapse]="getCollapseStatus('application_review-' + application.Id)">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <tr>
                                                    <td>User Affiliations</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.UserAffiliations***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>User Name</td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application_user[application.User]?.name***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>User Email</td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application_user[application.User]?.email***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Description</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.Description
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Workgroup</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.Workgroup
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>OpenStackProject</td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application.OpenStackProject***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Comment</td>
                                                    <td>***REMOVED******REMOVED*** application.Comment
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.Comment***REMOVED******REMOVED***
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Lifetime</td>
                                                    <td>***REMOVED******REMOVED*** application.Lifetime
                                                        ***REMOVED******REMOVED*** months
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.Lifetime
                                                        +
                                                        application.Lifetime***REMOVED******REMOVED***
                                                        months
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>VMs</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.VMsRequested
                                                        ***REMOVED******REMOVED*** VMs
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.VMsRequested***REMOVED******REMOVED***
                                                        VMs
                                                    </td>

                                                </tr>

                                                <tr *ngIf="application.OpenStackProject && application.TotalCores == 0">
                                                    <td>Cores/VM</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.CoresPerVM
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                </tr>

                                                <tr *ngIf="application.OpenStackProject && application.TotalCores != 0">
                                                    <td>Cores</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.TotalCores
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                </tr>
                                                <tr *ngIf="application.OpenStackProject && application.TotalRam == 0">
                                                    <td>RAM</td>
                                                    <td>***REMOVED******REMOVED*** application.RamPerVM
                                                        ***REMOVED******REMOVED*** GB
                                                    </td>
                                                </tr>
                                                <tr *ngIf="application.OpenStackProject && application.TotalRam != 0">
                                                    <td>RAM</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.TotalRam***REMOVED******REMOVED*** GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Storage Limit</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.VolumeLimit
                                                        ***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.VolumeLimit***REMOVED******REMOVED***
                                                        GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Volume Counter</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.VolumeCounter
                                                        ***REMOVED******REMOVED*** volumes
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.VolumeCounter***REMOVED******REMOVED*** volumes
                                                    </td>
                                                </tr>
                                                <tr *ngIf="application.OpenStackProject">
                                                    <td>ObjectStorage</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.ObjectStorage
                                                        ***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.ObjectStorage***REMOVED******REMOVED***
                                                        GB
                                                    </td>
                                                </tr>
                                                <!--tr *ngIf="application.OpenStackProject">
                                                    <td>Special Hardware</td>
                                                    <td><span
                                                            style="margin-right: 5px;"
                                                            class="badge badge-primary"
                                                            *ngFor="let sh of application.SpecialHardware">***REMOVED******REMOVED*** sh["special_hardware_name"] ***REMOVED******REMOVED***</span>
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                       <span style="margin-right: 5px;"
                                                             class="badge badge-primary"
                                                             *ngFor="let sh of application.ApplicationExtension?.SpecialHardware">***REMOVED******REMOVED*** sh ***REMOVED******REMOVED***</span>
                                                    </td>
                                                </tr-->


                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i>
            Application Modifications


        </div>
        <div class="card-body">

            <div class="alert alert-success"
                 *ngIf="all_application_modifications.length == 0" role="alert">
                <strong>No new Applications!</strong> There are no new project
                application modifications for review.
            </div>
        </div>

        <div *ngIf="all_application_modifications.length != 0">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Short Name</th>
                        <th>Date submitted</th>
                        <th>User</th>
                        <th>Institute</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container *ngFor="let app of all_application_modifications">
                        <ng-container>
                            <tr>
                                <td>***REMOVED******REMOVED*** app.Name ***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED***app.Shortname***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED*** app.DateSubmitted ***REMOVED******REMOVED***</td>
                                <td style="word-wrap: break-word;min-width: 110px; max-width: 130px; white-space: normal">
                                    ***REMOVED******REMOVED*** app.User ***REMOVED******REMOVED***
                                </td>
                                <td>***REMOVED******REMOVED***app.Institute***REMOVED******REMOVED***</td>

                                <td>
                                    <button type="button"
                                            (click)="resetNotificationModal();notificationModal.show();approveExtension(app)"
                                            class="btn btn-secondary"><i
                                            class="fa fa-check"></i>&nbsp;
                                        Approve
                                    </button>
                                    <button
                                            (click)='resetNotificationModal();notificationModal.show();declineExtension(app)'
                                            type="button"
                                            class="btn btn-secondary"><i
                                            class="fa fa-close"></i>&nbsp;
                                        Decline
                                    </button>

                                    <button (click)="switchCollapseStatus('application_review-' + app.Id);  getMemberDetailsByElixirIdIfCollapsed(app.User,'application_review-' + app.Id);"
                                            type="button"
                                            class="btn btn-secondary">
                                        <i class="fa fa-info-circle"></i>&nbsp;
                                        <span [hidden]="!getCollapseStatus('application_review-' + app.Id)">Show</span><span
                                            [hidden]="getCollapseStatus('application_review-' + app.Id)">Hide</span>
                                        Information
                                    </button>
                                </td>
                            </tr>

                            <tr>
                                <td [class.collapse_no_margin]="getCollapseStatus('application_review-' + app.Id)"
                                    colspan="6">
                                    <div id="application_review-***REMOVED******REMOVED*** app.id ***REMOVED******REMOVED***"
                                         [class.collapse]="getCollapseStatus('application_review-' + app.Id)">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <tr>
                                                    <td>User
                                                        Affiliations
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.UserAffiliations***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>User Name</td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application_user[app.User]?.name***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>User Email</td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application_user[app.User]?.email***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="app.Status == 4">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Description
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.Description
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Workgroup</td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.Workgroup
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        OpenStackProject
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***app.OpenStackProject***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Comment</td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.Comment
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***app.ApplicationExtension?.Comment***REMOVED******REMOVED***
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Lifetime</td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.Lifetime
                                                        ***REMOVED******REMOVED*** months
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***app.ApplicationExtension?.Lifetime
                                                        +
                                                        app.Lifetime***REMOVED******REMOVED***
                                                        months
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>VMs</b>
                                                    </td>

                                                    <td>
                                                        <span>Current:</span>
                                                        ***REMOVED******REMOVED***app.VMsRequested***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                        Requested:
                                                        ***REMOVED******REMOVED***app.ApplicationExtension?.VMsRequested***REMOVED******REMOVED***
                                                    </td>

                                                </tr>

                                                <tr *ngFor="let item of app.CurrentFlavors | keyvalue">
                                                    <td>Flavor: ***REMOVED******REMOVED***item.key***REMOVED******REMOVED***</td>
                                                    <td>***REMOVED******REMOVED***item.value.counter***REMOVED******REMOVED***</td>
                                                    <td>
                                                            <span *ngIf="app.ApplicationExtension?.RequestedFlavors[item.key]">
                                                                ***REMOVED******REMOVED***app?.ApplicationExtension.RequestedFlavors[item.key]?.counter***REMOVED******REMOVED***</span>
                                                        <span *ngIf="!app.ApplicationExtension?.RequestedFlavors[item.key]">
                                                               0</span></td>
                                                </tr>
                                                <ng-container
                                                        *ngFor="let item of app.ApplicationExtension?.RequestedFlavors| keyvalue ">
                                                    <tr *ngIf="!app.CurrentFlavors[item.key]">
                                                        <td>Flavor: ***REMOVED******REMOVED***item.key***REMOVED******REMOVED***</td>
                                                        <td>0</td>
                                                        <td>
                                                            ***REMOVED******REMOVED***app.ApplicationExtension?.RequestedFlavors[item.key]?.counter***REMOVED******REMOVED***


                                                        </td>


                                                    </tr>
                                                </ng-container>


                                                <tr *ngIf="app.OpenStackProject">
                                                    <td>Total Cores</td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.TotalCores
                                                        ***REMOVED******REMOVED***
                                                    </td>

                                                    <td>
                                                        ***REMOVED******REMOVED***app.ApplicationExtension?.TotalCores***REMOVED******REMOVED***
                                                    </td>
                                                </tr>

                                                <tr *ngIf="app.OpenStackProject">
                                                    <td>Total RAM</td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.TotalRam***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***app.ApplicationExtension.TotalRAM***REMOVED******REMOVED*** GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Storage Limit
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.VolumeLimit
                                                        ***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***app.ApplicationExtension?.VolumeLimit***REMOVED******REMOVED***
                                                        GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Volume
                                                        Counter
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.VolumeCounter
                                                        ***REMOVED******REMOVED*** volumes
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***app.ApplicationExtension?.VolumeCounter***REMOVED******REMOVED*** volumes
                                                    </td>
                                                </tr>
                                                <tr *ngIf="app.OpenStackProject">
                                                    <td>ObjectStorage
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.ObjectStorage
                                                        ***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***app.ApplicationExtension?.ObjectStorage***REMOVED******REMOVED***
                                                        GB
                                                    </td>
                                                </tr>
                                                <!--tr *ngIf="app.OpenStackProject">
                                                    <td>Special Hardware
                                                    </td>
                                                    <td><span
                                                            style="margin-right: 5px;"
                                                            class="badge badge-primary"
                                                            *ngFor="let sh of app.SpecialHardware">***REMOVED******REMOVED*** sh["special_hardware_name"] ***REMOVED******REMOVED***</span>
                                                    </td>
                                                    <td>
                                                       <span style="margin-right: 5px;"
                                                             class="badge badge-primary"
                                                             *ngFor="let sh of app.ApplicationExtension?.SpecialHardware">***REMOVED******REMOVED*** sh ***REMOVED******REMOVED***</span>
                                                    </td>
                                                </tr-->

                                                <tr>
                                                    <td>Last status
                                                        changed
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        app.DateStatusChanged
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>


                                            </table>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Application history
        </div>
        <div class="card-body" *ngIf="applications_history.length == 0">
            <div class="alert alert-warning" role="alert">
                <strong>No Applications!</strong> There are no
                applications at all!
            </div>
        </div>

        <div *ngIf="applications_history.length > 0" class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>

                        <th>Project Name</th>
                        <th>Short Name</th>
                        <th>Date submitted (d/m/y)</th>
                        <th>User</th>
                        <th>Institute</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <ng-container
                            *ngFor="let application of applications_history">
                        <ng-container *ngIf="application.Status != application_states.SUBMITTED">
                            <tr [ngStyle]="***REMOVED***'color':lifeTimeReached(application.Lifetime,application.DaysRunning,application.DateStatusChanged)***REMOVED***">
                                <td>***REMOVED******REMOVED*** application.Name ***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED***application.Shortname***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED*** application.DateSubmitted ***REMOVED******REMOVED***
                                </td>
                                <td>***REMOVED******REMOVED*** application.User ***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED*** application.Institute ***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED***
                                    getStatusById(application.Status)
                                    ***REMOVED******REMOVED***
                                </td>
                                <td>
                                    <button (click)="switchCollapseStatus('application_history-' + application.Id);"
                                            type="button"
                                            class="btn btn-secondary">
                                        <i class="fa fa-info-circle"></i>&nbsp;
                                        <span [hidden]="!getCollapseStatus('application_history-' + application.Id)"
                                        >Show</span><span
                                            [hidden]="getCollapseStatus('application_history-' + application.Id)"
                                            style="margin-left: 5px">Hide</span>
                                        Information
                                    </button>
                                    <!--button (click)="deleteModal.show();setDeleteId(application.application_status_id)"
                                            type="button"
                                            class="btn btn-secondary">
                                        Remove Application
                                    </button-->
                                </td>
                            </tr>
                            <tr [ngStyle]="***REMOVED***'color':lifeTimeReached(application.Lifetime,application.DaysRunning)***REMOVED***">
                                <td [class.collapse_no_margin]="getCollapseStatus('application_history-' + application.Id)"
                                    colspan="6">
                                    <div id="application_history-***REMOVED******REMOVED*** application.id ***REMOVED******REMOVED***"
                                         [class.collapse]="getCollapseStatus('application_history-' + application.Id)">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <tr>
                                                    <td>Description
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.Description
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Horizon 2020</td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application.Horizon2020***REMOVED******REMOVED***
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Dissemination allowed</td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application.Dissemination***REMOVED******REMOVED***
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Workgroup</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.Workgroup
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        OpenStackProject
                                                    </td>
                                                    <td>
                                                        ***REMOVED******REMOVED***application.OpenStackProject***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.Status == application_states.MODIFICATION_REQUESTED">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>Comment</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.Comment
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.Comment***REMOVED******REMOVED***
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td>Lifetime</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.Lifetime
                                                        ***REMOVED******REMOVED*** months
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.Lifetime
                                                        +
                                                        application.Lifetime***REMOVED******REMOVED***
                                                        months
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td><b>VMs</b>
                                                    </td>

                                                    <td>
                                                        Current:
                                                        ***REMOVED******REMOVED***application.VMsRequested***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension ">
                                                        Requested:
                                                        ***REMOVED******REMOVED***application.ApplicationExtension.VMsRequested***REMOVED******REMOVED***
                                                    </td>


                                                </tr>

                                                <tr *ngFor="let item of application.CurrentFlavors | keyvalue">
                                                    <td>Flavor: ***REMOVED******REMOVED***item.key***REMOVED******REMOVED***</td>
                                                    <td>***REMOVED******REMOVED***item.value.counter***REMOVED******REMOVED***</td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                            <span *ngIf="application.ApplicationExtension?.RequestedFlavors[item.key]">
                                                                ***REMOVED******REMOVED***application.ApplicationExtension?.RequestedFlavors[item.key]?.counter***REMOVED******REMOVED***</span>
                                                        <span *ngIf="!application.ApplicationExtension?.RequestedFlavors[item.key]">
                                                               0</span></td>
                                                </tr>
                                                <ng-container
                                                        *ngFor="let item of application.ApplicationExtension?.RequestedFlavors| keyvalue ">
                                                    <tr *ngIf="!application.CurrentFlavors[item.key]">
                                                        <td>Flavor: ***REMOVED******REMOVED***item.key***REMOVED******REMOVED***</td>
                                                        <td>0</td>
                                                        <td>
                                                            ***REMOVED******REMOVED***application.ApplicationExtension?.RequestedFlavors[item.key]?.counter***REMOVED******REMOVED***


                                                        </td>


                                                    </tr>
                                                </ng-container>


                                                <tr *ngIf="application.OpenStackProject">
                                                    <td>Total Cores</td>
                                                    <td>***REMOVED******REMOVED***application.TotalCores
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension.TotalCores***REMOVED******REMOVED***
                                                    </td>
                                                </tr>
                                                <tr *ngIf="application.OpenStackProject">
                                                    <td>Total RAM</td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.TotalRam***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension.TotalRAM***REMOVED******REMOVED*** GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Storage Limit
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.VolumeLimit
                                                        ***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.VolumeLimit***REMOVED******REMOVED***
                                                        GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Volume
                                                        Counter
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.VolumeCounter
                                                        ***REMOVED******REMOVED*** volumes
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.VolumeCounter***REMOVED******REMOVED*** volumes
                                                    </td>
                                                </tr>
                                                <tr *ngIf="application.OpenStackProject">
                                                    <td>ObjectStorage
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.ObjectStorage
                                                        ***REMOVED******REMOVED*** GB
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                        ***REMOVED******REMOVED***application.ApplicationExtension?.ObjectStorage***REMOVED******REMOVED***
                                                        GB
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Last status
                                                        changed
                                                    </td>
                                                    <td>***REMOVED******REMOVED***
                                                        application.DateStatusChanged
                                                        ***REMOVED******REMOVED***
                                                    </td>
                                                    <td *ngIf="application.ApplicationExtension">
                                                    </td>
                                                </tr>
                                                <tr *ngIf="application.Status == application_states.APPROVED">
                                                    <td>DaysRunning
                                                    </td>

                                                    <td>
                                                        ***REMOVED******REMOVED***application.DaysRunning***REMOVED******REMOVED***
                                                    </td>

                                                </tr>
                                                <tr *ngIf="application.ComputeCenter">

                                                    <td>Facility
                                                        Details
                                                    </td>
                                                    <td>
                                                        <ul *ngIf="application.ComputeCenter.Name">
                                                            <li *ngIf="application.OpenStackProject">
                                                                <a
                                                                        target="_blank"
                                                                        href="application.ComputeCenter.Login">Login:
                                                                    ***REMOVED******REMOVED***application.ComputeCenter.Login***REMOVED******REMOVED***</a>
                                                            </li>
                                                            <li>
                                                                Support:
                                                                ***REMOVED******REMOVED***application.ComputeCenter.Support***REMOVED******REMOVED***
                                                            </li>

                                                            <!--button (click)="verifyModal.show();UserModalFacilityDetails=project.ComputeCenterDetails;UserModalFacility=project.ComputeCenter;"
                                                                    class="btn btn-primary">Set your OpenStack API password
                                                            </button-->


                                                        </ul>
                                                    </td>

                                                </tr>

                                            </table>
                                        </div>

                                    </div>
                                </td>
                            </tr>

                        </ng-container>


                    </ng-container>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!--/.col-->

</div>


<div bsModal #notificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">***REMOVED******REMOVED*** notificationModalTitle ***REMOVED******REMOVED***</h4>
                <button type="button" class="close" style="cursor:pointer"
                        (click)="notificationModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-***REMOVED******REMOVED*** notificationModalType ***REMOVED******REMOVED***" role="alert">
                    ***REMOVED******REMOVED*** notificationModalMessage ***REMOVED******REMOVED***
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="notificationModalIsClosable == true" type="button"
                        (click)="notificationModal.hide();" type="reset"
                        class="btn  btn-secondary"> Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

