<div class="animated fadeIn" ng-app>
    <div class="row">
        <!--/.col-->
        <h1 *ngIf="selectedFacility">Projects Overview: ***REMOVED******REMOVED***selectedFacility['Facility']***REMOVED******REMOVED***


        </h1>

        <div class="col-lg-12">
            <button (click)="emailModal.show()" type="button " class="btn btn-secondary"
                    style="margin-bottom: auto;margin-left:auto; margin-top: auto"><i class="icon-envelope-letter"></i>
                Send email
            </button>

            <div class="card">
                <div><select [(ngModel)]="selectedFacility" (ngModelChange)="onChangeSelectedFacility($event)"
                             class="form-control col-md-1" name="selectedFacility">
                    <option *ngFor="  let facility of managerFacilities" [ngValue]="facility">
                        ***REMOVED******REMOVED***facility['Facility']***REMOVED******REMOVED***
                    </option>

                </select></div>
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Projects

                </div>

                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Project ID</th>
                            <th>Project Name</th>
                            <th>Description</th>

                            <th>Date created</th>
                            <th>Days running</th>
                            <th>Lifetime in Days</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let project of projects"
                            [ngStyle]="***REMOVED***'color':lifeTimeReached(project.LifetimeDays,project.DaysRunning)***REMOVED***">
                            <td>***REMOVED******REMOVED*** project.Id ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** project.Name ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** project.Description ***REMOVED******REMOVED***</td>


                            <td>***REMOVED******REMOVED*** project.DateCreated ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** project.DaysRunning ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED***project.LifetimeDays***REMOVED******REMOVED***</td>
                            <td>
                                <button type="button" class="btn btn-secondary" data-toggle="modal"
                                        (click)="showMembersOfTheProject(project.Id, project.Name,project.ComputeCenter[0]); usersModal.show(); "

                                >
                                    <i class="fa fa-users"></i>&nbsp;Show Members
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>


<div bsModal #usersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Members of the Project ***REMOVED******REMOVED*** usersModalProjectID ***REMOVED******REMOVED***
                    (***REMOVED******REMOVED*** usersModalProjectName ***REMOVED******REMOVED***)</h4>
                <button type="button" class="close" (click)="usersModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Member ID</th>
                        <th>Full Name</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let member of usersModalProjectMembers">
                        <td>***REMOVED******REMOVED*** member.Id ***REMOVED******REMOVED***</td>
                        <td>***REMOVED******REMOVED*** member.MemberId ***REMOVED******REMOVED***</td>
                        <td>***REMOVED******REMOVED*** member.Username ***REMOVED******REMOVED***</td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="usersModal.hide()">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #emailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="selectedFacility"> Send email to all members of
                    ***REMOVED******REMOVED***selectedFacility['Facility']***REMOVED******REMOVED***</h4>
                <button type="button" class="close" (click)="emailModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <form class="form-horizontal" id="email_form" #f="ngForm">
                        <div class="form-group row"
                             [ngClass]="***REMOVED***'has-danger':emailSub.invalid && (emailSub.dirty || emailSub.touched),
                    'has-success':emailSub.valid && (emailSub.dirty || emailSub.touched)
                    ***REMOVED***">
                            <label class="col-md-12 control-label"><strong>Email
                                subject*</strong></label>
                            <div class="col-md-12">
                                <input required id="emailSubject" name="emailSub" placeholder="Subject"
                                       class="form-control"
                                       type="text" [(ngModel)]="emailSubject" minlength="1" #emailSub="ngModel">

                            </div>
                        </div>

                        <div class="form-group row" [ngClass]="***REMOVED***'has-danger':emailRep.invalid && (emailRep.dirty || emailRep.touched),
                    'has-success':emailRep.valid && (emailRep.dirty || emailRep.touched)
                    ***REMOVED***">
                            <label class="col-md-12 control-label"><strong>Reply to (optional)</strong></label>
                            <div class="col-md-12">
                                <input id="Reply to" name="emailReply" placeholder="" class="form-control"
                                       type="text" [(ngModel)]="emailReply" #emailRep="ngModel"
                                       pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`***REMOVED***|***REMOVED***~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">

                            </div>
                        </div>
                        <!-- Textarea -->
                        <div class="form-group row" [ngClass]="***REMOVED***'has-danger':emailT.invalid && (emailT.dirty || emailT.touched),
                    'has-success':emailT.valid && (emailT.dirty || emailT.touched)
                    ***REMOVED***">
                            <label class="col-md-12 control-label"><strong>Email text*</strong></label>
                            <div class="col-md-12">
                            <textarea minlength="1" required class="form-control" id="emailText" name="emailText"
                                      [(ngModel)]="emailText"
                                      type="text" #emailT="ngModel"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" [disabled]="f.invalid" class="btn btn-primary"
                            (click)="emailModal.hide(); verifyModal.show()">Send email
                    </button>
                    <button type="button" class="btn btn-secondary" (click)="emailModal.hide();resetEmailModal()">Close
                    </button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #verifyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send email</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert" *ngIf="selectedFacility">
                    Are you sure you want to send this email to all members of the ***REMOVED******REMOVED***selectedFacility['Facility']***REMOVED******REMOVED***?
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn  btn-success col-md-4"
                        (click)="sendMailToFacility(selectedFacility['FacilityId'],emailSubject,emailText,emailReply);verifyModal.hide();f.reset()resetEmailModal();successModal.show()">
                    Yes
                </button>
                <button class="btn  btn-danger col-md-4" type="reset"
                        (click)="verifyModal.hide();emailModal.show()">Cancel
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="emailStatus == 0"> Waiting </h4>
                <h4 class="modal-title" *ngIf="emailStatus == 1"> Success </h4>
                <h4 class="modal-title" *ngIf="emailStatus == 2"> Error </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert" *ngIf="emailStatus == 0">
                    Sending the email. <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="emailStatus == 1">
                    The email has been send successfully.
                </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="emailStatus == 2">
                when sending the email an error has occurred.
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">Close</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





