<div class="modal-header">
	<h4 class="modal-title" data-test-id="confirmation_modal_title">{{ modalTitle }}</h4>
	<button type="button" class="close" style="cursor: pointer" (click)="bsModalRef.hide()" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div
		class="alert"
		[ngClass]="{ 'alert-danger': type === 'Decline', 'alert-info': type === 'Approve' }"
		role="alert"
		id="confirmation_modal_message"
	>
		<p data-test-id="confirmation_modal_message">
			{{ modalMessage }} for {{ application.project_application_shortname }}?
		</p>
	</div>
</div>
<div class="modal-footer">
	<button
		class="btn btn-secondary col-md-4"
		type="reset"
		data-test-id="close_confirmation_modal_btn"
		(click)="sendClosed(); bsModalRef.hide()"
	>
		Abort & Close
	</button>
	<button
		class="btn col-md-4"
		[ngClass]="{ 'btn-danger': type === 'Decline', 'btn-success': type === 'Approve' }"
		data-test-id="confirm_confirmation_model_btn"
		(click)="confirmAction(); bsModalRef.hide()"
	>
		Confirm {{ type }}
	</button>
</div>
