<div class="modal-header">
	<h4 class="modal-title text-dark" data-test-id="confirmation_modal_title">{{ modalTitle }}</h4>
	<button type="button" class="btn-close" style="cursor: pointer" (click)="hide()" aria-label="Close"></button>
</div>
<div class="modal-body">
	<div
		class="alert"
		[ngClass]="{
			'alert-danger': type === ConfirmationTypes.DECLINE || type === ConfirmationTypes.DISABLE,
			'alert-success': type === ConfirmationTypes.ENABLE || type === ConfirmationTypes.APPROVE,
			'alert-info': !(
				type === ConfirmationTypes.DECLINE ||
				type === ConfirmationTypes.DISABLE ||
				type === ConfirmationTypes.ENABLE ||
				type === ConfirmationTypes.APPROVE
			),
		}"
		role="alert"
		id="confirmation_modal_message"
	>
		<p data-test-id="confirmation_modal_message">
			{{ modalMessage }}: {{ application.project_application_shortname }}?
		</p>
		@if (additional_msg) {
			<div class="alert alert-warning" role="alert">
				<span [innerHTML]="additional_msg"></span>
			</div>
		}
	</div>
</div>
<div class="modal-footer">
	<button
		class="btn btn-secondary col-md-4"
		type="reset"
		data-test-id="close_confirmation_modal_btn"
		(click)="sendClosed()"
	>
		Abort & Close
	</button>
	<button
		class="btn col-md-4"
		[ngClass]="{
			'btn-danger': type === ConfirmationTypes.DECLINE || type === ConfirmationTypes.DISABLE,
			'btn-success': type === ConfirmationTypes.ENABLE || type === ConfirmationTypes.APPROVE,
			'btn-info': !(
				type === ConfirmationTypes.DECLINE ||
				type === ConfirmationTypes.DISABLE ||
				type === ConfirmationTypes.ENABLE ||
				type === ConfirmationTypes.APPROVE
			),
		}"
		data-test-id="confirm_confirmation_modal_btn"
		(click)="confirmAction()"
	>
		Confirm {{ buttonText() }}
	</button>
</div>
