<div *ngIf="_selectedVirtualMachine?.status != 'DELETED'">
  <div class="row justify-content-center">
    <button class="btn btn-primary" style="margin-bottom: 5px; width: 100%"
            (click)="showSshCommando = !showSshCommando">
      <span [hidden]="!showSshCommando">Show: </span>
      <span [hidden]="showSshCommando">Hide: </span>
      How to connect to your vm?
    </button>
  </div>
  <div class="row justify-content-center">
    <pre [hidden]="showSshCommando">***REMOVED******REMOVED***_selectedVirtualMachine?.ssh_command***REMOVED******REMOVED***</pre>
  </div>
</div>

<div *ngIf="_selectedVirtualMachine?.status != 'DELETED'">
  <div class="row justify-content-center">
    <button *ngIf="_selectedVirtualMachine?.udp_command" class="btn btn-primary" style="margin-bottom: 5px; width: 100%"
            (click)="showUdpCommando = !showUdpCommando">
      <span [hidden]="!showUdpCommando">Show</span>
      <span [hidden]="showUdpCommando">Hide</span>
      Mosh Connection Info
    </button>
  </div>
  <div class="row justify-content-center">
                <pre *ngIf="_selectedVirtualMachine?.udp_command" [hidden]="showUdpCommando">
            1. You need to install mosh on your virtual Machine.
               Connect with the ssh command above and run: <br>
               (On Ubuntu) sudo apt-get install mosh
               or <a href="https://mosh.org/#getting" target="_blank">Click Here for different OS</a> <br>
            2. You need to install mosh on your Computer:
               <a href="https://mosh.org/#getting" target="_blank">Click Here for different OS</a>
               or on Ubuntu run: <br>
               sudo apt-get install mosh <br>
            3. Connect with mosh to your virtual Machine:
                  ***REMOVED******REMOVED***_selectedVirtualMachine?.udp_command***REMOVED******REMOVED***</pre>
  </div>
</div>

<div *ngIf="playbook_run == 1">
  <div class="row justify-content-center">
    <span *ngIf="logs && logs['status'] == 0">
      Your automated setup is completed! <br>
      If you want, take a look at the ansible-playbook logs below. <br>
    </span>
    <span *ngIf="logs && logs['status'] != 0">
      Oh no, something went wrong! <br>
      Thus we can not provide a working virtual machine and consequently deleted it for you. <br>
      Please take a look at the logs below, to see what went wrong. <br>
    </span>
  </div>
  <div class="row justify-content-center">
    <button class="btn btn-primary" style="margin-bottom: 5px; width: 100%"
            (click)="showLogs = !showLogs">
      <span [hidden]="!showLogs">Show: </span>
      <span [hidden]="showLogs">Hide: </span>
      Download ansible logs button
    </button>
  </div>
  <div class="row justify-content-center" [hidden]="showLogs">
    <button class="btn btn-secondary" (click)="downloadFile('pdf')" style="margin: 5px">Download as PDF</button><br>
    <button class="btn btn-secondary" (click)="downloadFile('txt')" style="margin: 5px">Download as txt</button>
  </div>
</div>
