<ngb-tabset type="pills">
  <ngb-tab>
    <ng-template ngbTabTitle><b>SSH</b></ng-template>

    <ng-template ngbTabContent>
      <div class="row justify-content-center">
        <pre style="word-wrap: break-word;"><code>{{_selectedVirtualMachine?.ssh_command}}</code></pre>
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="_selectedVirtualMachine?.udp_command">
    <ng-template ngbTabTitle><b>MOSH</b></ng-template>
    <ng-template ngbTabContent>
      <div class="row justify-content-center">
                <pre>
            1. You need to install mosh on your virtual Machine.
               Connect with the ssh command above and run: <br>
               (On Ubuntu) sudo apt-get install mosh
               or <a href="https://mosh.org/#getting" target="_blank">Click Here for different OS</a> <br>
            2. You need to install mosh on your Computer:
               <a href="https://mosh.org/#getting" target="_blank">Click Here for different OS</a>
               or on Ubuntu run: <br>
               sudo apt-get install mosh <br>
            3. Connect with mosh to your virtual Machine:
                  {{_selectedVirtualMachine?.udp_command}}</pre>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngIf="playbook_run == 1">
    <ng-template ngbTabTitle><b>CONDA</b></ng-template>
    <ng-template ngbTabContent>
      <div class="row justify-content-center">
    <span *ngIf="logs && logs['status'] == 0">
     The installation of the conda packages were successful! <br>
      If you want, take a look at the ansible-playbook logs below. <br>
    </span>
        <span *ngIf="logs && logs['status'] != 0">
      Oh no, something went wrong! <br>
      Please take a look at the logs below, to see what went wrong. <br>
    </span>
      </div>
        <div class="row justify-content-center">
          <div class="btn-group">
            <button class="btn btn-secondary" (click)="downloadFile('pdf')" style="margin: 5px">Download as PDF</button>
            <button class="btn btn-secondary" (click)="downloadFile('txt')"
                    style="margin: 5px">Download as txt
            </button>
          </div>
        </div>

    </ng-template>
  </ngb-tab>
</ngb-tabset>
<div><strong>Instance: <span id="instance_name"> {{selectedVirtualMachine.name}}</span></strong></div>


