.loader ***REMOVED***
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
***REMOVED***

/* Safari */
@-webkit-keyframes spin ***REMOVED***
  0% ***REMOVED*** -webkit-transform: rotate(0deg); ***REMOVED***
  100% ***REMOVED*** -webkit-transform: rotate(360deg); ***REMOVED***
***REMOVED***

@keyframes spin ***REMOVED***
  0% ***REMOVED*** transform: rotate(0deg); ***REMOVED***
  100% ***REMOVED*** transform: rotate(360deg); ***REMOVED***
***REMOVED***
