<div *ngIf="isLoaded && userinfo?.PublicKey === 'None'">
	<div>
		<div class="card" style=" ">
			<div class="card-header">
				<i class="fa fa-align-justify"></i> Public Key
			</div>

			<div class="card-body">

				<div style="padding:5px" class="alert alert-primary"><strong>Info: </strong>
					You need to set a valid SSH Key before you can start a machine. Please set a
					valid key below or on
					your <a
						href="#/userinfo">personal data page</a>.
				</div>
				<div style="width: 100%" class="table-responsive">
					<table class="table table-striped">

						<tr app-public-key [userinfo]="userinfo"></tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div *ngIf=" !isLoaded || (singleProject && !projectDataLoaded )" class="loader"></div>
<div *ngIf=" isLoaded && userinfo?.PublicKey !=='None' && projects.length === 0">
	<div class="alert alert-warning" role="alert">
		You are not a member of any Simple VM project.
	</div>
</div>
<div *ngIf=" isLoaded && userinfo?.PublicKey !=='None' && projects.length > 0
  && (!singleProject || (singleProject && projectDataLoaded ))"
		 class="animated fadeIn">

	<div class="row">
		<div class="col-md-12">
			<div class="card" style=" ">
				<div class="card-header">
					<strong>New Cluster</strong>
					<span *ngIf="singleProject" id="singleProjectNameSpan"> - <strong>{{this.selectedProject[0]}}</strong></span>
				</div>

				<div class="card-body">


					<form id="application_form" #f="ngForm"
								class="form-horizontal">
						<div class="form-group row col-md-12" *ngIf="!singleProject">
							<label class="col-md-2 form-control-label"><strong>Project*</strong></label>
							<span *ngIf="(client_avaiable|| selectedProject) && (!projectDataLoaded || !flavors_loaded)"
										class="spinner-border text-info"></span>


							<div class="col-md-8">
								<select required class="form-control form-select" name="projectSelect"
												[(ngModel)]="selectedProject" id="projectSelect"
												(ngModelChange)="getSelectedProjectClient(); "
								>
									<option value="undefined" disabled selected hidden> Please
										Select
									</option>
									<option *ngFor="let project of projects" [ngValue]="project"
													id="id_option_{{project[0]}}">
										{{project[0]}}
									</option>

								</select>


							</div>

						</div>
						<div class="alert alert-danger" role="alert"
								 *ngIf="client_avaiable && !selectedProjectClient?.bibigrid_available && projectDataLoaded && flavors_loaded">
							Starting a cluster is currently not possible!<br>
							If you have any questions please contact <a
							href="mailto:{{CLOUD_PORTAL_SUPPORT_MAIL}}">{{CLOUD_PORTAL_SUPPORT_MAIL}}.</a>
						</div>

						<div
							*ngIf="client_avaiable && selectedProjectClient?.bibigrid_available && projectDataLoaded && flavors_loaded">
							<app-resource-overview [ressourceUsage]="selectedProjectRessources"
																		 [newCores]="newCores" [newRam]="newRam" [newGpus]="newGpus"
																		 [newVms]="newVms"
																		 [showAdditionalRes]="true"></app-resource-overview>
							<accordion class="col">

								<div>
									<div class="alert alert-primary" role="alert"
											 *ngIf="selectedProject && (selectedProjectRessources?.used_vms + 2 ) > selectedProjectRessources?.number_vms">
										The limit for virtualmachines is too low for your project to start a new cluster.
										Your principal
										investigator can request more
										resources if necessary.

									</div>
									<div class="alert alert-primary " role="alert"
											 *ngIf="selectedProject && selectedProjectRessources?.cores_used < selectedProjectRessources?.cores_total && !(selectedProjectRessources.ram_used < selectedProjectRessources.ram_total) && flavors_loaded && flavors_usable.length === 0 && !selectedFlavor">
										There are too few cores available for this project to start a new machine.
										Your principal investigator can request more
										resources if necessary.
									</div>
									<div class="alert alert-primary " role="alert"
											 *ngIf="selectedProject && !(selectedProjectRessources?.cores_used < selectedProjectRessources?.cores_total) && (selectedProjectRessources.ram_used < selectedProjectRessources.ram_total) && flavors_loaded && flavors_usable.length === 0 && !selectedFlavor">
										There is not enough ram available for this project to start a new machine.
										Your principal investigator can request more
										resources if necessary.
									</div>
									<div class="alert alert-primary " role="alert"
											 *ngIf="selectedProject && selectedProjectRessources?.cores_used < selectedProjectRessources?.cores_total && selectedProjectRessources.ram_used < selectedProjectRessources.ram_total && flavors_loaded && flavors_usable.length === 0 && !selectedFlavor">
										There are too few cores and not enough ram available for this project to start a new machine.
										Your principal investigator can request more
										resources if necessary.
									</div>
								</div>
							</accordion>


							<div>


								<div class="form-group row col-md-12">
									<label class="col-md-2 form-control-label"><strong>Master Instance</strong></label>
								</div>

								<div class="form-group row col-md-12">
									<label class="col-md-2 form-control-label"><strong>Flavor*</strong></label>
									<div class="col-md-10">
										<div class="card">
											<div class="card-header">

												<ul class="nav nav-tabs card-header-tabs" style="overflow: hidden" role="tablist">
													<li class="nav-item " style="  cursor: pointer"
															*ngFor="let item of flavor_types | keyvalue:unsorted"><a
														[ngClass]="{'active': selected_flavor_type === item.key }"
														(click)="setSelectedFlavorType(item.key)" class="nav-link">{{item.key}} </a>

													</li>


												</ul>											</div>

												<div class="card-body">

													<div
														*ngIf="flavor_types[selected_flavor_type].length >0 && flavor_types[selected_flavor_type][0]?.type?.description"
														class="alert alert-primary">

														{{flavor_types[selected_flavor_type][0].type.description}}
													</div>


													<app-flavor-detail [selectedFlavor]="selectedMasterFlavor" id="id_flavor_detail"
																						 [flavors]="flavor_types[selected_flavor_type]"
																						 (selectedFlavorChange)="selectedMasterFlavor=$event;resetBatches();calculateNewValues();"
																						 id="master_id_flavor_detail"></app-flavor-detail>
												</div>


										</div>


									</div>
								</div>


								<div class="form-group row col-md-12">

									<label class="col-md-2 form-control-label"><strong>Image*</strong></label>

									<div class="col-md-10">
										<div class="alert alert-info" *ngIf="(images?.length === 0) || !images">
											There are no images available for selection at the moment.
											Please contact the support of the facility where your project is running.
										</div>


										<app-image-detail *ngIf="images?.length > 0" [selectedImage]="selectedMasterImage"
																			[images]="images"
																			(selectedImageChange)="selectedMasterImage=$event;this.selectedWorkerBatches[0].image=selectedMasterImage;"
																			id="master_id_image_detail"></app-image-detail>
										<div class="alert alert-info" *ngIf="selectedMasterImage"> This image will also be used for every
											worker!
										</div>
									</div>

								</div>

								<accordion class="col"
													 *ngIf="selectedProject && projectDataLoaded && (selectedProjectRessources?.used_vms +2) <= selectedProjectRessources?.number_vms && (flavors.length !== 0 || selectedFlavor) && images?.length> 0">

									<div class="alert alert-primary " role="alert"
											 *ngIf="(!selectedMasterFlavor || !selectedMasterImage) &&  (selectedProjectRessources?.used_vms + 2 ) <= selectedProjectRessources?.number_vms">
										Please select a master instance configuration before selecting the worker instances!
									</div>
								</accordion>

								<accordion class="col">

									<accordion-group #workerInstancesGroup [isOpen]="!(!selectedMasterFlavor || !selectedMasterImage)"
																	 (isOpenChange)="resizeFix();"
																	 [isDisabled]="!selectedMasterFlavor || !selectedMasterImage"

																	 *ngIf="selectedProject && projectDataLoaded &&  (selectedProjectRessources?.used_vms + 2 ) <= selectedProjectRessources?.number_vms &&
                  (flavors.length !== 0 || selectedFlavor)">
										<div accordion-heading style="width: 100%; cursor: pointer"><strong
											*ngIf="!selectedMasterFlavor || !selectedMasterImage">Worker Instances [disabled] </strong>
											<strong *ngIf="selectedMasterFlavor && selectedMasterImage">Worker Instances </strong>
											<i class="pull-right float-right" style="font-size: 25px" [ngClass]="{
                            'icon-arrow-up': workerInstancesGroup.isOpen, 'icon-arrow-down': !workerInstancesGroup.isOpen}"></i>
										</div>
										<accordion-group *ngFor="let batch of selectedWorkerBatches" [isOpen]="true"
																		 (isOpenChange)="resizeFix();">
											<div accordion-heading style="width: 100%; cursor: pointer"><strong
												*ngIf="selectedBatch !== batch">Batch {{batch.index}} [locked] </strong>
												<strong *ngIf="selectedBatch === batch">Batch {{batch.index}} </strong>

											</div>
											<div class="alert alert-warning"
													 *ngIf="batch.usable_flavors.length < 1 && selectedBatch === batch && !batch.flavor">Not
												enough resources available
												to start another worker batch with a different flavor!
											</div>
											<span *ngIf="batch.usable_flavors.length > 0 || selectedBatch !== batch || batch.flavor">

                      <div class="form-group row col-md-12">
                        <label class="col-md-2 form-control-label"><strong>Flavor*</strong></label>
                        <div class="col-md-10">


                          <app-flavor-detail *ngIf="selectedBatch === batch" [selectedFlavor]="batch.flavor"
																						 [flavors]="batch.usable_flavors"
																						 id="selected_batch_id_flavor_detail"
																						 (selectedFlavorChange)="batch.flavor=$event;selectedWorkerFlavorSet=true;calcMaxWorkerInstancesByFlavor();"
													></app-flavor-detail>
                          <app-flavor-detail *ngIf="selectedBatch !== batch" [selectedFlavor]="batch.flavor"
																						 [flavors]="[batch.flavor]"
													></app-flavor-detail>

                        </div>


                      </div>


                      <div class="alert alert-danger" role="alert" *ngIf="!batch.flavor">
                        Please first select a worker flavor before you can set the number of workers.
                      </div>
                      <div class="form-group row col-md-12">

                        <label class="col-md-2 form-control-label"><strong>Count*
                          <span
														*ngIf="selectedBatch.max_worker_count && selectedBatch === batch">(max {{selectedBatch.max_worker_count}}
														)</span></strong></label>
                        <div class="col-md-10">


                          <input class="form-control" id="workerInstancesCount_{{batch.index}}"
																 [disabled]="!batch.flavor || selectedBatch !== batch"
																 name="workerInstancesCount_{{batch.index}}"
																 placeholder="e.g 1"
																 id="selected_batck_worker_count"

																 type="number" min="1" [max]="batch.max_worker_count" step="1"
																 [(ngModel)]="batch.worker_count" required
																 appMinAmount="1" appMaxAmount="{{batch.max_worker_count}}"
																 appInteger (ngModelChange)="changeCount();"
																 [ngClass]=" {
                        'is-invalid': f.controls['workerInstancesCount_' + batch.index]?.invalid &&
                        (f.controls['workerInstancesCount_' + batch.index]?.dirty || f.controls['workerInstancesCount_' + batch.index]?.touched),
                        'is-valid': f.controls['workerInstancesCount_' + batch.index]?.valid && (f.controls['workerInstancesCount_' + batch.index]?.dirty ||
                        f.controls['workerInstancesCount_' + batch.index]?.touched)
                        }">
                        </div>

                      </div></span>
											<button *ngIf="this.selectedWorkerBatches.length > 1"

															type="button" style="float: right;margin-bottom: 5px;"

															class="btn btn-primary"
															data-toggle="modal"
															(click)="removeBatch(batch)">
												Remove Worker Batch
											</button>
											<button *ngIf="selectedBatch === batch"
															[disabled]="!batch.flavor || !batch.worker_count"

															type="button" style="float: left;margin-bottom: 5px;"


															class="btn btn-primary"
															data-toggle="modal"
															(click)="addBatch();">
												Add Worker Batch
											</button>
										</accordion-group>


									</accordion-group>
								</accordion>
							</div>
						</div>


					</form>

					<div
						*ngIf=" selectedProjectClient?.bibigrid_available && (selectedProjectRessources?.used_vms +2) <= selectedProjectRessources?.number_vms && (!selectedBatch.worker_count || selectedBatch.worker_count === 0  ||!selectedMasterFlavor || !selectedMasterImage || !selectedWorkerFlavorSet  ) && selectedProject && projectDataLoaded && flavors_loaded"
						class="alert alert-danger col-md-10" role="alert" style="margin: auto;">
						<p>Please choose the following before starting a Cluster:</p>
						<p *ngIf="!selectedMasterFlavor">- The flavor type of your Master VM
						</p>
						<p *ngIf="!selectedMasterImage">- The image you want to run on your Master VM
						</p>
						<p *ngIf="!selectedWorkerFlavorSet">- The flavor types of your Worker Batches.
						</p>
						<p *ngIf="!selectedBatch.worker_count || selectedBatch.worker_count === 0">- A count greater than 0 for your
							workers in your batches.
						</p>


					</div>
					<div
						*ngIf="projectDataLoaded && (selectedProjectRessources?.used_vms +2) <= selectedProjectRessources?.number_vms && (flavors?.length > 0  || selectedFlavor) && selectedProjectClient?.bibigrid_available"
						class="alert alert-warning col-md-10" role="alert" style="margin: auto;">
						<input class="form-check-input"
									 name="cluster_responsibility"
									 type="checkbox"
									 id="cluster_responsibility"
									 [(ngModel)]="cluster_responsibility"
									 required>
						<label class="form-check-label" for="cluster_responsibility">
							I hereby confirm that I am responsible for the cluster and any action performed on it.
						</label>
					</div>
					<div class="form-group row"
							 *ngIf="projectDataLoaded && (selectedProjectRessources?.used_vms +2) <= selectedProjectRessources?.number_vms && (flavors?.length > 0  || selectedFlavor) && selectedProjectClient?.bibigrid_available">

						<button style=" margin-left: auto;margin-top: 25px;
    margin-right: auto;
    width: 8em" id="startClusterButton"
										type="button"
										[disabled]="!cluster_responsibility || !selectedMasterFlavor || !selectedMasterImage || !selectedWorkerFlavorSet || !selectedBatch.valid_batch || !selectedBatch.worker_count || selectedBatch.worker_count === 0"
										class="btn btn-primary  .btn-lg offset-md-8"
										data-toggle="modal"
										(click)="startCluster();infoModal.show()">
							Start Cluster
						</button>
					</div>
				</div>

				<div class="alert alert-danger"
						 *ngIf="isLoaded && !client_avaiable && selectedProject && client_checked">The
					corresponding client is currently offline.
					If you have any questions please contact <a
						href="mailto:{{CLOUD_PORTAL_SUPPORT_MAIL}}">{{CLOUD_PORTAL_SUPPORT_MAIL}}</a>.
				</div>

			</div>

			<!--/.col-->

		</div>
	</div>
	<div class="col-md-6">

	</div>

</div>

<div bsModal #infoModal="bs-modal" class="modal fade " tabindex="-1" role="dialog"
		 aria-labelledby="myModalLabel" aria-hidden="true"
		 id="info_modal">
	<div class="modal-dialog modal-info" role="document"
	>

		<div class="modal-content">
			<div class="modal-header">
				Cluster Start
			</div>
			<div class="modal-body">
        <span *ngIf="!cluster_started">        Starting Cluster..
</span>
				<span
					*ngIf="cluster_id && cluster_started"> The ID of your new cluster is <strong
					id="new_cluster_id">{{cluster_id}}</strong>.</span>
				<span *ngIf="cluster_error">  {{cluster_error}}.</span>

			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


