<div class="card" style=" ">
    <div class="card-header">
        <div>
            <h3 style="text-align: center;">Consent Info</h3>

        </div>


        <div class="col-md-12">
            <p style="text-align: center;">In order to offer our services fully functional we need all permissions requested on the "Consent
                about releasing personal information" page.</p>
            <p style="text-align: center;">If you want to use our services, please fill in all checkboxes.</p>
            <p style="text-align: center;">Back to <a href={{voLoginLink}}>login</a></p>

        </div>

    </div>
</div>
