<div class="card" style="">
	<div class="card-header">
		<div>
			<h3 style="text-align: center">Registration Required!</h3>
		</div>

		<div class="col-md-12">
			<p style="text-align: center">You are not a member of the de.NBI virtual organisation.</p>
			<p style="text-align: center">
				Please <a target="_blank" rel="noopener noreferrer" href="{{ voRegistrationLink }}">Register</a> for an
				LifeScience account and apply for membership in the de.NBI virtual organisation.
			</p>
			<p style="text-align: center">Once your registration is confirmed you can access the de.NBI Cloud.</p>
		</div>
	</div>
</div>
