@if (is_vo_admin) {
	<td>
		@if (
			(application | hasstatusinlist: Application_States.SUBMITTED) ||
			(application | hasstatusinlist: Application_States.CONFIRMATION_DECLINED) ||
			((application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) &&
				!application?.project_application_compute_center?.FacilityId)
		) {
			<select
				[ngClass]="selectedComputeCenter !== undefined ? 'is-valid' : 'is-invalid'"
				[(ngModel)]="selectedComputeCenter"
				class="form-select"
				[id]="'id_compute_center_option_' + application?.project_application_name"
				[attr.data-test-id]="'id_compute_center_option_' + application?.project_application_name"
				#computeCenterSelection
			>
				<option [ngValue]="undefined" selected>no center selected</option>
				<ng-container *ngFor="let computeCenter of computeCenters">
					<option
						*ngIf="computeCenter.hasClient || application?.project_application_openstack_project"
						label="{{ computeCenter.Name }}"
						[ngValue]="computeCenter"
						[id]="computeCenter.Name"
					>
						{{ computeCenter.Name }}
					</option>
				</ng-container>
			</select>
		} @else if (application?.project_application_compute_center?.Name) {
			<span> {{ application?.project_application_compute_center?.Name }}</span>
		}
	</td>
	<td>
		<div class="btn-group">
			@if (application?.processing_vo_initials && is_vo_admin) {
				<button
					style="margin: 2px"
					(click)="unsetProcessingVoManager(application)"
					type="button"
					class="btn btn-danger"
					tooltip="Unassign Processing VO"
				>
					<i class="fa fa-user-slash"></i>&nbsp; <span class="d-none">Unassign Proccessing VO</span>
				</button>
			}
			@if (!application?.processing_vo_initials && is_vo_admin) {
				<button
					style="margin: 2px"
					(click)="setCurrentUserProcessingVoManager(application)"
					type="button"
					class="btn btn-secondary"
					tooltip="Assign self as processing vo"
				>
					<i class="fa fa-user-pen"></i>&nbsp;
					<span class="d-none">Assign Proccessing VO</span>
				</button>
			}

			@switch (tabState) {
				@case (ApplicationTabStates.SUBMITTED) {
					<button
						type="button"
						id="btn_adjust_{{ application.project_application_shortname }}"
						class="btn btn-primary"
						tooltip="Adjust Application"
						style="margin: 2px"
						(click)="showAdjustApplicationModal()"
					>
						<i class="fa fa-pen"></i>&nbsp;
						<span class="d-none"> Adjust</span>
					</button>
					@if (
						(application | hasstatusinlist: Application_States.SUBMITTED) &&
						!application?.project_application_openstack_project
					) {
						<button
							style="margin: 2px"
							[id]="'approve_' + application?.project_application_shortname"
							[attr.data-test-id]="'approve_' + application?.project_application_name"
							(click)="showClientsLimitsModal()"
							[disabled]="!selectedComputeCenter"
							type="button"
							class="btn btn-success"
							tooltip="Approve Application!!!"
						>
							<i class="fa fa-check"></i>&nbsp;
							<span class="d-none">Approve & Create </span>
						</button>
					}
					@if (application | hasstatusinlist: Application_States.SUBMITTED) {
						<button
							type="button"
							class="btn btn-danger"
							id="btn_decline_{{ application.project_application_shortname }}"
							[attr.data-test-id]="'btn_decline_' + application.project_application_name"
							style="margin: 2px"
							tooltip="Decline Application"
							(click)="showConfirmationModal(ConfirmationActions.DECLINE_APPLICATION)"
						>
							<i class="fas fa-times"></i>&nbsp;
							<span class="d-none">Decline</span>
						</button>
					}
					@if (
						application.project_application_pi_approved && (application | hasstatusinlist: Application_States.SUBMITTED)
					) {
						<button
							type="button"
							id="btn_reset_pi_{{ application.project_application_shortname }}"
							class="btn btn-warning"
							tooltip="Unset PI"
							style="margin: 2px"
							(click)="showConfirmationModal(ConfirmationActions.RESET_PI)"
						>
							<i class="fa fa-user-times"></i>&nbsp;
							<span class="d-none"> Unset PI</span>
						</button>
					}
					@if (
						(application | hasstatusinlist: Application_States.CONFIRMATION_DECLINED) ||
						((application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) &&
							!application?.project_application_compute_center?.FacilityId)
					) {
						<button
							style="margin: 2px"
							(click)="assignGroupToFacility()"
							[disabled]="!selectedComputeCenter"
							type="button"
							class="btn btn-info"
							tooltip="Assign to facility"
						>
							<i class="fa fa-check"></i>&nbsp;
							<span class="d-none">Assign</span>
						</button>
					}
					@if (
						(application | hasstatusinlist: Application_States.SUBMITTED) &&
						!(application | hasstatusinlist: Application_States.APPROVED)
					) {
						<button
							style="margin: 2px"
							(click)="showConfirmationModal(ConfirmationActions.DELETE_APPLICATION)"
							type="button"
							class="btn btn-danger"
							tooltip="Delete Application"
						>
							<i class="fa fa-trash"></i>&nbsp;
							<span class="d-none">Delete</span>
						</button>
					}
					@if (
						(application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) &&
						application?.project_application_compute_center?.FacilityId
					) {
						<button
							style="margin: 2px"
							(click)="removeApplicationFromFacilityConfirmation()"
							type="button"
							class="btn btn-secondary"
							tooltip="Remove the application from the facility"
						>
							<i class="fa fa-eraser"></i>&nbsp;
							<span class="d-none">Reassign</span>
						</button>
					}
					@if (
						(application | hasstatusinlist: Application_States.SUBMITTED) &&
						application?.project_application_openstack_project
					) {
						<button
							style="margin: 2px"
							[id]="'approve_' + application?.project_application_shortname"
							[attr.data-test-id]="'approve_' + application?.project_application_shortname"
							(click)="showConfirmationModal(ConfirmationActions.APPROVE_APPLICATION)"
							[disabled]="!selectedComputeCenter"
							type="button"
							tooltip="Approve Application"
							class="btn btn-success"
						>
							<i class="fa fa-check"></i>&nbsp;
							<span class="d-none">Approve & Create </span>
						</button>
					}
				}
				@case (ApplicationTabStates.LIFETIME_EXTENSION) {
					@if (
						(application | hasstatusinlist: Application_States.LIFETIME_EXTENSION_REQUESTED) &&
						application?.project_lifetime_request
					) {
						<button
							[id]="'extension_approval_' + application?.project_application_shortname"
							[attr.data-test-id]="'extension_approval_' + application?.project_application_name"
							*ngIf="
								(application | hasstatusinlist: Application_States.LIFETIME_EXTENSION_REQUESTED) &&
								application?.project_lifetime_request
							"
							style="margin: 2px"
							(click)="showConfirmationModal(ConfirmationActions.APPROVE_EXTENSION)"
							type="button"
							class="btn btn-success"
							tooltip="Approve Extension"
						>
							<i class="fa fa-check"></i>&nbsp;
							<span class="d-none">Approve Extension</span>
						</button>

						<button
							[id]="'extension_adjustment_' + application?.project_application_shortname"
							[attr.data-test-id]="'extension_adjustment_' + application?.project_application_shortname"
							style="margin: 2px"
							type="button"
							(click)="showAdjustLifetimeExtensionModal()"
							class="btn btn-primary"
							tooltip="Adjust Extension"
						>
							<i class="fa fa-pen"></i>&nbsp;
							<span class="d-none"> Adjust Extension</span>
						</button>
					}
				}
				@case (ApplicationTabStates.CREDITS_EXTENSION) {}
				@case (ApplicationTabStates.MODIFICATION_EXTENSION) {
					@if (
						(application | hasstatusinlist: Application_States.MODIFICATION_REQUESTED) &&
						application?.project_application_openstack_project &&
						application?.project_modification_request
					) {
						<button
							[id]="'modification_approval_' + application?.project_application_shortname"
							style="margin: 2px"
							[attr.data-test-id]="'modification_approval_' + application?.project_application_name"
							(click)="showConfirmationModal(ConfirmationActions.APPROVE_MODIFICATION)"
							type="button"
							tooltip="Approve Modification"
							class="btn btn-success"
						>
							<i class="fa fa-check"></i>&nbsp;
							<span class="d-none">Approve Modification</span>
						</button>
					}

					@if (
						(application | hasstatusinlist: Application_States.MODIFICATION_REQUESTED) &&
						!application?.project_application_openstack_project &&
						application?.project_modification_request
					) {
						<button
							[id]="'modification_approval_' + application?.project_application_shortname"
							style="margin: 2px"
							[attr.data-test-id]="'modification_approval_' + application?.project_application_name"
							(click)="showClientsLimitsModal(true)"
							type="button"
							tooltip="Approve Modification"
							class="btn btn-success"
						>
							<i class="fa fa-check"></i>&nbsp;
							<span class="d-none">Approve Modification</span>
						</button>
					}

					@if (
						(application | hasstatusinlist: Application_States.MODIFICATION_REQUESTED) &&
						application?.project_modification_request
					) {
						<button
							[id]="'modification_adjustment_' + application?.project_application_shortname"
							[attr.data-test-id]="'modification_adjustment_' + application?.project_application_shortname"
							style="margin: 2px"
							type="button"
							tooltip="Adjust Modification"
							(click)="showModificationAdjustmentModal()"
							class="btn btn-primary"
						>
							<i class="fa fa-pen"></i>&nbsp;
							<span class="d-none"> Adjust Modification</span>
						</button>
					}
					@if (
						(application | hasstatusinlist: Application_States.MODIFICATION_REQUESTED) &&
						application?.project_modification_request
					) {
						<button
							type="button"
							class="btn btn-danger"
							tooltip="Decline Modification"
							style="margin: 2px"
							(click)="showConfirmationModal(ConfirmationActions.DECLINE_MODIFICATION)"
						>
							<i class="fa fa-times"></i>&nbsp;
							<span class="d-none">Decline Modification</span>
						</button>
					}
				}
				@case (ApplicationTabStates.TERMINATION_REQUEST) {}
			}

			<button
				(click)="switchCollaps()"
				type="button"
				class="btn btn-secondary"
				style="margin: 2px"
				tooltip="Show details"
			>
				<i class="fa fa-info-circle"></i>&nbsp;
				<span class="d-none" [hidden]="!isCollapsed">Show</span>
				<span class="d-none" [hidden]="isCollapsed">Hide</span>
				<span class="d-none"> Information</span>
			</button>
		</div>
	</td>
}
