<div class="card" style="margin-bottom: 10px">
	<div class="card-header" style="text-align: center">
		<strong>News</strong>
	</div>
	<div class="card-body">
		@if (!news_loaded) {
			<div class="row justify-content-center">
				<span class="spinner-border text-info"></span>
			</div>
		}
		@if (news_loaded && news.length > 0 && !error_on_loading) {
			<owl-carousel-o [options]="custom_options">
				@for (single_news of news; track single_news) {
					<ng-template carouselSlide>
						<app-news-slide [news]="single_news"> </app-news-slide>
					</ng-template>
				}
			</owl-carousel-o>
		}
		@if (news_loaded && news.length < 1 && !error_on_loading) {
			<div class="card-text">
				{{ error_message }}
			</div>
		}
		@if (news_loaded && error_on_loading) {
			<div class="card-text">
				{{ error_message }}
			</div>
		}
	</div>
</div>
