<div *ngIf=" !isLoaded" class="loader"></div>
<div *ngIf="isLoaded && !application"> No application found.</div>

<div *ngIf="isLoaded && application && !validated" class="animated fadeIn">

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <strong *ngIf="application?.OpenStackProject">Cloud Project Application Validation</strong>
            <strong *ngIf="!application?.OpenStackProject">Simple VM Project Application Validation</strong>

          </div>
          <div class="card-body">
            <form #f="ngForm"
                  class="form-horizontal">
              <div class="form-group row">
                <h5 class="col-md-6 form-control-label">General Information</h5>
              </div>
              <div class="form-group row">
                <label *ngIf="application?.OpenStackProject" class="col-md-4"><strong>Cloud Project <i
                  data-balloon="By choosing this project type you will have your own OpenStack project. This allows you to use any framework available in the cloud computing context."
                  data-balloon-pos="down" data-balloon-length="large"><i
                  class="icon-question menu_links"
                  style="cursor: pointer;"></i></i>
                </strong>
                </label>
                <div *ngIf="application?.OpenStackProject" class="col-md-8">
                  A cloud project is represented by an Openstack project which allows
                  you to manage your
                  virtual machines, storage and network configurations.
                </div>

                <label *ngIf="!application?.OpenStackProject" class="col-md-4">
                  <strong>Simple Virtual Machines Project
                    <i data-balloon="You will be able to start virtual machines through the portal with minimal
                                    effort and access them via ssh. This project type does not demand knowlegde in cloud
                                    computing." data-balloon-pos="down" data-balloon-length="large"><i
                      class="icon-question" style="cursor: pointer;"></i></i>
                  </strong>

                </label>

                <div *ngIf="!application?.OpenStackProject" class="col-md-8">
                  This type of project allows you to start virtual machines with SSH
                  access.


                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>Project
                  Name* <i data-balloon="Full name of your project"
                           data-balloon-pos="down"><i
                    class="icon-question"
                    style="cursor: pointer;"></i></i></strong></label>
                <div class="col-md-8">
                  <input disabled type="text" id="id_project_application_name"
                         name="project_application_name"
                         class="form-control" maxlength="128"
                         value="{{application?.Name}}">
                  <span class="help-block">Name of your project.</span>

                </div>

              </div>


              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>Project
                  Short Name* <i
                    data-balloon="Shortname of your project. This name will be referenced in OpenStack and also when you start a new virtual machine. Use between 5 and 15 characters"
                    data-balloon-pos="down" data-balloon-length="large"><i
                    class="icon-question"
                    style="cursor: pointer;"></i></i></strong></label>
                <div class="col-md-8">
                  <input disabled required type="text" id="id_project_application_shortname"
                         name="project_application_shortname" #shortname
                         class="form-control" maxlength="15"
                         value="{{application?.Shortname}}">
                  <span class="help-block">Shortname of your project.</span>

                </div>

              </div>

              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="textarea-input"><strong>Project
                  Description* <i
                    data-balloon="Full description of your project including tools you might are going to use."
                    data-balloon-pos="down" data-balloon-length="large"><i
                    class="icon-question"
                    style="cursor: pointer;"></i></i></strong></label>
                <div class="col-md-8">
                                <textarea disabled id="id_project_application_description"
                                          name="project_application_description" rows="9"
                                          class="form-control" maxlength="8192"
                                          value="{{application?.Description}}"
                                ></textarea>
                  <span class="help-block">Description of your project.</span>

                </div>

              </div>

              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="textarea-input"><strong>extra storage

                  lifetime* <i
                    data-balloon="Lifetime in months of your project. Currently the lifetime is limited to 12 months."
                    data-balloon-length="large" data-balloon-pos="down">
                    <i class="icon-question"
                       style="cursor: pointer;"></i></i></strong></label>

                <div class="col-md-8">
                  <div class="input-group">
                    <input class="form-control" id="id_project_application_lifetime"
                           name="project_application_lifetime" disabled
                           value="{{application?.Lifetime}}"

                           type="number"
                    >

                    <div class="input-group-append"><span class="input-group-text"> months</span></div>
                  </div>
                  <span class="help-block">Lifetime of your project</span>

                </div>
              </div>


              <div class="form-group row">
                <h5 class="col-md-12 form-control-label">Resources*
                  <i data-balloon="Select the number of Virtual Machines you want to run of each specific flavour"
                     data-balloon-pos="down">
                    <i class="icon-question"></i></i>
                </h5>
              </div>
              <div class="form-group row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <accordion>
                    <ng-container *ngFor="let t of typeList">
                      <accordion-group *ngIf="application?.OpenStackProject || checkIfTypeGotSimpleVmFlavor(t)"
                                       [isOpen]="true" #groupval>
                        <div accordion-heading style="width: 100%; cursor: pointer">
                          {{t.long_name}}
                          <i class="pull-right float-right" style="font-size: 25px" [ngClass]="{
                            'icon-arrow-up': groupval.isOpen, 'icon-arrow-down': !groupval.isOpen}"></i>
                        </div>
                        <div *ngFor="let fl of flavorList">
                          <div
                            *ngIf="fl.type.shortcut == t.shortcut && (fl.simple_vm || application?.OpenStackProject)"
                            class="form-group row">
                            <label class="col-md-4 form-control-label"><strong>{{fl.name}}</strong><br>
                              Number of cores: {{fl.vcpus}}<br>
                              RAM: {{fl.ram}} GB</label>
                            <div class="col-md-8">
                              <div class="input-group">
                                <input class="form-control"
                                       name="project_application_{{fl.name}}_old"
                                       type="text"
                                       value="{{application?.CurrentFlavors[fl.name]?.counter}}"
                                       placeholder="NA" disabled>
                                <div class="input-group-append"><span class="input-group-text"> VMs</span></div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </accordion-group>
                    </ng-container>
                  </accordion>
                  <strong>
                    <div class="form-group row">
                      <label #corenumbers id="corenumbers" class="col">Number of total
                        cores: {{totalNumberOfCores}}</label>
                    </div>
                    <div class="form-group row">
                      <label #ramnumbers id="ramnumbers" class="col">Amount of total
                        RAM: {{totalRAM}} </label>
                    </div>
                  </strong>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="textarea-input"><strong>Number
                  of storage
                  volumes*
                  <i
                    data-balloon="Number of volumes allowed to create. The sum of the volumes size equals the value provided in the storage limit field."
                    data-balloon-pos="down" data-balloon-length="large"><i
                    class="icon-question"
                    style="cursor: pointer;"></i></i></strong></label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input disabled class="form-control"
                           id="id_project_application_volume_counter"
                           name="project_application_volume_counter"
                           type="number"
                           value="{{application?.VolumeCounter}}"

                    >
                  </div>
                  <span class="help-block">How many storage volumes of you project</span>

                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="textarea-input"><strong>Storage
                  Limit*
                  <i
                    data-balloon="Storage limit is the sum of extra storage provided by volumes."
                    data-balloon-pos="down" data-balloon-length="medium"><i
                    class="icon-question"
                    style="cursor: pointer;"></i></i></strong></label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input disabled class="form-control"
                           id="id_project_application_volume_limit"
                           name="project_application_volume_limit"
                           placeholder="e.g. 20"
                           value="{{application?.VolumeLimit}}"

                    >
                    <div class="input-group-append"><span class="input-group-text"> GB </span></div>
                  </div>
                  <span class="help-block">Extra storage of your project</span>

                </div>

              </div>


              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="textarea-input">Object
                  Storage <i
                    data-balloon="Object storage is a method of storing data that does not use a directory tree internally. Object storage combines files with metadata and places it in a flat structure."
                    data-balloon-pos="down" data-balloon-length="large"><i
                    class="icon-question"
                    style="cursor: pointer;"></i></i></label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input disabled class="form-control"
                           id="id_project_application_object_storage"
                           name="project_application_object_storage"
                           placeholder="e.g. 8"
                           value="{{application?.ObjectStorage}}"

                    >
                    <div class="input-group-append"><span class="input-group-text"> GB </span></div>
                  </div>
                  <span class="help-block">Object Storage of you project</span>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 form-control-label"
                       for="id_project_application_comment"><strong>Comment</strong></label>
                <div class="col-md-8">
                <textarea disabled type="text" id="id_project_application_comment"
                          name="project_application_comment" class="form-control" maxlength="8192"
                          value="{{application?.Comment}}"
                ></textarea>
                </div>
              </div>
              <br>
              <div class="form-group row">
                <h5 class="col-md-6 form-control-label">Institutional Information</h5>
              </div>

              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>Institute
                  Name* <i
                    data-balloon="Your institute" data-balloon-pos="down"><i
                    class="icon-question"
                    style="cursor: pointer;"></i></i></strong></label>
                <div class="col-md-8">
                  <input disabled type="text" id="id_project_application_institute"
                         name="project_application_institute" class="form-control"
                         value="{{application?.Institute}}"

                  >
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>Workgroup
                  Name* <i
                    data-balloon="Your Workgroup"
                    data-balloon-pos="down"><i class="icon-question"
                                               style="cursor: pointer;"></i></i></strong></label>
                <div class="col-md-8">
                  <input disabled="" type="text" id="id_project_application_workgroup"
                         name="project_application_workgroup" class="form-control"
                         value="{{application?.Workgroup}}"

                  >
                  <span class="help-block">To which workgroup do you belong?</span>
                </div>

              </div>
              <div class="form-group row">
                <h5 class="col-md-6 form-control-label">Additional Information</h5>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>Horizon
                  2020</strong></label>
                <div class="col-md-8">
                  <input type="text" id="id_project_application_horizon2020"
                         name="project_application_horizon2020" class="form-control"
                         maxlength="2048"
                         disabled
                         value="{{application?.Horizon2020}}"
                  >
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>Elixir Project</strong></label>
                <div class="col-md-8">
                  <input disabled type="text" id="id_project_application_elixir_project"
                         name="project_application_elixir_project" class="form-control"
                         maxlength="2048"
                         value="{{application?.ElixirProject}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>BMBF Project</strong></label>
                <div class="col-md-8">
                  <input disabled type="text" id="id_project_application_bmbf_project"
                         name="project_application_bmbf_project" class="form-control"
                         maxlength="2048"
                         value="{{application?.BMBFProject}}">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-4 form-control-label" for="text-input"><strong>Dissemination</strong></label>
                <div class="col-md-8">


                  <label
                    class="switch switch-label switch-outline-primary-alt">
                    <input type="checkbox" class="switch-input"
                           name="project_application_report_allowed"
                           disabled [checked]="application?.Dissemination"
                    >
                    <span class="switch-slider" data-checked="Yes" data-unchecked="No"></span>
                    <span class="switch-handle"></span></label>
                  <p> Do you permit the de.NBI Cloud to publicly mention your
                    project's participation?</p>

                </div>


              </div>

              <div class="row">
                <div class="col-4"></div>
                <div class="col-8 alert-warning">
                  If you do not approve of this application, please contact cloud@denbi.de
                </div>
              </div>


            </form>
          </div>
          <div class="card-footer">
            <div class="form-group row">
              <label class="col-md-4 form-control-label" for="">
                <strong>Confirmation of Responsibility*</strong>
              </label>
              <div class="col-md-8"
              >
                <div class="form-check">
                  <input class="form-check-input"
                         name="project_application_responsibility"
                         type="checkbox"
                         id="project_application_responsibility"
                         ngModel
                         #respCheck
                         required>
                  <label class="form-check-label" for="project_application_responsibility">
                    I hereby confirm that I am responsible for the project and any action of the project members in the
                    de.NBI Cloud.
                  </label>
                </div>
              </div>
            </div>
            <button (click)="notificationModal.show();approveApplication();"
                    class="btn btn-sm btn-success"
                    [disabled]="!respCheck.checked">
              <i class="fa fa-dot-circle-o"></i>
              Approve
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div bsModal #notificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ notificationModalTitle }}</h4>
        <button type="button" class="close" style="cursor:pointer"
                (click)="notificationModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-{{ notificationModalType }}" role="alert">
          {{ notificationModalMessage }}

        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="(notificationModalIsClosable == true) && (notificationModalStay==true)"
                type="button"
                (click)="notificationModal.hide();resetNotificationModal()"
                class="btn  btn-secondary"> Close
        </button>
        <a *ngIf="(notificationModalIsClosable == true) && (notificationModalStay==false)">
          <button [routerLink]="['/project-management/' + application?.Id]" type="button"
                  (click)="notificationModal.hide();resetNotificationModal()" type="reset"
                  class="btn  btn-secondary"> Close
          </button>
        </a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
