<div class="animated fadeIn">
  <div class="card container-fluid">
    <div class="card-body">
      <h5>Please select the facilities to load news from:</h5>
      <div>
        <div class="form-check-inline">
          <input class="form-check-input" type="checkbox" id="selectAll" (click)="selectAllFacilities()"
                 [checked]="allChecked">
          <label class="form-check-label" for="selectAll">All</label>
        </div>
        <div *ngFor="let facility of managerFacilities" class="form-check-inline">
          <input class="form-check-input" type="checkbox" id="select_{{facility['Facility']}}"
                 (click)="selectFacility(facility)"
                 [checked]="selectedFacilities?.indexOf(facility) != -1">
          <label class="form-check-label" for="select_{{facility['Facility']}}">{{facility['FacilityId']}}
            : {{facility['Facility']}}</label>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <div class="card" style="height: 800px; overflow-y: auto;">
            <div class="card-header">
              <strong>News list</strong>
            </div>
            <div class="card-body">
              <form>
                <div *ngFor="let news of allNews">
                  <div class="card" style="cursor: pointer;" (click)="setNews(news)"
                       [ngStyle]="{
          'border-right-color': news.id == selectedNews.id ? '#3ea662' : '#c8ced3',
          'border-right-style': 'solid',
          'border-right-width': news.id == selectedNews.id ? '3px' : '1px'
          }">
                    <div class="card-header text-truncate"
                         data-toggle="tooltip"
                         data-placement="auto"
                         style="background-color: #00ADEF !important; color: white !important;"
                         title="{{news.title}}">
                      <strong>{{news.title}}</strong>
                      <i *ngIf="!news.editable" class="float-right fa fa-warning"
                         style="font-size: 20px; color: yellow"></i>
                    </div>
                    <div class="card-body"
                         style="color:#58595B;">
                      <div class="row">
                        <div class="text-truncate col" data-toggle="tooltip"
                             data-placement="auto">{{news.text}}</div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col">by: {{news.author}}</div>
                      </div>
                      <div class="row">
                        <div class="col">on: {{news.time}}</div>
                      </div>
                      <div class="row">
                        <div class="col">id: {{news.id}}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <form class="col-8" [formGroup]="selectedNewsForm">
          <div class="card">
            <div class="card-header">
              <strong>Edit news</strong>
            </div>
            <div class="card-body" *ngIf="selectedNews.editable">
              <div class="form-group">
                <label class="col-form-label" for="news_title">Title:</label>
                <input type="text" class="form-control" formControlName="title"
                       id="news_title" name="news_title"
                       placeholder="e.g. New project types in march!"
                       [class.is-invalid]="selectedNewsForm.controls['title'].invalid && (selectedNewsForm.controls['title'].dirty || selectedNewsForm.controls['title'].touched)"
                       [class.is-valid]="selectedNewsForm.controls['title'].valid && (selectedNewsForm.controls['title'].dirty || selectedNewsForm.controls['title'].touched)">
              </div>
              <div class="alert alert-warning"
                   *ngIf="selectedNewsForm.controls['title'].invalid && (selectedNewsForm.controls['title'].dirty || selectedNewsForm.controls['title'].touched)">
                News needs a title.
              </div>
              <div class="form-group">
                <label class="col-form-label" for="news_text">Full newstext:</label>
                <textarea class="form-control" id="news_text" formControlName="text" name="news_text"
                          placeholder="e.g. Dear cloud users,
we are happy to inform..."
                          [class.is-invalid]="selectedNewsForm.controls['text'].invalid && (selectedNewsForm.controls['text'].dirty || selectedNewsForm.controls['text'].touched)"
                          [class.is-valid]="selectedNewsForm.controls['text'].valid && (selectedNewsForm.controls['text'].dirty || selectedNewsForm.controls['text'].touched)"></textarea>
              </div>
              <div class="alert alert-warning"
                   *ngIf="selectedNewsForm.controls['text'].invalid && (selectedNewsForm.controls['text'].dirty || selectedNewsForm.controls['text'].touched)">
                News needs some content.
              </div>
              <div class="form-group">
                <label class="col-form-label" for="news_motd">Message of the day:</label>
                <textarea class="form-control" id="news_motd" formControlName="motd" name="news_motd"
                          placeholder="e.g. There are important changes..."></textarea>
                <div class="form-row__news_motd">
                  You have written {{ motdLength | async}} characters.
                  <br>Total characters: {{ motdLength.getValue() + 76}}. (Due to appendage of newslink and timestamp).
                </div>
              </div>
              <div class="form-group">
                <a href="https://cloud.denbi.de/wiki/cloud_admin/news_management/#message-of-the-day" target="_blank">
                  How does message of the day work? (Opens in new tab)
                </a>
              </div>
              <div class="form-group">
                <label class="col-form-label" for="news_tags">Tags:</label>
                <input type="text" class="form-control" id="news_tags" formControlName="tag" name="news_tags"
                       placeholder="e.g. projecttypes, openstack, simplevm, newtype, update">
                <small id="tagsHelp" class="form-text text-muted">Input tags as comma separated list, leading and
                  trailing spaces will be trimmed out automatically.
                  <br><strong>Note: </strong>The facility id and its public name set in the database will be appended
                  automatically!
                </small>
              </div>
              <label for="facility_check">Facilities:</label>
              <div class="form-check" id="facility_check">
                <ng-container *ngFor="let facility of managerFacilities">
                  <div class="form-row">
                    <input class="form-check-input" type="checkbox"
                           id="news_select_{{facility['FacilityId']}}"
                           (click)="setFacility(facility)"
                           [checked]="facilitiesToPost?.indexOf(facility['FacilityId']) != -1">
                    <label class="form-check-label"
                           for="news_select_{{facility['FacilityId']}}">{{facility['Facility']}}</label>
                  </div>
                </ng-container>
              </div>
              <br>
              <div *ngIf="facilitiesToPost.length == 0" class="alert alert-warning">At least one facility needs to be
                selected.
              </div>
              <div class="form-group">
                <label class="col-form-label" for="news_id">Id:</label>
                <input type="text" class="form-control" id="news_id"
                       [value]="selectedNews.id == null ? -1 : selectedNews.id" name="news_id" [disabled]="true">
              </div>
            </div>
            <div class="card-body" *ngIf="!selectedNews.editable">
              <div class="alert alert-info">
                This news is also published for a facility you are not the manager of, which means you are not allowed
                to edit or delete this news.
                Methods to disconnect this news from your selected facilities and re-add and edit this news for your
                selected facilities will be coming soon.
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-primary"
                      style="margin: 5px"
                      (click)="setNews()">New news
              </button>
              <button class="btn btn-success"
                      style="margin: 5px"
                      (click)="add(selectedNews); addModal.show();"
                      [disabled]="selectedNewsForm.invalid || facilitiesToPost.length == 0"
                      *ngIf="selectedNews.id == null && selectedNews.editable">Add news
              </button>
              <!-- wordpress button -->
              <button class="btn btn-success"
                      style="margin: 5px"
                      (click)="addNewsToWordpress(newWordpressNews);"
                      [disabled]="selectedNewsForm.invalid || facilitiesToPost.length == 0"
                      *ngIf="selectedNews.id == null && selectedNews.editable">Add news to WP
              </button> <!-- end of wordpress button -->
              <button class="btn btn-success"
                      style="margin: 5px"
                      (click)="verifyPatchModal.show()"
                      [disabled]="selectedNewsForm.invalid || facilitiesToPost.length == 0"
                      *ngIf="selectedNews.id != null && selectedNews.editable">Update news
              </button>
              <button class="btn btn-danger"
                      style="margin: 5px"
                      (click)="verifyDeleteModal.show()"
                      *ngIf="selectedNews.id != null && selectedNews.editable">Delete news
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="btn btn-primary" (click)="getWordPressNews()">Get Facility News</div>
      </div>
    </div>
  </div>

  <div bsModal #verifyDeleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="Label"
       aria-hidden="true"
       id="verify_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete News</h4>
          <button type="button" class="close" style="cursor: pointer"
                  (click)="verifyDeleteModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning" role="alert">
            Are you sure you want to delete this news: {{selectedNews.title}}?
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn  btn-success col-md-4"
                  (click)="delete(selectedNews);verifyDeleteModal.hide();deleteModal.show()"
                  id="confirm_delete_button">
            Yes
          </button>
          <button class="btn  btn-danger col-md-4" type="reset"
                  (click)="verifyDeleteModal.hide();">Cancel
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="Label"
       aria-hidden="true"
       id="delete_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="deletionStatus == 0"> Waiting </h4>
          <h4 class="modal-title" *ngIf="deletionStatus == 1"> Success </h4>
          <h4 class="modal-title" *ngIf="deletionStatus == 2"> Error </h4>
          <button type="button" class="close" style="cursor:pointer"
                  (click)="deleteModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" role="alert" *ngIf="deletionStatus == 0">
            Deleting '{{selectedNews.title}}'... <i class="fa fa-spinner fa-spin"
                                                    style="font-size:24px"></i>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="deletionStatus == 1"
               id="delete_success_div">
            '{{selectedNews.title}}' was successfully deleted.
          </div>
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="deletionStatus == 2">
          When deleting '{{selectedNews.title}}' an error occured.<br>
          Error message: {{error_string}}.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  (click)="setNews();deleteModal.hide()"
                  id="close_delete_modal">Close
          </button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

  <div bsModal #verifyPatchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="Label"
       aria-hidden="true"
       id="verify_patch_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete News</h4>
          <button type="button" class="close" style="cursor: pointer"
                  (click)="verifyPatchModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning" role="alert">
            Are you sure you want to update this news: {{selectedNews.title}}?
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn  btn-success col-md-4"
                  (click)="patch(selectedNews);verifyPatchModal.hide();patchModal.show()"
                  id="confirm_patch_button">
            Yes
          </button>
          <button class="btn  btn-danger col-md-4" type="reset"
                  (click)="verifyPatchModal.hide();">Cancel
          </button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <div bsModal #patchModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="Label"
       aria-hidden="true"
       id="patch_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="patchingStatus == 0"> Waiting </h4>
          <h4 class="modal-title" *ngIf="patchingStatus == 1"> Success </h4>
          <h4 class="modal-title" *ngIf="patchingStatus == 2"> Error </h4>
          <button type="button" class="close" style="cursor:pointer"
                  (click)="patchModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" role="alert" *ngIf="patchingStatus == 0">
            Patching '{{selectedNews.title}}'... <i class="fa fa-spinner fa-spin"
                                                    style="font-size:24px"></i>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="patchingStatus == 1"
               id="patching_success_div">
            '{{selectedNews.title}}' was successfully patched.
          </div>
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="patchingStatus == 2">
          When patching '{{selectedNews.title}}' an error occured.<br>
          Error message: {{error_string}}.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  (click)="setNews();patchModal.hide()"
                  id="close_patch_modal">Close
          </button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
  <div bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
       aria-labelledby="Label"
       aria-hidden="true"
       id="add_modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" *ngIf="addingStatus == 0"> Waiting </h4>
          <h4 class="modal-title" *ngIf="addingStatus == 1"> Success </h4>
          <h4 class="modal-title" *ngIf="addingStatus == 2"> Error </h4>
          <button type="button" class="close" style="cursor:pointer"
                  (click)="setNews(); addModal.hide()"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" role="alert" *ngIf="addingStatus == 0">
            Posting '{{selectedNews.title}}'... <i class="fa fa-spinner fa-spin"
                                                   style="font-size:24px"></i>
          </div>
          <div class="alert alert-success" role="alert" *ngIf="addingStatus == 1"
               id="adding_success_div">
            '{{selectedNews.title}}' was successfully posted.
          </div>
        </div>
        <div class="alert alert-warning" role="alert" *ngIf="addingStatus == 2">
          When adding '{{selectedNews.title}}' an error occured.<br>
          Error message: {{error_string}}.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  (click)="setNews();addModal.hide()"
                  id="close_adding_modal">Close
          </button>
        </div>

      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
</div>
