<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <strong>New Simple Vm Application</strong>
                    – Form
                </div>
                <div class="card-body">
                    <div class="alert alert-info">
                        <strong>Please be aware:</strong> Only applications submitted by a principal
                        investigator of a
                        german university or research facility will be accepted!
                    </div>
                    <div class="alert alert-info">
                        This project mode is a beta version. Virtual machines might get lost or can
                        not be
                        started
                        temporarily.
                    </div>
                    <div *ngIf="!production">
                        <button (click)="sendTestApplication();notificationModal.show();">Test
                            Application
                        </button>
                    </div>

                    <form id="application_form" #f="ngForm" (ngSubmit)="onSubmit(f)"
                          class="form-horizontal">
                        <div class="form-group row">
                            <h5 class="col-md-6 form-control-label">General Information</h5>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4">
                                <strong>Single Virtual Machines Project
                                    <i data-balloon="You will be able to start virtual machines through the portal with minimal
                                    effort and access them via ssh. This project type does not demand knowlegde in cloud
                                    computing." data-balloon-pos="down" data-balloon-length="large"><i
                                            class="icon-question" style="cursor: pointer;"></i></i>
                                </strong>

                            </label>
                            <div class="col-md-8">
                                This type of project allows you to start virtual machines with SSH
                                access.


                            </div>
                        </div>
                        <div class="form-group row"
                             [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_name?.invalid && (f.controls.project_application_name?.dirty || f.controls.project_application_name?.touched),
                                'has-success': f.controls.project_application_name?.valid && (f.controls.project_application_name?.dirty || f.controls.project_application_name?.touched)
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="text-input"><strong>Project
                                Name* <i data-balloon="Full name of your project"
                                         data-balloon-pos="down"><i
                                        class="icon-question"
                                        style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <input required type="text" id="id_project_application_name"
                                       name="project_application_name"
                                       class="form-control" maxlength="128"
                                       placeholder="e.g. Assembler benchmarking based on A. thaliana genome"
                                       ngModel>
                                <span class="help-block">Name your project.</span>
                            </div>
                        </div>

                        <div class="form-group row  "
                             [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_shortname?.invalid && (f.controls.project_application_shortname?.dirty || f.controls.project_application_shortname?.touched),
                                'has-success': f.controls.project_application_shortname?.valid && (f.controls.project_application_shortname?.dirty || f.controls.project_application_shortname?.touched)
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="text-input"><strong>Project
                                Short Name* <i
                                        data-balloon="Shortname of your project. This name will be referenced in OpenStack and also when you start a new virtual machine. Use between 5 and 15 characters"
                                        data-balloon-pos="down" data-balloon-length="large"><i
                                        class="icon-question"
                                        style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <div *ngIf='wronginput'>
                                    <strong><font color="red">Umlauts and special characters are
                                        prohibited in the
                                        shortname.</font></strong>
                                </div>
                                <input required type="text" id="id_project_application_shortname"
                                       name="project_application_shortname" #shortname
                                       (keyup)="checkShortname(shortname.value)"
                                       class="form-control" maxlength="15"
                                       placeholder="e.g. ThalianaBench" ngModel minlength="5"
                                       pattern="[a-zA-Z0-9]+">


                                <span class="help-block">Enter a short name (between 5 and 15 characters).</span>
                            </div>
                        </div>

                        <div class="form-group row" [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_description?.invalid && (f.controls.project_application_description?.dirty || f.controls.project_application_description?.touched),
                                'has-success': f.controls.project_application_description?.valid && (f.controls.project_application_description?.dirty || f.controls.project_application_description?.touched)
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="textarea-input"><strong>Project
                                Description* <i
                                        data-balloon="Full description of your project including tools you might are going to use."
                                        data-balloon-pos="down" data-balloon-length="large"><i
                                        class="icon-question"
                                        style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <textarea required id="id_project_application_description"
                                          name="project_application_description" rows="9"
                                          class="form-control" maxlength="8192"
                                          placeholder="Full description. Consider to name tools you want to use."
                                          ngModel></textarea>
                                <span class="help-block">Describe what would you want to do in your project.</span>
                            </div>
                        </div>

                        <div class="form-group row" [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_lifetime?.invalid && (f.controls.project_application_lifetime?.dirty || f.controls.project_application_lifetime?.touched),
                                'has-success': f.controls.project_application_lifetime?.valid && (f.controls.project_application_lifetime?.dirty || f.controls.project_application_lifetime?.touched)
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="textarea-input"><strong>Desired
                                lifetime* <i data-balloon="Lifetime in months of your project"
                                             data-balloon-pos="down">
                                    <i class="icon-question"
                                       style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input class="form-control" id="id_project_application_lifetime"
                                           name="project_application_lifetime" placeholder="e.g 3"
                                           type="number" min="1" max="12" step="1" ngModel required
                                           pattern="^([1-9]|1[012])$"
                                    >
                                    <span class="input-group-addon"> months
                                    </span>
                                </div>
                                <span class="help-block">How long would you like to run this project (12 month is maximum)?</span>
                            </div>
                        </div>


                        <div class="form-group row">
                            <h5 class="col-md-12 form-control-label">Resources</h5>
                        </div>

                        <div class="form-group row" [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_vms_requested?.invalid ,
                                'has-success': f.controls.project_application_vms_requested?.valid
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="textarea-input"><strong>Number
                                of Virtual
                                Machines* <i
                                        data-balloon="A virtual machine allows you to run operating system of your choice with flexible resource parameters like number of CPUs and RAM."
                                        data-balloon-pos="down" data-balloon-length="large"><i
                                        class="icon-question"
                                        style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input required class="form-control"
                                           id="id_project_application_vms_requested"
                                           name="project_application_vms_requested"
                                           placeholder="e.g. 5"
                                           type="number" min="1" step="1"
                                           [(ngModel)]="project_application_vms_requested">
                                    <span class="input-group-addon"> VMs
                                    </span>
                                </div>
                                <span class="help-block">How many VMs would you run simultaneously?</span>
                            </div>
                        </div>
                        <div class="form-group row" [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_volume_limit?.invalid,
                                'has-success': f.controls.project_application_volume_limit?.valid
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="textarea-input"><strong>Storage
                                Limit*
                                <i
                                        data-balloon="Storage limit is the sum of extra storage provided by volumes."
                                        data-balloon-pos="down"
                                        data-balloon-length="large"><i class="icon-question"
                                                                       style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input required class="form-control"
                                           id="id_project_application_volume_limit"
                                           name="project_application_volume_limit"
                                           placeholder="e.g. 20"
                                           type="number" min="1" step="1" [ngModel]="20">
                                    <span class="input-group-addon"> GB
                                    </span>
                                </div>
                                <span class="help-block">How many extra storage do you need for your VMs?</span>
                            </div>
                        </div>

                        <div class="form-group row" [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_volume_counter?.invalid,
                                'has-success': f.controls.project_application_volume_counter?.valid
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="textarea-input"><strong>Number
                                of storage
                                volumes*
                                <i
                                        data-balloon="The number of storage volumes allowed to create. Each vm is allowed to mount only one storage volume. The sum of the volumes size equals the value provided in the sotrage limit field"
                                        data-balloon-pos="down" data-balloon-length="large"><i
                                        class="icon-question"
                                        style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input required class="form-control"
                                           id="id_project_application_volume_counter"
                                           name="project_application_volume_counter"
                                           placeholder="e.g. 20"
                                           type="number" min="0" step="1"
                                           [ngModel]="project_application_vms_requested">
                                </div>
                                <span class="help-block">How many storage volumes do you want to use?</span>
                            </div>
                        </div>


                        <div class="card">

                            <div id="flavor-card" class="card-header">
                                Flavors
                            </div>
                            <div class="form-group card-body">
                                <div *ngFor="let f of flavorList" >
                                    <div class="form-group row">

                                        <label class="col-md-4 form-control-label"><strong>***REMOVED******REMOVED***f.name***REMOVED******REMOVED***</strong><br>
                                            Number of cores: ***REMOVED******REMOVED***f.vcpus***REMOVED******REMOVED***<br>
                                            RAM: ***REMOVED******REMOVED***f.ram***REMOVED******REMOVED*** GB<br>
                                            Ephemeral disk: ***REMOVED******REMOVED***f.epheremal_disk***REMOVED******REMOVED*** GB <br>
                                            <span *ngIf="f.type.shortcut == 'GPU'">
                                                GPU: ***REMOVED******REMOVED***f.gpu***REMOVED******REMOVED***
                                            </span></label>
                                        <div class="col-md-8">

                                            <div class="input-group">
                                                <input class="form-control"
                                                       id="project_application_***REMOVED******REMOVED***f.name***REMOVED******REMOVED***"
                                                       name="project_application_***REMOVED******REMOVED***f.name***REMOVED******REMOVED***"
                                                       type="number" min="0" step="1"
                                                       value="0" placeholder="0"
                                                       (ngModel)="'project_application_' + f.name">
                                                <span class="input-group-addon"> VMs
                                    </span>
                                            </div>
                                            <span class="help-block">Number of VMs you would like to run of this particular flavor</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <br>
                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input"><strong>Comment</strong></label>
                            <div class="col-md-8">
                <textarea type="text" id="id_project_application_comment"
                          name="project_application_comment" class="form-control" maxlength="8192"
                          placeholder='' [ngModel]="''"></textarea>
                                <span class="help-block">Additional information you want to share?</span>
                            </div>
                        </div>
                        <br>
                        <div class="form-group row">
                            <h5 class="col-md-6 form-control-label">Institutional
                                Information</h5>
                        </div>

                        <div class="form-group row" [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_institute?.invalid && (f.controls.project_application_institute?.dirty || f.controls.project_application_institute?.touched),
                                'has-success': f.controls.project_application_institute?.valid && (f.controls.project_application_institute?.dirty || f.controls.project_application_institute?.touched)
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="text-input"><strong>Institute
                                Name* <i
                                        data-balloon="Your institute" data-balloon-pos="down"><i
                                        class="icon-question"
                                        style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <input required type="text"
                                       id="id_project_application_institute"
                                       name="project_application_institute" class="form-control"
                                       placeholder="e.g. Center for Biotechnology, Bielefeld"
                                       ngModel>
                                <span class="help-block">To which institute do you belong?</span>
                            </div>
                        </div>

                        <div class="form-group row" [ngClass]="***REMOVED***
                                'has-danger': f.controls.project_application_workgroup?.invalid && (f.controls.project_application_workgroup?.dirty || f.controls.project_application_workgroup?.touched),
                                'has-success': f.controls.project_application_workgroup?.valid && (f.controls.project_application_workgroup?.dirty || f.controls.project_application_workgroup?.touched)
                                ***REMOVED***">
                            <label class="col-md-4 form-control-label" for="text-input"><strong>Workgroup
                                Name* <i
                                        data-balloon="Your Workgroup"
                                        data-balloon-pos="down"><i class="icon-question"
                                                                   style="cursor: pointer;"></i></i></strong></label>
                            <div class="col-md-8">
                                <input required type="text"
                                       id="id_project_application_workgroup"
                                       name="project_application_workgroup" class="form-control"
                                       placeholder="e.g. Computational Metagenomics" ngModel>
                                <span class="help-block">To which workgroup do you belong?</span>
                            </div>


                        </div>
                        <br>
                        <div class="form-group row">
                            <h5 class="col-md-6 form-control-label">Additional Information</h5>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input"><strong>Dissemination</strong></label>
                            <div class="col-md-8">


                                <label
                                        class="switch switch-text switch-primary-outline-alt">
                                    <input type="checkbox" class="switch-input"
                                           name="project_application_report_allowed"
                                           [(ngModel)]="project_application_report_allowed"
                                    >
                                    <span class="switch-label" data-on="Yes"
                                          data-off="No"></span>
                                    <span class="switch-handle"></span></label>
                                <p> Do you permit the de.NBI Cloud to publicly mention your
                                    project's participation?</p>

                            </div>


                        </div>


                    </form>
                </div>
                <div class="card-footer">
                    <div class="form-group row">
                        <p class="col-md-12 form-control-label">By submitting this application you
                            agree to the
                            cloud
                            usage policy.</p>
                    </div>
                    <button (click)="acknowledgemodal.show()"
                            [disabled]="f.invalid"
                            class="btn btn-sm btn-primary"><i
                            class="fa fa-dot-circle-o"></i> Submit
                        Application
                    </button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>

</div>


<div bsModal #notificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">***REMOVED******REMOVED*** notificationModalTitle ***REMOVED******REMOVED***</h4>
                <button type="button" class="close" style="cursor:pointer"
                        (click)="notificationModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-***REMOVED******REMOVED*** notificationModalType ***REMOVED******REMOVED***" role="alert">
                    ***REMOVED******REMOVED*** notificationModalMessage ***REMOVED******REMOVED***

                    <ng-container *ngIf="error">
                        <br>
                        <br>
                        <strong>Wrong inputs:</strong>
                        <br>
                        <div *ngFor="let err of error">
                            <b>***REMOVED******REMOVED***err***REMOVED******REMOVED***</b>
                        </div>
                    </ng-container>

                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="(notificationModalIsClosable == true) && (notificationModalStay==true)"
                        type="button"
                        (click)="notificationModal.hide();resetNotificationModal()"
                        class="btn  btn-secondary"> Close
                </button>
                <a *ngIf="(notificationModalIsClosable == true) && (notificationModalStay==false)"
                   [routerLink]="['/applications']">
                    <button type="button"
                            (click)="notificationModal.hide();resetNotificationModal()" type="reset"
                            class="btn  btn-secondary"> Close
                    </button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #acknowledgemodal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> ***REMOVED******REMOVED***acknowledgeModalTitle***REMOVED******REMOVED***</h4>
                <button type="button" class="close" style="cursor:pointer"
                        (click)="acknowledgemodal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-***REMOVED******REMOVED*** acknowledgeModalType ***REMOVED******REMOVED***" role="alert">
                    ***REMOVED******REMOVED*** acknowledgeModalMessage ***REMOVED******REMOVED***
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="acknowledgemodal.hide(); notificationModal.show();"
                        type="reset"
                        class="btn  btn-success" type="submit" name="_save" form="application_form">
                    Accept
                </button>


                <button type="button" (click)="acknowledgemodal.hide();" type="reset"
                        class="btn  btn-info"> Close
                </button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
