<div class="animated fadeIn">

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <strong>New VirtualMachine</strong>
                    – Formular
                </div>

                <div class="card-body">
                    <form id="application_form" #f="ngForm" class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" ><strong>Name</strong></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input required class="form-control" id="id_vm_name"
                                           name="vm_name"
                                           placeholder="Name"
                                           type="string"  ngModel>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" ><strong>Flavor</strong></label>
                            <div class="col-md-9">


                                    <select class="form-control col-md-9>" name="selectedFlavor"  [(ngModel)]="selectedFlavor" >

                                      <option *ngFor="  let flavor of flavors" [ngValue]="flavor"> {{flavor.name}} </option>

                                    </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" ><strong>Image</strong></label>
                            <div class="col-md-9">

                                    <select class="form-control col-md-9>" name="selectedImage" [(ngModel)]="selectedImage">
                                      <option *ngFor="let image of images" [ngValue]="image"> {{image.name}} </option>

                                    </select>



                            </div>
                        </div>



                        <div class="form-group row">
                            <label class="col-md-3 form-control-label" ><strong>Key</strong></label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input class="form-control" id="id_vm_key"
                                           name="vm_key"
                                           placeholder="Key"
                                           type="string"  ngModel>


                                </div>

                            </div>
                        </div>

                      <div class="form-group row" >
                        <label class="col-md-3 form-control-label" ><strong>Metadata</strong></label>
                      </div>
                         <div class="form-group col">
                             <div class="table-responsive">
                             <table class="table">
                                 <thead >
                                    <tr>
                                        <th>Key</th>
                                        <th>Value</th>
                                        <th>Add/Remove</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 <tr *ngFor="let metadata of metadatalist">
                                     <td style="word-wrap: break-word;min-width: 110px; max-width: 110px; white-space: normal">{{metadata.key}}</td>
                                    <td style="word-wrap: break-word;min-width: 110px; max-width: 110px; white-space: normal">{{metadata.value}}</td>
                                     <td style="word-wrap: break-word;min-width: 110px; max-width: 110px; white-space: normal"><button (click)="deleteMetadataItem(metadata)"><strong>-</strong></button></td>
                                 </tr>
                                 </tbody>
                             </table>


                                   <input   type="text" placeholder="Key"  #key>
                                   <input   type="text" placeholder="Value"  #value>
                                   <button (click)="addMetadataItem(key.value,value.value)"><strong>+</strong></button>


                            </div>


                              </div>

                        <br><br><br>
                      <button type="button" class="btn btn-primary float-right">Start VM</button>

                    </form>

                </div>
        <!--/.col-->

    </div>
        </div>
      <div class="col-md-6">
        <div><flavor-detail [flavor]="selectedFlavor" ></flavor-detail></div>
       <div><image-detail [image]="selectedImage"></image-detail></div>

      </div>

    </div>
</div>





