<div *ngIf="  isLoaded_userApplication == false || isLoaded_AllApplication == false" class="loader">

</div>
<div *ngIf="isLoaded_userApplication && isLoaded_AllApplication" class="animated fadeIn" ng-app>
    <div class="row">
        <!--/.col-->
        <h1>Applications Overview</h1>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Your applications
                </div>
                <div class="card-block" *ngIf="user_applications.length == 0">
                    <div class="alert alert-success" role="alert">
                        <strong>No Applications!</strong> You have no applications in review.
                    </div>
                </div>
                <div *ngIf="user_applications.length > 0" class="card-block">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Short Name</th>
                                <th>Lifetime</th>
                                <th>Date submitted</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let application of user_applications">
                                <tr>
                                    <td>{{ application.Name }}</td>
                                    <td>{{application.Shortname}}</td>
                                    <td>{{ application.Lifetime }}</td>
                                    <td>{{ application.DateSubmitted }}</td>
                                    <td>{{ application.Status }}</td>
                                    <td>

                                        <button (click)="switchCollapseStatus('user_application-' + application.Id)"
                                                type="button" class="btn btn-secondary">
                                            <i class="fa fa-info-circle"></i>&nbsp;
                                            <span [hidden]="!getCollapseStatus('user_application-' + application.Id)">Show</span><span
                                                [hidden]="getCollapseStatus('user_application-' + application.Id)">Hide</span>
                                            Information
                                        </button>


                                        <button *ngIf="application.Status == 'submitted'"
                                                (click)="deleteModal.show();setDeleteId(application.Id)" type="button"

                                                class="btn btn-secondary">
                                            Remove Application
                                        </button>
                                        <button *ngIf="application.Status == 'approved' || application.Status == 'modification declined'"
                                                (click)="setSelectedApplication(application);ngFormSetDefault(f);extensionModal.show()"
                                                type="button"
                                                class="btn btn-secondary">
                                            Request Extension/Modification
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td [class.collapse_no_margin]="getCollapseStatus('user_application-' + application.Id)"
                                        colspan="6">
                                        <div id="user_application-{{ application.Id }}"
                                             [class.collapse]="getCollapseStatus('user_application-' + application.Id)">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <tr>
                                                        <td>Description</td>
                                                        <td>{{ application.Description }}
                                                        </td>
                                                        <td *ngIf="application.Status == 'modification requested'"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Comment</td>
                                                        <td>{{ application.Comment }}</td>
                                                        <td *ngIf="application.Status == 'modification requested'">
                                                            {{application.ApplicationExtension?.Comment}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>VMs</td>
                                                        <td>{{ application.VMsRequested }} VMs</td>
                                                        <td *ngIf="application.Status == 'modification requested'">
                                                            {{application.ApplicationExtension?.VMsRequested}} VMs
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="application.OpenStackProject">
                                                        <td>Cores/VM</td>
                                                        <td>{{ application.CoresPerVM }} Cores per VM</td>
                                                        <td *ngIf="application.Status == 'modification requested'">
                                                            {{application.ApplicationExtension?.CoresPerVM}} Cores per
                                                            VM
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="application.OpenStackProject">
                                                        <td>RAM</td>
                                                        <td>{{ application.RamPerVM }} GB</td>
                                                        <td *ngIf="application.Status == 'modification requested'">
                                                            {{application.ApplicationExtension?.RamPerVM}} GB
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Storage Limit</td>
                                                        <td>{{ application.VolumeLimit }} GB</td>
                                                        <td *ngIf="application.Status == 'modification requested'">
                                                            {{application.ApplicationExtension?.VolumeLimit}} GB
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Volume Counter</td>

                                                        <td>{{ application.VolumeCounter }} </td>
                                                        <td *ngIf="application.Status == 'modification requested'">


                                                            {{application.ApplicationExtension?.VolumeCounter}}
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="application.OpenStackProject">
                                                        <td>ObjectStorage</td>
                                                        <td>{{ application.ObjectStorage }} GB</td>
                                                        <td *ngIf="application.Status == 'modification requested'">
                                                            {{application.ApplicationExtension?.ObjectStorage}} GB
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="application.OpenStackProject">
                                                        <td>Special Hardware</td>
                                                        <td><span style="margin-right: 5px;" class="badge badge-primary"
                                                                  *ngFor="let sh of application.SpecialHardware">{{ sh["special_hardware_name"] }}</span>
                                                        </td>
                                                        <td *ngIf="application.Status == 'modification requested'">
                                                       <span style="margin-right: 5px;" class="badge badge-primary"
                                                             *ngFor="let sh of application.ApplicationExtension?.SpecialHardware">{{ sh }}</span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>OpenStackProject</td>
                                                        <td>{{application.OpenStackProject}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="is_vo_admin == true" class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Applications for review
                </div>
                <div class="card-block" *ngIf="this.activeApplicationsAvailable() == false">
                    <div class="alert alert-success" role="alert">
                        <strong>No new Applications!</strong> There are no new project applications for review.
                    </div>
                </div>

                <div *ngIf="this.activeApplicationsAvailable() == true" class="card-block">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>Short Name</th>
                                <th>Date submitted</th>
                                <th>User</th>
                                <th>Institute</th>
                                <th>Compute Center</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let application of all_applications">
                                <ng-container *ngIf="application.Status == 1 || application.Status == 4">
                                    <tr>
                                        <td>{{ application.Name }}</td>
                                        <td>{{application.Shortname}}</td>
                                        <td>{{ application.DateSubmitted }}</td>
                                        <td style="word-wrap: break-word;min-width: 110px; max-width: 130px; white-space: normal">
                                            {{ application.User }}
                                        </td>
                                        <td>{{application.Institute}}</td>


                                        <td >
                                            <select [style.display]="application.OpenStackProject? 'inherit' :'none'"
                                                    class="form-control" #selectedComputeCenter>

                                                <option value="undefined" selected> no center</option>
                                                <option *ngFor="let computeCenter of computeCenters"
                                                        value="{{computeCenter[1]}}"> {{computeCenter[0]}}
                                                </option>
                                            </select>
                                        </td>



                                        <td>
                                            <button *ngIf="application.Status == 1"

                                                    (click)='resetNotificationModal();createGroup(application.Shortname, application.Description, application.UserEmail, application.Id,selectedComputeCenter.value,application.OpenStackProject,application.VMsRequested,application.VolumeLimit,application.Lifetime,application.Name,application.VolumeCounter ); notificationModal.show();'


                                                    type="button" class="btn btn-secondary"><i class="fa fa-check"></i>&nbsp;
                                                Approve
                                                & Create
                                            </button>
                                            <button *ngIf="application.Status == 4"

                                                    (click)="approveExtension(application.Id);resultModal.show();"
                                                    type="button" class="btn btn-secondary"><i class="fa fa-check"></i>&nbsp;
                                                Approve
                                                Modification
                                            </button>

                                            <button *ngIf="application.Status == 1"
                                                    (click)='declineApplication(application.Id)'
                                                    type="button" class="btn btn-secondary"><i class="fa fa-close"></i>&nbsp;
                                                Decline
                                            </button>
                                            <button *ngIf="application.Status == 4"
                                                    type="button" class="btn btn-secondary"
                                                    (click)="declineExtension(application.Id);resultModal.show();"><i
                                                    class="fa fa-close"></i>&nbsp;
                                                Decline Modification
                                            </button>


                                            <button (click)="switchCollapseStatus('application_review-' + application.Id)"
                                                    type="button" class="btn btn-secondary">
                                                <i class="fa fa-info-circle"></i>&nbsp;
                                                <span [hidden]="!getCollapseStatus('application_review-' + application.Id)">Show</span><span
                                                    [hidden]="getCollapseStatus('application_review-' + application.Id)">Hide</span>
                                                Information
                                            </button>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td [class.collapse_no_margin]="getCollapseStatus('application_review-' + application.Id)"
                                            colspan="6">
                                            <div id="application_review-{{ application.Id }}"
                                                 [class.collapse]="getCollapseStatus('application_review-' + application.Id)">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td>Description</td>
                                                            <td>{{ application.Description }}</td>
                                                            <td *ngIf="application.Status == 4">
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>Workgroup</td>
                                                            <td>{{ application.Workgroup }}</td>
                                                            <td *ngIf="application.Status == 4">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>OpenStackProject</td>
                                                            <td>{{application.OpenStackProject}}</td>
                                                            <td *ngIf="application.Status == 4">
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>Comment</td>
                                                            <td>{{ application.Comment }}</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.Comment}}
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td>Lifetime</td>
                                                            <td>{{ application.Lifetime }} months</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.Lifetime +
                                                                application.Lifetime}} months
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>VMs</td>
                                                            <td>{{ application.VMsRequested }} VMs</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.VMsRequested}} VMs
                                                            </td>

                                                        </tr>

                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>RAM</td>
                                                            <td>{{ application.RamPerVM }} GB</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.RamPerVM}} GB
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>Cores/VM</td>
                                                            <td>{{ application.CoresPerVM }} Cores per VM</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.CoresPerVM}} Cores
                                                                per VM
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Storage Limit</td>
                                                            <td>{{ application.VolumeLimit }} GB</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.VolumeLimit}} GB
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Volume Counter</td>
                                                            <td>{{ application.VolumeCounter }}</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.VolumeCounter}}
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>ObjectStorage</td>
                                                            <td>{{ application.ObjectStorage }} GB</td>
                                                            <td *ngIf="application.Status == 4">
                                                                {{application.ApplicationExtension?.ObjectStorage}} GB
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>Special Hardware</td>
                                                            <td><span style="margin-right: 5px;"
                                                                      class="badge badge-primary"
                                                                      *ngFor="let sh of application.SpecialHardware">{{ sh["special_hardware_name"] }}</span>
                                                            </td>
                                                            <td *ngIf="application.Status == 4">
                                                       <span style="margin-right: 5px;" class="badge badge-primary"
                                                             *ngFor="let sh of application.ApplicationExtension?.SpecialHardware">{{ sh }}</span>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>Last status changed</td>
                                                            <td>{{ application.DateStatusChanged }}</td>
                                                            <td *ngIf="application.Status == 4">
                                                            </td>
                                                        </tr>


                                                    </table>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

        <div *ngIf="is_vo_admin == true" class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Application history
                </div>
                <div class="card-block" *ngIf="all_applications.length == 0">
                    <div class="alert alert-warning" role="alert">
                        <strong>No Applications!</strong> There are no applications at all!
                    </div>
                </div>

                <div *ngIf="all_applications.length > 0" class="card-block">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>

                                <th>Project Name</th>
                                <th>Short Name</th>
                                <th>Date submitted (d/m/y)</th>
                                <th>User</th>
                                <th>Institute</th>
                                <th>Facility</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let application of all_applications">
                                <ng-container *ngIf="application.Status != 1">
                                    <tr [ngStyle]="{'color':lifeTimeReached(application.Lifetime,application.DaysRunning,application.DateStatusChanged)}">
                                        <td>{{ application.Name }}</td>
                                        <td>{{application.Shortname}}</td>
                                        <td>{{ application.DateSubmitted }}</td>
                                        <td>{{ application.User }}</td>
                                        <td>{{ application.Institute }}</td>
                                        <td>{{application.ComputeCenter[0]}}</td>
                                        <td>{{ getStatusById(application.Status) }}</td>
                                        <td>
                                            <button (click)="switchCollapseStatus('application_history-' + application.Id)"
                                                    type="button" class="btn btn-secondary">
                                                <i class="fa fa-info-circle"></i>&nbsp;
                                                <span [hidden]="!getCollapseStatus('application_history-' + application.Id)">Show</span><span
                                                    [hidden]="getCollapseStatus('application_history-' + application.Id)">Hide</span>
                                                Information
                                            </button>
                                            <button (click)="deleteModal.show();setDeleteId(application.Id)"
                                                    type="button"
                                                    class="btn btn-secondary">
                                                Remove Application
                                            </button>
                                        </td>
                                    </tr>
                                    <tr [ngStyle]="{'color':lifeTimeReached(application.Lifetime,application.DaysRunning)}">
                                        <td [class.collapse_no_margin]="getCollapseStatus('application_history-' + application.Id)"
                                            colspan="6">
                                            <div id="application_history-{{ application.Id }}"
                                                 [class.collapse]="getCollapseStatus('application_history-' + application.Id)">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <tr>
                                                            <td>Description</td>
                                                            <td>{{ application.Description }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Comment</td>
                                                            <td>{{ application.Comment }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Workgroup</td>
                                                            <td>{{ application.Workgroup }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Lifetime</td>
                                                            <td>{{ application.Lifetime }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>VMs</td>
                                                            <td>{{ application.VMsRequested }}</td>
                                                        </tr>
                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>Cores/VM</td>
                                                            <td>{{ application.CoresPerVM }}</td>
                                                        </tr>
                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>RAM</td>
                                                            <td>{{ application.RamPerVM }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Storage Limit</td>
                                                            <td>{{ application.VolumeLimit }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Volume Counter</td>
                                                            <td>{{ application.VolumeCounter }}</td>
                                                        </tr>
                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>ObjectStorage</td>
                                                            <td>{{ application.ObjectStorage }}</td>
                                                        </tr>

                                                        <tr *ngIf="application.OpenStackProject">
                                                            <td>Special Hardware</td>
                                                            <td><span style="margin-right: 5px;"
                                                                      class="badge badge-primary"
                                                                      *ngFor="let sh of application.SpecialHardware">{{ sh["special_hardware_name"] }}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Last status changed</td>
                                                            <td>{{ application.DateStatusChanged }}</td>
                                                        </tr>
                                                        <tr *ngIf="application.Status == 2">
                                                            <td>DaysRunning</td>

                                                            <td>{{application.DaysRunning}}</td>

                                                        </tr>
                                                        <tr *ngIf="application.ComputeCenterDetails">

                                                            <td>Facility Details</td>
                                                            <td>
                                                                <ul>
                                                                    <li>Name: {{application.ComputeCenter[0]}}</li>
                                                                    <li *ngFor="let details of application.ComputeCenterDetails">
                                                                        {{details[0]}}: <a target="_blank"
                                                                                           *ngIf="details[0] == 'Login'"
                                                                                           href="{{details[1]}}">{{details[1]}}</a>
                                                                        <span *ngIf="details[0] != 'Login'">{{details[1]}}</span>
                                                                    </li>
                                                                </ul>
                                                            </td>

                                                        </tr>

                                                    </table>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>

                                </ng-container>


                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!--/.col-->
    </div>
</div>

<div bsModal #notificationModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ notificationModalTitle }}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-{{ notificationModalType }}" role="alert">
                    {{ notificationModalMessage }}
                </div>
            </div>
            <div class="modal-footer">
                <button *ngIf="notificationModalIsClosable == true" type="button"
                        (click)="notificationModal.hide();" type="reset"
                        class="btn  btn-secondary"> Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Application</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert">
                    Are you sure you want to remove this application?
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn  btn-success col-md-4"
                        (click)="deleteApplication(deleteId);deleteModal.hide();notificationModal.show()">
                    Yes
                </button>
                <button class="btn  btn-danger col-md-4" type="reset"
                        (click)="deleteModal.hide()">Cancel
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #extensionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Modify Request: {{selectedApplication?.Name}}</h1>
            </div>
            <div class="modal-body">
                <form id="application_form" #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">


                    <div class="form-group row" [ngClass]="{
                                'has-danger': f.controls.project_application_renewal_lifetime?.invalid && (f.controls.project_application_renewal_lifetime?.dirty || f.controls.project_application_renewal_lifetime?.touched),
                                'has-success': f.controls.project_application_renewal_lifetime?.valid && (f.controls.project_application_renewal_lifetime?.dirty || f.controls.project_application_renewal_lifetime?.touched)
                                }">
                        <label class="col-md-4 form-control-label" for="textarea-input"><strong>Additional
                            lifetime* <i class="icon-question" data-toggle="tooltip" data-placement="auto"
                                         title="Additional Lifetime in months of your project"></i></strong></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="id_project_application_renewal_lifetime"
                                       name="project_application_renewal_lifetime" placeholder="e.g 3"
                                       type="number" min="1" step="1" ngModel required>
                                <span class="input-group-addon"> months
                                    </span>
                            </div>
                            <span class="help-block">How many months should the project be extended?</span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <h5 class="col-md-12 form-control-label">Resources</h5>
                    </div>

                    <div class="form-group row" [ngClass]="{
                                'has-danger': f.controls.project_application_renewal_vms_requested?.invalid ,
                                'has-success': f.controls.project_application_renewal_vms_requested?.valid
                                }">
                        <label class="col-md-4 form-control-label" for="textarea-input"><strong>Number of
                            Virtual
                            Machines* <i class="icon-question" data-toggle="tooltip" data-placement="auto"
                                         title="A virtual machine allows you to run operating system of your choice with flexible resource parameters like number of CPUs and RAM."></i></strong></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input required class="form-control" id="id_project_application_renewal_vms_requested"
                                       name="project_application_renewal_vms_requested"
                                       placeholder="e.g. 5"
                                       type="number" min="1" step="1" [ngModel]="selectedApplication?.VMsRequested">
                                <span class="input-group-addon"> VMs
                                    </span>
                            </div>
                            <span class="help-block">How many VMs would you run simultaneously?</span>
                        </div>
                    </div>

                    <div *ngIf="selectedApplication?.OpenStackProject" class="form-group row" [ngClass]="{
                                'has-danger': f.controls.project_application_renewal_cores_per_vm?.invalid ,
                                'has-success': f.controls.project_application_renewal_cores_per_vm?.valid
                                }">
                        <label class="col-md-4 form-control-label" for="textarea-input"><strong>Cores per VM* <i
                                class="icon-question" data-toggle="tooltip" data-placement="auto"
                                title="A CPU core is the processing unit of your virtual machine."></i></strong></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input required class="form-control" id="id_project_application_renewal_cores_per_vm"
                                       name="project_application_renewal_cores_per_vm"
                                       placeholder="e.g. 2"
                                       type="number" min="1" step="1" [ngModel]="selectedApplication?.CoresPerVM">
                                <span class="input-group-addon"> VMs
                                    </span>
                            </div>
                            <span class="help-block">How many cores should every VM have?</span>
                        </div>
                    </div>


                    <div *ngIf="selectedApplication?.OpenStackProject" class="form-group row"
                         [ngClass]="{
                                'has-danger': f.controls.project_application_renewal_ram_per_vm?.invalid,
                                'has-success': f.controls.project_application_renewal_ram_per_vm?.valid
                                }">
                        <label class="col-md-4 form-control-label" for="textarea-input"><strong>RAM per VM* <i
                                class="icon-question" data-toggle="tooltip" data-placement="auto"
                                title="RAM is where data is stored that is accessed by the CPU."></i></strong></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input required class="form-control" id="id_project_application_ram_per_vm"
                                       name="project_application_renewal_ram_per_vm"
                                       placeholder="e.g. 8"
                                       type="number" min="1" step="1" [ngModel]="selectedApplication?.RamPerVM">
                                <span class="input-group-addon"> GB
                                    </span>
                            </div>
                            <span class="help-block">How much RAM should every VM have?</span>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{
                                'has-danger': f.controls.project_application_renewal_volume_limit?.invalid,
                                'has-success': f.controls.project_application_renewal_volume_limit?.valid
                                }">
                        <label class="col-md-4 form-control-label" for="textarea-input"><strong>Storage Limit*
                            <i
                                    class="icon-question" data-toggle="tooltip" data-placement="auto"
                                    title="Storage limit is the sum of extra storage provided by volumes."></i></strong></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input required class="form-control" id="id_project_application_renewal_volume_limit"
                                       name="project_application_renewal_volume_limit"
                                       placeholder="e.g. 20"
                                       type="number" min="1" step="1" [ngModel]="selectedApplication?.VolumeLimit">
                                <span class="input-group-addon"> GB
                                    </span>
                            </div>
                            <span class="help-block">How many extra storage do you need for your Vms?</span>
                        </div>
                    </div>

                    <div class="form-group row" [ngClass]="{
                                'has-danger': f.controls.project_application_renewal_volume_counter?.invalid,
                                'has-success': f.controls.project_application_renewal_volume_counter?.valid
                                }">
                        <label class="col-md-4 form-control-label" for="textarea-input"><strong>Volume Counter*
                            <i
                                    class="icon-question" data-toggle="tooltip" data-placement="auto"
                                    title="Number of volumes allowed to create. The sum of the volumes size equals the value provided in the storage limit field."></i></strong></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input required class="form-control" id="id_project_application_renewal_volume_counter"
                                       name="project_application_renewal_volume_counter"
                                       placeholder="e.g. 20"
                                       type="number" min="0" step="1" [ngModel]="selectedApplication?.VolumeCounter">
                                <span class="input-group-addon"> GB
                                    </span>
                            </div>
                            <span class="help-block">How many storage volumes do you want to use?</span>
                        </div>
                    </div>

                    <div *ngIf="selectedApplication?.OpenStackProject" class="form-group row"
                         [ngClass]="{
                                'has-danger': f.controls.project_application_renewal_object_storage?.invalid ,
                                'has-success': f.controls.project_application_renewal_object_storage?.valid
                                }">
                        <label class="col-md-4 form-control-label" for="textarea-input">Object Storage <i
                                class="icon-question" data-toggle="tooltip" data-placement="auto"
                                title="Object storage is a method of storing data that does not use a directory tree internally. Object storage combines files with metadata and places it in a flat structure."></i></label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <input class="form-control" id="id_project_application_renewal_object_storage"
                                       name="project_application_renewal_object_storage"
                                       placeholder="e.g. 8"
                                       type="number" min="0" step="1" [ngModel]="selectedApplication?.ObjectStorage">
                                <span class="input-group-addon"> GB
                                    </span>
                            </div>
                            <span class="help-block">How much object storage would you need?</span>
                        </div>
                    </div>


                    <div *ngIf="selectedApplication?.OpenStackProject" class="form-group row">
                        <label class="col-md-4 form-control-label">Special Hardware <i class="icon-question"
                                                                                       data-toggle="tooltip"
                                                                                       data-placement="auto"
                                                                                       title="GPU means Graphics Processing Unit and is often used for machine learning. A field programmable gate array (FPGA) represents a reconfigurable computing architecture."></i></label>
                        <div class="col-md-8">
                            <div *ngFor="let sh of special_hardware; let i=index;" class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           [checked]="( checkboxValue === true ? sh.Checked : False )"
                                           (change)="sh.Checked = $event.target.checked;"/>
                                    {{sh.Name}}
                                </label>
                            </div>
                            <span class="help-block">Which special Hardware would you need?</span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-4 form-control-label"
                               for="text-input"><strong>Comment</strong></label>
                        <div class="col-md-8">
                <textarea type="text" id="id_project_application_renewal__comment"
                          name="project_application_renewal_comment" class="form-control" maxlength="8192"
                          placeholder='' [ngModel]="selectedApplication?.Comment"></textarea>
                            <span class="help-block">Additional information you want to share?</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <p class="col-md-12 form-control-label">By submitting this application you agree to the
                            cloud
                            usage policy.</p>
                    </div>


                </form>


                <div class="modal-footer">
                    <button type="button" c class="btn  btn-primary" type="submit" name="_save" form="application_form"
                            (click)="extensionModal.hide();resultModal.show()"
                            [disabled]="f.invalid"><i
                            class="fa fa-dot-circle-o">

                    </i>
                        Submit
                    </button>
                    <button type="button" class="btn btn-danger" (click)="extensionModal.hide()">Close</button>

                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>


<div bsModal #resultModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="extension_status == 0">
                    Waiting </h4>
                <h4 class="modal-title" *ngIf="extension_status == 1"> Success </h4>
                <h4 class="modal-title" *ngIf="extension_status == 2"> Error </h4>

            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert" *ngIf="extension_status==0">
                    Waiting... <i class="fa fa-spinner fa-spin"
                                  style="font-size:24px"></i>
                </div>


                <div class="alert alert-success" role="alert" *ngIf="extension_status == 1">

                   Modify request successfully submitted!
                </div>
                <div class="alert alert-success" role="alert" *ngIf="extension_status == 3">
                   Modify request successfully approved!
                </div>
                 <div class="alert alert-success" role="alert" *ngIf="extension_status == 4">
                   Modify request successfully declined!      </div>

                <div class="alert alert-warning" role="alert" *ngIf="extension_status == 2">
                    An error occured.

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="extension_status= 0;resultModal.hide()">
                        Close
                    </button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
