<div class="animated fadeIn" ng-app>
    <div class="row">
        <!--/.col-->
        <h1>Applications Overview</h1>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Your applications
                </div>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>Date submitted</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let application of user_applications">
                            <td>***REMOVED******REMOVED*** application.Name ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** application.Description ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** application.DateSubmitted ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** application.Status ***REMOVED******REMOVED***</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <div *ngIf="is_vo_admin == true" class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Applications for review
                </div>
                <p *ngIf="all_applications.length == 0">
                    There currently no open applications!
                </p>
                <div *ngIf="all_applications.length > 0" class="card-block">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Description</th>
                            <th>Date submitted</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let application of all_applications">
                            <td>***REMOVED******REMOVED*** application.Name ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** application.Description ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** application.DateSubmitted ***REMOVED******REMOVED***</td>
                            <td>
                            <button (click)='createGroup($event, application.Name, application.Description)' type="button" class="btn btn-secondary"><i class="fa fa-cube"></i>&nbsp; Approve & Create</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!--/.col-->
    </div>
</div>
