<table class="table table-striped">
  <tr *ngIf="collapse2">
    <td class="field-label col-md-6 active">
      RAM
    </td>
    <td class="col-md-6">
      ***REMOVED******REMOVED***flavor.ram***REMOVED******REMOVED***MB
    </td>
  </tr>
  <tr *ngIf="collapse2">
     <td class="field-label col-md-6 active">
    Root_Disk
    </td>
    <td class="col-md-6">
      ***REMOVED******REMOVED***flavor.rootdisk***REMOVED******REMOVED***
    </td>
  </tr>
  <tr *ngIf="collapse2">
     <td class="field-label col-md-6 active">
     Vcpus
    </td>
    <td class="col-md-6">
      ***REMOVED******REMOVED***flavor.vcpus***REMOVED******REMOVED***
    </td>
  </tr>

</table>
