
<table fixed class="form-control table table-striped">

  <tr *ngIf="collapse1">
    <td clas="col-md-3">
      Description
    </td>
    <td class="col-md-3">
      ***REMOVED******REMOVED***image.description***REMOVED******REMOVED***
    </td>
  </tr>
  <tr *ngIf="collapse1">
    <td>
      Min_Disk
    </td>
    <td>
      ***REMOVED******REMOVED***image.min_disk***REMOVED******REMOVED***
    </td>
  </tr>
  <tr *ngIf="collapse1">
    <td>
      Min_Ram
    </td>
    <td>
      ***REMOVED******REMOVED***image.min_ram***REMOVED******REMOVED***
    </td>
  </tr>

</table>
