
<div class="card">
  <div class="card-header">
                    <strong>Image</strong>
                    –Info
                </div>
  <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Min_Disk</th>
                            <th>Min_Ram</th>

                        </tr>

                        </thead>
                        <tbody *ngIf="image">
                        <td>***REMOVED******REMOVED***image.name***REMOVED******REMOVED***</td>
                           <td>***REMOVED******REMOVED***image.status***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED***image.min_ram***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED***image.min_disk***REMOVED******REMOVED***</td>
                        </tbody>
                    </table>

   </div>
