
<div class="card">
  <div class="card-header">
                    <strong>Image</strong>
                    –Info
                </div>
  <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Min_Disk</th>
                            <th>Min_Ram</th>

                        </tr>

                        </thead>
                        <tbody *ngIf="image">
                        <td>{{image.name}}</td>
                           <td>{{image.status}}</td>
                            <td>{{image.min_ram}}</td>
                            <td>{{image.description}}</td>

                        </tbody>
                    </table>

   </div>
