.img_bigger figure img ***REMOVED***
    transform: scale(1);
    transition: .3s ease-in-out;
    height: 100px;
    width: 100px;
***REMOVED***
.img_bigger figure:hover img ***REMOVED***
    transform: scale(1.3);
***REMOVED***
