<div *ngIf="is_vo_admin">
  <div >
    <li *ngFor="let client of clients" >
      ***REMOVED******REMOVED***client.port***REMOVED******REMOVED***
      ***REMOVED******REMOVED***client.host***REMOVED******REMOVED***
      ***REMOVED******REMOVED***client.status***REMOVED******REMOVED***
      <button type="button" class="btn" (click)="deleteClient(client.host,client.port);getClientsUnchecked();">Delete
        Client
      </button>

    </li>
    <button type="button" class="btn" (click)="getClientsChecked();">Check all Client</button>
  </div>
  <div>
    <input type="text" placeholder="Port" #port>
    <input type="text" placeholder="Host" #hos>


  </div>
  <div>
    <button type="button" class="btn" (click)="postClient(hos.value,port.value);getClientsChecked();">Post clinet
    </button>
  </div>
</div>
