<div class="card" *ngIf="is_vo_admin">
  <div class="card-header">
    <strong>Clients</strong>
    –Overview
  </div>
  <div>
    <div>
      <table class="table table-striped ">
        <thead>
        <tr>
          <th>Facility</th>
          <th>Host</th>
          <th>Port</th>
          <th>Status</th>

        </tr>

        </thead>
        <tbody>
        <tr *ngFor="let client of clients">
          <td>{{client.location}}</td>
          <td>{{client.host}}</td>
          <td>{{client.port}}</td>
          <td>{{client.status}}</td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="deleteClient(client.host,client.port,client.location);">
              Delete
              Client
            </button>
          </td>

        </tr>

        <tr>
          <td><input type="text" placeholder="Location" #loc></td>
          <td><input type="text" placeholder="Host" #hos></td>
          <td><input type="text" placeholder="Port" #port></td>
          <td>{{checkStatus}}</td>

          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="checkClient(hos.value,port.value)">Check Status</button>
          </td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="postClient(hos.value,port.value,loc.value);">Add Client
            </button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button type="button" class="btn btn-primary navbar-inverse" (click)="getClientsChecked();">Check all Clients</button>
          </td>

        </tr>
        </tbody>

      </table>

    </div>


  </div>
</div>
