<div class="card" *ngIf="is_vo_admin">
  <div class="card-header">
    <strong>Instance</strong>
    –Overview
  </div>
  <ng-container *ngIf="is_vo_admin">
    <ul class="nav nav-pills">
      <li>
        <button class="btn btn-primary" (click)="getVm(elixir_id)">Own Machines</button>
      </li>
      <li>
        <button class="btn btn-primary" (click)="getAllVms()">All Machines</button>
      </li>
    </ul>
  </ng-container>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Openstack_Id</th>
      <th>Stopped at</th>
    </tr>

    </thead>
    <tbody>

    </tbody>
    <tr *ngFor="let vm of vms">
      <td>
        ***REMOVED******REMOVED***vm.name***REMOVED******REMOVED***
      </td>
      <td>***REMOVED******REMOVED***vm.status***REMOVED******REMOVED***</td>
      <td> ***REMOVED******REMOVED***vm.created_at***REMOVED******REMOVED***</td>
      <td> ***REMOVED******REMOVED***vm.openstackid***REMOVED******REMOVED*** |</td>
      <td>
        ***REMOVED******REMOVED***vm.stopped_at***REMOVED******REMOVED***
      </td>
      <td>
        <button (click)="stopVm(vm.openstackid)"
                class="btn btn-primary">
          StopVM
        </button>
      </td>
      <td>
        <button (click)="resumeVM(vm.openstackid);"
                class="btn btn-primary">
          ResumeVM
        </button>
      </td>
    </tr>

  </table>
</div>
