<ul class="nav nav-tabs">
  <li><button (click)="getVm(elixir_id)">Own Machines</button></li>
  <li><button (click)="getAllVms()">All Machines</button></li>
</ul>


<table class="table table-striped">
  <tr *ngFor="let vm of vms"  >
    <td class="field-label col-md-6 active">
       Name: ***REMOVED******REMOVED***vm.name***REMOVED******REMOVED***
    </td>
    <td>Status: ***REMOVED******REMOVED***vm.status***REMOVED******REMOVED*** </td>
    <td> Created_at: ***REMOVED******REMOVED***vm.created_at***REMOVED******REMOVED***</td>
    <td>Openstackid: ***REMOVED******REMOVED***vm.openstackid***REMOVED******REMOVED*** |</td>
    <td >
      Stopped_at: ***REMOVED******REMOVED***vm.stopped_at***REMOVED******REMOVED***
    </td>
    <td> <button (click)="stopVm(vm.openstackid)"
                      class="btn btn-primary">
                StopVM
              </button></td>
  </tr>
  <tr>
     <td class="field-label col-md-6 active">

    </td>
    <td class="col-md-6">

    </td>
  </tr>
  <tr>
     <td class="field-label col-md-6 active">

    </td>
    <td class="col-md-6">

    </td>
  </tr>

</table>
