<div *ngIf="isLoaded === false" class="loader"></div>
<div *ngIf="isLoaded">
	<a
		style="margin-bottom: 5px"
		rel="noopener noreferrer"
		target="_blank"
		class="btn btn-secondary"
		href="{{ WIKI_VOLUME_OVERVIEW }}"
		id="volume_ov"
		>Wiki
	</a>
	<button
		type="button"
		style="margin-bottom: 5px; margin-left: 5px"
		class="btn btn-secondary"
		(click)="selectedProject = undefined; selected_vm = undefined; createModal.show()"
		id="create_attach_button"
	>
		Create & Attach Volume
	</button>
	<button
		type="button"
		style="margin-bottom: 5px; margin-left: 5px"
		class="btn btn-secondary"
		(click)="showFacilities = !showFacilities; getFacilityVolumes()"
		*ngIf="!showFacilities && managerFacilities.length > 0"
	>
		Facility Volumes
	</button>
	<button
		type="button"
		style="margin-bottom: 5px; margin-left: 5px"
		class="btn btn-secondary"
		(click)="showFacilities = !showFacilities; getVolumes()"
		*ngIf="showFacilities"
	>
		Own Volumes
	</button>
</div>

<div *ngIf="isLoaded" class="card" style="">
	<div class="card-header">
		<strong>Volumes</strong>
		–Overview
	</div>
	<div *ngIf="showFacilities" style="margin-bottom: 10px">
		<select [(ngModel)]="selectedFacility" class="form-control form-select" name="selectedFacility">
			<option *ngFor="let facility of managerFacilities" [ngValue]="facility">
				{{ facility['Facility'] }}
			</option>
		</select>
	</div>
	<div class="card-body">
		<div class="row justify-content-end">
			<div class="col" [hidden]="volume_page.num_pages < 2">
				<pagination
					[totalItems]="volume_page.total_items"
					[itemsPerPage]="volume_page.items_per_page"
					(pageChanged)="pageChanged($event)"
					[(ngModel)]="currentPage"
					[boundaryLinks]="true"
					[maxSize]="5"
					[rotate]="false"
					#pagination
				>
				</pagination>
			</div>
			<div class="col">
				<input
					type="text"
					class="form-control"
					placeholder="name,openstackid,project,virtualmachine"
					name="filter"
					(ngModelChange)="changedFilter($event)"
					[ngModel]="filter"
					(keydown.enter)="$event.preventDefault()"
				/>
			</div>
			<div class="input-group col-3">
				<input
					id="items_per_page"
					class="form-control"
					[disabled]="isSearching"
					name="volume_page.items_per_page"
					placeholder="e.g 3"
					type="number"
					min="1"
					max="10"
					step="1"
					appMinAmount="1"
					appMaxAmount="10"
					appInteger
					pattern="^([1-9]|1[012])$"
					[(ngModel)]="volume_page.items_per_page"
					[ngClass]="volume_page.items_per_page !== undefined ? 'is-valid' : 'is-invalid'"
					(ngModelChange)="volumePerPageChange.next($event)"
				/>
				<div class="input-group-append mb-3"><span class="input-group-text"> Volumes per page </span></div>
			</div>

			<div class="col-2">
				<div class="dropdown" dropdown>
					<button
						class="btn btn-secondary dropdown-toggle"
						id="actionDropdownMenu"
						data-toggle="dropdown"
						type="button"
						aria-haspopup="true"
						aria-expanded="false"
						aria-controls="dropdown-split"
						dropdownToggle
						style="width: 100%"
					>
						Actions
					</button>
					<div
						class="dropdown-menu dropdown-menu-right"
						aria-labelledby="dropdownMenu"
						role="menu"
						*dropdownMenu
						id="dropdownMenu"
					>
						<button
							[disabled]="checked_volumes?.length === 0"
							class="dropdown-item btn btn-secondary"
							id="deleteAllSelectedVolumesButton"
							(click)="deleteSelectedModal.show()"
						>
							Delete selected Volumes
						</button>
						<button
							[disabled]="!selected_volumes_to_detach"
							class="dropdown-item btn btn-secondary"
							id="detachAllSelectedVolumesButton"
							(click)="detachSelectedModal.show()"
						>
							Detach selected Volumes
						</button>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div *ngIf="isSearching" id="search_spinner" style="margin: 10px; padding: 10px">
				<div class="spinner-border text-primary" style="display: block; margin: auto"></div>
			</div>
			<div class="rTable" style="overflow-x: visible; overflow-y: visible">
				<div class="rTableHeading" id="volume_table_body">
					<div class="rTableHead col-2">Project</div>
					<div class="rTableHead col-2">Attached To</div>
					<div class="rTableHead col-2">Name</div>
					<div class="rTableHead col-2">Status</div>
					<div class="rTableHead col-1">Size</div>
					<div class="rTableHead col-2">Actions</div>
					<div class="rTableHead col-1">
						<input type="checkbox" [checked]="all_volumes_checked" (change)="changeCheckAllVolumes()" /><strong
							style="margin-left: 2px"
							>Select all</strong
						>
					</div>
				</div>

				<div class="rTableRow" *ngFor="let volume of volume_page.volume_list">
					<div class="rTableCell">{{ volume?.volume_project }}</div>
					<div
						class="rTableCell"
						*ngIf="volume?.volume_virtualmachine && volume?.volume_status === VolumeStates.staticIN_USE"
						[id]="'cell_vm_id_' + volume?.volume_virtualmachine.name"
					>
						<span *ngIf="volume?.volume_path">
							<strong>Initial attached to: </strong>/vol/{{ volume?.volume_path }} <br
						/></span>
						<strong>Device: </strong>{{ volume?.volume_device }} <br /><strong>VM:</strong
						><a
							class="h5 text-primary"
							[routerLink]="['/virtualmachines/detail/' + volume?.volume_virtualmachine?.openstackid]"
						>
							{{ volume?.volume_virtualmachine.name }}</a
						>
					</div>
					<div
						class="rTableCell"
						*ngIf="!volume?.volume_virtualmachine || volume?.volume_status !== VolumeStates.staticIN_USE"
						id="cell_vm_free_id"
					></div>
					<div class="rTableCell" id="cell_name_id_{{ volume?.volume_name }}">{{ volume?.volume_name }}</div>
					<app-volum-status class="rTableCell" [volume]="volume"></app-volum-status>

					<div class="rTableCell">{{ volume?.volume_storage }} GB</div>
					<div class="rTableCell">
						<div
							*ngIf="
								(volume?.volume_created_by_user || showFacilities) &&
								VolumeStates.staticNO_ACTIONS.indexOf(volume?.volume_status) === -1
							"
							class="btn-group"
							dropdown
						>
							<button
								class="btn btn-secondary"
								(click)="setRequestStatus(0); setSelectedVolume(volume); verifyModal.show()"
								type="button"
								id="delete_button_{{ volume.volume_name }}"
							>
								Delete Volume
							</button>
							<button
								class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
								type="button"
								aria-haspopup="true"
								aria-expanded="false"
								dropdownToggle
								aria-controls="dropdown-split"
							></button>
							<ul class="dropdown-menu" style="cursor: pointer" role="menu" *dropdownMenu>
								<li
									*ngIf="volume?.volume_virtualmachine && volume?.volume_status !== VolumeStates.staticERROR"
									role="menuitem"
								>
									<a class="dropdown-item" (click)="setRequestStatus(1); setSelectedVolume(volume); verifyModal.show()"
										>Detach Volume</a
									>
								</li>

								<li
									*ngIf="!volume?.volume_virtualmachine && volume?.volume_status !== VolumeStates.staticERROR"
									role="menuitem"
								>
									<a
										class="dropdown-item"
										(click)="
											getActiveVmsByProject(volume?.volume_projectid); setSelectedVolume(volume); attachModal.show()
										"
										>Attach Volume</a
									>
								</li>
								<li *ngIf="volume?.volume_status !== VolumeStates.staticERROR" role="menuitem">
									<a
										class="dropdown-item"
										(click)="
											extendVolumeStorage = volume?.volume_storage + 1;
											selected_volume = volume;
											getSelectedVolumeStorage();
											extendModal.show()
										"
										>Extend Volume</a
									>
								</li>
								<li role="menuitem">
									<a class="dropdown-item" (click)="setSelectedVolume(volume); renameModal.show()">Rename Volume</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="rTableCell">
						<input
							type="checkbox"
							[checked]="isVolChecked(volume)"
							(change)="changeCheckedVolume(volume)"
							*ngIf="
								(volume?.volume_created_by_user || showFacilities) &&
								VolumeStates.staticNO_ACTIONS.indexOf(volume?.volume_status) === -1
							"
						/>
					</div>

					<!-- td>{{volume?.volume_client.host}} : {{volume?.volume_client.port}}</td-->
				</div>
			</div>
		</div>
	</div>
</div>

<div
	bsModal
	#resultModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="result_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4
					class="modal-title"
					*ngIf="
						volume_action_status === volumeActionStates.WAITING ||
						volume_action_status === volumeActionStates.DETACHING_VOLUME ||
						volume_action_status === volumeActionStates.ATTACHING ||
						volume_action_status === volumeActionStates.CHANGING_NAME
					"
				>
					Waiting
				</h4>
				<h4
					class="modal-title"
					*ngIf="
						volume_action_status === volumeActionStates.SUCCESS ||
						volume_action_status === volumeActionStates.SUCCESSFULLY_DETACHED_VOLUME ||
						volume_action_status === volumeActionStates.CHANGING_NAME_SUCESSFULL ||
						volume_action_status === volumeActionStates.ATTACHING_SUCCESSFULL ||
						volume_action_status === volumeActionStates.SUCCESSFULLY_CREATED_ATTACHED
					"
				>
					Success
				</h4>
				<h4 class="modal-title" *ngIf="volume_action_status === volumeActionStates.ERROR">Error</h4>

				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="resultModal.hide()"
					aria-label="Close"
					id="close_result_modal"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="alert alert-primary" role="alert" *ngIf="volume_action_status === volumeActionStates.CHANGING_NAME">
					Renaming volume?... <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
				</div>
				<div class="alert alert-primary" role="alert" *ngIf="volume_action_status === volumeActionStates.WAIT_CREATION">
					Creating volume?... <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
				</div>
				<div
					class="alert alert-primary"
					role="alert"
					*ngIf="volume_action_status === volumeActionStates.DETACHING_VOLUME"
				>
					Detaching {{ selected_volume?.volume_name }}... <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
				</div>

				<div class="alert alert-primary" role="alert" *ngIf="volume_action_status === volumeActionStates.ATTACHING">
					Attaching Volume {{ selected_volume?.volume_name }} to Virtualmachine {{ selected_vm.name }}...
					<i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
				</div>
				<div class="alert alert-primary" role="alert" *ngIf="volume_action_status === volumeActionStates.WAITING">
					Deleting {{ selected_volume?.volume_name }}... <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
				</div>
				<div
					id="successfully_created_attached_div"
					class="alert alert-success"
					role="alert"
					*ngIf="volume_action_status === volumeActionStates.SUCCESSFULLY_CREATED_ATTACHED"
				>
					Successfully created and attached volume?.
				</div>
				<div
					class="alert alert-success"
					role="alert"
					*ngIf="volume_action_status === volumeActionStates.CHANGING_NAME_SUCESSFULL"
				>
					Successfully renamed volume?.
				</div>
				<div
					class="alert alert-success"
					role="alert"
					*ngIf="volume_action_status === volumeActionStates.SUCCESS"
					id="successfully_deleted_div"
				>
					{{ selected_volume?.volume_name }} was successfully deleted.
				</div>
				<div
					class="alert alert-success"
					role="alert"
					*ngIf="volume_action_status === volumeActionStates.SUCCESSFULLY_DETACHED_VOLUME"
				>
					{{ selected_volume?.volume_openstackid }} was successfully detached.
				</div>
				<div
					class="alert alert-success"
					role="alert"
					*ngIf="volume_action_status === volumeActionStates.ATTACHING_SUCCESSFULL"
				>
					{{ selected_volume?.volume_name }} was successfully attached.
				</div>

				<div
					*ngIf="
						volume_action_status === volumeActionStates.ATTACHING_SUCCESSFULL ||
						volume_action_status === volumeActionStates.SUCCESSFULLY_CREATED_ATTACHED
					"
					class="alert alert-primary"
					role="alert"
				>
					In order to use the volume you have to
					<a href="{{ WIKI_VOLUME_OVERVIEW }}" rel="noopener noreferrer" target="_blank"> mount </a> it.
				</div>
			</div>
			<div class="alert alert-warning" role="alert" *ngIf="volume_action_status === volumeActionStates.ERROR">
				An error occurred.
			</div>

			<div class="modal-footer">
				<button
					type="button"
					class="btn btn-secondary"
					(click)="volume_action_status = volumeActionStates.WAITING; resultModal.hide()"
				>
					Close
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#deleteSelectedModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="delete_all_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Delete the following Volumes</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="deleteSelectedModal.hide()"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning" role="alert">
					Are you sure you want to delete:
					<div *ngFor="let volume of checked_volumes">
						<strong>{{ volume?.volume_name }}</strong>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-success col-md-4"
					(click)="deleteSelectedVolumes(); deleteSelectedModal.hide()"
					id="confirm_delete_all_button"
				>
					Yes
				</button>
				<button class="btn btn-danger col-md-4" type="reset" (click)="deleteSelectedModal.hide()">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#detachSelectedModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="detach_all_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Detach the following Volumes</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="detachSelectedModal.hide()"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning" role="alert">
					Are you sure you want to detach:
					<div *ngFor="let volume of checked_volumes">
						<ng-container *ngIf="volume?.volume_virtualmachine?.openstackid">
							<strong>{{ volume?.volume_name }}</strong> from <strong>{{ volume?.volume_virtualmachine?.name }}</strong>
						</ng-container>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-success col-md-4"
					(click)="detachSelectedVolumes(); detachSelectedModal.hide()"
					id="confirm_detach_all_button"
				>
					Yes
				</button>
				<button class="btn btn-danger col-md-4" type="reset" (click)="detachSelectedModal.hide()">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#verifyModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="verify_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Delete Volume</h4>
				<button type="button" class="close" style="cursor: pointer" (click)="verifyModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngIf="request_status === volumeRequestStates.DELETE" class="alert alert-warning" role="alert">
					Are you sure you want to delete Volume {{ selected_volume?.volume_name }}?
				</div>
				<div *ngIf="request_status === volumeRequestStates.DETACH" class="alert alert-warning" role="alert">
					Are you sure you want to detach Volume {{ selected_volume?.volume_name }} from
					{{ selected_volume?.volume_virtualmachine?.name }}?
				</div>
			</div>
			<div class="modal-footer">
				<button
					id="verify_deletion_button"
					*ngIf="request_status === volumeRequestStates.DELETE"
					class="btn btn-success col-md-4"
					(click)="deleteVolume(selected_volume); verifyModal.hide()"
				>
					Yes
				</button>
				<button
					*ngIf="request_status === volumeRequestStates.DETACH"
					class="btn btn-success col-md-4"
					(click)="
						detachVolume(selected_volume, selected_volume?.volume_virtualmachine.openstackid); verifyModal.hide()
					"
				>
					Yes
				</button>

				<button class="btn btn-danger col-md-4" type="reset" (click)="verifyModal.hide()">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#attachModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Attach Volume</h4>
				<button type="button" class="close" style="cursor: pointer" (click)="attachModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning" role="alert">
					The volume must still be
					<a href="{{ WIKI_VOLUME_OVERVIEW }}" rel="noopener noreferrer" target="_blank"> mounted </a> after the
					attaching to use it.
				</div>
				<strong>To which vm should the volume be attached?</strong>

				<select
					class="form-control col-md-6 form-select"
					name="selected_vm"
					[(ngModel)]="selected_vm"
					[ngClass]="selected_vm ? 'is_valid' : 'is-invalid'"
				>
					<option value="undefined" disabled selected hidden>Please Select</option>
					<option *ngFor="let vm of project_vms" [ngValue]="vm">{{ vm.name }}</option>
				</select>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-success col-md-4"
					[disabled]="selected_vm === undefined"
					(click)="attachVolume(selected_volume, selected_vm.openstackid); attachModal.hide()"
				>
					Attach Volume
				</button>

				<button class="btn btn-danger col-md-4" type="reset" (click)="selected_vm = undefined; attachModal.hide()">
					Cancel
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#renameModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Rename Volume</h4>
				<button type="button" class="close" style="cursor: pointer" (click)="renameModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<strong>Please enter a new name for the volume:</strong>

				<div>
					<div class="input-group">
						<input type="text" placeholder="Name" class="form-control" #newName />
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-success col-md-4"
					(click)="
						renameVolume(selected_volume, newName.value); newName.value = ''; renameModal.hide(); resultModal.show()
					"
				>
					Rename Volume
				</button>

				<button
					class="btn btn-danger col-md-4"
					type="reset"
					(click)="selected_volume = undefined; newName.value = ''; renameModal.hide()"
				>
					Cancel
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#extendResultModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Extension result</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="extendResultModal.hide()"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngIf="extendDone && !extendError" class="alert alert-warning" role="alert">
					<strong
						>Please visit the
						<a rel="noopener noreferrer" href="{{ WIKI_EXTEND_VOLUME }}" target="_blank"> wiki </a> for the further
						steps you need to take before you can use the extended volume.
					</strong>
				</div>

				<div *ngIf="extendDone && extendError" class="alert alert-danger" role="alert">
					The volume could not be extended. Try again later. If the problem persists please contact
					<a class="alert-link" href="mailto: {{ CLOUD_PORTAL_SUPPORT_MAIL }}">{{ CLOUD_PORTAL_SUPPORT_MAIL }}</a>
				</div>
				<div
					class="alert alert-primary"
					role="alert"
					*ngIf="!extendDone && selected_volume?.volume_status === VolumeStates.staticEXTENDING"
				>
					Extending {{ selected_volume?.volume_name }}... <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger col-md-4" type="reset" (click)="extendResultModal.hide()">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#extendModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="extend_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Extend Volume {{ selected_volume?.volume_name }}</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="extendModal.hide()"
					aria-label="Close"
					id="close_extend_modal_button"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngIf="!selected_volume_data_loaded" id="serach_vol_spinner" style="margin: 10px; padding: 10px">
					<div class="spinner-border text-primary" style="display: block; margin: auto"></div>
				</div>
				<ng-container *ngIf="selected_volume_data_loaded">
					<div *ngIf="selected_volume?.volume_virtualmachine" class="alert alert-danger" role="alert">
						To extend the volume it must not be attached to any vm!
					</div>

					<div class="form-group row">
						<label class="col-md-3 form-control-label">Storage Project </label>

						<div class="col-md-6">
							<div class="col-md-6">
								{{ selectedProjectDiskspaceUsed }} / {{ selectedProjectDiskspaceMax }}
								GB
							</div>
						</div>
					</div>
					<div *ngIf="selectedProjectDiskspaceUsed <= selectedProjectDiskspaceMax" class="form-group row">
						<label class="col-md-3 form-control-label">Current Size</label>
						<div class="col-md-9">
							<div class="input-group">
								<input
									min="0"
									step="1"
									[value]="selected_volume?.volume_storage"
									disabled
									type="number"
									placeholder="e.g 8 "
									id="old_volume_storage"
								/>
								<div class="input-group-append"><span class="input-group-text"> GB </span></div>
							</div>
						</div>
					</div>
					<div
						class="form-group row alert alert-danger"
						*ngIf="selectedProjectDiskspaceUsed + 1 > selectedProjectDiskspaceMax"
					>
						This project has not enough storage to extend this volume?.
					</div>

					<div
						class="form-group row alert alert-danger"
						*ngIf="selectedProjectDiskspaceUsed === selectedProjectDiskspaceMax"
					>
						This project has already reached its storage limit.
					</div>

					<div
						*ngIf="
							selectedProjectDiskspaceUsed <= selectedProjectDiskspaceMax &&
							!(selectedProjectDiskspaceUsed + 1 > selectedProjectDiskspaceMax)
						"
						class="form-group row"
					>
						<label class="col-md-3 form-control-label">New Size</label>
						<div class="col-md-9">
							<div class="input-group">
								<input
									min="0"
									step="1"
									[(ngModel)]="extendVolumeStorage"
									required
									[disabled]="selected_volume?.volume_virtualmachine"
									[min]="selected_volume?.volume_storage + 1"
									[max]="selectedProjectDiskspaceMax - selectedProjectDiskspaceUsed + selected_volume?.volume_storage"
									type="number"
									placeholder="e.g 8 "
									id="new_volume_storage"
								/>
								<div class="input-group-append"><span class="input-group-text"> GB </span></div>
							</div>
							<div class="input-group-append">
								<span class="input-group-text"> min: {{ selected_volume?.volume_storage + 1 }} </span
								><span class="input-group-text">
									max:
									{{ selectedProjectDiskspaceMax - selectedProjectDiskspaceUsed + selected_volume?.volume_storage }}
								</span>
							</div>
						</div>
					</div>
				</ng-container>
			</div>
			<div class="modal-footer">
				<button
					id="verify_extend_btn"
					*ngIf="
						selectedProjectDiskspaceUsed <= selectedProjectDiskspaceMax &&
						!(selectedProjectDiskspaceUsed + 1 > selectedProjectDiskspaceMax)
					"
					[disabled]="
						selected_volume?.volume_virtualmachine ||
						extendVolumeStorage <= selected_volume?.volume_storage ||
						selectedProjectDiskspaceUsed - selected_volume?.volume_storage + extendVolumeStorage >
							selectedProjectDiskspaceMax
					"
					class="btn btn-success col-md-4"
					(click)="
						extendError = false;
						extendDone = false;
						extendVolume(selected_volume, extendVolumeStorage);
						extendModal.hide()
					"
				>
					Extend
				</button>

				<button class="btn btn-danger col-md-4" type="reset" (click)="extendModal.hide()">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#createModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="create_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Create & Attach Volume</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="createModal.hide()"
					aria-label="Close"
					id="close_create_modal_button"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row">
					<label class="col-md-12"> <strong>For which Project the Volume should be created?</strong></label>
				</div>

				<div class="form-group row">
					<label class="col-md-3 form-control-label">Project</label>
					<div class="col-md-6">
						<select
							id="select_project_id"
							class="form-control form-select"
							name="selectedProject"
							[ngClass]="selectedProject !== undefined && selectedProject !== null ? 'is-valid' : 'is-invalid'"
							[(ngModel)]="selectedProject"
							(ngModelChange)="
								getActiveVmsByProject(selectedProject[1]); getSelectedProjectDiskspace(); getSelectedProjectVolumes()
							"
						>
							<option value="undefined" disabled selected hidden>Please Select</option>
							<option *ngFor="let project of projects" [ngValue]="project" id="project_option_{{ project[0] }}">
								{{ project[0] }}
							</option>
						</select>
					</div>
				</div>

				<div *ngIf="selectedProject" class="form-group row">
					<label class="col-md-3 form-control-label">Storage </label>

					<div class="col-md-6">
						<div class="col-md-6">
							{{ selectedProjectDiskspaceUsed }} / {{ selectedProjectDiskspaceMax }}
							GB
						</div>
					</div>
				</div>
				<div *ngIf="selectedProject" class="form-group row">
					<label class="col-md-3 form-control-label">Storage volumes</label>

					<div class="col-md-9">
						<div class="col-md-6">
							<strong>{{ selectedProjectVolumesUsed }} / {{ selectedProjectVolumesMax }} </strong>
						</div>
					</div>
				</div>
				<div
					class="form-group row"
					class="alert alert-danger"
					*ngIf="
						selectedProject &&
						(selectedProjectVolumesUsed === selectedProjectVolumesMax ||
							selectedProjectDiskspaceUsed === selectedProjectDiskspaceMax)
					"
				>
					This project has already reached its storage or volume limit.
				</div>

				<div
					class="form-group row"
					*ngIf="
						selectedProject &&
						!(
							selectedProjectVolumesUsed === selectedProjectVolumesMax ||
							selectedProjectDiskspaceUsed === selectedProjectDiskspaceMax
						)
					"
				>
					<label class="col-md-12"><strong>To which Vm the Volume should be attached?</strong></label>
				</div>
				<div
					*ngIf="
						selectedProject &&
						!(
							selectedProjectVolumesUsed === selectedProjectVolumesMax ||
							selectedProjectDiskspaceUsed === selectedProjectDiskspaceMax
						) &&
						project_vms?.length > 0
					"
					class="form-group row"
				>
					<label class="col-md-3 form-control-label">Vm</label>
					<div class="col-md-9">
						<select
							class="form-control form-select"
							name="selected_vm"
							[(ngModel)]="selected_vm"
							[ngClass]="selected_vm !== null && selected_vm !== undefined ? 'is-valid' : 'is-invalid'"
							id="select_vm_id"
						>
							<option value="undefined" disabled selected hidden>Please Select</option>
							<option *ngFor="let vm of project_vms" [ngValue]="vm" [id]="'vm_option_' + vm.name">{{ vm.name }}</option>
						</select>
					</div>
				</div>
				<div class="alert alert-info" *ngIf="selectedProject && project_vms?.length <= 0">
					There are no VMs to attach volumes to in this project.
				</div>

				<div *ngIf="selected_vm" class="form-group row">
					<label class="col-md-3 form-control-label">Volume name</label>
					<div class="col-md-9">
						<div class="input-group">
							<input
								type="text"
								class="form-control"
								placeholder="Volumename"
								[value]="volumeName"
								(input)="volumeName = $event.target.value"
								[ngClass]="volumeName?.length > 0 ? 'is-valid' : 'is-invalid'"
								id="name_input_id"
							/>
						</div>
					</div>
				</div>
				<div *ngIf="selected_vm" class="form-group row">
					<label class="col-md-3 form-control-label">Storage</label>
					<div class="col-md-9">
						<div class="input-group">
							<input
								class="form-control"
								min="0"
								step="1"
								[(ngModel)]="diskspace"
								(change)="calcDiskSpaceSum()"
								(ngModelChange)="calcDiskSpaceSum(); checkAvailableVolumeSpaceForCreation()"
								type="number"
								placeholder="e.g 8 "
								id="space_input_id"
								[pattern]="'^[0-9]+$'"
								[formControl]="storageSize"
								[ngClass]="
									storageSize.errors || storageSize.value === null || storageSize.value === undefined
										? 'is-invalid'
										: 'is-valid'
								"
							/>
							<span class="input-group-text"> GB </span>
						</div>
					</div>
				</div>
				<div
					*ngIf="selected_vm && selectedProjectDiskSpaceSum > selectedProjectDiskspaceMax"
					class="alert alert-danger"
				>
					The storage limit is exceeded
				</div>
				<div class="alert alert-warning" role="alert">
					In order to use the volume you have to
					<a href="{{ WIKI_VOLUME_OVERVIEW }}" rel="noopener noreferrer" target="_blank"> mount </a> it.
				</div>
			</div>
			<div class="modal-footer">
				<button
					id="verify_create_attach_button"
					class="btn btn-success col-md-6"
					[disabled]="
						selected_vm === undefined ||
						diskspace <= 0 ||
						volumeName.length === 0 ||
						selectedProjectDiskSpaceSum > selectedProjectDiskspaceMax
					"
					(click)="createAndAttachvolume(volumeName, diskspace, selected_vm.openstackid); createModal.hide()"
				>
					Create & Attach Volume
				</button>

				<button class="btn btn-danger col-md-4" type="reset" (click)="selected_vm = undefined; createModal.hide()">
					Cancel
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#errorModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="error_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Create & Attach Volume</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="errorModal.hide()"
					aria-label="Close"
					id="close_error_modal_button"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>An error occured during creation of the volume. Please try again and make sure to choose valid values!</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger col-md-4" type="reset" (click)="errorModal.hide()">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.mo --->
