<div class="table-responsive">
  <table class="table table-striped" style="table-layout: fixed">


    <tr *ngIf="application?.project_application_pi_approved" id="id_pi_row">
      <td>
        PI Name
      </td>
      <td>
        {{application?.project_application_pi?.username}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr *ngIf="application?.project_application_pi_approved">
      <td>
        PI Email
      </td>
      <td>
        {{application?.project_application_pi?.email}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr *ngIf="application?.project_application_pi_approved">
      <td>
        PI Affiliations
      </td>
      <td>
        {{application?.project_application_pi?.user_affiliations}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus()|| isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr>
      <td>User
        Affiliations
      </td>
      <td>{{
        application?.project_application_user?.user_affiliations}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr>
      <td>User Name</td>
      <td>
        {{  application?.project_application_user?.username}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr>
      <td>User Email</td>
      <td>
        {{  application?.project_application_user?.email}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
  </table>
  <br>

  <table class="table table-striped" style="table-layout: fixed">
    <thead>
    <tr>
      <th colspan="2" style="text-align:center"><strong>Information</strong></th>
      <th *ngIf="(application?.hasModificationRequestedStatus()|| isModification) && !application?.project_application_extension?.is_only_extra_credits_application"></th>

    </tr>
    </thead>
    <tr *ngIf="is_vo_admin && application?.project_application_extension?.is_only_extra_credits_application">
      <td>Extra Credits Request</td>
      <td>
        Yes
      </td>
    </tr>
    <tr *ngIf="is_vo_admin && application?.project_application_extension?.is_only_extra_credits_application">
      <td>Reason for extra credits</td>
      <td>
        {{application?.project_application_extension?.project_application_extension_comment}}
      </td>
    </tr>
    <tr>
      <td>Research Topics</td>
      <td><h5><span *ngFor="let term of application?.project_application_edam_terms"
                    style="margin-left: 5px; "
                    class="badge badge-info"><span id="topic_{{term}}">{{term}}</span>
 </span>

      </h5></td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">

    </tr>
    <tr>
      <td>Workshop</td>
      <td>
        <span *ngIf="application?.project_application_workshop" class="badge badge-success">Yes</span>
        <span *ngIf="!application?.project_application_workshop" class="badge badge-danger">No</span>
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr *ngIf="application?.project_application_openstack_project">
      <td>Service</td>
      <td>
        <span *ngIf="application?.project_application_cloud_service" class="badge badge-success">Yes</span>
        <span *ngIf="!application?.project_application_cloud_service" class="badge badge-danger">No</span>
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr *ngIf="application?.project_application_openstack_project && application?.project_application_cloud_service">
      <td>Service status</td>
      <td>
        <span *ngIf="application?.project_application_cloud_service_develop" class="badge badge-success">In development</span>
        <span *ngIf="!application?.project_application_cloud_service_develop" class="badge badge-danger">Existing</span>
      </td>

      <td
        *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        <span *ngIf="application?.project_application_extension?.project_application_extension_cloud_service_develop"
              class="badge badge-success">In development</span>
        <span *ngIf="!application?.project_application_extension?.project_application_extension_cloud_service_develop"
              class="badge badge-danger">Existing</span>
      </td>
    </tr>
    <tr
      *ngIf="application?.project_application_openstack_project
      && (!application?.project_application_cloud_service_develop
        || (!application?.project_application_extension?.project_application_extension_cloud_service_develop) && (application?.hasModificationRequestedStatus()|| isModification) )
      && application?.project_application_cloud_service">
      <td> - approximate number of users</td>
      <td>
        <span>{{application?.project_application_cloud_service_user_number}}</span>
      </td>
      <td
        *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{application?.project_application_extension?.project_application_extension_cloud_service_user_number}}</td>
    </tr>
    <tr>
      <td>Description
      </td>
      <td>{{
          application?.project_application_description
        }}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr>
      <td>Horizon 2020</td>
      <td>
        {{application?.project_application_horizon2020}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr>
      <td>Elixir Project</td>
      <td>
        {{application?.project_application_elixir_project}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr>
      <td>BMBF Project</td>
      <td>
        {{application?.project_application_bmbf_project}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>


    <tr>
      <td>Workgroup</td>
      <td>{{
          application?.project_application_workgroup
        }}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>

    <tr>
      <td>Comment</td>
      <td>{{
          application?.project_application_comment
        }}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{application?.project_application_extension?.project_application_extension_comment}}
      </td>

    </tr>
    <tr>
      <td>Lifetime</td>
      <td>{{
          application?.project_application_lifetime
        }} months
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{
          application?.project_application_extension?.project_application_extension_lifetime}}
      </td>
    </tr>
    <tr>
      <td>Sensitive Data</td>
      <td><p *ngIf="application?.project_application_sensitive_data"> Yes</p>
        <p *ngIf="!application?.project_application_sensitive_data"> No</p>
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">

      </td>
    </tr>
    <tr *ngIf="application?.project_application_openstack_project">
      <td>Training</td>
      <td><p *ngIf="application?.project_application_openstack_basic_introduction"> Yes</p>
        <p *ngIf="!application?.project_application_openstack_basic_introduction"> No</p>
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">

      </td>
    </tr>
  </table>
  <br>
  <table class="table table-striped" style="table-layout: fixed">
    <thead>
    <tr>
      <th colspan="2" style="text-align:center"><strong>Dissemination</strong></th>
      <th *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application"></th>

    </tr>
    </thead>
    <tr>
      <td>Platforms</td>
      <td id="dissemination_platforms">
        {{application?.dissemination?.allowed_platforms}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
    <tr>
      <td>Information</td>
      <td id="dissemination_information">
        {{application?.dissemination?.allowed_informations}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>
  </table>
  <br>

  <table class="table table-striped" style="table-layout: fixed">
    <thead>
    <tr>
      <th colspan="2" style="text-align:center"><strong>Resources</strong></th>
      <th
        *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application"></th>

    </tr>
    </thead>
    <tr *ngIf="application?.hasModificationRequestedStatus() || isModification">
      <td>Modification Requested from:
      </td>

      <td>
        {{application?.project_application_extension?.project_application_extension_user?.username}}
        ( {{application?.project_application_extension?.project_application_extension_user?.email}})
      </td>
      <td>
                {{application?.project_application_extension?.project_application_extension_user?.elixir_id}}


      </td>

    </tr>
    <tr>
      <td>VMs
      </td>

      <td>
        {{application?.project_application_vms_requested}}
      </td>
      <td
        *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        Requested:
        {{application?.project_application_modification?.project_application_modification_vms_requested}}
      </td>

    </tr>

    <tr *ngFor="let flavor of application?.flavors">
      <td>Flavor: {{flavor.name}}</td>
      <td>{{flavor.counter}}</td>
      <td
        *ngIf="(application?.hasModificationRequestedStatus()  || isModification)  && !application?.project_application_extension?.is_only_extra_credits_application">
                                                            <span>
                                                                {{application?.project_application_modification?.getFlavorCounter(flavor)}}</span>
      </td>
    </tr>
    <ng-container
      *ngFor="let flavor of application?.project_application_modification?.flavors  ">
      <tr *ngIf="application?.getFlavorCounter(flavor)== 0">
        <td>Flavor: {{flavor.name}}</td>
        <td>0</td>
        <td>{{application?.project_application_modification?.getFlavorCounter(flavor)}}</td>

      </tr>
    </ng-container>

    <tr>
      <td>Total Cores</td>
      <td>{{
          application?.project_application_total_cores
        }}


      </td>

      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{application?.project_application_modification?.project_application_modification_total_cores}}
      </td>
    </tr>

    <tr>
      <td>Total RAM</td>
      <td>{{
          application?.project_application_total_ram}} GB
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{application?.project_application_modification?.project_application_modification_total_ram}} GB
      </td>
    </tr>


    <tr *ngIf="is_vo_admin">
      <td>Initial Credits</td>
      <td>{{
          application?.project_application_initial_credits}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        Extra: {{application?.project_application_extension?.project_application_extension_credits}} (Total: {{application?.TotalExtensionCredits}})
      </td>
    </tr>

    <tr *ngIf="is_vo_admin">
      <td>Used Credits</td>
      <td>{{current_credits}}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        Credits left (with Extra Credits): {{credits_left_with_extra}}
      </td>
    </tr>

    <tr *ngIf="is_vo_admin && application?.project_application_extension?.is_only_extra_credits_application">
      <td>Extra Credits</td>
      <td>
        {{application?.project_application_extension?.project_application_extension_credits}} (Total: {{application?.TotalExtensionCredits}})
      </td>
    </tr>

    <tr>
      <td>Storage Limit
      </td>
      <td>{{
          application?.project_application_volume_limit
        }} GB
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{application?.project_application_modification?.project_application_modification_volume_limit}}
        GB
      </td>
    </tr>
    <tr>
      <td>Volume
        Counter
      </td>
      <td>{{
          application?.project_application_volume_counter
        }} volumes
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{application?.project_application_modification?.project_application_modification_volume_counter}} volumes
      </td>
    </tr>
    <tr *ngIf="application?.project_application_openstack_project">
      <td>ObjectStorage
      </td>
      <td>{{
          application?.project_application_object_storage
        }} GB
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
        {{application?.project_application_modification?.project_application_modification_object_storage}}
        GB
      </td>
    </tr>
    <tr>
      <td>Last status
        changed
      </td>
      <td>{{
          application?.project_application_date_status_changed
        }}
      </td>
      <td *ngIf="(application?.hasModificationRequestedStatus() || isModification) && !application?.project_application_extension?.is_only_extra_credits_application">
      </td>
    </tr>


  </table>
</div>
