<td>
    <div class="btn-group">

        @switch (tabState) {

            @case (ApplicationTabStates.SUBMITTED) {

                @if (application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) {
                    <button
                            id="approval_{{ application?.project_application_shortname }}"
                            [attr.data-test-id]="'approval_' + application?.project_application_shortname"

                            style="margin: 2px"
                            (click)="showConfirmationModal(ConfirmationActions.APPROVE_APPLICATION)"

                            type=" button"
                            class="btn btn-success"
                    >
                        <i class="fa fa-check"></i>&nbsp;
                        <span class="d-none">Approve</span>
                    </button>
                }
                @if (application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION) {

                    <button
                            *ngIf="application | hasstatusinlist: Application_States.WAIT_FOR_CONFIRMATION"
                            style="margin: 2px"
                            [id]="'decline_' + application?.project_application_shortname"
                            (click)="showConfirmationModal(ConfirmationActions.DECLINE_APPLICATION)

														"
                            type="button"
                            class="btn btn-danger"
                    >
                        <i class="fa fa-times"></i>&nbsp;
                        <span class="d-none">Decline</span>
                    </button>
                }


            }
            @case (ApplicationTabStates.LIFETIME_EXTENSION) {


            }
            @case (ApplicationTabStates.CREDITS_EXTENSION) {

            }
            @case (ApplicationTabStates.MODIFICATION_EXTENSION) {
            }
            @case (ApplicationTabStates.TERMINATION_REQUEST) {

            }
        }






        <button
                (click)="switchCollaps()			"
                type="button"
                class="btn btn-secondary"
                style="margin: 2px"
                tooltip="Show details"
        >
            <i class="fa fa-info-circle"></i>&nbsp;
            <span
                    class="d-none"
                    [hidden]="!isCollapsed"
            >Show</span
            >
            <span
                    class="d-none"
                    [hidden]="isCollapsed"
            >Hide</span
            >
            <span class="d-none"> Information</span>
        </button>
    </div>
</td>
