<div *ngIf="errorMessage !== null">An Error has occurred. {{ errorMessage }}</div>

<div *ngIf="!isLoaded && errorMessage === null" class="loader"></div>

<div class="animated fadeIn card" *ngIf="isLoaded">
	<div class="card-body">
		<alert type="info" dismissible="true">
			To learn more about workshops, please see our
			<a [href]="WIKI_WORKSHOPS" target="_blank" rel="noopener noreferrer">WIKI</a>.
		</alert>
		<alert type="info" dismissible="true">
			Often Workshop participants need access to the same data. Unfortunately, it is not yet possible to create volume
			snapshots for SimpleVM projects. However, since this is an important feature for the workshops to provide the same
			data to the participants and a manual creation of the individual volumes would be very time-consuming for the
			workshop organizer, we offer as long as the volume snapshot feature is not yet available, that we create multiple
			copies of a volume prepared by you and assign them to your project. Please contact us by mail at
			<a class="alert-link" href="mailto: {{ CLOUD_PORTAL_SUPPORT_MAIL }}">{{ CLOUD_PORTAL_SUPPORT_MAIL }}</a
			>.
		</alert>
		<div *ngIf="projects.length > 0" id="projectsExisting">
			<div class="row justify-content-center" style="margin-bottom: 5px">
				<div class="col-10">
					<label for="projectSelect"><strong>Please select a project</strong></label>
					<select
						required
						class="form-control form-select"
						name="selectedProject"
						[(ngModel)]="selectedProject"
						data-test-id="projectSelect"
						id="projectSelect"
						(ngModelChange)="projectChange()"
					>
						<option value="undefined" disabled selected hidden>Please Select</option>
						<option *ngFor="let project of projects" [ngValue]="project" id="project_option_{{ project[0] }}">
							{{ project[0] }}
						</option>
					</select>
				</div>
			</div>

			<div *ngIf="projectWorkshopsLoading || projectMembersLoading">
				<div class="row" style="height: 30px; margin-bottom: 10px">
					<strong class="col-3">Getting workshops...</strong>
					<div class="col-5" *ngIf="!workshops || workshops.length === 0; else workshopsLoading">
						No workshops found.
					</div>
					<ng-template #workshopsLoading>
						<div class="col-2" *ngIf="projectWorkshopsLoading">
							<div class="spinner-border text-muted"></div>
						</div>
					</ng-template>
					<div class="col-2" *ngIf="projectWorkshopsLoaded">
						<i class="fa fa-check" style="color: green"> </i>
					</div>
				</div>
				<div class="row" style="height: 30px; margin-bottom: 10px">
					<strong class="col-3">Getting project members...</strong>
					<div class="col-2" *ngIf="projectMembersLoading">
						<div class="spinner-border text-muted"></div>
					</div>
					<div class="col-2" *ngIf="projectMembersLoaded">
						<i class="fa fa-check" style="color: green"> </i>
					</div>
				</div>
			</div>

			<div *ngIf="projectWorkshopsLoaded && projectMembersLoaded" class="card" id="workshioCard">
				<div class="card-header">
					<i class="fa fa-align-justify"></i>
					Workshops
				</div>
				<div class="card-body">
					<div *ngIf="!selectedWorkshop.id">Please select a workshop:</div>
					<div class="btn-group col-6">
						<button
							id="select_workshop_{{ workshop?.shortname }}"
							[attr.data-test-id]="'select_workshop_' + workshop?.shortname"
							*ngFor="let workshop of workshops"
							[ngClass]="{
								'btn-outline-success': workshop.shortname === selectedWorkshop?.shortname,
								'btn-outline-secondary': workshop.shortname !== selectedWorkshop?.shortname
							}"
							(click)="workshopChange(workshop)"
							type="button"
							style="margin-bottom: 5px; margin-right: 5px"
							class="btn"
						>
							{{ workshop.shortname }}
						</button>
						<button
							class="btn btn-danger"
							(click)="verifyDeleteModal.show()"
							type="button"
							id="cleanup_workshop_button_id"
							data-test-id="cleanup_workshop_button_id"
							[disabled]="deleting"
							*ngIf="selectedWorkshop?.id"
							style="margin-bottom: 5px; margin-right: 5px"
						>
							Cleanup Workshop
						</button>
						<button
							class="btn btn-info"
							type="button"
							data-test-id="new_workshop_button_id"
							id="new_workshop_button_id"
							style="margin-bottom: 5px; margin-right: 5px"
							(click)="blankWorkshop()"
						>
							New Workshop
						</button>
					</div>
					<div class="row" *ngIf="newWorkshop">
						<label class="form-label col-2" for="workshop_longname" style="margin-top: 10px"> Longname </label>
						<div class="col-4">
							<input
								required
								type="text"
								id="workshop_longname"
								data-test-id="workshop_longname"
								style="margin-top: 10px"
								class="form-control"
								name="selected_workshop.longname"
								(keyup)="checkLongname(selectedWorkshop.longname)"
								[(ngModel)]="selectedWorkshop.longname"
								#longname="ngModel"
								[minlength]="3"
								[maxlength]="256"
								pattern="[a-zA-Z0-9]+"
								[ngClass]="{
									'is-invalid': invalidLongname && longname.dirty,
									'is-valid': !invalidLongname && longname.dirty
								}"
							/>
							<small class="form-text text-muted">
								Your workshop longname must contain between 3 and 256 characters and may only contain letters and
								numbers.
							</small>
						</div>
						<div class="w-100"></div>
						<label class="form-label col-2" for="workshop_shortname" style="margin-top: 10px"> Shortname </label>
						<div class="col-4">
							<input
								required
								type="text"
								id="workshop_shortname"
								data-test-id="workshop_shortname"
								style="margin-top: 10px"
								class="form-control"
								name="selected_workshop.shortname"
								(keyup)="checkShortname(selectedWorkshop.shortname)"
								[(ngModel)]="selectedWorkshop.shortname"
								#shortname="ngModel"
								[minlength]="3"
								[maxlength]="8"
								pattern="[a-zA-Z0-9]+"
								[ngClass]="{
									'is-invalid': invalidShortname && shortname.dirty,
									'is-valid': !invalidShortname && shortname.dirty
								}"
							/>
							<small class="form-text text-muted">
								Your workshop shortname must contain between 3 and 8 characters, may only contain letters and numbers
								and has to be unique among your project.
							</small>
						</div>
						<div class="w-100"></div>
						<div class="col-2" style="margin-top: 10px"></div>
						<div class="col-4">
							<button
								class="btn btn-primary"
								(click)="createNewWorkshop()"
								type="button"
								data-test-id="create_workshop_button_id"
								id="create_workshop_button_id"
								[disabled]="invalidShortname || invalidLongname"
								style="margin-bottom: 15px; margin-top: 10px"
							>
								Create workshop
							</button>
						</div>
						<div class="w-100"></div>
					</div>
					<div class="table-responsive" *ngIf="projectMembersLoaded">
						<table class="table table-hover">
							<thead>
								<tr>
									<th style="width: 50%">User Info</th>
									<th style="width: 50%">
										Vm Info
										<button
											class="btn btn-primary"
											*ngIf="selectedWorkshop.id"
											type="button"
											[disabled]="memberVms.length < 1"
											(click)="resetSendingMails(); infoMailModal.show()"
											style="margin-bottom: 5px; margin-right: 5px; float: right"
										>
											Send VM Info Mails
										</button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let member of memberVms">
									<td>
										<div
											class="callout callout-info"
											data-test-id="user_{{ member.projectMember.elixirId }}"
											style="border-top-width: 0; border-bottom-width: 0; border-right-width: 0"
										>
											<i
												class="fa fa-id-card"
												style="width: 1.5em"
												id="user_name_field_prefix_{{ member.projectMember.elixirId }}"
												data-test-id="user_name_field_prefix_{{ member.projectMember.elixirId }}"
											></i
											><span>{{ member.projectMember.userName }}</span
											><br />
											<i class="fa fa-envelope" style="width: 1.5em"></i><span>{{ member.projectMember.email }}</span
											><br />
											<i class="fa fa-user-cog" style="width: 1.5em"></i
											><span [attr.data-test-id]="'user_role_' + member.projectMember.elixirId">
												<ng-container *ngIf="member.projectMember.isAdmin">Admin</ng-container>
												<ng-container *ngIf="!member.projectMember.isAdmin">Participant</ng-container>
											</span>
										</div>
									</td>
									<ng-container *ngIf="!selectedWorkshop.id">
										<td class="align-middle">No workshop selected.</td>
									</ng-container>
									<ng-container *ngIf="selectedWorkshop && member.workshopVmLink[selectedWorkshop?.id]?.length === 0">
										<td class="align-middle">No vms for this user.</td>
									</ng-container>
									<ng-container *ngIf="selectedWorkshop && member.workshopVmLink[selectedWorkshop?.id]?.length > 0">
										<td>
											<div *ngFor="let vm of member.workshopVmLink[selectedWorkshop?.id]" class="row">
												<div
													class="callout callout-info"
													style="border-top-width: 0; border-bottom-width: 0; border-right-width: 0"
												>
													<ng-container *ngIf="vm.loadingUrlData">
														<div class="spinner-border text-primary" style="display: block; margin: auto"></div>
													</ng-container>
													<ng-container *ngIf="!vm.loadingUrlData">
														<i class="fa fa-laptop" style="width: 1.5em"></i>
														<a
															[routerLink]="['/virtualmachines/detail/' + vm?.vm?.openstackid]"
															id="vm_name_{{ member.projectMember.elixirId }}"
															[attr.data-test-id]="'vm_name_' + member.projectMember.elixirId"
														>
															{{ vm?.vm?.name }}
														</a>
														<br />
														<i class="fa fa-heartbeat" style="width: 1.5em"></i>{{ vm.vm.status }}<br />
														<i *ngIf="vm?.has_resenv" class="fa fa-link" style="width: 1.5em"></i>
														<a
															*ngIf="vm?.has_resenv"
															href="{{ vm.urlData.resenv_url }}"
															target="_blank"
															rel="noopener noreferrer"
															id="resenv_url_{{ vm?.vm?.name }}"
															[attr.data-test-id]="'resenv_url_' + vm?.vm?.name"
														>
															{{ vm.urlData.resenv_url }}
														</a>
														<br *ngIf="vm?.has_resenv" />

														<i *ngIf="vm?.has_resenv" class="fas fa-globe" style="width: 1.5em"></i
														>{{ vm.resenv_name | uppercase }}
														<br *ngIf="vm?.has_resenv" />

														<i class="fa fa-envelope" style="width: 1.5em"></i
														><i class="fa fa-check" style="width: 1.5em" *ngIf="vm.email_sent"></i>
														<i class="fa fa-times" style="width: 1.5em" *ngIf="!vm.email_sent"></i>
														<button
															class="btn btn-secondary"
															[disabled]="!vm?.urlData?.resenv_url && vm?.has_resenv"
															(click)="sendWorkshopVMEMailInfo(vm)"
														>
															<span *ngIf="vm.email_sent">(Re)</span>Send Mail
														</button>
														<br />
													</ng-container>
												</div>
											</div>
										</td>
									</ng-container>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="card-body" *ngIf="selectedWorkshop.id && this.workshopTimeFramesLoaded">
						<h5 class="card-title">Calender</h5>
						<div class="alert alert-info">
							You can enter time slots for the workshop in which work is actively carried out in the portal or on the
							machines. This enables the de.NBI Cloud Team to improve the planning of portal updates, for example, so as
							not to hinder or restrict the work of the participants at peak times. Please consider, that the existing
							timeframes are displayed using the "Central European Time". Please enter your dates using this timezone.
							You can see the corresponding UTC time below. Please enter the time slots day by day, to be more precise!
						</div>
						<h6 class="card-title">New</h6>
						<div class="card">
							<div class="card-body">
								<form id="new_timeframe_form" #newTimeFrameForm="ngForm" class="form-horizontal">
									<div class="form-row">
										<div class="mb-3">
											<label for="description_input_field" class="form-label">Description</label>
											<input
												type="text"
												class="form-control"
												id="description_input_field"
												aria-describedby="descriptionHelp"
												[(ngModel)]="newWorkShopTimeFrame.description"
												[ngModelOptions]="{ standalone: true }"
											/>
											<div id="emailHelp" class="form-text">
												You are free to enter a short description of the planned event
											</div>
										</div>
									</div>
									<div class="form-row">
										<div class="mb-3">
											<app-datepicker (dayChange)="dayChanged($event)"></app-datepicker>
										</div>

										<div class="mb-3">
											<label class="form-label">Start Time</label>
											<app-timepicker (timeChange)="startTimeChanged($event)"></app-timepicker>
										</div>

										<div class="mb-3">
											<label class="form-label">End Time</label>
											<app-timepicker (timeChange)="endTimeChanged($event)"></app-timepicker>
										</div>
									</div>

									<div class="form-row">
										<div class="col-md-auto">
											<button
												class="btn btn-outline-primary"
												(click)="createNewTimeFrame()"
												[disabled]="!(this.newWorkShopTimeFrame | isValidTimeFrame)"
											>
												Add new timeframe
											</button>
										</div>
										<div class="col-md-auto" *ngIf="!(this.newWorkShopTimeFrame | isValidTimeFrame)">
											<div class="alert alert-info">
												Please select a timeframe, where the start time is before the end time and in the future!
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<h6 class="card-title">Existing</h6>
						<ul class="list-group">
							<li class="list-group-item" *ngFor="let wstimeframe of this.workshopTimeFrames">
								<strong
									>{{ wstimeframe.start_time | date : 'dd/MM/yy HH:mm' : 'de' }} -
									{{ wstimeframe.end_time | date : 'dd/MM/yy HH:mm' : 'de' }}</strong
								>
								: {{ wstimeframe.description }}
								<button class="btn btn-outline-danger align-self-end" (click)="deleteWorkshopTimeFrame(wstimeframe)">
									Remove
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div *ngIf="projects.length === 0" class="alert alert-warning" role="alert">
			You are not a member of a project with workshop functionality.
		</div>
	</div>
</div>

<div
	bsModal
	#verifyDeleteModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="verify_delete_modal"
	data-test-id="verify_delete_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Cleanup workshop</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="verifyDeleteModal.hide()"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning" role="alert">
					Are you sure you want to delete the following workshop:<br />
					<strong>Longname: </strong>{{ selectedWorkshop?.longname }}<br />
					<strong>Shortname: </strong>{{ selectedWorkshop?.shortname }}
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-success col-md-4"
					(click)="cleanupWorkshop(); verifyDeleteModal.hide(); deletionStatusModal.show()"
					id="confirm_delete_workshop_button"
					data-test-id="confirm_delete_workshop_button"
				>
					Yes
				</button>
				<button class="btn btn-danger col-md-4" type="reset" (click)="verifyDeleteModal.hide()">Cancel</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#infoMailModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="send_info_mail_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Send Info Mail for VMs</h4>
				<button type="button" class="close" style="cursor: pointer" (click)="infoMailModal.hide()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="alert alert-info" *ngIf="!sending_mails && !sending_done">
					<strong>Also send a mail to those who have already received a mail?</strong>
					<label style="margin-top: 7px; margin-bottom: 0px !important">
						<input type="checkbox" [(ngModel)]="resend_info" />
					</label>
				</div>
				<div class="alert alert-info" *ngIf="sending_mails">
					<strong>Sending mails...</strong>
				</div>
				<div class="alert alert-success" *ngIf="!sending_mails && sending_done">
					<strong>Successfully sent mails</strong>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-info col-md-4"
					type="reset"
					*ngIf="!sending_done && !sending_mails"
					(click)="sendWorkshopVMsEmailInfo()"
				>
					Send
				</button>
				<button class="btn btn-danger col-md-4" type="reset" (click)="infoMailModal.hide()">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#deletionStatusModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	id="delete_status_modal"
	data-test-id="delete_status_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Cleanup workshop status</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="verifyDeleteModal.hide()"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngIf="deleting">
					<div class="spinner-border text-primary" style="display: block; margin: auto"></div>
				</div>
				<div *ngIf="!deleting">
					<div *ngIf="deleteSuccess" id="delete_success_id" data-test-id="delete_success_id">Cleanup successful.</div>
					<div *ngIf="!deleteSuccess" id="delete_fail_id">Cleanup failed.</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-danger col-md-4"
					type="reset"
					id="close_deletion_status"
					data-test-id="close_deletion_status"
					(click)="deletionStatusModal.hide()"
				>
					Close
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#creationStatusModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
	data-test-id="creation_status_modal"
	id="creation_status_modal"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Cleanup workshop status</h4>
				<button
					type="button"
					class="close"
					style="cursor: pointer"
					(click)="creationStatusModal.hide()"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngIf="workshopCreationMessage.message === ''">
					<div class="spinner-border text-primary" style="display: block; margin: auto"></div>
				</div>
				<div
					*ngIf="workshopCreationMessage.message !== ''"
					id="creation_status_message"
					data-test-id="creation_status_message"
				>
					<div
						class="alert alert-success"
						*ngIf="workshopCreationMessage.success"
						id="creation_success"
						data-test-id="creation_success"
					>
						{{ workshopCreationMessage.message }}
					</div>
					<div
						class="alert alert-danger"
						*ngIf="!workshopCreationMessage.success"
						id="creation_failure"
						data-test-id="creation_failure"
					>
						{{ workshopCreationMessage.message }}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-danger col-md-4"
					type="reset"
					data-test-id="close_creation_status_modal"
					id="close_creation_status_modal"
					(click)="creationStatusModal.hide()"
				>
					Close
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->
