<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title">Terminate Project</h4>
			<button (click)="hide()" aria-label="Close" class="btn-close" style="cursor: pointer" type="button"></button>
		</div>
		<div class="modal-body">
			<div class="alert alert-warning" role="alert">
				Are you sure you want to terminate the project:
				<strong> {{ application.project_application_shortname }}</strong
				>?
			</div>
			@if (application && !application?.project_application_openstack_project) {
				<app-project-os-details [project]="application"></app-project-os-details>
			}
			<div class="alert alert-danger" role="alert">
				All used resources will be scheduled for deletion and then irreversibly terminated!
			</div>
			<div
				[ngClass]="{ 'alert-danger': !terminate_confirmation_given, 'alert-success': terminate_confirmation_given }"
				class="alert"
			>
				<div class="form-check">
					<input
						[(ngModel)]="terminate_confirmation_given"
						[checked]="terminate_confirmation_given"
						class="form-check-input"
						id="terminate_confirmation_given"
						data-test-id="confirm_termination_request_input"
						name="terminate_confirmation_given"
						type="checkbox"
					/>
					<label class="form-check-label"> I hereby confirm that the project shall be terminated. </label>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<button
				(click)="hide()"
				(click)="requestProjectTermination()"
				[disabled]="!terminate_confirmation_given"
				class="btn btn-success col-md-4"
				id="terminate_project_btn"
				data-test-id="confirm_termination_request_button"
			>
				Yes
			</button>
			<button (click)="hide()" class="btn btn-danger col-md-4" type="reset">Cancel</button>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
<!-- /.modal-dialog -->
