// Here you can add other styles
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/modal";

.btn{
  cursor: pointer;
}

header {
  color:red;
}

#header-help {
  padding-right: 19px;
}

.modal {
  background-color: rgba(0,0,0,0.3);
}

.modal-backdrop {
  position: relative;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.collapse_no_margin{
  margin: 0;
}
