<div>
	<div class="modal-header">
		<h4 class="modal-title">Experiences and publications</h4>
		<button
			type="button"
			class="btn-close"
			style="cursor: pointer"
			(click)="bsModalRef.hide()"
			data-dismiss="modal"
			aria-label="Close"
		></button>
	</div>
	<div class="modal-body">
		<div class="custom-container">
			@if (isModification) {
				<p>
					We are very pleased that the de.NBI Cloud meets with your expectations and that you would like to request
					additional resources.
				</p>
			} @else if (isExtension) {
				<p>
					We are very pleased that the de.NBI Cloud meets with your expectations and that you would like to extend your
					project.
				</p>
			} @else if (isTermination) {
				<p>
					We hope that your project on the de.NBI Cloud has been successful and that it has helped you achieve your
					research goals.
				</p>
			}
			<p>As an academic cloud providing free resources, we rely on our users' support.</p>
			<hr />

			<p>To ensure the continued availability of these services, we kindly ask for your help in two ways:</p>
			<ul>
				<li class="list-item">
					<strong>Publication acknowledgement</strong>: If you've published research resulting from work done in the
					de.NBI Cloud or related to it, please enter the DOIs of those publications below. This helps us demonstrate
					the impact of our services and secure future funding.
					<hr />
				</li>
				<li class="list-item">
					<strong>User testimonials</strong>: We'd love to hear about your positive experiences with the cloud! Your
					testimonial will help us promote the service to other researchers and make it more widely available. Please
					use the form on this project overview page to share your story. You can find already published testimonials
					<a href="{{ TESTIMONIAL_PAGE_LINK }}">here</a>.
				</li>
			</ul>

			<p><strong>We really appreciate your help!</strong></p>
		</div>
	</div>
	<div class="modal-body">
		<div class="alert alert-primary">
			<p>
				Please add the DOIs of new publications in this form. For more information on DOIs, please look
				<a href="{{ WIKI_PUBLICATIONS }}" target="_blank" rel="noopener noreferrer">here</a>. You can also add the
				publications at a later date on the project overview page.
			</p>
			<p>
				<strong
					>The addition or non-addition of publications/DOIs does not affect the renewal request procedure!</strong
				>
			</p>
		</div>
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<ng-container *ngFor="let doi of dois">
						<tr>
							<td>
								<a target="_blank" rel="noopener noreferrer" [href]="'https://doi.org/' + doi.identifier">{{
									doi.identifier
								}}</a>
							</td>
							<td>
								<button class="btn btn-danger" type="button" (click)="deleteDoi(doi)">
									<i class="fas fa-trash-alt"></i>&nbsp;
								</button>
							</td>
						</tr>
					</ng-container>

					<tr>
						<td>
							<input
								style="width: 100%"
								type="text"
								required
								placeholder="e.g. 10.1000/182"
								id="modal_doi_input_field"
								[disabled]="disableInput"
								class="form-control"
								pattern="10.\d{4,9}\/[-._;()\/:a-zA-Z0-9]+"
								[(ngModel)]="newDoi"
								#doiInput
							/>
						</td>
						<td>
							<button
								id="add_doi_btn_in_modal"
								(click)="addDoi()"
								[disabled]="!doiInput.validity.valid || disableInput"
								type="button"
								class="btn btn-success"
							>
								<i class="fa fa-plus"></i>&nbsp;
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row" style="margin: auto">
			<div class="col-md-auto mx-auto">
				<button
					id="close_testimonial_information_button"
					class="btn btn-primary"
					type="reset"
					data-test-id="close_testimonial_information_button"
					(click)="bsModalRef.hide()"
				>
					Continue
				</button>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
