<div>
	<div class="modal-header">
		<h4 class="modal-title">Experiences and publications</h4>
		<button
			type="button"
			class="close"
			style="cursor: pointer"
			(click)="bsModalRef.hide()"
			data-dismiss="modal"
			aria-label="Close"
		>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="text-black-50 p-4">
			We are very pleased that the de.NBI Cloud meets with your expectations and that you would like to extend your
			project. As an academic cloud that provides its resources free of charge, we depend on our users.
			<hr />
			In order to be able to continue to offer these services free of charge in the future, it is essential for us, for
			example, to publish publications which resulted from the work in the de.NBI Cloud or are in any way connected to
			it. Please enter the DOIs of those publications in the form below.
			<hr />
			We also want to promote the use of the cloud with positive experiences from users and the community in order to
			make this service available to many more researchers. For this reason, we rely on testimonials from our users,
			which we can use for this purpose. To submit a testimonial, please use the form below on this project overview
			page. You can find an overview of already published testimonials <a href="{{ TESTIMONIAL_PAGE_LINK }}">here. </a>
			<hr />
			We really appreciate your help!
		</div>
	</div>
	<div class="modal-body">
		<div class="alert alert-primary">
			<p>
				Please add the DOIs of new publications in this form. For more information on DOIs, please look
				<a href="{{ WIKI_PUBLICATIONS }}" target="_blank" rel="noopener noreferrer">here</a>. You can also add the
				publications at a later date on the project overview page.
			</p>
			<p>
				<strong
					>The addition or non-addition of publications/DOIs does not affect the renewal request procedure!</strong
				>
			</p>
		</div>
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<ng-container *ngFor="let doi of dois">
						<tr>
							<td>
								<a target="_blank" rel="noopener noreferrer" [href]="'https://doi.org/' + doi.identifier">{{
									doi.identifier
								}}</a>
							</td>
							<td>
								<button class="btn btn-danger" type="button" (click)="deleteDoi(doi)">
									<i class="fas fa-trash-alt"></i>&nbsp;
								</button>
							</td>
						</tr>
					</ng-container>

					<tr>
						<td>
							<input
								style="width: 100%"
								type="text"
								required
								placeholder="e.g. 10.1000/182"
								id="modal_doi_input_field"
								[disabled]="disableInput"
								class="form-control"
								pattern="10.\d{4,9}\/[-._;()\/:a-zA-Z0-9]+"
								[(ngModel)]="newDoi"
								#doiInput
							/>
						</td>
						<td>
							<button
								id="add_doi_btn_in_modal"
								(click)="addDoi()"
								[disabled]="!doiInput.validity.valid || disableInput"
								type="button"
								class="btn btn-success"
							>
								<i class="fa fa-plus"></i>&nbsp;
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row" style="margin: auto">
			<div class="col-md-auto mx-auto">
				<button
					id="close_testimonial_information_button"
					class="btn btn-primary"
					type="reset"
					data-test-id="close_testimonial_information_button"
					(click)="bsModalRef.hide()"
				>
					Continue
				</button>
			</div>
		</div>
	</div>
	<!-- /.modal-content -->
</div>
