<div *ngIf="isLoaded==false" class="loader"></div>

<div *ngIf="isLoaded" class="animated fadeIn" ng-app>
    <div class="row">
        <!--/.col-->
        <div class="col-md-8"><h1>Vo Overview</h1></div>

        <div class="col-lg-12">


            <button (click)="setEmailType(1);emailModal.show();" type="button "
                    class="btn btn-outline-primary"
                    style="margin-bottom: auto;margin-left:auto; margin-top: auto"><i
                    class="icon-envelope-letter"></i>
                Send newsletter (***REMOVED******REMOVED***newsletterSubscriptionCounter***REMOVED******REMOVED***)
            </button>

            <button (click)="setEmailType(0);emailModal.show();" type="button "
                    class="btn btn-outline-primary"
                    style="margin-bottom: auto;margin-left: 5px; margin-top: auto"><i
                    class="icon-envelope-letter"></i>
                Send email
            </button>


            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Projects

                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Facility</th>
                                <th>Project ID</th>
                                <th>Project Name</th>
                                <th>Details</th>
                                <th>Status</th>

                                <!--th>Date created (d/m/y)</th>
                                <!--th>Expiration Date (d/m/y)</th-->
                                <!--th>Days running</th>
                                <!---th>Lifetime in Days</th-->
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <td></td>
                            <td><input style="width: 110px;" type="text" placeholder="Filter"
                                       name="filterFacilityName"
                                       [(ngModel)]="filterFacilityName"
                                       (ngModelChange)="applyFilter();">
                            </td>
                            <td><input style="width: 110px;" type="text" placeholder="Filter"
                                       name="filterProjectId"
                                       [(ngModel)]="filterProjectId"
                                       (ngModelChange)="applyFilter();">
                            </td>
                            <td><input style="width: 110px;" type="text" placeholder="Filter"
                                       name="filterProjectName"
                                       [(ngModel)]="filterProjectName"
                                       (ngModelChange)="applyFilter();">
                            </td>
                            <td></td>
                            <td>
                                <div class="row">
                                    <div class="checkbox col-sm">
                                        <label>
                                            <input type="checkbox"
                                                   (change)="changeFilterStatus(project_states[project_states.ACTIVE]);applyFilter();"
                                                   checked/>
                                            <span style="margin-left: 5px"
                                                  class="badge badge-success">***REMOVED******REMOVED***project_states[project_states.ACTIVE]***REMOVED******REMOVED*** </span>

                                        </label>
                                    </div>
                                    <div class="checkbox col-sm">
                                        <label>
                                            <input type="checkbox"
                                                   (change)="changeFilterStatus(project_states[project_states.SUSPENDED]);applyFilter();"
                                                   checked/>
                                            <span style="margin-left: 5px"
                                                  class="badge badge-warning">***REMOVED******REMOVED***project_states[project_states.SUSPENDED]***REMOVED******REMOVED*** </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="checkbox col-sm">
                                        <label>
                                            <input type="checkbox"
                                                   (change)="changeFilterStatus(lifetime_states[lifetime_states.EXPIRED]);applyFilter();"
                                            />
                                            <span style="margin-left: 5px"
                                                  class="badge badge-danger">***REMOVED******REMOVED***lifetime_states[lifetime_states.EXPIRED]***REMOVED******REMOVED***</span>

                                        </label>
                                    </div>
                                    <div class="checkbox col-sm">
                                        <label>
                                            <input type="checkbox"
                                                   (change)="changeFilterStatus(lifetime_states[lifetime_states.EXPIRES_SOON]);applyFilter();"
                                            />
                                            <span style="margin-left: 5px"
                                                  class="badge badge-warning">***REMOVED******REMOVED***lifetime_states[lifetime_states.EXPIRES_SOON]***REMOVED******REMOVED***</span>
                                        </label>
                                    </div>
                                </div>

                            </td>


                            <tr *ngFor="let project of projects_filtered">
                                <td>
                                     <span *ngIf="project.OpenStackProject"
                                           style="background-color: #ED1944; padding: 1px 1px 2px 1px; border-color: #ED1944" class="badge">
                                    <span class="icon-openstack" style="color: #FFF; font-size: 2em"></span>
                                  </span>
                                    <span *ngIf="!project.OpenStackProject"
                                          style="background-color: #00ADEF; padding: 1px; border-color: #00ADEF" class="badge">
                                    <span class="icon-simplevm" style="color: #FFF; font-size: 2em"></span>
                                  </span>
                                </td>
                                <td>***REMOVED******REMOVED***project?.ComputeCenter?.Name***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED*** project.Id ***REMOVED******REMOVED***</td>
                                <td>***REMOVED******REMOVED*** project.Name ***REMOVED******REMOVED***
                                </td>

                                <td>
                                    <button class="btn btn-secondary"
                                            (click)="getProjectStatus(project);getProjectLifetime(project);selectedProject=project;infoModal.show();">
                                        Show Details
                                    </button>
                                </td>
                                <td>  <span *ngIf="project?.Status ==  project_states.ACTIVE"
                                            style="margin-left: 5px"
                                            class="badge badge-success">***REMOVED******REMOVED***project_states[project_states.ACTIVE]***REMOVED******REMOVED*** </span>
                                    <span *ngIf="project?.LifetimeReached==lifetime_states.EXPIRED"
                                          style="margin-left: 5px"
                                          class="badge badge-danger">***REMOVED******REMOVED***lifetime_states[lifetime_states.EXPIRED]***REMOVED******REMOVED*** </span>
                                    <span *ngIf="project?.LifetimeReached == lifetime_states.EXPIRES_SOON"
                                          style="margin-left: 5px"
                                          class="badge badge-warning">***REMOVED******REMOVED***lifetime_states[lifetime_states.EXPIRES_SOON]***REMOVED******REMOVED***</span>
                                    <span *ngIf="project?.Status == project_states.SUSPENDED"
                                          style="margin-left: 5px"
                                          class="badge badge-warning">***REMOVED******REMOVED***project_states[project_states.SUSPENDED]***REMOVED******REMOVED*** </span>
                                    <span *ngIf="project?.Status !=  project_states.SUSPENDED && project?.Status !=  project_states.ACTIVE"
                                          style="margin-left: 5px"
                                          class="badge badge-danger">NOT SET </span>
                                </td>


                                <!--td>***REMOVED******REMOVED*** project.DateCreated ***REMOVED******REMOVED***</td>
                                <!--td>***REMOVED******REMOVED***project.DateEnd***REMOVED******REMOVED***</td-->
                                <!--td>***REMOVED******REMOVED*** project.DaysRunning ***REMOVED******REMOVED***</td>

                                <!--td>***REMOVED******REMOVED***project.LifetimeDays***REMOVED******REMOVED***</td-->
                                <td>
                                    <button type="button" class="btn btn-secondary"
                                            data-toggle="modal"
                                            (click)="showMembersOfTheProject(project.Id, project.Name); usersModal.show(); "

                                    >
                                        <i class="fa fa-users"></i>&nbsp;Show Members
                                    </button>
                                    <button *ngIf="project.Status == 2" style="margin-left: 5px"
                                            type="button"
                                            class="btn btn-secondary"
                                            (click)="selectedProject = project;suspendModal.show();"

                                    >
                                        <i class="fa fa-users"></i>&nbsp;Suspend Project
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>


<div bsModal #usersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Members of the Project ***REMOVED******REMOVED*** usersModalProjectID ***REMOVED******REMOVED***
                    (***REMOVED******REMOVED*** usersModalProjectName ***REMOVED******REMOVED***)</h4>
                <button type="button" class="close" style="cursor: pointer"
                        (click)="usersModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped" style="word-wrap: break-word;table-layout: fixed">
                        <thead>
                        <tr>
                            <th>User ID</th>
                            <th>Member ID</th>
                            <th>Elixir ID</th>
                            <th>Email</th>
                            <th>Full Name</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let member of usersModalProjectMembers">
                            <td>***REMOVED******REMOVED*** member.Id ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** member.MemberId ***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** member.ElixirId***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED***member.Email***REMOVED******REMOVED***</td>
                            <td>***REMOVED******REMOVED*** member.Username ***REMOVED******REMOVED***</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="usersModal.hide()">Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #emailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"> ***REMOVED******REMOVED***emailHeader***REMOVED******REMOVED***</h4>
                <button type="button" class="close" style="cursor: pointer;"
                        (click)="emailModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="email_form" #f="ngForm">


                    <div class="form-group row" *ngIf="emailType == 0">
                        <label
                                class="col-md-12 control-label"><strong>Which facility should receive the email?</strong></label>
                        <div class="col-md-12">
                            <select class="form-control" [(ngModel)]="selectedFacility"
                                    name="selectedFacility" id="selectedFacility">
                                <option value="ALL"> All
                                <option *ngFor="let cc of computecenters" [ngValue]="cc.FacilityId">
                                    ***REMOVED******REMOVED***cc.Name***REMOVED******REMOVED***
                                </option>

                            </select></div>
                    </div>

                    <div class="form-group row" *ngIf="emailType == 0 && selectedFacility != 'ALL'">
                        <label
                                class="col-md-12 control-label"><strong>Which project members should receive the email?</strong></label>
                        <div class="col-md-12">
                            <select class="form-control" [(ngModel)]="selectedProjectType"
                                    name="selectedProjectType" id="selectedProjectType">
                                <option value="ALL" selected> All
                                </option>
                                <option value="SVP">
                                    Simple VM
                                </option>
                                <option value="OVP">
                                    OpenStack
                                </option>

                            </select></div>
                    </div>
                    <div class="form-group row"
                         [ngClass]="***REMOVED***'has-danger':emailSub.invalid && (emailSub.dirty || emailSub.touched),
                    'has-success':emailSub.valid && (emailSub.dirty || emailSub.touched)
                    ***REMOVED***">
                        <label class="col-md-12 control-label"><strong>Email
                            subject*</strong></label>
                        <div class="col-md-12">
                            <input required id="emailSubject" name="emailSub" placeholder="Subject"
                                   class="form-control"
                                   type="text" [(ngModel)]="emailSubject" minlength="1"
                                   #emailSub="ngModel"
                                   [ngClass]="***REMOVED***'is-invalid':emailSub.invalid && (emailSub.dirty || emailSub.touched),
                    'is-valid':emailSub.valid && (emailSub.dirty || emailSub.touched)
                    ***REMOVED***">

                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-12 control-label"><strong>Reply to (optional)</strong></label>
                        <div class="col-md-12">
                            <input id="Reply to" name="emailReply" placeholder=""
                                   class="form-control"
                                   type="text" [(ngModel)]="emailReply" #emailRep="ngModel"
                                   pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`***REMOVED***|***REMOVED***~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                   [ngClass]="***REMOVED***'is-invalid':emailRep.invalid && (emailRep.dirty || emailRep.touched),
                    'is-valid':emailRep.valid && (emailRep.dirty || emailRep.touched)
                    ***REMOVED***">

                        </div>
                    </div>
                    <!-- Textarea -->
                    <div class="form-group row">
                        <label class="col-md-12 control-label"><strong>Email text*</strong></label>
                        <div class="col-md-12">
                            <textarea minlength="1" required class="form-control" id="emailText"
                                      name="emailText"
                                      [(ngModel)]="emailText"
                                      type="text" #emailT="ngModel"
                                      [ngClass]="***REMOVED***'is-invalid':emailT.invalid && (emailT.dirty || emailT.touched),
                    'is-valid':emailT.valid && (emailT.dirty || emailT.touched)
                    ***REMOVED***"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="f.invalid" class="btn btn-primary"
                        (click)="emailModal.hide(); verifyModal.show()">Send email
                </button>
                <button type="button" class="btn btn-secondary"
                        (click)="emailModal.hide();resetEmailModal()">Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #verifyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Send email</h4>
                <button type="button" class="close" style="cursor:pointer"
                        (click)="verifyModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning" role="alert">
                    ***REMOVED******REMOVED***emailVerify***REMOVED******REMOVED***
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn  btn-success col-md-4"
                        (click)="sendEmail(emailSubject,emailText,emailReply);verifyModal.hide();f.reset();resetEmailModal();successModal.show()">
                    Yes
                </button>
                <button class="btn  btn-danger col-md-4" type="reset"
                        (click)="verifyModal.hide();emailModal.show()">Cancel
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #suspendModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Suspend Project ***REMOVED******REMOVED***selectedProject?.Name***REMOVED******REMOVED***</h4>
                <button type="button" class="close" style="cursor:pointer"
                        (click)="suspendModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                Are you sure you want to suspend ***REMOVED******REMOVED***selectedProject?.Name***REMOVED******REMOVED*** ?

            </div>
            <div class="modal-footer">
                <button class="btn  btn-success col-md-4"
                        (click)="suspendProject(selectedProject);suspendModal.hide()">
                    Yes
                </button>
                <button class="btn  btn-danger col-md-4" type="reset"
                        (click)="suspendModal.hide();">Cancel
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" *ngIf="emailStatus == 0"> Waiting </h4>
                <h4 class="modal-title" *ngIf="emailStatus == 1"> Success </h4>
                <h4 class="modal-title" *ngIf="emailStatus == 2"> Error </h4>
                <button type="button" class="close" style="cursor:pointer"
                        (click)="successModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info" role="alert" *ngIf="emailStatus == 0">
                    Sending the email. <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
                </div>
                <div class="alert alert-success" role="alert" *ngIf="emailStatus == 1">
                    The email has been send successfully.
                </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="emailStatus == 2">
                when sending the email an error has occurred.
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="successModal.hide()">
                    Close
                </button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #descriptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Description</h4>
                <button type="button" class="close" style="cursor: pointer"
                        (click)="descriptionModal.hide()"
                        aria-label="Close">

                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>***REMOVED******REMOVED*** selectedProject?.Description ***REMOVED******REMOVED***</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        (click)="selectedProject=undefined;descriptionModal.hide();">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-info modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Details</h4>
                <button type="button" class="close" style="cursor: pointer"
                        (click)="infoModal.hide()"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div *ngIf="!details_loaded" style="text-align: center"><i
                        class="fa fa-spinner fa-spin"
                        style="font-size:100px; margin: auto;margin-left: auto;margin-right: auto"></i>
                </div>
                <div class="table-responsive">
                    <table *ngIf="details_loaded" class="table table-striped">
                        <thead>
                        <th>Description</th>
                        <th>Date created (d/m/y)</th>
                        <th>Expiration Date (d/m/y)</th>
                        <th>Days running</th>
                        <th>Lifetime in Days</th>
                        </thead>
                        <tbody>
                        <td>
                            <button class="btn btn-secondary"
                                    (click)="infoModal.hide();descriptionModal.show();">Show
                                Description
                            </button>
                        </td>

                        <td>***REMOVED******REMOVED*** selectedProject?.DateCreated ***REMOVED******REMOVED***</td>
                        <td>***REMOVED******REMOVED***selectedProject?.DateEnd***REMOVED******REMOVED***</td>
                        <td>***REMOVED******REMOVED*** selectedProject?.DaysRunning ***REMOVED******REMOVED***</td>
                        <td>***REMOVED******REMOVED***selectedProject?.LifetimeDays***REMOVED******REMOVED***</td>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        (click)="selectedProject=undefined;infoModal.hide();">
                    Close
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>







