<div class="animated fadeIn" ng-app>
	<div class="row">
		<!--/.col-->

		<div class="col-lg-12">
			<button
				(click)="sendTestBug()"
				class="btn btn-outline-danger"
				style="margin-bottom: auto; margin-left: auto; margin-top: auto"
			>
				<i class="icon-envelope-letter"></i>
				Test Error
			</button>

			<button
				(click)="setEmailType(1); emailModal.show()"
				type="button "
				class="btn btn-outline-primary"
				style="margin-bottom: auto; margin-left: auto; margin-top: auto"
			>
				<i class="icon-envelope-letter"></i> Send newsletter ({{ newsletterSubscriptionCounter }})
			</button>

			<button
				(click)="emailModal.show()"
				type="button "
				class="btn btn-outline-primary"
				[disabled]="selectedEmailProjects?.length === 0"
				style="margin-bottom: auto; margin-left: auto; margin-top: auto"
			>
				<i class="icon-envelope-letter"></i>
				Send Project Mail
				<c-badge color="success">
					{{ selectedEmailProjects?.length }}
				</c-badge>
			</button>
			<button type="button " class="btn btn-outline-primary" (click)="openProjectCSVMailModal()">
				Send CSV Templated Email
			</button>
			<button
				(click)="setEmailType(0); emailModal.show()"
				type="button "
				class="btn btn-outline-primary"
				style="margin-bottom: auto; margin-left: 5px; margin-top: auto"
			>
				<i class="icon-envelope-letter"></i>
				Send email
			</button>

			<button
				(click)="getApplicationInfos()"
				type="button "
				class="btn btn-outline-primary"
				style="margin-bottom: auto; margin-left: 5px; margin-top: auto"
			>
				<i class="icon-info"></i>
				Get JSON
			</button>
			<button
				(click)="getRunningApplicationsThatNeedIntroduction()"
				type="button"
				class="btn btn-outline-primary"
				style="margin-bottom: auto; margin-left: 5px; margin-top: auto"
			>
				Show Projects demanding Introduction
			</button>

			<div class="card">
				<div class="card-header"><i class="fa fa-align-justify"></i> Projects</div>

				<div class="card-body">
					<div class="d-flex justify-content-between p-2">
						<app-pagination (pageChanged)="getVoProjects()" [basePage]="applicationPage"></app-pagination>

						<div>
							<button type="button" class="btn btn-primary me-2" (click)="selectAllFilteredProjects()">
								Select All Filtered
							</button>

							<button type="button" class="btn btn-primary me-2" (click)="unselectAllFilteredProjects()">
								Unselect Filtered
							</button>

							<button type="button" class="btn btn-primary" (click)="unselectAll()">Unselect All</button>
						</div>
					</div>

					<div>
						<div class="mb-3 row">
							<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
							<div class="col-xs-3 col-sm-auto">
								<input
									[attr.data-test-id]="'filter_project_name'"
									id="table-complete-search"
									type="text"
									class="form-control"
									name="searchTerm"
									(input)="textFilterSubject.next($event.target.value)"
								/>
							</div>
							<div class="col">
								<div class="float-end">
									<button
										*ngIf="!tsvTaskRunning"
										type="button "
										(click)="initiateTsvExport()"
										class="btn btn-outline-primary"
										style="margin-bottom: auto; margin-left: 5px; margin-top: auto"
									>
										Trigger export of Projects TSV
									</button>
									<button *ngIf="tsvTaskRunning" class="btn btn-outline-primary" type="button" disabled>
										<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
										Export in progress...
									</button>
								</div>
							</div>
							<div class="col">
								<div class="float-end">
									<button
										type="button "
										(click)="downloadCurrentTSV()"
										class="btn btn-outline-primary"
										style="margin-bottom: auto; margin-left: 5px; margin-top: auto"
										[disabled]="numberOfTsvs <= 0"
									>
										Download latest TSV
									</button>
								</div>
							</div>
						</div>
						<div class="mb-3 row">
							<label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label"
								>User Full Elixir Id search:</label
							>
							<div class="col-xs-4 col-sm-4">
								<!-- Adjust the column size based on your layout -->
								<c-input-group class="mb-3">
									<input
										[attr.data-test-id]="'filter_project_name'"
										id="table-user-elixir-complete-search"
										type="text"
										class="form-control"
										name="searchTerm"
										[(ngModel)]="userElixirIdFilter"
										(input)="checkValidElixirIdFilter()"
									/>
									<button
										cButton
										color="secondary"
										id="searchbyElixirId"
										type="button"
										[disabled]="!validElixirIdFilter"
										variant="outline"
										(click)="getProjectsByMemberElixirId()"
									>
										Search
									</button>
								</c-input-group>

								<div class="row">
									<div class="col">
										<label for="pi-checkbox">
											<c-badge color="danger"> PI</c-badge>
										</label>
										<input
											type="checkbox"
											id="pi-checkbox"
											(change)="getProjectsByMemberElixirId()"
											[(ngModel)]="userElixirSearchPI"
										/>
									</div>

									<div class="col">
										<label for="admin-checkbox">
											<c-badge color="info"> Admin</c-badge>
										</label>
										<input
											type="checkbox"
											id="admin-checkbox"
											(change)="getProjectsByMemberElixirId()"
											[(ngModel)]="userElixirSearchAdmin"
										/>
									</div>

									<div class="col">
										<label for="member-checkbox">
											<c-badge color="warning"> Member</c-badge>
										</label>
										<input
											type="checkbox"
											id="member-checkbox"
											(change)="getProjectsByMemberElixirId()"
											[(ngModel)]="userElixirSearchMember"
										/>
									</div>
								</div>
								<br />
								<br />
							</div>

							<app-application-filter-input
								[(applicationFilter)]="applicationFilter"
								(filterChangedEvent)="getVoProjects()"
							></app-application-filter-input>

							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">Select</th>
										<th scope="col">Type</th>

										<th scope="col">Facility</th>

										<th scope="col" appSortable="project_application_perun_id" (sort)="onSort($event)">Project ID</th>
										<th scope="col" appSortable="project_application_shortname" (sort)="onSort($event)">
											Project Name
										</th>
										<th scope="col">Details</th>
										<th scope="col">Status</th>
										<th scope="col" appSortable="project_application_total_ram" (sort)="onSort($event)">Ram</th>
										<th scope="col" appSortable="project_application_total_cores" (sort)="onSort($event)">Cores</th>
										<th scope="col" appSortable="project_application_total_gpu" (sort)="onSort($event)">GPUs</th>

										<th scope="col" appSortable="project_application_initial_credits" (sort)="onSort($event)">
											Credits
										</th>
										<th scope="col">Actions</th>
									</tr>
								</thead>
								<tbody>
									@if (projectsLoaded) {
										<tr *ngFor="let project of applicationPage.results">
											<td>
												<input
													type="checkbox"
													[(ngModel)]="project.is_project_selected"
													(change)="toggleSelectedEmailApplication(project, project.is_project_selected)"
												/>
											</td>
											<td>
												<app-application-badges [application]="project"></app-application-badges>
											</td>
											<td>
												<ngb-highlight
													[result]="project?.project_application_compute_center?.Name"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"
												></ngb-highlight>
											</td>
											<td>
												<ngb-highlight
													[result]="project?.project_application_perun_id"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"

													[term]="sortProjectService.searchTerm"
												>
												</ngb-highlight>
											</td>
											<td>
												<ngb-highlight
													[result]="project.project_application_shortname"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"
												></ngb-highlight>
											</td>

											<td>
												<button class="btn btn-secondary" (click)="selectedProject = project; infoModal.show()">
													Show Details
												</button>
											</td>
											<td>
												<app-application-status-badges [application]="project"></app-application-status-badges>
											</td>
											<td>
												<ngb-highlight
													[result]="project.project_application_total_ram"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"
												></ngb-highlight>
											</td>
											<td>
												<ngb-highlight
													[result]="project.project_application_total_cores"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"
													>>
												</ngb-highlight>
											</td>
											<td>
												<ngb-highlight
													[result]="project.project_application_total_gpu"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"
													>>
												</ngb-highlight>
											</td>

											<td>
												<ngb-highlight
													[result]="project.project_application_current_credits"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"
													>>
												</ngb-highlight>
												/
												<ngb-highlight
													[result]="project.project_application_initial_credits"
													highlightClass="highlight-filter"
													[term]="applicationFilter.textFilter"
													>>
												</ngb-highlight>
											</td>

											<td>
												<div class="btn-group-vertical btn-group-xs">
													<button
														type="button"
														class="btn btn-info"
														style="margin-left: 5px; margin-bottom: 5px"
														data-toggle="modal"
														(click)="showMembersModal(project)"
													>
														<i class="fa fa-users"></i>&nbsp;Show Members
													</button>

													<button
														*ngIf="project | hasstatusnotinlist: Application_States.DISABLED"
														style="margin-left: 5px; margin-bottom: 5px"
														type="button"
														class="btn btn-warning"
														(click)="showConfirmationModal(project, ConfirmationActions.DISABLE_APPLICATION)"
													>
														<i class="fa fa-pause"></i>&nbsp;Disable Project
													</button>
													<button
														*ngIf="project | hasstatusinlist: Application_States.DISABLED"
														style="margin-left: 5px; margin-bottom: 5px"
														type="button"
														class="btn btn-warning"
														(click)="showConfirmationModal(project, ConfirmationActions.ENABLE_APPLICATION)"
													>
														<i class="fa fa-play"></i>&nbsp;Enable Project
													</button>

													<button
														style="margin-left: 5px; margin-bottom: 5px"
														type="button"
														class="btn btn-danger"
														[id]="'show_terminate_' + project?.project_application_shortname"
														[attr.data-test-id]="'show_terminate_' + project?.project_application_shortname"
														(click)="showTerminationModal(project)"
														*ngIf="!(project | hasstatusinlist: Application_States.WAIT_FOR_TERMINATION_FM)"
													>
														<i class="fas fa-trash-alt"></i>&nbsp;Terminate Project
													</button>
													<button
														style="margin-left: 5px; margin-bottom: 5px"
														type="button"
														class="btn btn-warning"
														[id]="'show_decline_terminate_' + project?.project_application_id"
														[attr.data-test-id]="'show_decline_terminate_' + project?.project_application_shortname"
														(click)="showTerminationDeclineModal(project)"
														*ngIf="project | hasstatusinlist: Application_States.TERMINATION_REQUESTED"
													>
														<i class="fa fa-location-arrow"></i> Decline Termination Project
													</button>
													<button
														style="margin-left: 5px; margin-bottom: 5px"
														type="button"
														disabled
														class="btn btn-warning"
														[id]="'processed_by_fm_' + project?.project_application_shortname"
														[attr.data-test-id]="'processed_by_fm_' + project?.project_application_shortname"
														(click)="showTerminationDeclineModal(project)"
														*ngIf="project | hasstatusinlist: Application_States.WAIT_FOR_TERMINATION_FM"
													>
														Processed by FM
													</button>
													<button
														style="margin-left: 5px"
														type="button"
														class="btn btn-info"
														[id]="'set_protected_' + project?.project_application_shortname"
														(click)="setProtected(project, true)"
														*ngIf="!(project | hasstatusinlist: Application_States.PROTECTED)"
													>
														<i class="fas fa-lock"></i>&nbsp;Set Protected
													</button>
													<button
														style="margin-left: 5px"
														type="button"
														class="btn btn-info"
														[id]="'set_unprotected_' + project?.project_application_shortname"
														(click)="setProtected(project, false)"
														*ngIf="project | hasstatusinlist: Application_States.PROTECTED"
													>
														<i class="fas fa-lock-open"></i>&nbsp;Set Unprotected
													</button>
												</div>
											</td>
										</tr>
									} @else {
										<tr>
											<td colspan="10" style="text-align: center; vertical-align: middle" data-test-id="spinner">
												<i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<!--/.col-->
		</div>
	</div>
</div>

<div
	bsModal
	#emailModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">{{ emailHeader }}</h4>
				<button
					type="button"
					class="btn-close"
					style="cursor: pointer"
					(click)="emailModal.hide()"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="alert alert-info">
					Workshop projects and their members or administrators only receive mails, when they are explicitly chosen. If
					other restrictions are selected, the mails of administrators and members of workshops are excluded from the
					list of mails.
				</div>
				<form class="form-horizontal" id="email_form" #f="ngForm">
					<div class="form-group row" *ngIf="emailType === 0">
						<label class="col-md-12 control-label"><strong>Which facility should receive the email?</strong></label>
						<div class="col-md-12">
							<select
								class="form-control form-select"
								[(ngModel)]="selectedFacility"
								(ngModelChange)="adjustVerifyText()"
								name="selectedFacility"
								id="selectedFacility"
							>
								<option value="ALL">All</option>
								<option *ngFor="let cc of computecenters" [ngValue]="cc.FacilityId">
									{{ cc.Name }}
								</option>
							</select>
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-12 control-label"><strong>Who shall receive the email?</strong></label>
						<div class="col-md-12">
							<select
								class="form-control form-select"
								[(ngModel)]="selectedProjectType"
								(ngModelChange)="adjustVerifyText()"
								name="selectedProjectType"
								id="selectedProjectType"
							>
								<option [ngValue]="'ALL'" [defaultSelected]="true">All</option>
								<option [ngValue]="'ALL_GM'" *ngIf="emailType === 0">All active projects</option>
								<option [ngValue]="'EXP'" *ngIf="emailType === 0">All expired projects</option>
								<option [ngValue]="'SVP'">Simple VM projects</option>
								<option [ngValue]="'OVP'">OpenStack projects</option>
								<option [ngValue]="'WSH'">Workshops</option>
							</select>
						</div>
					</div>
					<div class="form-group row" *ngIf="emailType === 0">
						<div class="col-md-auto">
							<div class="form-check">
								<input
									class="form-check-input"
									type="checkbox"
									[ngModelOptions]="{ standalone: true }"
									[(ngModel)]="emailAdminsOnly"
									(ngModelChange)="adjustVerifyText()"
									id="adminOnlyCheckbox"
								/>
								<label class="form-check-label" for="adminOnlyCheckbox"> Group administrators only </label>
							</div>
						</div>
					</div>
					<div class="form-group row" *ngIf="emailType === 0 && selectedProjectType === 'EXP'">
						<div class="col-md-auto">
							<div class="form-check">
								<input
									class="form-check-input"
									type="checkbox"
									[ngModelOptions]="{ standalone: true }"
									[(ngModel)]="expiredTemplated"
									(ngModelChange)="adjustVerifyText()"
									id="expiredTemplateCheckbox"
								/>
								<label class="form-check-label" for="adminOnlyCheckbox">
									Send templated mail for expired projects
								</label>
							</div>
						</div>
					</div>
					<div *ngIf="expiredTemplated && selectedProjectType === 'EXP'" class="form-group row">
						<label class="col-md-12 control-label"><strong>Set a removal date</strong></label>
						<div class="mb-3 mx-auto">
							<app-datepicker (dayChange)="dayChanged($event)"></app-datepicker>
						</div>
						<div class="alert alert-danger" *ngIf="!(removalDate | isFutureTime)">
							Please select a removal date that is in the future.
						</div>
					</div>
					<div
						*ngIf="!(expiredTemplated && selectedProjectType === 'EXP')"
						class="form-group row"
						[ngClass]="{
							'has-danger': emailSub.invalid && (emailSub.dirty || emailSub.touched),
							'has-success': emailSub.valid && (emailSub.dirty || emailSub.touched),
						}"
					>
						<label class="col-md-12 control-label"><strong>Email subject*</strong></label>
						<div class="col-md-12">
							<input
								required
								id="emailSubject"
								name="emailSub"
								placeholder="Subject"
								class="form-control"
								type="text"
								[(ngModel)]="emailSubject"
								minlength="1"
								#emailSub="ngModel"
								[ngClass]="{
									'is-invalid': emailSub.invalid && (emailSub.dirty || emailSub.touched),
									'is-valid': emailSub.valid && (emailSub.dirty || emailSub.touched),
								}"
							/>
						</div>
					</div>

					<div class="form-group row" *ngIf="!(expiredTemplated && selectedProjectType === 'EXP')">
						<label class="col-md-12 control-label"><strong>Reply to (optional)</strong></label>
						<div class="col-md-12">
							<input
								id="reply_to"
								name="emailReply"
								placeholder=""
								class="form-control"
								type="text"
								[(ngModel)]="emailReply"
								#emailRep="ngModel"
								pattern="([ ]*)(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}([ ]*)"
								[ngClass]="{
									'is-invalid': emailRep.invalid && (emailRep.dirty || emailRep.touched),
									'is-valid': emailRep.valid && (emailRep.dirty || emailRep.touched),
								}"
							/>
						</div>
					</div>
					<!-- Textarea -->
					<div class="form-group row" *ngIf="!(expiredTemplated && selectedProjectType === 'EXP')">
						<label class="col-md-12 control-label"><strong>Email text*</strong></label>
						<div class="col-md-12">
							<textarea
								minlength="1"
								required
								class="form-control"
								id="emailText"
								name="emailText"
								[(ngModel)]="emailText"
								type="text"
								#emailT="ngModel"
								[ngClass]="{
									'is-invalid': emailT.invalid && (emailT.dirty || emailT.touched),
									'is-valid': emailT.valid && (emailT.dirty || emailT.touched),
								}"
							></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button
					type="button"
					[disabled]="f.invalid || (expiredTemplated && selectedProjectType === 'EXP' && !(removalDate | isFutureTime))"
					class="btn btn-primary"
					(click)="emailModal.hide(); verifyModal.show()"
				>
					Send email
				</button>
				<button type="button" class="btn btn-secondary" (click)="emailModal.hide(); resetEmailModal()">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#verifyModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Send email</h4>
				<button
					type="button"
					class="btn-close"
					style="cursor: pointer"
					(click)="verifyModal.hide()"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="alert alert-warning" role="alert">
					{{ emailVerify }}
				</div>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-success col-md-4"
					(click)="
						sendEmail(emailSubject, emailText, emailReply);
						verifyModal.hide();
						f.reset();
						resetEmailModal();
						successModal.show()
					"
				>
					Yes
				</button>
				<button class="btn btn-danger col-md-4" type="reset" (click)="verifyModal.hide(); emailModal.show()">
					Cancel
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#successModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="Label"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" *ngIf="emailStatus === 0">Waiting</h4>
				<h4 class="modal-title" *ngIf="emailStatus === 1">Success</h4>
				<h4 class="modal-title" *ngIf="emailStatus === 2">Error</h4>
				<button
					type="button"
					class="btn-close"
					style="cursor: pointer"
					(click)="successModal.hide()"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="alert alert-primary" role="alert" *ngIf="emailStatus === 0">
					Sending the email. <i class="fa fa-spinner fa-spin" style="font-size: 24px"></i>
				</div>
				<div class="alert alert-success" role="alert" *ngIf="emailStatus === 1">
					The email has been send successfully.
				</div>
			</div>
			<div class="alert alert-warning" role="alert" *ngIf="emailStatus === 2">
				when sending the email an error has occurred.
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="successModal.hide()">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div
	bsModal
	#infoModal="bs-modal"
	class="modal fade"
	tabindex="-1"
	role="dialog"
	aria-labelledby="myModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-info modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Details</h4>
				<button
					type="button"
					class="btn-close"
					style="cursor: pointer"
					(click)="infoModal.hide()"
					aria-label="Close"
				></button>
			</div>

			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<th>Description</th>
							<th>Date created (d/m/y)</th>
							<th>Expiration Date (d/m/y)</th>
							<th>Days running</th>
							<th>Lifetime in Days</th>
						</thead>
						<tbody>
							<td>
								<button class="btn btn-secondary" (click)="infoModal.hide(); showDescriptionModal(selectedProject)">
									Show Description
								</button>
							</td>

							<td>
								<span *ngIf="selectedProject?.project_application_date_approved">{{
									selectedProject?.project_application_date_approved
								}}</span>
								<span *ngIf="!selectedProject?.project_application_date_approved">No creation date available</span>
							</td>
							<td>
								<span *ngIf="selectedProject?.date_end">{{ selectedProject?.date_end }}</span>
								<span *ngIf="!selectedProject?.date_end">No end date available</span>
							</td>
							<td>
								<span *ngIf="selectedProject?.DaysRunning">{{ selectedProject?.DaysRunning }}</span>
								<span *ngIf="!selectedProject?.DaysRunning">No runtime available</span>
							</td>

							<td>
								<span *ngIf="selectedProject?.lifetime_days">{{ selectedProject?.lifetime_days }}</span>
								<span *ngIf="!selectedProject?.lifetime_days">No lifetime available</span>
							</td>
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" (click)="selectedProject = undefined; infoModal.hide()">
					Close
				</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
