<div *ngIf="isLoaded === false" class="loader"></div>

<div *ngIf="isLoaded" class="animated fadeIn" ng-app>
  <div class="row">
    <!--/.col-->

    <div class="col-lg-12">

       <button  (click)="sendTestBug()"
              class="btn btn-outline-danger"
              style="margin-bottom: auto;margin-left:auto; margin-top: auto"><i
        class="icon-envelope-letter"></i>
        Test Error
      </button>



      <button (click)="setEmailType(1);emailModal.show();" type="button "
              class="btn btn-outline-primary"
              style="margin-bottom: auto;margin-left:auto; margin-top: auto"><i
        class="icon-envelope-letter"></i>
        Send newsletter ({{newsletterSubscriptionCounter}})
      </button>

      <button (click)="setEmailType(0);emailModal.show();" type="button "
              class="btn btn-outline-primary"
              style="margin-bottom: auto;margin-left: 5px; margin-top: auto"><i
        class="icon-envelope-letter"></i>
        Send email
      </button>

      <button (click)="getApplicationInfos()" type="button "
              class="btn btn-outline-primary"
              style="margin-bottom: auto;margin-left: 5px; margin-top: auto"><i
        class="icon-info"></i>
        Get JSON
      </button>

      <div class="card" style=" ">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Projects
        </div>

        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th></th>
                <th>Facility</th>
                <th>Project ID</th>
                <th>Project Name</th>
                <th>Details</th>
                <th>Status</th>
                <th>Credits</th>
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <td></td>
              <td><input style="width: 110px;" type="text" placeholder="Filter" class="form-control"
                         name="filterFacilityName"
                         [(ngModel)]="filterFacilityName"
                         (ngModelChange)="applyFilter();">
              </td>
              <td><input style="width: 110px;" type="text" placeholder="Filter" class="form-control"
                         name="filterProjectId"
                         [(ngModel)]="filterProjectId"
                         (ngModelChange)="applyFilter();">
              </td>
              <td><input style="width: 110px;" type="text" placeholder="Filter" class="form-control"
                         name="filterProjectName" id="filter_project_name"
                         [(ngModel)]="filterProjectName"
                         (ngModelChange)="applyFilter();">
              </td>
              <td></td>
              <td>
                <div>
                  <div class="checkbox col-sm">
                    <label>
                      <input type="checkbox"
                             (change)="changeFilterStatus(project_states[project_states.ACTIVE]);applyFilter();"
                             [checked]="filterstatus_list[project_states[project_states.ACTIVE]]"/>
                      <span style="margin-left: 5px"
                            class="badge bg-success">{{project_states[project_states.ACTIVE]}} </span>

                    </label>
                  </div>
                  <div class="checkbox col-sm">
                    <label>
                      <input type="checkbox"
                             (change)="changeFilterStatus(project_states[project_states.SUSPENDED]);applyFilter();"
                             [checked]="filterstatus_list[project_states[project_states.SUSPENDED]]"/>
                      <span style="margin-left: 5px"
                            class="badge bg-warning">{{project_states[project_states.SUSPENDED]}} </span>
                    </label>
                  </div>

                  <div class="checkbox col-sm">
                    <label>
                      <input type="checkbox"
                             (change)="changeFilterStatus(lifetime_states[lifetime_states.EXPIRED]);applyFilter();"
                             [checked]="filterstatus_list[lifetime_states[lifetime_states.EXPIRED]]"
                      />
                      <span style="margin-left: 5px"
                            class="badge bg-danger">{{lifetime_states[lifetime_states.EXPIRED]}}</span>

                    </label>
                  </div>
                  <div class="checkbox col-sm">
                    <label>
                      <input type="checkbox"
                             (change)="changeFilterStatus(lifetime_states[lifetime_states.EXPIRES_SOON]);applyFilter();"
                             [checked]="filterstatus_list[lifetime_states[lifetime_states.EXPIRES_SOON]]"


                      />
                      <span style="margin-left: 5px"
                            class="badge bg-warning">{{lifetime_states[lifetime_states.EXPIRES_SOON]}}</span>
                    </label>
                  </div>


                  <div class="checkbox col-sm">
                    <label>
                      <input type="checkbox"
                             (change)="changeFilterStatus(application_states[application_states.WAIT_FOR_CONFIRMATION]);applyFilter();"
                             [checked]="filterstatus_list[application_states[application_states.WAIT_FOR_CONFIRMATION]]"
                      />


                      <span style="margin-left: 5px"
                            class="badge bg-info">{{application_states[application_states.WAIT_FOR_CONFIRMATION]}}</span>
                    </label>
                  </div>
                  <div class="checkbox col-sm">
                    <label>
                      <input type="checkbox"
                             (change)="changeFilterStatus(application_states[application_states.TERMINATION_REQUESTED]);applyFilter();"
                             [checked]="filterstatus_list[application_states[application_states.TERMINATION_REQUESTED]]"

                      />
                      <span style="margin-left: 5px"
                            class="badge bg-dark">{{application_states[application_states.TERMINATION_REQUESTED]}}</span>
                    </label>
                  </div>
                  <div class="checkbox col-sm">
                    <label>
                      <input type="checkbox"
                             (change)="changeFilterStatus(application_states[application_states.WAIT_FOR_TERMINATION_FM]);applyFilter();"
                             [checked]="filterstatus_list[application_states[application_states.WAIT_FOR_TERMINATION_FM]]"

                      />
                      <span style="margin-left: 5px"
                            class="badge bg-dark">{{application_states[application_states.WAIT_FOR_TERMINATION_FM]}}</span>
                    </label>
                  </div>
                </div>

              </td>
              <tr *ngFor="let project of projects_filtered">
                <td>
                                     <span *ngIf="project?.project_application_openstack_project"
                                           style="font-size: 20px"
                                           class="project-openstack_plain_white_redbg"
                                           data-toggle="tooltip"
                                           title="This is an Openstack project">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                  </span>
                  <span *ngIf="!project?.project_application_openstack_project"
                        style="font-size: 20px"
                        class="project-simpleVM_Logo_bluebg"
                        data-toggle="tooltip"
                        title="This is a Simple VM project">
                      <span class="path1"></span>
                      <span class="path2"></span>
                      <span class="path3"></span>
                      <span class="path4"></span>
                      <span class="path5"></span>
                    </span>
                </td>
                <td>{{project?.project_application_compute_center?.Name}}</td>
                <td>{{ project.project_application_perun_id }}</td>
                <td>{{ project.perun_name }}
                </td>

                <td>
                  <button class="btn btn-secondary"
                          (click)="selectedProject=project;infoModal.show();">
                    Show Details
                  </button>
                </td>
                <td>  <span *ngIf="project | hasstatusinlist:project_states.ACTIVE"
                            style="margin-left: 5px"
                            class="badge bg-success">{{project_states[project_states.ACTIVE]}} </span>
                  <span *ngIf="(project?.lifetime_reached | hasStatus:lifetime_states.EXPIRED) && !(project | hasstatusinlist: application_states.WAIT_FOR_CONFIRMATION)"
                        style="margin-left: 5px"
                        class="badge bg-danger">{{lifetime_states[lifetime_states.EXPIRED]}} </span>
                  <span *ngIf="project?.lifetime_reached | hasStatus:lifetime_states.EXPIRES_SOON"
                        style="margin-left: 5px"
                        class="badge bg-warning">{{lifetime_states[lifetime_states.EXPIRES_SOON]}}</span>
                  <span *ngIf="project| hasstatusinlist: project_states.SUSPENDED"
                        style="margin-left: 5px"
                        class="badge bg-warning">{{project_states[project_states.SUSPENDED]}} </span>
                  <span
                    *ngIf="project | hasstatusinlist:application_states.WAIT_FOR_CONFIRMATION"
                    style="margin-left: 5px"
                    class="badge bg-info">WAIT FOR CONFIRMATION </span>
                  <span
                    *ngIf="project | hasstatusinlist: application_states.TERMINATION_REQUESTED"
                    style="margin-left: 5px"
                    class="badge bg-dark">TERMINATION REQUESTED </span>
                  <span
                    *ngIf="project | hasstatusinlist: application_states.WAIT_FOR_TERMINATION_FM"
                    style="margin-left: 5px"
                    class="badge bg-dark">WAIT FOR TERMINATION BY FM </span>
                  <span
                    *ngIf="project | hasstatusinlist: application_states.PROTECTED"
                    style="margin-left: 5px"
                    class="badge bg-secondary">PROTECTED </span>

                </td>

                <td>
                  {{project.project_application_current_credits}}/{{project.project_application_initial_credits}}
                </td>

                <td>
                  <div class="btn-group-vertical btn-group-xs">
                    <button type="button" class="btn btn-info" style="margin-left: 5px;margin-bottom: 5px;"
                            data-toggle="modal"
                            (click)="showMembersOfTheProject(project.project_application_perun_id, project.perun_name); usersModal.show(); "

                    >
                      <i class="fa fa-users"></i>&nbsp;Show Members
                    </button>
                    <button *ngIf="project | hasstatusinlist: project_states.ACTIVE"
                            style="margin-left: 5px;margin-bottom: 5px"
                            type="button"
                            class="btn btn-warning"
                            (click)="selectedProject = project;suspendModal.show();"

                    >
                      <i class="fa fa-pause"></i>&nbsp;Suspend Project
                    </button>

                    <button *ngIf="project | hasstatusinlist: project_states.SUSPENDED" style="margin-left: 5px"
                            type="button"
                            class="btn btn-success"
                            (click)="selectedProject = project;resumeModal.show();"

                    >
                      <i class="fa fa-play"></i>&nbsp;Resume Project
                    </button>
                    <button
                      style="margin-left: 5px"
                      type="button"
                      class="btn btn-danger" [id]="'show_terminate_' + project?.Id"
                      (click)="selectedProject = project;terminateModal.show();"
                      *ngIf="!(project | hasstatusinlist: application_states.WAIT_FOR_TERMINATION_FM)">
                      <i class="fa fa-trash"></i>&nbsp;Terminate Project
                    </button>
                    <button
                      style="margin-left: 5px" type="button" disabled
                      class="btn btn-warning" [id]="'show_terminate_' + project?.Id"
                      (click)="selectedProject = project;terminateModal.show();"
                      *ngIf="project | hasstatusinlist: application_states.WAIT_FOR_TERMINATION_FM">
                      Processed by FM
                    </button>
                    <button
                      style="margin-left: 5px"
                      type="button"
                      class="btn btn-info" [id]="'set_protected_' + project?.Id"
                      (click)="setProtected(project, true); notificationModal.show();"
                      *ngIf="!(project | hasstatusinlist: application_states.PROTECTED)">
                      <i class="fa fa-trash"></i>&nbsp;Set Protected
                    </button>
                    <button
                      style="margin-left: 5px"
                      type="button"
                      class="btn btn-info" [id]="'set_unprotected_' + project?.Id"
                      (click)="setProtected(project, false); notificationModal.show();"
                      *ngIf="(project | hasstatusinlist: application_states.PROTECTED)">
                      <i class="fa fa-trash"></i>&nbsp;Set Unprotected
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>


<div bsModal #usersModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Members of the Project {{ usersModalProjectID }}
          ({{ usersModalProjectName }})</h4>
        <button type="button" class="close" style="cursor: pointer"
                (click)="usersModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-hover" style="word-wrap: break-word;table-layout: fixed">
            <thead>
            <tr>
              <th>User ID</th>
              <th>Member ID</th>
              <th>Elixir ID</th>
              <th>Email</th>
              <th>Full Name</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of usersModalProjectMembers">
              <td>{{ member.userId }}</td>
              <td>{{ member.memberId }}</td>
              <td>{{ member.elixirId}}</td>
              <td>{{member.email}}</td>
              <td>{{ member.userName }}</td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="usersModal.hide()">Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #emailModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> {{emailHeader}}</h4>
        <button type="button" class="close" style="cursor: pointer;"
                (click)="emailModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="email_form" #f="ngForm">


          <div class="form-group row" *ngIf="emailType === 0">
            <label
              class="col-md-12 control-label"><strong>Which facility should receive the email?</strong></label>
            <div class="col-md-12">
              <select class="form-control form-select" [(ngModel)]="selectedFacility"
                      name="selectedFacility" id="selectedFacility">
                <option value="ALL"> All
                <option *ngFor="let cc of computecenters" [ngValue]="cc.FacilityId">
                  {{cc.Name}}
                </option>

              </select></div>
          </div>

          <div class="form-group row">
            <label
              class="col-md-12 control-label"><strong>Which project members should receive the email?</strong></label>
            <div class="col-md-12">
              <select class="form-control form-select" [(ngModel)]="selectedProjectType"
                      name="selectedProjectType" id="selectedProjectType">
                <option value="ALL" selected> All
                </option>
                <option value="ALL_GM">
                  All active Group Members
                </option>
                <option value="SVP">
                  Simple VM
                </option>
                <option value="OVP">
                  OpenStack
                </option>

              </select></div>
          </div>
          <div class="form-group row"
               [ngClass]="{'has-danger':emailSub.invalid && (emailSub.dirty || emailSub.touched),
                    'has-success':emailSub.valid && (emailSub.dirty || emailSub.touched)
                    }">
            <label class="col-md-12 control-label"><strong>Email
              subject*</strong></label>
            <div class="col-md-12">
              <input required id="emailSubject" name="emailSub" placeholder="Subject"
                     class="form-control"
                     type="text" [(ngModel)]="emailSubject" minlength="1"
                     #emailSub="ngModel"
                     [ngClass]="{'is-invalid':emailSub.invalid && (emailSub.dirty || emailSub.touched),
                    'is-valid':emailSub.valid && (emailSub.dirty || emailSub.touched)
                    }">

            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-12 control-label"><strong>Reply to (optional)</strong></label>
            <div class="col-md-12">
              <input id="reply_to" name="emailReply" placeholder=""
                     class="form-control"
                     type="text" [(ngModel)]="emailReply" #emailRep="ngModel"
                     pattern="([ ]*)(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}([ ]*)"
                     [ngClass]="{'is-invalid':emailRep.invalid && (emailRep.dirty || emailRep.touched),
                    'is-valid':emailRep.valid && (emailRep.dirty || emailRep.touched)
                    }">

            </div>
          </div>
          <!-- Textarea -->
          <div class="form-group row">
            <label class="col-md-12 control-label"><strong>Email text*</strong></label>
            <div class="col-md-12">
                            <textarea minlength="1" required class="form-control" id="emailText"
                                      name="emailText"
                                      [(ngModel)]="emailText"
                                      type="text" #emailT="ngModel"
                                      [ngClass]="{'is-invalid':emailT.invalid && (emailT.dirty || emailT.touched),
                    'is-valid':emailT.valid && (emailT.dirty || emailT.touched)
                    }"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" [disabled]="f.invalid" class="btn btn-primary"
                (click)="emailModal.hide(); verifyModal.show()">Send email
        </button>
        <button type="button" class="btn btn-secondary"
                (click)="emailModal.hide();resetEmailModal()">Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #verifyModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Send email</h4>
        <button type="button" class="close" style="cursor:pointer"
                (click)="verifyModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="alert alert-warning" role="alert">
          {{emailVerify}}
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn  btn-success col-md-4"
                (click)="sendEmail(emailSubject,emailText,emailReply);verifyModal.hide();f.reset();resetEmailModal();successModal.show()">
          Yes
        </button>
        <button class="btn  btn-danger col-md-4" type="reset"
                (click)="verifyModal.hide();emailModal.show()">Cancel
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #suspendModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Suspend Project {{selectedProject?.perun_name}}</h4>
        <button type="button" class="close" style="cursor:pointer"
                (click)="suspendModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Are you sure you want to suspend {{selectedProject?.perun_name}} ?

      </div>
      <div class="modal-footer">
        <button class="btn  btn-success col-md-4"
                (click)="suspendProject(selectedProject);suspendModal.hide()">
          Yes
        </button>
        <button class="btn  btn-danger col-md-4" type="reset"
                (click)="suspendModal.hide();">Cancel
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #resumeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Resume Project {{selectedProject?.perun_name}}</h4>
        <button type="button" class="close" style="cursor:pointer"
                (click)="resumeModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Are you sure you want to resume {{selectedProject?.perun_name}} ?

      </div>
      <div class="modal-footer">
        <button class="btn  btn-success col-md-4"
                (click)="resumeProject(selectedProject);resumeModal.hide()">
          Yes
        </button>
        <button class="btn  btn-danger col-md-4" type="reset"
                (click)="resumeModal.hide();">Cancel
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #successModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" *ngIf="emailStatus === 0"> Waiting </h4>
        <h4 class="modal-title" *ngIf="emailStatus === 1"> Success </h4>
        <h4 class="modal-title" *ngIf="emailStatus === 2"> Error </h4>
        <button type="button" class="close" style="cursor:pointer"
                (click)="successModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-primary" role="alert" *ngIf="emailStatus === 0">
          Sending the email. <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
        </div>
        <div class="alert alert-success" role="alert" *ngIf="emailStatus === 1">
          The email has been send successfully.
        </div>
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="emailStatus === 2">
        when sending the email an error has occurred.
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="successModal.hide()">
          Close
        </button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #descriptionModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Description</h4>
        <button type="button" class="close" style="cursor: pointer"
                (click)="descriptionModal.hide()"
                aria-label="Close">

          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <p>{{ selectedProject?.project_application_description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="selectedProject=undefined;descriptionModal.hide();">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<div bsModal #infoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Details</h4>
        <button type="button" class="close" style="cursor: pointer"
                (click)="infoModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <th>Description</th>
            <th>Date created (d/m/y)</th>
            <th>Expiration Date (d/m/y)</th>
            <th>Days running</th>
            <th>Lifetime in Days</th>
            </thead>
            <tbody>
            <td>
              <button class="btn btn-secondary"
                      (click)="infoModal.hide();descriptionModal.show();">Show
                Description
              </button>
            </td>

            <td>
              <span *ngIf="selectedProject?.project_application_date_approved">{{selectedProject?.project_application_date_approved}}</span>
              <span *ngIf="!selectedProject?.project_application_date_approved">No creation date available</span>
            </td>
            <td>
              <span *ngIf="selectedProject?.date_end">{{selectedProject?.date_end}}</span>
              <span *ngIf="!selectedProject?.date_end">No end date available</span>
            </td>
            <td>
              <span *ngIf="selectedProject?.DaysRunning">{{selectedProject?.DaysRunning}}</span>
              <span *ngIf="!selectedProject?.DaysRunning">No runtime available</span>
            <td>
              <span *ngIf="selectedProject?.lifetime_days">{{selectedProject?.lifetime_days}}</span>
              <span *ngIf="!selectedProject?.lifetime_days">No lifetime available</span>
            </td>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"
                (click)="selectedProject=undefined;infoModal.hide();">
          Close
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


<div bsModal #terminateModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Terminate Project</h4>
        <button type="button" class="close" style="cursor:pointer"
                (click)="terminateModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="alert alert-warning" role="alert">
          Are you sure you want to terminate this project?
        </div>
        <app-project-os-details *ngIf="selectedProject" [project]="selectedProject"></app-project-os-details>
      </div>
      <div class="modal-footer">
        <button class="btn  btn-success col-md-4" id="terminate_project_btn"
                (click)="terminateProject();terminateModal.hide();notificationModal.show();;">
          Yes
        </button>
        <button class="btn  btn-danger col-md-4" type="reset"
                (click)="terminateModal.hide()">Cancel
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #notificationModal="bs-modal" class="modal" tabindex="-1" role="dialog"
     aria-labelledby="Label"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="notification_modal_title">{{ notificationModalTitle }}</h4>
        <button type="button" class="close" style="cursor:pointer"
                (click)="notificationModal.hide()"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-{{ notificationModalType }}" id="notification_message" role="alert">
          {{ notificationModalMessage }}

        </div>
      </div>
      <div class="modal-footer">
        <button id="close_notification"
                type="button"
                (click)="notificationModal.hide();resetNotificationModal();removeModalOpen();"
                class="btn  btn-secondary"> Close
        </button>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



